@import "compass/reset/";

@mixin fontline($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
  line-height: $size + px;
  line-height: ($size / $base) * 1rem;
}
@mixin lineheight($size: 24, $base: 16) {
  line-height: $size + px;
  line-height: ($size / $base) * 1rem;
}
@mixin blend{
  -webkit-mix-blend-mode:luminosity;
  -moz-mix-blend-mode:luminosity;
  -ms-mix-blend-mode:luminosity;
  -o-mix-blend-mode:luminosity;
  mix-blend-mode:luminosity;
}

//Section > h2のグラデーション設定
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

//フォントの指定
@mixin tomolabfont{
  font-family: tomolab;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
@font-face{
  font-family: 'tomolab';
  src: url('../font/tomolab-Bold.eot');
  src: url('../font/tomolab-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/tomolab-Bold.woff') format('woff'),
  url('../font/tomolab-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin placeholderColor($color) {
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}
