@import "compass/reset/";
@import "./rule.scss";

$TitleColor: #666666;
$BaseOrange: #eea34a;
$BaseWhite: rgba(255,255,255,1);
$BaseWrpWidth: 960px;
$FooterHeader: 1.5rem;
$FooterHeight: 50px;
$TitleBackgroundColor: #8BA7D5;

#allwrp{
  //height: 100%;
}

html{
  height: 100%;
}

body{
  background: #f6f6f6 fixed;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  height: 100%;
}
::selection{
  background: rgba(247,217,221,1);
}
::-moz-selection{
  background: rgba(247,217,221,1);
}


#headerwrp {
  width: 100%;
  background:#000;
  opacity: 0.8;
  position: fixed;
  height:80px;
  z-index: 2;
  //box-shadow: 0px 5px 5px #000;
  header{
    width: $BaseWrpWidth;
    height:80px;
    margin:0px auto 0px auto;
    .logo {
      color: $BaseWhite;
      height: 80px;
      width: 400px;
      padding: 0px 0px 0px 10px;
      float: left;
      a{
        text-decoration:none;
        color: $BaseWhite;
      }
      a:hover{
        color: #ff0000;
        transition-duration: 0.5s;
      }
      .vi {
        float:left;
        display:block;
        height: 80px;
        margin: 0px 10px 0px 0px;
        @include tomolabfont;
        @include fontline(70);
      }
      .subtitle{
        float:left;
        width: 320px;
        margin: 10px 0px 0px 0px;
        display:block;
        @include fontline(13);
      }
      .maintitle{
        float:left;
        width: 320px;;
        display:block;
        margin: 0px 0px 10px 0px;
        @include tomolabfont;
        @include fontline(40);
      }
      a .subtitle, a .maintitle{
        color:$BaseWhite;
      }
      img{
        padding:16px 0px 16px 10px;
      }
    }
    .header_right{
      float:right;
      nav.root  {
        width: 100%;
        height: 40px;
        float:left;
        list-style: none;
        clear:both;
        ul {
          li, li.end {
            color:#6f6f6f;
            float:right;
            line-height:80px;
            height: 80px;
            border-left: 1px solid #333;
          }
          li.end{
            border-right: 1px solid #333;
          }
          li a{
            padding:0px 10px 0px 10px;
            text-decoration: none;
            color: $BaseWhite;
            display:block;
          }
          li a:hover{
            background: #333333;
            transition-duration: 0.3s;
          }
          li a:active{
            background: #f6f6f6;
            color:black;
          }
        }
      }
    }
  }
}

#wrp{
  width: $BaseWrpWidth;
  margin:0px auto 0px auto;
  padding: 80px 0px 0 0px;
  z-index: 0;
  main#page{
    #cover{
      height: 180px;
      a:link{
        color: #aaaaaa;
        text-decoration: none;
      }
      a:visited{
        color: #aaaaaa;
      }
      a:hover{
        color: #333333;
      }
      a:active{
        color: #d04255;
      }
      .title{
        background: $TitleBackgroundColor;
        width: $BaseWrpWidth;
        height:120px;
        h1{
          max-width: 660px;
          height: 120px;
          color: $TitleColor;
          @include blend;
          font-size: 2.7rem;
          padding: 0px 0px 0px 40px;
          font-weight: 700;
          line-height: 120px;
          float:left;
        }
        .writeday {
          display: table;
          //width:220px;
          height:120px;
          float:right;
          padding: 0px 40px 0px 0px;
          p {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            color: $TitleColor;
            @include blend;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.2rem;
            text-align: right;
          }
        }
      }
      .docinfo{
        width: $BaseWrpWidth;
        box-shadow: 0px 3px 5px #cccccc;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 60px;
        background:$BaseWhite;
        nav.breadcrumbs{
          //width: 660px;
          height: 60px;
          float: left;
          padding: 0px 0px 0px 40px;
          ul{
            list-style: none;
            li {
              font-size:0.8rem;
              line-height:60px;
              padding: 0px 0px 0px 0px;
              float: left;
              color: #cccccc;
            }
            li.number{
              padding:0px 5px 0px 5px;
            }
          }
        }
        nav.tag{
          height: 60px;
          //width: 220px;
          float: right;
          padding: 0px 40px 0px 0px;
          ul{
            list-style: none;
            li {
              font-size:0.8rem;
              float: right;
              margin: 15px 0px 15px 10px;
              padding: 0px 10px 0px 10px;
              line-height: 30px;
              height: 30px;
              border-radius: 5px;
              background: #f9f9f9;
              border:1px solid #ddd;
            }
          }
        }
      }
    }
    article{
      border-left: 4px double #000000;
      margin: 0px 0px 0px 40px;
      padding-top: 20px;
      h2.abstract{
        @include fontline(20);
        @include lineheight(25);
        margin: 0px 40px 20px 20px;
        padding: 20px 20px;
        box-shadow: 0px 3px 5px #cccccc;
        border: 1px solid #cccccc;
        background: $BaseWhite;
        color: #333333;
        span.strong{
          font-weight: bold;
          border-bottom: 1px solid #cccccc;
          display:inline-block;
          width: 100%;
        }
      }
      section{
        margin: 0px 40px 30px 40px;
        a:link{
          color: #378ac6;
          border-bottom: #f6f6f6;
          text-decoration: none;
        }
        a:visited{
          color: #db7bb1;
        }
        a:hover{
          border-bottom: 1px solid #999999;
          transition: border-color 0.5s;
        }
        a:active{
          color: #d04255;
          border-bottom: 1px dashed;
        }
        h2{
          clear: both;
          color: #000000;
          @include fontline(30);
          @include lineheight(60);
          font-weight: 700;
          margin: 0px 0px 10px -70px;
          padding: 0px 0px 0px 15px;
          width:910px;
          @include linear-gradient(to right, $BaseWhite 0%, #f7f7f7 10%);
          opacity: 0.9;
          border-top: 3px solid #000000;
          border-bottom: 6px solid #000000;
          .number{
            @include tomolabfont;
            @include fontline(30);
            margin-right: 30px;
          }
        }
        h3{
          clear: both;
          color: #000000;
          @include fontline(25);
          @include lineheight(30);
          font-weight: 700;
          border-bottom: 3px solid #000000;
          padding: 15px 0px 5px 0px;
          margin: 0px 0px 10px 0px;
        }
        h4{
          @include fontline(25);
          color: #000000;
          background: #cccccc;
          font-weight: 700;
          padding: 5px 0px 5px 0px;
          margin: 0px 0px 5px 0px;
        }
        div.wp-caption{
          a:hover{
            border: none;
            opacity: 0.7;
            transition: 0.5s;
          }
          img.size-full{
            box-sizing: border-box;
            width: 820px;
            margin: 10px 0px 0px 0px;
            border: 1px solid #999999;
          }
          p.wp-caption-text{
            box-sizing: border-box;
            width: 820px;
            color: #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #333333;
            border-right: 1px solid #333333;
            font-size: 1rem;
            margin:0px 0px 0px 0px;
            padding: 5px 10px 5px 10px;
          }
        }
        ol, ul{
          margin: 5px 0px 15px 25px;
          @include fontline(20);
          @include lineheight(30);
          font-family : YuMincho, '游明朝', serif;
          // 1段落目
          li {
            list-style-type: disc;
            // 2段落目
            ul{
              li{
                list-style-type: circle;
              }
            }
          }
        }
        table{
          width: 100%;
          border: 3px solid #000000;
          font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
          @include fontline(20);
          @include lineheight(30);
          caption{
            margin: 20px 0px 0px 0px;
            text-align: center;
          }
          tr{
            border-bottom: 1px solid #cccccc;
            .nowrap{
              white-space: nowrap;
            }
            th{
              font-weight: bold;
              background: #000000;
              color: #ffffff;
              border-right: 1px solid #cccccc;
              text-align: center;
              padding: 5px;
            }
            td{
              border-right: 1px solid #cccccc;
              padding: 5px;
            }
          }
        }
        blockquote{
          margin: 20px 0px 0px 0px;
          padding-left: 10px;
          position:relative;
          padding:20px;
          background: #eeeeee;
          z-index:1;
          p{
            @include fontline(15);
            @include lineheight(15);
            color: #666666;
          }
          cite{
            padding: 10px 0px 0px 0px;
            border-top: 1px solid #d9d9d9;
            display: inline-block;
            font-weight: 900;
            z-index:1;
          }
        }
        blockquote:before{
          content:"“";
          font-size:10rem;
          font-family:"ＭＳ Ｐゴシック",sans-serif;
          color:#ffffff;
          position:absolute;
          left:0;
          top:0;
          z-index:-1;
        }
        blockquote:after{
          content:"”";
          font-size:10rem;
          line-height: 0rem;
          font-family:"ＭＳ Ｐゴシック",sans-serif;
          color:#ffffff;
          position:absolute;
          right:0;
          bottom:0;
          z-index:-1;
        }
        p{
          margin: 5px 0px 15px 0px;
          @include fontline(20);
          @include lineheight(30);
          //font-family: YuMincho, '游明朝', serif;
          font-family: sans-serif;
          q.one-line-comment{
            font-style: italic;
            @include lineheight(20);
            border-left: 5px solid #cccccc;
            padding-left: 10px;
            font-weight: 500;
            display: inline-block;
            color: #999999;
          }
          q.one-line-code{
            font-style: italic;
            @include lineheight(20);
            border-left: 5px solid #cccccc;
            padding-left: 10px;
            font-weight: 500;
            display: inline-block;
            color: #999999;
          }
          img.speaker_face{
            width: 32px;
            height: 32px;
            float: left;
            margin: 0px 5px 0px 0px;
          }
        }
      }
      section.comments__blog{
        #commentform p{
          margin: 5px 0px 0px 0px;
        }
        ul.commentlist{
          li.comment{
            list-style-type: none;
            ul.children{
              li.depth-2, li.depth-3, li.depth-4, li.depth-5, li.depth-6{
                margin-left:60px;
                div.comment-body{
                  border-top: 3px double #cccccc;
                  width:auto;
                }
              }
            }
            padding: 20px 0px 20px 0px;
            div.comment-body{
              border-top: 5px double #000000;
              padding: 5px 0px 0px 0px;
              div.comment-author{
                img.avatar{
                  float: left;
                  width:40px;
                  height: 40px;
                  margin: 0px 10px 0px 0px;
                }
                cite.fn{
                  font-size: 1.2rem;
                }
                span.says{
                  display: none;
                }
              }
              div.comment-meta{
                font-size: 1rem;
                margin: 0px 0px 0px 50px;
              }
              p{
                display: block;
                clear: both;
                width: auto;
                margin: 0px 0px 0px 50px;
              }
              div.reply{
                margin: 0px 0px 0px 50px;
              }
            }
          }
        }
        div.comment-respond{
          label{
            visibility: hidden;
            display: inline-block;
            position: absolute;
            text-indent: -9999px;
          }
          h3.comment-reply-title{

            small{
            }
          }
          input, textarea{
            @include fontline(20);
            @include placeholderColor(#cccccc);
            outline:none;
            box-sizing: border-box;
            border:2px solid #cccccc;
            padding: 0px 0px 0px 10px;
            height: 40px;
            font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
          }
          textarea{
            height: 200px;
            padding: 10px 0px 10px 10px;
          }
          input:hover, textarea:hover{
            border:solid 2px $BaseOrange;
          }
          input:focus, textarea:focus{
            border:solid 2px $BaseOrange;
            background: #FCEDAA;
          }
          p.comment-form-author{
            float: left;
            width:50%;
            label{
            }
            input#author{
              width: 100%;
              border-radius: 10px 0px 0px 0px;
            }
          }
          p.comment-form-email{
            float: left;
            width:50%;
            label{
            }
            input#email{
              width: 100%;
              border-radius: 0px 10px 0px 0px;
            }
          }
          p.comment-form-url{
            label{
            }
            input#url{
              float: left;
              width:100%;
              border-top:2px solid $BaseWhite;
              border-bottom:2px solid $BaseWhite;
            }
            input#url:hover, input#url:focus{
              border-top:2px solid $BaseOrange;
              border-bottom:2px solid $BaseOrange;
            }
          }
          p.comment-form-comment{
            label{
            }
            textarea#comment{
              width:100%;
            }
          }
          p.form-submit{
            margin: -8px 0px 0px 0px;
            label{
            }
            input.submit{
              background: transparent;
              width: 100%;
              border: 0px;
            }
          }
          p.form-submit {
            display: inline-block;
            width: 100%;
            text-align: center;
            position: relative;
            z-index: 1;
            background-color: $BaseWhite;
            border: 2px solid #cccccc;
            color: #333333;
            overflow: hidden;
          }
          p.form-submit::after {
            position: absolute;
            z-index: -1;
            display: block;
            content: '';
          }
          p.form-submit,
          p.form-submit::after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;
          }
          p.form-submit:hover {
            input{
              color:$BaseWhite;
              transition: all .3s;
            }
          }
          p.form-submit::after {
            top: -100%;
            width: 100%;
            height: 100%;
          }
          p.form-submit:hover::after {
            top: 0;
            background-color: #333;
          }
          p.form-submit:active::after{
            background: $BaseOrange;
          }
        }
      }
      section.comments__hatena{
        div#hatena-bookmark-container { //全体設定
          margin: 0px;
          span,
          img { //全体のインライン要素設定
          }
          a { //全体のリンク設定
          }
          div.hatena-bookmark-title { //「はてなブックマークでのコメント」のところ
            // background: ;
            // color: ;
            // padding: ;
            // border: ;
            // font: ;
          }
          div.hatena-bookmark-comment-header span.hatena-bookmark-users {
            //ブクマ総数
          }
          div.hatena-bookmark-title{
            //h3と同じ扱い
            color: #000000;
            @include fontline(25);
            @include lineheight(30);
            font-weight: 700;
            border-bottom: 3px solid #000000;
            padding: 15px 0px 5px 0px;
            margin: 0px 0px 10px 0px;
          }
          ul#hatena-bookmark-list-container {
            margin: 5px 0px 20px 0px;
            //コメント欄本文 全体設定
            li.hatena-bookmark-item {
              //コメント各要素
              @include fontline(15);
              margin-bottom: 5px;
              span.hatena-bookmark-user-info{
                img.hatena-bookmark-profile-image{}
                a.hatena-bookmark-username {
                  //アカウントテキスト
                  margin: 0px 0px 0px 10px;
                }
              }
              span.hatena-bookmark-comment{
                //コメント
                margin: 0px 0px 0px 10px;
              }
              span.hatena-bookmark-timestamp {
                //ブクマ日
                margin: 0px 0px 0px 10px;
                @include fontline(10);
                color: #cccccc;
              }
              a.hatena-bookmark-user-tag {
                //ユーザタグ
                margin: 0px 0px 0px 10px;
                @include fontline(10);
                color: #cccccc;
              }
            }
            li.hatena-bookmark-addcomment-container {
              //「はてなブックマークでコメントする」全体設定
              display: block;
              div.hatena-bookmark-addcomment {
                //「はてなブックマークでコメントする」のところ
                display: none;
              }
            }
          }
          div.hatena-bookmark-footer {
            display: none;
            //「はてなブックマークで確認」全体設定
            div.hatena-bookmark-entrypage-link {
              //「はてなブックマークで確認」のところ
              a.hatena-bookmark-comment-show {
                //「B!」マーク
                // background: ;
                // padding-left: ;
              }
            }
          }
        }
      }
    }
  }
  main#top, main#archive{
    article{
      margin: 0px 0px 80px 0px;

      h2.relief{
        @include fontline(60);
        @include lineheight(120);
        font-weight: bold;
        text-align: center;
        color: $BaseWhite;
        text-shadow:0px 1px #cccccc;
        animation-name: strong;
        animation-duration: 5s;
      }
    }

    article.general{
      nav.tag_cloud{
        ul.wp-tag-cloud{
          list-style: none;
          a:link{
            color: #aaaaaa;
            text-decoration: none;
          }
          a:visited{
            color: #aaaaaa;
          }
          a:hover{
            color: #333333;
          }
          a:active {
            color: #d04255;
          }
          li {
            font-size:0.8rem;
            float: left;
            margin: 15px 10px 15px 0px;
            padding: 0px 10px 0px 10px;
            line-height: 30px;
            height: 30px;
            border-radius: 5px;
            background: #f9f9f9;
            border:1px solid #ddd;
          }
        }
      }

      section.wrp_50{
        max-width: 640px;
        margin: 0px auto 0px auto;
        p, dl{
          margin: 20px 0px 0px 0px;
          color: #666666;
          @include fontline(20);
          @include lineheight(30);
          font-family : YuMincho, '游明朝', serif;
          a:link{
            color: #6bbed5;
            border-bottom: #f6f6f6;
            text-decoration: none;
          }
          a:visited{
            color: #db7bb1;
          }
          a:hover{
            border-bottom: 1px solid #999999;
            transition: border-color 0.5s;
          }
          a:active{
            color: #d04255;
            border-bottom: 1px dashed;
          }
          dt{
            font-weight: bold;
            border-bottom: 2px solid #ccc;
          }
          dd{
            margin: 0px 0px 20px 0px;
          }
          span.strong{
            font-weight: bold;
            border-bottom: 1px solid #666666;
            display:inline-block;
            font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
            width: 100%;
            a{
              color: #666666;
            }
            a:hover{
              color: #999999;
              text-shadow: 0px 0px 5px #f7d9dd;
            }
          }
        }
      }
    }
    article.postloop{
      section{
        animation-name: glow;
        animation-fill-mode:both;
        animation-duration: 1s;
        margin-bottom:-2px;
        a{
          text-decoration: none;
          color: $BaseWhite;
        }
        a:hover p{
          opacity: 1;
          transition-duration:0.25s;
          text-shadow: 0px 1px rgba(0,0,0,0.5), 0px 0px 10px rgba(0,0,0,1);
        }
        a:hover h2{
          opacity: 0.1;
          transition-duration:0.25s;
        }
        a:active p, a:active h2{
          color: $BaseOrange;
          transition-duration:0s;
        }
        h2{
          margin:-120px 0px 0px 0px;
          color: $BaseWhite;
          font-size: 2.7rem;
          padding: 0px 0px 0px 40px;
          font-weight: 700;
          text-align:center;
          font-size:2.7rem;
          line-height:120px;
          text-shadow: 0px 1px rgba(0,0,0,0.25), 0px 0px 10px rgba(0,0,0,0.5);
          transition-duration:1s;
        }
        p{
          margin: -120px 40px 0px 40px;
          height: 120px;
          padding: 20px;
          box-sizing: border-box;
          opacity: 0.1;
          @include fontline(20);
          transition-duration:0.5s;
        }
      }
    }
  }
  footer{
    min-height: $FooterHeight;
    bottom: 0;
    width: 960px;
    background: #000;
    color: $BaseWhite;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 0px 0px 0px;

    nav.news{
      width: 320px;
      float: left;
      h2{
        @include fontline(20);
        padding: 0px 0px 0px 40px;
      }
    }
    nav.relation{
      width: 320px;
      float: left;
      h2{
        @include fontline(20);
        padding: 0px 20px 0px 20px;
      }
    }
    div.profile{
      width: 320px;
      float: left;
      h2{
        @include fontline(20);
        padding: 0px 40px 0px 0px;
      }
    }
    p.copyright{
      clear:both;
      vertical-align:middle;
      text-align: center;
    }
  }
}

span.comment_information{
  color:#666666;
  @include fontline(16);
}

span.small{
  color:#cccccc;
  @include fontline(20);
}
span.right{
  float: right;
}
span.left{
  float: left;
}

@keyframes strong{
  0%{
    text-shadow: -1px 1px 3px rgba(206,41,66,1), 1px 1px 3px rgba(57,108,180,1), 1px -1px 3px rgba(0,157,90,1), -1px -1px 3px rgba(239,182,7,1);
  }
  70%{
    text-shadow: -1px 1px 3px rgba(206,41,66,1), 1px 1px 3px rgba(57,108,180,1), 1px -1px 3px rgba(0,157,90,1), -1px -1px 3px rgba(239,182,7,1);
  }
  100%{
    color:$BaseWhite;
    text-shadow:0px 1px #ccc;
  }
}

@keyframes glow{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*
* 検索ボックス
*/
form#searchform{
  margin: 0px auto 0px auto;
  width: 960px;
  height:50px;
  div{
    font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    height: 50px;
    label.screen-reader-text{
      visibility: hidden;
      display: inline-block;
      position: absolute;
      text-indent: -9999px;
    }
    input#s{
      @include fontline(20);
      @include placeholderColor(#cccccc);
      outline:none;
      box-sizing: border-box;
      border:2px solid #cccccc;
      padding: 0px 0px 0px 10px;
      width: 80.5%;
      height: 50px;
    }
    input#s:hover{
      border:solid 2px $BaseOrange;
    }
    input#s:focus{
      border:solid 2px $BaseOrange;
      background: #FCEDAA;
    }
    input#searchsubmit{
      float: right;
      height: 50px;
      line-height: 50px;
      width: 19.5%;
      @include fontline(20);
    }
    input#searchsubmit{
      display: inline-block;
      text-align: center;
      position: relative;
      z-index: 1;
      background-color: $BaseWhite;
      border: 2px solid #cccccc;
      color: #999999;
      overflow: hidden;
    }
    input#searchsubmit:hover{
      border:solid 2px $BaseOrange;
      background: #FCEDAA;
    }
    input#searchsubmit:active {
      color:$BaseWhite;
      background: $BaseOrange;
    }
  }
}

/*
* Github code
*/
.gist {}
.gist-file
.gist-data {max-height: 500px;}
li.li_title{
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
li.indent1{
  margin: 0px 0px 0px 30px;
}
li.indent2{
  margin: 0px 0px 0px 60px;
  font-size: 0.8rem;
  color: #666666;
}


dl {
  @include fontline(20);
  @include lineheight(30);
  background-color : #87CEEB;
  border-width : 0 1 1 1;
  border-style : solid;
  border-color :#000000;
  dt {
    width : 100%;
    border-width : 1 0 0 0;
    border-style : solid;
    border-color : #000000;
    font-weight : bold;
    text-indent : 5px;
  }
  dd {
    background-color : #F0F8FF;
    border-width : 1 0 0 0;
    border-style : solid;
    border-color : #000000;
    padding : 5px;
  }
}

/*
@media screen and (max-width: 1000px) and (orientation: portrait) {
#wrp main#page article section{
p, dl, li{
@include fontline(30);
@include lineheight(40);
}
}
}
*/

/*
* そもそもこいつを出力しているのは、何なのか?
* h3だがh2に変更できないか?
* headlineの装飾を行う
* それぞれのタグの装飾を行う
*/

div#allwrp div#wrp main#page article{
  section.link{
    div#jp-relatedposts{
      margin: 0px;
      padding: 0px;
      h3.jp-relatedposts-headline{
      }
      div.jp-relatedposts-items{
        margin: 0px;
        padding: 0px;
        p.jp-relatedposts-post{
          margin: 0px;
          span.jp-relatedposts-post-title a{
            @include fontline(20);
          }
          span.jp-relatedposts-post-date{
            @include fontline(15);
          }
          span.jp-relatedposts-post-context{
            @include fontline(15);
          }
        }
      }
    }
    div.share{
      display: block;
      ul{
        margin: 5px 0px 10px 0px;
        list-style-type: none;
        display: block;
        li{
          display: inline;
          float: left;
          margin: 0px 10px 0px 0px;
          padding: 10px;
          list-style-type: none;
          @include fontline(15);
          border: 1px solid #cccccc;
          border-radius: 5px;
          a, a:hover {
            color: #ffffff;
            font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
          }
        }
        .tweet{background-color : #55acee;}
        .facebook{background-color : #315096;}
        .googleplus{background-color : #dd4b39;}
        .hatena{background-color : #008fde;}
        .line{background-color: #00c300;}
        .pocket{background-color :#f03e51;}
        .rss{background-color: #ff8c00;}
        .feedly{background-color: #6cc655;}
      }
    }
    a:hover img{
      opacity: 0.8;
    }
  }
}

/*
* 書式
*/
span.strong{
  color:#000000;
  font-weight: 900;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}
span.strong_red{
  color: #ff0000;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 900;
}
span.strong_blue{
  color: #3e5caf;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 900;
}
span.speaker{
  color: #3e5caf;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 900;
  width: 100%;
  display: inline-block;
}
span.strong_gray{
  color: #cccccc;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 200;
}
span.strong_yellow_line{
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  background: #ffff00;
  color: #333333;
  font-weight: 200;
}
span.strike{ /*打ち消し線の色*/
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
  span.strike_default{ /*打ち消し線の色をデフォルトに戻す*/
    color: #333333;
  }
}

img.center{
  display: block;
  margin: 0 auto;
}
span.text-center{
  text-align: center;
}

iframe.youtube{
  margin:0px 0px -20px 0px;
}
