@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'tomolab';
  src: url("../font/tomolab-Bold.eot");
  src: url("../font/tomolab-Bold.eot?#iefix") format("embedded-opentype"), url("../font/tomolab-Bold.woff") format("woff"), url("../font/tomolab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%; }

body {
  background: #f6f6f6 fixed;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  height: 100%; }

::selection {
  background: #f7d9dd; }

::-moz-selection {
  background: #f7d9dd; }

#headerwrp {
  width: 100%;
  background: #000;
  opacity: 0.8;
  position: fixed;
  height: 80px;
  z-index: 2; }
  #headerwrp header {
    width: 960px;
    height: 80px;
    margin: 0px auto 0px auto; }
    #headerwrp header .logo {
      color: white;
      height: 80px;
      width: 400px;
      padding: 0px 0px 0px 10px;
      float: left; }
      #headerwrp header .logo a {
        text-decoration: none;
        color: white; }
      #headerwrp header .logo a:hover {
        color: #ff0000;
        transition-duration: 0.5s; }
      #headerwrp header .logo .vi {
        float: left;
        display: block;
        height: 80px;
        margin: 0px 10px 0px 0px;
        font-family: tomolab;
        -webkit-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
        -o-text-rendering: optimizeLegibility;
        text-rendering: optimizeLegibility;
        font-size: 70px;
        font-size: 4.375rem;
        line-height: 70px;
        line-height: 4.375rem; }
      #headerwrp header .logo .subtitle {
        float: left;
        width: 320px;
        margin: 10px 0px 0px 0px;
        display: block;
        font-size: 13px;
        font-size: 0.8125rem;
        line-height: 13px;
        line-height: 0.8125rem; }
      #headerwrp header .logo .maintitle {
        float: left;
        width: 320px;
        display: block;
        margin: 0px 0px 10px 0px;
        font-family: tomolab;
        -webkit-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
        -o-text-rendering: optimizeLegibility;
        text-rendering: optimizeLegibility;
        font-size: 40px;
        font-size: 2.5rem;
        line-height: 40px;
        line-height: 2.5rem; }
      #headerwrp header .logo a .subtitle, #headerwrp header .logo a .maintitle {
        color: white; }
      #headerwrp header .logo img {
        padding: 16px 0px 16px 10px; }
    #headerwrp header .header_right {
      float: right; }
      #headerwrp header .header_right nav.root {
        width: 100%;
        height: 40px;
        float: left;
        list-style: none;
        clear: both; }
        #headerwrp header .header_right nav.root ul li, #headerwrp header .header_right nav.root ul li.end {
          color: #6f6f6f;
          float: right;
          line-height: 80px;
          height: 80px;
          border-left: 1px solid #333; }
        #headerwrp header .header_right nav.root ul li.end {
          border-right: 1px solid #333; }
        #headerwrp header .header_right nav.root ul li a {
          padding: 0px 10px 0px 10px;
          text-decoration: none;
          color: white;
          display: block; }
        #headerwrp header .header_right nav.root ul li a:hover {
          background: #333333;
          transition-duration: 0.3s; }
        #headerwrp header .header_right nav.root ul li a:active {
          background: #f6f6f6;
          color: black; }

#wrp {
  width: 960px;
  margin: 0px auto 0px auto;
  padding: 80px 0px 0 0px;
  z-index: 0; }
  #wrp main#page #cover {
    height: 180px; }
    #wrp main#page #cover a:link {
      color: #aaaaaa;
      text-decoration: none; }
    #wrp main#page #cover a:visited {
      color: #aaaaaa; }
    #wrp main#page #cover a:hover {
      color: #333333; }
    #wrp main#page #cover a:active {
      color: #d04255; }
    #wrp main#page #cover .title {
      background: #8BA7D5;
      width: 960px;
      height: 120px; }
      #wrp main#page #cover .title h1 {
        max-width: 660px;
        height: 120px;
        color: #666666;
        -webkit-mix-blend-mode: luminosity;
        -moz-mix-blend-mode: luminosity;
        -ms-mix-blend-mode: luminosity;
        -o-mix-blend-mode: luminosity;
        mix-blend-mode: luminosity;
        font-size: 2.7rem;
        padding: 0px 0px 0px 40px;
        font-weight: 700;
        line-height: 120px;
        float: left; }
      #wrp main#page #cover .title .writeday {
        display: table;
        height: 120px;
        float: right;
        padding: 0px 40px 0px 0px; }
        #wrp main#page #cover .title .writeday p {
          display: table-cell;
          vertical-align: middle;
          width: 100%;
          color: #666666;
          -webkit-mix-blend-mode: luminosity;
          -moz-mix-blend-mode: luminosity;
          -ms-mix-blend-mode: luminosity;
          -o-mix-blend-mode: luminosity;
          mix-blend-mode: luminosity;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.2rem;
          text-align: right; }
    #wrp main#page #cover .docinfo {
      width: 960px;
      box-shadow: 0px 3px 5px #cccccc;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 60px;
      background: white; }
      #wrp main#page #cover .docinfo nav.breadcrumbs {
        height: 60px;
        float: left;
        padding: 0px 0px 0px 40px; }
        #wrp main#page #cover .docinfo nav.breadcrumbs ul {
          list-style: none; }
          #wrp main#page #cover .docinfo nav.breadcrumbs ul li {
            font-size: 0.8rem;
            line-height: 60px;
            padding: 0px 0px 0px 0px;
            float: left;
            color: #cccccc; }
          #wrp main#page #cover .docinfo nav.breadcrumbs ul li.number {
            padding: 0px 5px 0px 5px; }
      #wrp main#page #cover .docinfo nav.tag {
        height: 60px;
        float: right;
        padding: 0px 40px 0px 0px; }
        #wrp main#page #cover .docinfo nav.tag ul {
          list-style: none; }
          #wrp main#page #cover .docinfo nav.tag ul li {
            font-size: 0.8rem;
            float: right;
            margin: 15px 0px 15px 10px;
            padding: 0px 10px 0px 10px;
            line-height: 30px;
            height: 30px;
            border-radius: 5px;
            background: #f9f9f9;
            border: 1px solid #ddd; }
  #wrp main#page article {
    border-left: 4px double #000000;
    margin: 0px 0px 0px 40px;
    padding-top: 20px; }
    #wrp main#page article h2.abstract {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 20px;
      line-height: 1.25rem;
      line-height: 25px;
      line-height: 1.5625rem;
      margin: 0px 40px 20px 20px;
      padding: 20px 20px;
      box-shadow: 0px 3px 5px #cccccc;
      border: 1px solid #cccccc;
      background: white;
      color: #333333; }
      #wrp main#page article h2.abstract span.strong {
        font-weight: bold;
        border-bottom: 1px solid #cccccc;
        display: inline-block;
        width: 100%; }
    #wrp main#page article section {
      margin: 0px 40px 30px 40px; }
      #wrp main#page article section a:link {
        color: #378ac6;
        border-bottom: #f6f6f6;
        text-decoration: none; }
      #wrp main#page article section a:visited {
        color: #db7bb1; }
      #wrp main#page article section a:hover {
        border-bottom: 1px solid #999999;
        transition: border-color 0.5s; }
      #wrp main#page article section a:active {
        color: #d04255;
        border-bottom: 1px dashed; }
      #wrp main#page article section h2 {
        clear: both;
        color: #000000;
        font-size: 30px;
        font-size: 1.875rem;
        line-height: 30px;
        line-height: 1.875rem;
        line-height: 60px;
        line-height: 3.75rem;
        font-weight: 700;
        margin: 0px 0px 10px -70px;
        padding: 0px 0px 0px 15px;
        width: 910px;
        background: white;
        background: -webkit-linear-gradient(legacy-direction(to right), white 0%, #f7f7f7 10%);
        background: linear-gradient(to right, white 0%, #f7f7f7 10%);
        opacity: 0.9;
        border-top: 3px solid #000000;
        border-bottom: 6px solid #000000; }
        #wrp main#page article section h2 .number {
          font-family: tomolab;
          -webkit-text-rendering: optimizeLegibility;
          -moz-text-rendering: optimizeLegibility;
          -ms-text-rendering: optimizeLegibility;
          -o-text-rendering: optimizeLegibility;
          text-rendering: optimizeLegibility;
          font-size: 30px;
          font-size: 1.875rem;
          line-height: 30px;
          line-height: 1.875rem;
          margin-right: 30px; }
      #wrp main#page article section h3 {
        clear: both;
        color: #000000;
        font-size: 25px;
        font-size: 1.5625rem;
        line-height: 25px;
        line-height: 1.5625rem;
        line-height: 30px;
        line-height: 1.875rem;
        font-weight: 700;
        border-bottom: 3px solid #000000;
        padding: 15px 0px 5px 0px;
        margin: 0px 0px 10px 0px; }
      #wrp main#page article section h4 {
        font-size: 25px;
        font-size: 1.5625rem;
        line-height: 25px;
        line-height: 1.5625rem;
        color: #000000;
        background: #cccccc;
        font-weight: 700;
        padding: 5px 0px 5px 0px;
        margin: 0px 0px 5px 0px; }
      #wrp main#page article section div.wp-caption a:hover {
        border: none;
        opacity: 0.7;
        transition: 0.5s; }
      #wrp main#page article section div.wp-caption img.size-full {
        box-sizing: border-box;
        width: 820px;
        margin: 10px 0px 0px 0px;
        border: 1px solid #999999; }
      #wrp main#page article section div.wp-caption p.wp-caption-text {
        box-sizing: border-box;
        width: 820px;
        color: #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #333333;
        border-right: 1px solid #333333;
        font-size: 1rem;
        margin: 0px 0px 0px 0px;
        padding: 5px 10px 5px 10px; }
      #wrp main#page article section ol, #wrp main#page article section ul {
        margin: 5px 0px 15px 25px;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem;
        line-height: 30px;
        line-height: 1.875rem;
        font-family: YuMincho, '游明朝', serif; }
        #wrp main#page article section ol li, #wrp main#page article section ul li {
          list-style-type: disc; }
          #wrp main#page article section ol li ul li, #wrp main#page article section ul li ul li {
            list-style-type: circle; }
      #wrp main#page article section table {
        width: 100%;
        border: 3px solid #000000;
        font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem;
        line-height: 30px;
        line-height: 1.875rem; }
        #wrp main#page article section table caption {
          margin: 20px 0px 0px 0px;
          text-align: center; }
        #wrp main#page article section table tr {
          border-bottom: 1px solid #cccccc; }
          #wrp main#page article section table tr .nowrap {
            white-space: nowrap; }
          #wrp main#page article section table tr th {
            font-weight: bold;
            background: #000000;
            color: #ffffff;
            border-right: 1px solid #cccccc;
            text-align: center;
            padding: 5px; }
          #wrp main#page article section table tr td {
            border-right: 1px solid #cccccc;
            padding: 5px; }
      #wrp main#page article section blockquote {
        margin: 20px 0px 0px 0px;
        padding-left: 10px;
        position: relative;
        padding: 20px;
        background: #eeeeee;
        z-index: 1; }
        #wrp main#page article section blockquote p {
          font-size: 15px;
          font-size: 0.9375rem;
          line-height: 15px;
          line-height: 0.9375rem;
          line-height: 15px;
          line-height: 0.9375rem;
          color: #666666; }
        #wrp main#page article section blockquote cite {
          padding: 10px 0px 0px 0px;
          border-top: 1px solid #d9d9d9;
          display: inline-block;
          font-weight: 900;
          z-index: 1; }
      #wrp main#page article section blockquote:before {
        content: "“";
        font-size: 10rem;
        font-family: "ＭＳ Ｐゴシック",sans-serif;
        color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1; }
      #wrp main#page article section blockquote:after {
        content: "”";
        font-size: 10rem;
        line-height: 0rem;
        font-family: "ＭＳ Ｐゴシック",sans-serif;
        color: #ffffff;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1; }
      #wrp main#page article section p {
        margin: 5px 0px 15px 0px;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem;
        line-height: 30px;
        line-height: 1.875rem;
        font-family: sans-serif; }
        #wrp main#page article section p q.one-line-comment {
          font-style: italic;
          line-height: 20px;
          line-height: 1.25rem;
          border-left: 5px solid #cccccc;
          padding-left: 10px;
          font-weight: 500;
          display: inline-block;
          color: #999999; }
        #wrp main#page article section p q.one-line-code {
          font-style: italic;
          line-height: 20px;
          line-height: 1.25rem;
          border-left: 5px solid #cccccc;
          padding-left: 10px;
          font-weight: 500;
          display: inline-block;
          color: #999999; }
        #wrp main#page article section p img.speaker_face {
          width: 32px;
          height: 32px;
          float: left;
          margin: 0px 5px 0px 0px; }
    #wrp main#page article section.comments__blog #commentform p {
      margin: 5px 0px 0px 0px; }
    #wrp main#page article section.comments__blog ul.commentlist li.comment {
      list-style-type: none;
      padding: 20px 0px 20px 0px; }
      #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-2, #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-3, #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-4, #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-5, #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-6 {
        margin-left: 60px; }
        #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-2 div.comment-body, #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-3 div.comment-body, #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-4 div.comment-body, #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-5 div.comment-body, #wrp main#page article section.comments__blog ul.commentlist li.comment ul.children li.depth-6 div.comment-body {
          border-top: 3px double #cccccc;
          width: auto; }
      #wrp main#page article section.comments__blog ul.commentlist li.comment div.comment-body {
        border-top: 5px double #000000;
        padding: 5px 0px 0px 0px; }
        #wrp main#page article section.comments__blog ul.commentlist li.comment div.comment-body div.comment-author img.avatar {
          float: left;
          width: 40px;
          height: 40px;
          margin: 0px 10px 0px 0px; }
        #wrp main#page article section.comments__blog ul.commentlist li.comment div.comment-body div.comment-author cite.fn {
          font-size: 1.2rem; }
        #wrp main#page article section.comments__blog ul.commentlist li.comment div.comment-body div.comment-author span.says {
          display: none; }
        #wrp main#page article section.comments__blog ul.commentlist li.comment div.comment-body div.comment-meta {
          font-size: 1rem;
          margin: 0px 0px 0px 50px; }
        #wrp main#page article section.comments__blog ul.commentlist li.comment div.comment-body p {
          display: block;
          clear: both;
          width: auto;
          margin: 0px 0px 0px 50px; }
        #wrp main#page article section.comments__blog ul.commentlist li.comment div.comment-body div.reply {
          margin: 0px 0px 0px 50px; }
    #wrp main#page article section.comments__blog div.comment-respond label {
      visibility: hidden;
      display: inline-block;
      position: absolute;
      text-indent: -9999px; }
    #wrp main#page article section.comments__blog div.comment-respond input, #wrp main#page article section.comments__blog div.comment-respond textarea {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 20px;
      line-height: 1.25rem;
      outline: none;
      box-sizing: border-box;
      border: 2px solid #cccccc;
      padding: 0px 0px 0px 10px;
      height: 40px;
      font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; }
      #wrp main#page article section.comments__blog div.comment-respond input::-webkit-input-placeholder, #wrp main#page article section.comments__blog div.comment-respond textarea::-webkit-input-placeholder {
        color: #cccccc; }
      #wrp main#page article section.comments__blog div.comment-respond input:-moz-placeholder, #wrp main#page article section.comments__blog div.comment-respond textarea:-moz-placeholder {
        color: #cccccc;
        opacity: 1; }
      #wrp main#page article section.comments__blog div.comment-respond input::-moz-placeholder, #wrp main#page article section.comments__blog div.comment-respond textarea::-moz-placeholder {
        color: #cccccc;
        opacity: 1; }
      #wrp main#page article section.comments__blog div.comment-respond input:-ms-input-placeholder, #wrp main#page article section.comments__blog div.comment-respond textarea:-ms-input-placeholder {
        color: #cccccc; }
    #wrp main#page article section.comments__blog div.comment-respond textarea {
      height: 200px;
      padding: 10px 0px 10px 10px; }
    #wrp main#page article section.comments__blog div.comment-respond input:hover, #wrp main#page article section.comments__blog div.comment-respond textarea:hover {
      border: solid 2px #eea34a; }
    #wrp main#page article section.comments__blog div.comment-respond input:focus, #wrp main#page article section.comments__blog div.comment-respond textarea:focus {
      border: solid 2px #eea34a;
      background: #FCEDAA; }
    #wrp main#page article section.comments__blog div.comment-respond p.comment-form-author {
      float: left;
      width: 50%; }
      #wrp main#page article section.comments__blog div.comment-respond p.comment-form-author input#author {
        width: 100%;
        border-radius: 10px 0px 0px 0px; }
    #wrp main#page article section.comments__blog div.comment-respond p.comment-form-email {
      float: left;
      width: 50%; }
      #wrp main#page article section.comments__blog div.comment-respond p.comment-form-email input#email {
        width: 100%;
        border-radius: 0px 10px 0px 0px; }
    #wrp main#page article section.comments__blog div.comment-respond p.comment-form-url input#url {
      float: left;
      width: 100%;
      border-top: 2px solid white;
      border-bottom: 2px solid white; }
    #wrp main#page article section.comments__blog div.comment-respond p.comment-form-url input#url:hover, #wrp main#page article section.comments__blog div.comment-respond p.comment-form-url input#url:focus {
      border-top: 2px solid #eea34a;
      border-bottom: 2px solid #eea34a; }
    #wrp main#page article section.comments__blog div.comment-respond p.comment-form-comment textarea#comment {
      width: 100%; }
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit {
      margin: -8px 0px 0px 0px; }
      #wrp main#page article section.comments__blog div.comment-respond p.form-submit input.submit {
        background: transparent;
        width: 100%;
        border: 0px; }
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit {
      display: inline-block;
      width: 100%;
      text-align: center;
      position: relative;
      z-index: 1;
      background-color: white;
      border: 2px solid #cccccc;
      color: #333333;
      overflow: hidden; }
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit::after {
      position: absolute;
      z-index: -1;
      display: block;
      content: ''; }
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit,
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit::after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all .3s;
      transition: all .3s; }
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit:hover input {
      color: white;
      transition: all .3s; }
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit::after {
      top: -100%;
      width: 100%;
      height: 100%; }
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit:hover::after {
      top: 0;
      background-color: #333; }
    #wrp main#page article section.comments__blog div.comment-respond p.form-submit:active::after {
      background: #eea34a; }
    #wrp main#page article section.comments__hatena div#hatena-bookmark-container {
      margin: 0px; }
      #wrp main#page article section.comments__hatena div#hatena-bookmark-container div.hatena-bookmark-title {
        color: #000000;
        font-size: 25px;
        font-size: 1.5625rem;
        line-height: 25px;
        line-height: 1.5625rem;
        line-height: 30px;
        line-height: 1.875rem;
        font-weight: 700;
        border-bottom: 3px solid #000000;
        padding: 15px 0px 5px 0px;
        margin: 0px 0px 10px 0px; }
      #wrp main#page article section.comments__hatena div#hatena-bookmark-container ul#hatena-bookmark-list-container {
        margin: 5px 0px 20px 0px; }
        #wrp main#page article section.comments__hatena div#hatena-bookmark-container ul#hatena-bookmark-list-container li.hatena-bookmark-item {
          font-size: 15px;
          font-size: 0.9375rem;
          line-height: 15px;
          line-height: 0.9375rem;
          margin-bottom: 5px; }
          #wrp main#page article section.comments__hatena div#hatena-bookmark-container ul#hatena-bookmark-list-container li.hatena-bookmark-item span.hatena-bookmark-user-info a.hatena-bookmark-username {
            margin: 0px 0px 0px 10px; }
          #wrp main#page article section.comments__hatena div#hatena-bookmark-container ul#hatena-bookmark-list-container li.hatena-bookmark-item span.hatena-bookmark-comment {
            margin: 0px 0px 0px 10px; }
          #wrp main#page article section.comments__hatena div#hatena-bookmark-container ul#hatena-bookmark-list-container li.hatena-bookmark-item span.hatena-bookmark-timestamp {
            margin: 0px 0px 0px 10px;
            font-size: 10px;
            font-size: 0.625rem;
            line-height: 10px;
            line-height: 0.625rem;
            color: #cccccc; }
          #wrp main#page article section.comments__hatena div#hatena-bookmark-container ul#hatena-bookmark-list-container li.hatena-bookmark-item a.hatena-bookmark-user-tag {
            margin: 0px 0px 0px 10px;
            font-size: 10px;
            font-size: 0.625rem;
            line-height: 10px;
            line-height: 0.625rem;
            color: #cccccc; }
        #wrp main#page article section.comments__hatena div#hatena-bookmark-container ul#hatena-bookmark-list-container li.hatena-bookmark-addcomment-container {
          display: block; }
          #wrp main#page article section.comments__hatena div#hatena-bookmark-container ul#hatena-bookmark-list-container li.hatena-bookmark-addcomment-container div.hatena-bookmark-addcomment {
            display: none; }
      #wrp main#page article section.comments__hatena div#hatena-bookmark-container div.hatena-bookmark-footer {
        display: none; }
  #wrp main#top article, #wrp main#archive article {
    margin: 0px 0px 80px 0px; }
    #wrp main#top article h2.relief, #wrp main#archive article h2.relief {
      font-size: 60px;
      font-size: 3.75rem;
      line-height: 60px;
      line-height: 3.75rem;
      line-height: 120px;
      line-height: 7.5rem;
      font-weight: bold;
      text-align: center;
      color: white;
      text-shadow: 0px 1px #cccccc;
      animation-name: strong;
      animation-duration: 5s; }
  #wrp main#top article.general nav.tag_cloud ul.wp-tag-cloud, #wrp main#archive article.general nav.tag_cloud ul.wp-tag-cloud {
    list-style: none; }
    #wrp main#top article.general nav.tag_cloud ul.wp-tag-cloud a:link, #wrp main#archive article.general nav.tag_cloud ul.wp-tag-cloud a:link {
      color: #aaaaaa;
      text-decoration: none; }
    #wrp main#top article.general nav.tag_cloud ul.wp-tag-cloud a:visited, #wrp main#archive article.general nav.tag_cloud ul.wp-tag-cloud a:visited {
      color: #aaaaaa; }
    #wrp main#top article.general nav.tag_cloud ul.wp-tag-cloud a:hover, #wrp main#archive article.general nav.tag_cloud ul.wp-tag-cloud a:hover {
      color: #333333; }
    #wrp main#top article.general nav.tag_cloud ul.wp-tag-cloud a:active, #wrp main#archive article.general nav.tag_cloud ul.wp-tag-cloud a:active {
      color: #d04255; }
    #wrp main#top article.general nav.tag_cloud ul.wp-tag-cloud li, #wrp main#archive article.general nav.tag_cloud ul.wp-tag-cloud li {
      font-size: 0.8rem;
      float: left;
      margin: 15px 10px 15px 0px;
      padding: 0px 10px 0px 10px;
      line-height: 30px;
      height: 30px;
      border-radius: 5px;
      background: #f9f9f9;
      border: 1px solid #ddd; }
  #wrp main#top article.general section.wrp_50, #wrp main#archive article.general section.wrp_50 {
    max-width: 640px;
    margin: 0px auto 0px auto; }
    #wrp main#top article.general section.wrp_50 p, #wrp main#top article.general section.wrp_50 dl, #wrp main#archive article.general section.wrp_50 p, #wrp main#archive article.general section.wrp_50 dl {
      margin: 20px 0px 0px 0px;
      color: #666666;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 20px;
      line-height: 1.25rem;
      line-height: 30px;
      line-height: 1.875rem;
      font-family: YuMincho, '游明朝', serif; }
      #wrp main#top article.general section.wrp_50 p a:link, #wrp main#top article.general section.wrp_50 dl a:link, #wrp main#archive article.general section.wrp_50 p a:link, #wrp main#archive article.general section.wrp_50 dl a:link {
        color: #6bbed5;
        border-bottom: #f6f6f6;
        text-decoration: none; }
      #wrp main#top article.general section.wrp_50 p a:visited, #wrp main#top article.general section.wrp_50 dl a:visited, #wrp main#archive article.general section.wrp_50 p a:visited, #wrp main#archive article.general section.wrp_50 dl a:visited {
        color: #db7bb1; }
      #wrp main#top article.general section.wrp_50 p a:hover, #wrp main#top article.general section.wrp_50 dl a:hover, #wrp main#archive article.general section.wrp_50 p a:hover, #wrp main#archive article.general section.wrp_50 dl a:hover {
        border-bottom: 1px solid #999999;
        transition: border-color 0.5s; }
      #wrp main#top article.general section.wrp_50 p a:active, #wrp main#top article.general section.wrp_50 dl a:active, #wrp main#archive article.general section.wrp_50 p a:active, #wrp main#archive article.general section.wrp_50 dl a:active {
        color: #d04255;
        border-bottom: 1px dashed; }
      #wrp main#top article.general section.wrp_50 p dt, #wrp main#top article.general section.wrp_50 dl dt, #wrp main#archive article.general section.wrp_50 p dt, #wrp main#archive article.general section.wrp_50 dl dt {
        font-weight: bold;
        border-bottom: 2px solid #ccc; }
      #wrp main#top article.general section.wrp_50 p dd, #wrp main#top article.general section.wrp_50 dl dd, #wrp main#archive article.general section.wrp_50 p dd, #wrp main#archive article.general section.wrp_50 dl dd {
        margin: 0px 0px 20px 0px; }
      #wrp main#top article.general section.wrp_50 p span.strong, #wrp main#top article.general section.wrp_50 dl span.strong, #wrp main#archive article.general section.wrp_50 p span.strong, #wrp main#archive article.general section.wrp_50 dl span.strong {
        font-weight: bold;
        border-bottom: 1px solid #666666;
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
        width: 100%; }
        #wrp main#top article.general section.wrp_50 p span.strong a, #wrp main#top article.general section.wrp_50 dl span.strong a, #wrp main#archive article.general section.wrp_50 p span.strong a, #wrp main#archive article.general section.wrp_50 dl span.strong a {
          color: #666666; }
        #wrp main#top article.general section.wrp_50 p span.strong a:hover, #wrp main#top article.general section.wrp_50 dl span.strong a:hover, #wrp main#archive article.general section.wrp_50 p span.strong a:hover, #wrp main#archive article.general section.wrp_50 dl span.strong a:hover {
          color: #999999;
          text-shadow: 0px 0px 5px #f7d9dd; }
  #wrp main#top article.postloop section, #wrp main#archive article.postloop section {
    animation-name: glow;
    animation-fill-mode: both;
    animation-duration: 1s;
    margin-bottom: -2px; }
    #wrp main#top article.postloop section a, #wrp main#archive article.postloop section a {
      text-decoration: none;
      color: white; }
    #wrp main#top article.postloop section a:hover p, #wrp main#archive article.postloop section a:hover p {
      opacity: 1;
      transition-duration: 0.25s;
      text-shadow: 0px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px black; }
    #wrp main#top article.postloop section a:hover h2, #wrp main#archive article.postloop section a:hover h2 {
      opacity: 0.1;
      transition-duration: 0.25s; }
    #wrp main#top article.postloop section a:active p, #wrp main#top article.postloop section a:active h2, #wrp main#archive article.postloop section a:active p, #wrp main#archive article.postloop section a:active h2 {
      color: #eea34a;
      transition-duration: 0s; }
    #wrp main#top article.postloop section h2, #wrp main#archive article.postloop section h2 {
      margin: -120px 0px 0px 0px;
      color: white;
      font-size: 2.7rem;
      padding: 0px 0px 0px 40px;
      font-weight: 700;
      text-align: center;
      font-size: 2.7rem;
      line-height: 120px;
      text-shadow: 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(0, 0, 0, 0.5);
      transition-duration: 1s; }
    #wrp main#top article.postloop section p, #wrp main#archive article.postloop section p {
      margin: -120px 40px 0px 40px;
      height: 120px;
      padding: 20px;
      box-sizing: border-box;
      opacity: 0.1;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 20px;
      line-height: 1.25rem;
      transition-duration: 0.5s; }
  #wrp footer {
    min-height: 50px;
    bottom: 0;
    width: 960px;
    background: #000;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 0px 0px 0px; }
    #wrp footer nav.news {
      width: 320px;
      float: left; }
      #wrp footer nav.news h2 {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem;
        padding: 0px 0px 0px 40px; }
    #wrp footer nav.relation {
      width: 320px;
      float: left; }
      #wrp footer nav.relation h2 {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem;
        padding: 0px 20px 0px 20px; }
    #wrp footer div.profile {
      width: 320px;
      float: left; }
      #wrp footer div.profile h2 {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem;
        padding: 0px 40px 0px 0px; }
    #wrp footer p.copyright {
      clear: both;
      vertical-align: middle;
      text-align: center; }

span.comment_information {
  color: #666666;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem; }

span.small {
  color: #cccccc;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem; }

span.right {
  float: right; }

span.left {
  float: left; }

@keyframes strong {
  0% {
    text-shadow: -1px 1px 3px #ce2942, 1px 1px 3px #396cb4, 1px -1px 3px #009d5a, -1px -1px 3px #efb607; }
  70% {
    text-shadow: -1px 1px 3px #ce2942, 1px 1px 3px #396cb4, 1px -1px 3px #009d5a, -1px -1px 3px #efb607; }
  100% {
    color: white;
    text-shadow: 0px 1px #ccc; } }
@keyframes glow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*
* 検索ボックス
*/
form#searchform {
  margin: 0px auto 0px auto;
  width: 960px;
  height: 50px; }
  form#searchform div {
    font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    height: 50px; }
    form#searchform div label.screen-reader-text {
      visibility: hidden;
      display: inline-block;
      position: absolute;
      text-indent: -9999px; }
    form#searchform div input#s {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 20px;
      line-height: 1.25rem;
      outline: none;
      box-sizing: border-box;
      border: 2px solid #cccccc;
      padding: 0px 0px 0px 10px;
      width: 80.5%;
      height: 50px; }
      form#searchform div input#s::-webkit-input-placeholder {
        color: #cccccc; }
      form#searchform div input#s:-moz-placeholder {
        color: #cccccc;
        opacity: 1; }
      form#searchform div input#s::-moz-placeholder {
        color: #cccccc;
        opacity: 1; }
      form#searchform div input#s:-ms-input-placeholder {
        color: #cccccc; }
    form#searchform div input#s:hover {
      border: solid 2px #eea34a; }
    form#searchform div input#s:focus {
      border: solid 2px #eea34a;
      background: #FCEDAA; }
    form#searchform div input#searchsubmit {
      float: right;
      height: 50px;
      line-height: 50px;
      width: 19.5%;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 20px;
      line-height: 1.25rem; }
    form#searchform div input#searchsubmit {
      display: inline-block;
      text-align: center;
      position: relative;
      z-index: 1;
      background-color: white;
      border: 2px solid #cccccc;
      color: #999999;
      overflow: hidden; }
    form#searchform div input#searchsubmit:hover {
      border: solid 2px #eea34a;
      background: #FCEDAA; }
    form#searchform div input#searchsubmit:active {
      color: white;
      background: #eea34a; }

/*
* Github code
*/
.gist-file
.gist-data {
  max-height: 500px; }

li.li_title {
  font-weight: bold;
  border-bottom: 1px solid #000000; }

li.indent1 {
  margin: 0px 0px 0px 30px; }

li.indent2 {
  margin: 0px 0px 0px 60px;
  font-size: 0.8rem;
  color: #666666; }

dl {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem;
  line-height: 30px;
  line-height: 1.875rem;
  background-color: #87CEEB;
  border-width: 0 1 1 1;
  border-style: solid;
  border-color: #000000; }
  dl dt {
    width: 100%;
    border-width: 1 0 0 0;
    border-style: solid;
    border-color: #000000;
    font-weight: bold;
    text-indent: 5px; }
  dl dd {
    background-color: #F0F8FF;
    border-width: 1 0 0 0;
    border-style: solid;
    border-color: #000000;
    padding: 5px; }

/*
@media screen and (max-width: 1000px) and (orientation: portrait) {
#wrp main#page article section{
p, dl, li{
@include fontline(30);
@include lineheight(40);
}
}
}
*/
/*
* そもそもこいつを出力しているのは、何なのか?
* h3だがh2に変更できないか?
* headlineの装飾を行う
* それぞれのタグの装飾を行う
*/
div#allwrp div#wrp main#page article section.link div#jp-relatedposts {
  margin: 0px;
  padding: 0px; }
  div#allwrp div#wrp main#page article section.link div#jp-relatedposts div.jp-relatedposts-items {
    margin: 0px;
    padding: 0px; }
    div#allwrp div#wrp main#page article section.link div#jp-relatedposts div.jp-relatedposts-items p.jp-relatedposts-post {
      margin: 0px; }
      div#allwrp div#wrp main#page article section.link div#jp-relatedposts div.jp-relatedposts-items p.jp-relatedposts-post span.jp-relatedposts-post-title a {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem; }
      div#allwrp div#wrp main#page article section.link div#jp-relatedposts div.jp-relatedposts-items p.jp-relatedposts-post span.jp-relatedposts-post-date {
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 15px;
        line-height: 0.9375rem; }
      div#allwrp div#wrp main#page article section.link div#jp-relatedposts div.jp-relatedposts-items p.jp-relatedposts-post span.jp-relatedposts-post-context {
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 15px;
        line-height: 0.9375rem; }
div#allwrp div#wrp main#page article section.link div.share {
  display: block; }
  div#allwrp div#wrp main#page article section.link div.share ul {
    margin: 5px 0px 10px 0px;
    list-style-type: none;
    display: block; }
    div#allwrp div#wrp main#page article section.link div.share ul li {
      display: inline;
      float: left;
      margin: 0px 10px 0px 0px;
      padding: 10px;
      list-style-type: none;
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 15px;
      line-height: 0.9375rem;
      border: 1px solid #cccccc;
      border-radius: 5px; }
      div#allwrp div#wrp main#page article section.link div.share ul li a, div#allwrp div#wrp main#page article section.link div.share ul li a:hover {
        color: #ffffff;
        font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; }
    div#allwrp div#wrp main#page article section.link div.share ul .tweet {
      background-color: #55acee; }
    div#allwrp div#wrp main#page article section.link div.share ul .facebook {
      background-color: #315096; }
    div#allwrp div#wrp main#page article section.link div.share ul .googleplus {
      background-color: #dd4b39; }
    div#allwrp div#wrp main#page article section.link div.share ul .hatena {
      background-color: #008fde; }
    div#allwrp div#wrp main#page article section.link div.share ul .line {
      background-color: #00c300; }
    div#allwrp div#wrp main#page article section.link div.share ul .pocket {
      background-color: #f03e51; }
    div#allwrp div#wrp main#page article section.link div.share ul .rss {
      background-color: #ff8c00; }
    div#allwrp div#wrp main#page article section.link div.share ul .feedly {
      background-color: #6cc655; }
div#allwrp div#wrp main#page article section.link a:hover img {
  opacity: 0.8; }

/*
* 書式
*/
span.strong {
  color: #000000;
  font-weight: 900;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif; }

span.strong_red {
  color: #ff0000;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 900; }

span.strong_blue {
  color: #3e5caf;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 900; }

span.speaker {
  color: #3e5caf;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 900;
  width: 100%;
  display: inline-block; }

span.strong_gray {
  color: #cccccc;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 200; }

span.strong_yellow_line {
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  background: #ffff00;
  color: #333333;
  font-weight: 200; }

span.strike {
  /*打ち消し線の色*/
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2); }
  span.strike span.strike_default {
    /*打ち消し線の色をデフォルトに戻す*/
    color: #333333; }

img.center {
  display: block;
  margin: 0 auto; }

span.text-center {
  text-align: center; }

iframe.youtube {
  margin: 0px 0px -20px 0px; }
