/* タイムライン横幅 */
.timeline {
  max-width: 100% !important;
  width: 100% !important;
}
/* その他文字色等 */
.stream li{
	border: none !important;
	border-bottom:solid #8aacd3 1px !important;
	margin-right:20px !important;
}
.stream p{
	color:#FFF !important;
}
.stream .p-name {
	color:#fff72b !important;
}
.stream .p-nickname{
	color:#fffdc4 !important;
}
.stream .p-nickname{
	color:#fffdc4 !important;
}
.stream a{
	color:#79e6ff !important;
}
.load-more{
	color:#79e6ff !important;
	border:none !important;
	background:none !important;
}
.retweet-credit{
	color:#FFF !important;
}
