ここはトップページの保存記録にしようと思う。
----------
<h2 class="relief">近況おしらせ</h2>
<section class="wrp_50">
  <p>
    <span class="strong"><a href="http://3punge.jp">3分ゲーコンテスト</a></span><br>
    <a href="http://3punge.jp" target="_blank">第20回3分ゲーコンテスト</a>、無事終了しました。たくさんのご応募や投票、ありがとうございました。開催期間中の10月半ばは、体調を崩したり、仕事が忙しくなったり、炎上させちゃったりとか、色々ありましたが、無事に終える事ができました。ありがたいことです😌。
  </p>
  <p>
    <span class="strong"><a href="http://tkool.org">ツクール新聞</a></span><br>
    構想から構築まで、足かけ3ヶ月。まだ実装途中ですが、もうすぐ始まります😆。
  </p>
  <p>
    <span class="strong">ゲーム実況者と制作者の為の著作権</span>
    <a href="http://tomotaka.tk/copyright-act-01/">ゲーム実況者と制作者の為の著作権 おすすめ入門書編</a>を書きました。これから著作権や二次創作を学んでみたい。って人向けです。そろそろ第2話を書きたいです。<br>
  </p>
  <p>
    <span class="strong">ニコニコ自作ゲームフェス</span>
    8月15日〜16日に、ニコニコ自作ゲームフェスのホラーゲーム+自作ゲーム70作品実況リアルタイム実況を書きました。
    <a href="http://tomotaka.tk/nicofes2016_live_summary/">Part1</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary2/">Part2</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary3/">Part3</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary4/">Part4</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary5/">Part5</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary6/">Part6</a>
  </p>
  <p>
    <span class="strong">その他</span>
    サーバ移転しました。結構アクセスがあるんですよね、このサイト……。個人でまかなえるサーバ費用を超えかけたので、AmazonアフィリエイトとGoogleアドセンスだけ入れるか検討中……💦。紹介している本はアフィうんぬん関係なくオススメのつもりなので、気に入らなかったら、URLからアフィリエイト部分を外してご購入して下さい。
  </p>
  <span class="small right">2015年11月10日</span><br>
</section>


<h2 class="relief">近況おしらせ</h2>
<section class="wrp_50">
  <p>
    <span class="strong">ゲーム実況者と制作者の為の著作権</span>
    <a href="http://tomotaka.tk/copyright-act-01/">ゲーム実況者と制作者の為の著作権 おすすめ入門書編</a>を書きました。<br>
    これから著作権や二次創作を学んでみたい。って人向けです。連載かもです。<br>
  </p>
  <p>
    <span class="strong"><a href="http://3punge.jp">3分ゲーコンテスト</a></span><br>
    A抽選、B抽選が終了し、30作品が出そろいました。9月14日から応募が可能になります。<br>
    現在、応募者様向けのマニュアルなどを作っているので、しばらくお待ち下さい。<br>
    当落結果は<a href="http://3punge.jp">3分ゲーコンテスト</a>のウェブサイト上に掲示しています。<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bmjYubpPmeY" frameborder="0" allowfullscreen></iframe><br>
  </p>
  <p>
    <span class="strong"><a href="http://tkool.org">ツクール新聞</a></span><br>
    進捗わろしです。他が忙しくて……。地味に進めていきます。<br>
  </p>
  <p>
    8月15日〜16日に、ニコニコ自作ゲームフェスのホラーゲーム+自作ゲーム70作品実況リアルタイム実況を書きました。
    <a href="http://tomotaka.tk/nicofes2016_live_summary/">Part1</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary2/">Part2</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary3/">Part3</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary4/">Part4</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary5/">Part5</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary6/">Part6</a>
  </p>
  <span class="small right">2015年09月13日</span><br>
  </p>
</section>


<h2 class="relief">近況おしらせ</h2>
<section class="wrp_50">
  <p>
  <a href="http://tkool.org" target="_blank">ツクール新聞</a>の復旧に引き続き、3分ゲーコンテストも準備中です。<br>
  <a href="http://tomotaka.tk/3punge_rule/">3分ゲーコンテスト規約草案</a>をブログに書きました。3分ゲーコンテストに参加したい人は、ぜひご意見くださいね<br>
  <a href="http://twitter.com/tomotakatk">Twitter</a>と、当ブログでちまちまと開発情報を書いていきます。<br>
  <p>
    8月15日〜16日に、ニコニコ自作ゲームフェスのホラーゲーム+自作ゲーム70作品実況リアルタイム実況を書きました。
    <a href="http://tomotaka.tk/nicofes2016_live_summary/">Part1</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary2/">Part2</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary3/">Part3</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary4/">Part4</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary5/">Part5</a>
    <a href="http://tomotaka.tk/nicofes2016_live_summary6/">Part6</a>
  </p>
  <span class="small right">2015年08月20日</span><br>
  </p>
</section>


<section class="wrp_50">
  <p>
  <a href="http://tkool.org" target="_blank">ツクール新聞</a>の復旧に引き続き、3分ゲーコンテストも準備中です。<br>
  せっかくなので、<a href="https://goo.gl/forms/486hEKMbk5" target="_blank">3分ゲーコンテストのURLアンケート</a>を開いたら、1日で130投票・700アクセス集まって、びっくり。<br>
  引き続き、準備と開発を進めていきます。<br>
  <a href="http://twitter.com/mstomotaka">Twitter</a>と、当ブログでちまちまと開発情報を書いていきます。<br>
  <span class="small right">2015年08月14日</span><br>
  </p>
</section>

<section class="wrp_50">
  <p>
  <a href="http://tkool.org" target="_blank">ツクール新聞</a>を復旧させました。              それから、Twitterで<a href="http://twitter.com/mstomotaka">@mstomotaka</a>という名前で、ちまちまと開発情報を書いていきます。<br>
  現在は情報収集中なので、まだニュースを配信するには時間がかかる見込みです(￣▽￣;)<br>
  でも、1日数時間くらいのペースで、ツクール新聞まわりの開発を進めていきますので、<br>
  きながにおまちください。3分ゲーコンテストもドメインを取得して復旧させる予定です。<br>
  <span class="small right">2015年08月12日</span><br>
  </p>
</section>


<p>
やばい。<br>
真面目に記事を投稿したら、半日経たずにメールが届きました。<br>
すごい。アンテナ高すぎる。というか、未だに僕の昔のサイトの名前が、通じるのですか。<br>
マジですか。<br>
ツクールの世界から、すっかり忘れ去られていたと思っていたのに<br>
インターネットの世界の、広さと狭さを同時に感じて、センチメンタルな感じになった。<br>
これは本腰を入れなければ。(`・ω・´)<br>
<span class="small right">2015年08月08日</span><br>
</p>


<p>
まだまだ冬と思ったら、もう夏なのですね(；´Д｀)<br>
外に出られず退屈で。はじめました、ホームページ。<br>
作ったものとか、書いていけたらと思いまして。<br>
プログラミングとか、デザインとか、工作とか(ノ´∀｀)ノ<br>
<span class="small right">2015年06月05日</span><br>
</p>
