<section>
<h2><span class="number">01</span>H2テキスト</h2>
<p>
</p>
</section>

<!--強調書式-->
<span class="strong_red"></span>
<span class="strong_blue"></span>
<span class="strong"></span>
<span class="strong_gray"></span>

<!--複数行の引用-->
<blockquote>
<p>
本文
</p>
<cite><a href="http://google.com" target="_blank">イ引用先</a></cite>
</blockquote>
<!--1行の引用-->
<q class="one-line-comment"></q>

<!--Youtube引用-->
<iframe width="820" height="461" src="https://www.youtube.com/embed/O0_kwTjDhHI?rel=0&start=11" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
キャプション本文
</p>

----------

WebDAVとFTPSの二つがある
FTPは通信経路の傍受に弱いのでダメ。
しかしWebDAVはSSL証明書のインストールが必要。特にオレオレ証明書を用いたサーバには接続できない。つまりお金がかかる。いやだよ、ケチに行きたい。
サードパーティでフリーのWebDAVクライアントはまだ普及率が低い。有料なら手段はある。WindowsならWebDrive、MacではTransmitが良い。
でも無料でやろうとすると、色々と制限が大変だし、サポートも面倒なのでやめた。
たぶんDropbox経由にする方が楽ですね。

CarotDAVが悪くない
<!--
http://rei.to/carotdav.html
Windowsについてくるもの。もしくはOfficeを入れると追加されるもの。 Web Folderのパッチを当てるとかなりましだが、いろいろ制限がある。 自己証明書の類(オレオレ証明書)が使えなかったり、証明書が信頼できない場合につなげない。 標準で50MByte(XP)、レジストリをいじっても4GByteまでしか使えない、など。 確認した限りではXP 無印～SP3、Vista、2008、7の全てで実用に耐えない。 XPが一番動くようだが…、新しい方が動かないというのは変なので、何か爆弾があるのかもしれない。

http://n1kumeet5.com/2012/04/windows7_webdav/

フリーなWebDAVクライアント for Windows
http://www.mylab.jp/program/dddav/

オレオレ証明書に対してWindows7標準のWebDAVクライアントを使う | 時の回廊
http://www1205uf.sakura.ne.jp/wp/world/?p=167
-->

Azureで仮想マシンを作る
Windows Server 2012 R2
ポートを予め空けておく
  21
  7000
  7001
  7002
  etc...
Windows Updateを行う
IISとFTPサーバをインストールする
IIS > サーバ証明書 > 自己証明入り証明書の作成
FTPのSSL設定 > 作成した証明書を紐つける > SSL接続が必要 > 適用
FTPサイトの追加 > 証明書を紐付ける
IP



パッシブモード(PASVモード)とは
http://www.rtpro.yamaha.co.jp/RT/FAQ/TCPIP/ftp-passive-mode.html
http://park12.wakwak.com/~eslab/pcmemo/ftpmode/index.html
アクティブモードはサーバ側から接続要求を行う。パッシブモードはクライアント側から接続要求を行う。
アクティブポート時は常に21番だが、パッシブモードの時は、サーバ側が1024〜65535番をその都度割り振ります。
Azureのエンドポイントを対応番号で追加しておく必要があります。

Azureのエンドポイント設定は
http://blogs.msdn.com/b/windowsazurej/archive/2014/07/01/blog-azure-traffic-manager-external-endpoints-and-weighted-round-robin-via-powershell.aspx
Azure Traffic Managerで可能っぽいですが、Azure PowerShellを使わねばならないのと、せいぜいPASVくらいなら10個あれば

Azureのエンドポイントを一括定義を
http://statemachine.hatenablog.com/entry/2014/12/02/125424

Windows Server 2012 R2のEC2にFTPサーバを構築する ｜ Developers.IO
http://dev.classmethod.jp/cloud/aws/winserver2012-r2-ftp/


>net stop ftpsvc
Microsoft FTP Service サービスを停止中です.
Microsoft FTP Service サービスは正常に停止されました。

>net start ftpsvc
Microsoft FTP Service サービスを開始します.
Microsoft FTP Service サービスは正常に開始されました。
