<!--
メモ欄

コーディングガイド
http://www.infiniteloop.co.jp/docs/psr/psr-2-coding-style-guide.html

http://www.lifehacker.jp/2011/11/111109sensitiveinfo_share.html
3. 秘密共有サービスを活用する
ウェブアプリ「One Time Secret」は、チャットのログやメールアカウントに履歴を残すことなく、情報を共有できるサービス。もちろん、その画面のスクリーンショットを撮られてしまったら、第三者にも容易に情報が漏洩する可能性がありますが、このサービスを利用している理由を知っているのが自分と共有先だけなら、基本的には堅実な方法です。
インスタントメッセージやメールでユーザ名やパスワードを共有するのは、なんとなく気持ち悪いもの。もしコンピュータが盗まれたら、真っ先に見られるであろう場所だからです。その点、One Time Secretのようなサービスは、機密性の高いやりとりをコンピュータから切り出し、すぐに消えます。ユーザ名やパスワードを共有するなら、前述のとおり、他の文言は一切いれずに、この情報だけを「秘密」化したほうがいいでしょう。また、ユーザ名とパスワードを別々に「秘密」化すると、より安全かも。応用編としては、機密情報をパスワード保護し、この情報のためのURLとパスフレーズの両方を必要とする仕掛けにするのも一法です。
いずれの方法にしろ、このウェブサービスでは「ここで作成された『秘密』には一回しかアクセスできない」と明示されているものの、現時点ではプライバシー方針が定められていません。つまり、サービスそのものはセキュリティが担保されたものではないので、その文字列が何を意味しているのか、第三者から類推されにくくする工夫が必要です。たとえば、パスワードのみ、ユーザ名のみを共有し、その他補足の文言は入れないようにしましょう。

http://gigazine.net/news/20111114_one_time_secret/

一度だけアクセス可能なURLを生成するネットサービス[One Time Secret]
http://d.hatena.ne.jp/s025236/20111115/p1
http://onetime.2ch.to/

テキスト送信時は、テキスト(blowfishで可逆暗号化)、パスフレーズ(MD5で非可逆暗号化)共にブラウザ上で暗号化され平文はサーバに送信されません。
テキスト表示時もURLのキーと非可逆されたパスフレーズが一致した場合のみ暗号化されたテキストがブラウザに返り、復号はブラウザ上で行われます。
サービス運用者、サーバ管理者もテキストの内容を知りえる事はありません。
また、万が一データ漏えいがあった場合も、パスフレーズがサーバに残っていない為解読は困難です。

漏洩に要注意！メールでパスワードなどの大切な情報を送信するときのポイント | 株式会社LIG
http://liginc.co.jp/web/useful/146816

メールで添付ファイルのパスワードを送る際の正しいビジネスマナー | ビジネスマナーのことならキャリアパーク
http://careerpark.jp/4958

HTTPS通信時のURLは暗号化されるか - うまいぼうぶろぐ
http://hogem.hatenablog.com/entry/20100307/1267977441

「パスワードはメールで別途送ります」の存在意義とは - カイ士伝
http://bloggingfrom.tv/wp/2012/01/05/6975

Tech TIPS：メールの送受信を暗号化するPOP3s／IMAP4s／SMTPs（over SSL）とは - ＠IT
http://www.atmarkit.co.jp/ait/articles/0801/18/news126.html

添付ファイルにパスワードをかけ、別メールで送る無意味な行為について - Windows 2000 Blog
http://blog.livedoor.jp/blackwingcat/archives/1894786.html

添付ファイルとパスワードを別便で送るアレ、やめて。セキュリティ１〜５章 : チャーリーのブログ
http://lscharlie.exblog.jp/24006524/
スターバックスのWi-Fiは危険なのか。噂の“ドヤリング”に挑戦してみた。 : チャーリーのブログ
http://lscharlie.exblog.jp/23957212/

あれから４年、そこにはいまだに生パスワードを平文メールで送る企業の姿が！ - ちょろげ日記
http://tyoro-ge.hatenablog.com/entry/email-plaintext-password
-->

<section>
<h2><span class="number"></spam></h2>
</section>


## メールでパスワードを送るのは、いろいろ大変
メール本文やタイトルにパスワードを書く事は、いろいろな意味で危ないです。主に以下のトラブルに遭遇します。
* 化石的システムによる被害
	* 古きメール通信方式は暗号化されておらず、通信経路を解析されて、メールを傍受される。
	* サーバごとハックされ、メールが第三者宛に転送されるなどで、メールを傍受される。
* 新しいシステムでも課題が残る
	* ソーシャルハックで受信者のメールアカウントのID/パスワードが漏洩・転送設定済の場合、メールを傍受される。
* 人的被害
	* セキュリティに詳しい人から怒られるストレス(でも対策方法を聞いても、よい答えは帰ってこない)
	* 非合理的なメール・ビジネスマナーが蔓延しており、セキュリティ無知者に対応するのはストレス。

[電子メール](https://ja.wikipedia.org/wiki/%E9%9B%BB%E5%AD%90%E3%83%A1%E3%83%BC%E3%83%AB)は歴史が古く、インターネット創世記に考案された仕組みです。ゆえに、本来はセキュリティ的にあぶない面が多い状況。とはいえ、マズい状況をIT系企業が見過ごしている訳ではありません。Google Gmailや、Microsoft Exchangeなど暗号化方式(TSL/SSL)などが採用され、ここ数年で安全なメール通信方式も普及してきている状況です。

しかし未だに暗号化してない古いメールシステムは星の数ほど残っており、無知から生まれた誤解(メール送信のマナー)や、効果不明な社内ルールも重なり、けっきょくメールでパスワードを送るのは、いろいろ面倒くさい状況です😅。

ちゃんとお金と時間をかければ、ワンタイムパスワードのWEBサイトを経由してパスワードを共有とか、電話認証システムを構築するとか、社内共有サーバ上にパスワードの書かれたPDFファイルを置くとか、複数のコミュニケーションツールで情報を小分けして送るとか、まあ手段がない訳じゃありません。とはいえ、どれも一長一短。

パスワード送信専用の外部のウェブサービスもありますが、日本語非対応だったり、閉鎖済みだったり、かゆいところに手が届きません。

### One Time Secret
Gigazineの記事、[一度だけアクセス可能なURLを生成するネットサービス『One Time Secret』](http://gigazine.net/news/20111114_one_time_secret/)が日本語文献では最も良くまとまっています。サービスは今もアップデートされており、スマートフォンにも対応。しかし残念ながら日本語化はされていません。とはいえ、外部サービスの中では最もシンプルかつ実用的です。

### [一度だけアクセス可能なURLを生成するネットサービス[One Time Secret]](http://onetime.2ch.to/)
<q>
テキスト送信時は、テキスト(blowfishで可逆暗号化)、パスフレーズ(MD5で非可逆暗号化)共にブラウザ上で暗号化され平文はサーバに送信されません。
テキスト表示時もURLのキーと非可逆されたパスフレーズが一致した場合のみ暗号化されたテキストがブラウザに返り、復号はブラウザ上で行われます。
サービス運用者、サーバ管理者もテキストの内容を知りえる事はありません。
また、万が一データ漏えいがあった場合も、パスフレーズがサーバに残っていない為解読は困難です。
</q>
この方式はクールだなぁ。と思ったのですけれど、現在サイトは動かないようです。ざんねん。

### [安心！簡単！パスワード共有サービス](http://www.kiis.or.jp/whisper/)
* KIIS Whisperでは暗号化したファイルのパスワードを電子メールではなく、WEB(SSL)や携帯電話等のメディアを使って安全に相手へ届けます。また、相手の受け取り確認や、万が一の誤送付の際の緊急停止などの機能もあります。
1. パスワードを安全に受け渡す事が可能です!
2. 相手の受信完了が分かるあｔめ便利です。
3. 万が一の誤送信の際にもパスワードの受取を停止できます。

おお、これは良い。ユーザIDを作らない無料版もあります。と思ったら、オレオレ証明書。そしてSHA-1署名。<a href="http://blog.livedoor.jp/k_urushima/archives/1750289.html" target="_blank">SHA-1証明については、Googleの勇み足感</a>もあるので仕方ないですけれど、オレオレ証明書はダメでしょう……。ユーザがSafariやGoogle Chromeを使っている場合、デカデカと警告が表示されてしまうので、使い物になりませんね。大丈夫なのか、関西情報センター。


仕方ない。自分で作りましょう。

## 対応したい課題
* メール受信者に手間かけさせない
	* ユーザ登録とか、パスワード入力とか、面倒な事させない。
* 徹底的にケチに
	* HTTPS通信/SSL証明書とか、可用性とか、金がかかる部分は外部サービスを頼る。
* 自分の管理するサーバで動く
	* 全てを外部サービスに頼るのはリスクがあるし、自分の目の届く範囲でやりたい。
	* 超古いサーバ環境にも対応。
	* PHPが動く無料サーバでもOK。
* シンプルなコードで
	* プログラミング入門書1冊目レベルの難易度で。
	* 改造しやすい、シンプルな仕組みで。
* データベースは使わない
	* PHPとテキストファイルのみでやりくりする。
	* そもそもデータベース必要な規模なら、本格的なシステムを作った方が良いと思う。あくまでも手軽に。

要するに、コストをかけずに楽してセキュアに。というわけです。
セキュリティ対策って、手間暇かければかけるだけ安全になる。でも、複雑で金もかかり専門性が増していきます。ひたすら敷居が高くなった結果、安直な方法に逃げて漏洩する。って、アホみたいな現象に陥ります。決壊は、玄人と素人の差から始まる。そういうのは、回避したいのです。

ちなみに次点で良いと思うのは、Twilio APIを使った電話認証システム。しかし、Twilio API自体が有料サービスなので、選択肢から除外しました。ユーザの電話番号保持についてプライバシーを考慮するのもやっかいです。とはいえ携帯電話とは1ユーザ1デバイスという個人と強く紐つけされたデバイスなだけに、良い手段だと思います。Twilio APIは筋も良く、ドキュメントも豊富で、実装コードも少なくて済みます。


## 実装の流れ
アクセス数をcount.txtに読込/書込して、アクセス数に応じて分岐するURLリダイレクトを発行します。
PHPで最初の1回だけOK URLにリダイレクト。2回目以降はNG URLにリダイレクトします。
IPアドレスのチェックを行うので、最初に接続した端末での閲覧なら何度でもOK形式と、誰でも1回以上のアクセスで接続不可能になる形式が選べます。

パーミッションはxxxにしてください。

リダイレクト先はGoogleドキュメントやMicrosoft OneDriveを公開URL機能を使うのがオススメです。使い勝手が良く、お手軽です。SSL通信で暗号化されている為、傍受耐性が高く安全です。また、トラブルが発覚した時も、ウェブ上からファイルを編集・削除できます。ビューアも高機能なので、PDFやWordやExcelやテキストファイルはもちろん、画像やZIPファイルの共有もスムーズです。
同じ理由でDropboxやEvernoteも悪くありません。
* [Google ドライブのプライバシーとセキュリティ - ドライブ ヘルプ](https://support.google.com/drive/answer/141702?hl=ja)
* [OneDrive のファイルのセキュリティ](https://support.office.com/ja-jp/article/OneDrive-%E3%81%AE%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E3%81%AE%E3%82%BB%E3%82%AD%E3%83%A5%E3%83%AA%E3%83%86%E3%82%A3-23c6ea94-3608-48d7-8bf0-80e142edd1e1)
* [Dropbox の安全性について (Dropbox ヘルプセンター)](https://www.dropbox.com/ja/help/27)
* [セキュリティ概要 | Evernote](https://evernote.com/intl/jp/security/)
個人的にはEvernote社のセキュリティポリシーや取り組みは高く評価しているので、安心感があります。[ASCII.jp：Adobeの個人情報流出のお知らせ、なぜかEvernoteから](http://ascii.jp/elem/000/000/846/846171/)
ビューアーの性能や動作の軽快さから、GoogleDrive > OneDrive > Evernoteの順番で、リダイレクト先に指定しています。Dropboxは容量制限が厳しいので、私はあまりリダイレクト先に使いません。

count.txtにはアクセス数,IPアドレス,タイムスタンプの3つの情報を書き込みます。
HTTPSサーバにリダイレクトする時、PHPが2回読み込まれ、実行される為、タイムスタンプで重複アクセスチェックを行っています。HTTPリダイレクトの場合は、PHPは1度だけ読み込まれるので、重複されません。

サーバサイドのPHPファイル内でリダイレクトを生成します。サーバ自体をハックしてPHPファイルを読まれない限り、分岐先のURLはわかりません。wgetやcurlしてもリダイレクト先のファイルが帰ってくるので、安全です。
ファイル設置場所はPHPが動くサーバならOK。データベースも不要です。どんな環境を使っても問題ありませんが、強いて言うなら、Microsoft Azure Web Appsは無料かつセキュリティも完璧です。
* Azure Web Appsの無料枠内で完全に収まる
* Azure Web AppsはデフォルトでHTTPS通信に対応している
* Visual Studio Onlineでファイルのアップロードが簡単
* Visual Studio Onlineでコードの編集もできる
* エンドポイントをブラウザ上から変更できてセキュリティ向上
* Web.configを編集してBasic認証も搭載できる
デメリットはサービスの利用にクレジットカードを登録する必要なくらいでしょうか。

知識があるならHerokuも悪くありません。しかしHerokuはFTPが使えず、GithubやBitbucketを経由してデプロイせねばなりません。今回のプログラムだと、ソースコードをGithubに公開状態にしてしまい、ダダ漏れする可能性があるので、得策とは言えないでしょう。Amazon Web Serviceの場合、この程度のPHPプログラムを動かすにはコスパが悪いと思います。


62行目の
header("Location: ".$redirect);
で、ヘッダー情報を書き換えて、リダイレクトします。




シンプルかつ、PHP入門書に出てくる用例での実装を心がけたので、あえて頭の悪い実装になってる部分があります。そのぶん、改造しやすいと思うので、ご自身の環境にあわせてハックしてください。







メールでパスワードを送る問題の対策として以下のようなものが挙げられます
* メール送受信形式を暗号化する
* メール本文とパスワードを別々に送る
* 

メールでパスワードを送付してはいけない理由
* 社内規則で決まっている為
* 

そもそも傍受されるとは何か
通信経路を傍受される
メールアカウント自体の流出
転送サーバ経由での漏洩


## 解決する改題














































