<!--
ブログをはじめた
hello-world
2015/06/06

メニエール病の私、暇が高じてはじめました、ホームページ。いやはや、あまり外に出られず退屈で……。作ったものとか、書いていけたらと思いまして。プログラミングとか、デザインとか、工作とか
-->
<section>
<h2><span class="number">01</span>ブログをはじめた話</h2>
<p>
何年も塩漬けにしていたドメインを使い、ブログをはじめました。(｀・ω・´)<br>
……と書くと、いかにも前向きに聞こえますが、そのじつ、<br>
あまり家から出られぬ引きこもり生活に嫌気がさしまして。
すなわち、暇つぶしであります。<br>
手始めに、このサイトを作りました。<br>
何かを作らないと、くさってしまいます、人間。<br>
</p>
<p>
しかし、ずいぶん前に取ったものですから、.tkドメインにした理由、忘れてしまいました。<br>
でも、このサイトは作ったものを書いてくつもりなので、<br>
つくる = ツクール = tkool = .tkと思えば、洒落もきき、収まりもよろしい。<br>
そういえば、<a href="http://en.wikipedia.org/wiki/.tk#Abuse" target="_blank">.tkドメインはスパム業者の温床</a>とな。<br>
ここもヤバくてあやしいホームページ、目指します。<br>
</p>
<p>
閑話休題。<br>
そうそう、病のなにがつらいって。<br>
飛ぶように日が過ぎて世間から置いて行かれた、あの感覚です。<br>
冬と思っていたのが、もう夏ですよ、夏。<br>
桜を見そびれ、<br>
ファミレスのいちごスイーツは食べ逃し、<br>
人が線路に飛び込む五月も、いつのまにか終わってた。<br>
でもまぁ、余りあるほどの時間こそ、ニートの特権。<br>
せっかくの怠惰を満喫しつつ、ここに色々書いていきたいなぁと思います。(´・   ω   ・`)<br>
</p>
<p>
ポジティブにいこうぜ。
</p>
</section>
