<!--
ホラーゲーム+自作ゲーム70作品実況リアルタイムまとめ(6)
nicofes2016_live_summary6
2015/08/16 20:50

ニコニコ自作ゲームフェス5の実況を、リアルタイムでまとめます。 パート6です。つまり最終章。
 -->
<section>
<h2><span class="number">01</span>リアルタイムまとめ1から6のリンク</h2>
<p>
<a href="/nicofes2016_live_summary">Part1</a>、<a href="/nicofes2016_live_summary2">Part2</a>、<a href="/nicofes2016_live_summary3">Part3</a>、<a href="/nicofes2016_live_summary4">Part4</a>、<a href="/nicofes2016_live_summary5">Part5</a>、<a href="/nicofes2016_live_summary6">Part6</a>、
</p>
</section>

<section>
<h2><span class="number">02</span><a href="http://live.nicovideo.jp/watch/lv228989563" target="_blank">放送はこちらから</a>lv228989563です。</h2>
<h3><a href="http://tomotaka.tk/nicofes2016_live_summary/">その1</a>、<a href="http://tomotaka.tk/nicofes2016_live_summary2/">その2</a>、<a href="http://tomotaka.tk/nicofes2016_live_summary3">その3</a>、<a href="http://tomotaka.tk/nicofes2016_live_summary4">その4</a>、<a href="http://tomotaka.tk/nicofes2016_live_summary5">その5</a>からの続きです。</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_title.png" width="810" height="169"  class="size-full" /><p class="wp-caption-text">ニコニコ自作ゲームフェス2016のイメージイラスト</p></div>
<blockquote>

<p>
ニコニコ自作ゲームフェス５受賞作品、ホラーゲームフェス受賞作品を計70作品をぶっ通し生放送！
今回より、ニコニコゲームマガジン連載作品も登場！
16日13時より、ニコニコ自作ゲームフェス５＋ホラーゲームフェス表彰式も生放送。
ニコニコ自作ゲームフェス５大賞作品も発表されます！
お気に入りのゲーム＆実況者に出会えるかも？！
</p>
</blockquote>
<p>

</p>
</section>
<section>
<h2><span class="number">03</span><a href="https://twitter.com/iiotonatatinoma" target="_blank">いい大人たち</a>の実況スタート</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_466.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">休憩を挟んで、<a href="https://twitter.com/iiotonatatinoma" target="_blank">いい大人達</a>5人組のターンです。</p></div>

<h3>64作目: 『<a href="http://info.nicovideo.jp/gamemaga/uramikko/" target="_blank">怨みっ子</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_461.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">シアンさん作のホラーゲーム『怨みっ子』はじまります。</p></div>
<p>
作者名: <a href="https://twitter.com/imcyan00aeef" target="_blank">シアン</a>
ウェブサイト: <a href="http://imcyan.web.fc2.com/" target="_blank">ImCyan（アイムシアン）</a>
ジャンル: 日常浸食リアルホラー
ゲームダウンロード: <a href="http://info.nicovideo.jp/gamemaga/uramikko/" target="_blank">怨みっ子</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_463.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">3D操作で学校から脱出しようと操作します。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_464.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">いい大人達、子供のように絶叫。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_465.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">コメントも荒ぶる感じです。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_468.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">幽霊より、人間のグラフィックの方が怖いような……。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_469.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">スタッフのいたずらチャイムにビビる5人組。</p></div>

<p>
ここでタイムアップです。わいわいと叫びながら、実況終了です。
</p>

<hr>

<h3>65作目: 『<a href="http://www.freem.ne.jp/win/game/1555" target="_blank">人であらずんば</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_470.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ブラック・ウルフさん作のアドベンターゲーム「人であらずんば」</p></div>
<p>
作者名: <a href="https://twitter.com/tabidatanai" target="_blank">ブラック・ウルフ</a>
ウェブサイト: <a href="http://basan-sun-sun.wix.com/blackwolf" target="_blank">ブラック・ウルフのページ</a>
制作ソフト: RPGツクール
目安プレイ時間: 2時間
ジャンル: RPG
動作環境: Windows XP/Vista/7/8/8.1
受賞: PHPコミックス賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25241303" target="_blank"> 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/1555" target="_blank">人であらずんば(ふりーむ)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
記号と線画というゲームの原点に戻り、その意味を考えて作りました。
戦闘もツクール2000のデフォルトですが、バランスに気をつけて、退屈しないものにしています。
RPGでは魔物が当たり前のように出てきます。ではその魔物とはいったい何なのか、なぜ魔物を倒すのか。そこを考えて作りました。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_471.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ミッション発生。北の村まで行く事になりました。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_472.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「前に進めば進むほど、的の形がどんどん人っぽくなってる気がする」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_473.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">戦闘と探索を繰り返しながら、無機質な世界をひたすら歩みます。</p></div>

<p>
ここでタイムアップです。
隊長「うわーまだ、序章の序という所だと思うのですが!!」
マオー「シンプルな描写だからこそ、想像力をかきたてられるものがありますよね。」
</p>



<hr>

<h3>66作目: 『<a href="http://www.freem.ne.jp/win/game/9197" target="_blank">伸縮性の高い石頭少女いしあたまーるちゃん</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_475.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">Cdecさん作の『石頭少女いしあたまーるちゃん』の開始です。</p></div>
<p>
作者名: <a href="https://twitter.com/CdecPGL" target="_blank">Cdec</a>
ウェブサイト: <a href="http://cdecrement.blog.fc2.com/" target="_blank">Cdecの気まぐれ日記</a>
制作ソフト: Unity5
目安プレイ時間: 1回につき1分ほど
ジャンル: 石頭アクション
動作環境: Windows XP以上
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26229855" target="_blank">伸縮性の高い石頭少女いしあたまーるちゃん 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9197" target="_blank">伸縮性の高い石頭少女いしあたまーるちゃん</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
伸縮性の高い石頭少女を操作して、上から落ちてくる岩を破壊するだけの謎のゲームです。アイテームを取ると、少女が伸びたり大きくなったり、ハゲたり意味の分からない効果がでてしまいます。それらを駆使してハイスコアを目指したり、目指さなかったりするゲームのようです。訳が分からなくてもあまり深く考えてはいけません。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_476.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ノッチ爆笑。笑いが止まりません。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_478.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">アタッチメント式頭部。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_477.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">とつぜんのし!!</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_479.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">あまりのシュールさにテンションのあがるタイチョー。</p></div>



<hr>

<h3>67作目: 『<a href="http://gobori.ehoh.net/flash/sengyo/" target="_blank">さわやか鮮魚部門</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_480.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">アホゲーコンテストの制作物『さわやか鮮魚部門』の登場です。</p></div>
<p>
作者名: gobori
ウェブサイト: <a href="http://gobori.ehoh.net/" target="_blank">【ゴボリーン】</a>
動作環境: 各種ブラウザ
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26101093" target="_blank">さわやか鮮魚部門 紹介動画</a>
ゲームダウンロード: <a href="http://gobori.ehoh.net/flash/sengyo/" target="_blank">さわやか鮮魚部門</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
一日でブラウザゲーム作って投稿する「超あほげー」というイベントに出したものです。
マウスをいそがしく動かしてスコアはいかがでしたか？というジャンルのゲームです。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_481.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「これ、ペンタブやタブレットでやりたいなぁ!! (by タイチョー)</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_482.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">左下の、あの青い鳥、めっちゃ面白いな。(by マッツァン)</p></div>



<hr>

<h3>68作目: 『<a href="http://www.vector.co.jp/soft/winnt/game/se509498.html" target="_blank">流体 de 月面着陸</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_483.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">プロ生ちゃんのイラストとともに『流体 de 月面着陸』スタート。</p></div>

<p>
ここでタイムアップです。
</p>

<p>
作者名: toropippi
ウェブサイト: <a href="http://blog.livedoor.jp/toropippi/" target="_blank">仮眠プログラマーのつぶやき</a>
開発言語: HSP/C++。GPGPUはOpenCL、表示はOpenGL
目安プレイ時間: 1時間
ジャンル: アクション
動作環境: Windows 7/8/8.1
ニコニコ動画: <a href="" target="_blank">流体 de 月面着陸 紹介動画</a>
ゲームダウンロード: <a href="http://www.vector.co.jp/soft/winnt/game/se509498.html" target="_blank">流体 de 月面着陸</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_484.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">宇宙に行ってレアアースを獲得する為に、プロ生ちゃん、月に行く。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_485.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「これ綺麗だねぇ。(by マオー)」スペースキーを使って月面に着陸するゲームです。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_486.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うぉい、ちょっとコレおもしろそうじゃない。やりたい。やらせてやらせて。(by タイチョー)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_487.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで時間切れです。5人とも操作の楽しさにハマったようです。</p></div>


<hr>

<h3>69作目: 『<a href="http://gobori.ehoh.net/game/yakyupen/" target="_blank">野球ペンデュラム</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_489.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『野球ペンデュラム』スタートです。『さわやか鮮魚部門』と同じ作者さんの作品です。<br /></p></div>
<p>
作者名: gobori
ウェブサイト: <a href="http://gobori.ehoh.net/" target="_blank">【ゴボリーン】</a>
目安プレイ時間: 30分
動作環境: 各種ブラウザ
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26154545" target="_blank">野球ペンデュラム 紹介動画</a>
ゲームダウンロード: <a href="http://gobori.ehoh.net/game/yakyupen/" target="_blank">野球ペンデュラム</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
2009年につくったむかしのゲームですが、僕にとってはかわいい子供のようなものです。なのでいまさら動画をつくりました。
野球ボールをカエルとかロバに投げつけて勝つゲームです。むやみにハイスピードで高難易度です。僕はアクションゲームが苦手なので、アクションゲームが得意な人への復讐として作りました。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_488.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「もうね、タイトル画面からセンスがヤバい(by タイチョー)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_490.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「これ、テラリアが得意な人とか、操作しやすいかもしれないね(by タイチョー)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_491.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">冴え渡るgoboriさんのセンスに、タイチョーもメロメロです。</p></div>

<p>
タイチョー「うぉー、goboriさんスゴイなぁ。センスの塊だわ」
マオー「この操作感ね、慣れてくると、脳内からヘンな汁が出てくるよ。」
マッツァン「意外と動かしやすいんだよね」
マオー「FPSゲームとかやりこんでる人も、やりやすいかもしれない」
</p>


<hr>

<h3>70作目: 『<a href="http://tezukuriburogu.web.fc2.com/top/game/dieko/diekodl.html" target="_blank">ハーフエルフ戦士ヂエ子</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_492.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">タイチョー的大本命、O松さん作の『ハーフエルフ戦士ヂエ子』の登場です。</p></div>
<p>
作者名: <a href="https://twitter.com/oomatsu8" target="_blank">O松</a>
ウェブサイト: <a href="http://tezukuriburogu.web.fc2.com/top/index.html" target="_blank">面白いブログ てずくりブログ</a>
制作ソフト: VisualC++、DXライブラリ
目安プレイ時間: 1時間程度
ジャンル: エロアクション
動作環境: WindowsXP/8
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25786978" target="_blank">ハーフエルフ戦士ヂエ子 紹介動画</a>
ゲームダウンロード: <a href="http://tezukuriburogu.web.fc2.com/top/game/dieko/diekodl.html" target="_blank">ハーフエルフ戦士ヂエ子</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
自作ゲームフェス初参加です！よろしくお願いします！
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_493.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">昆布にぶつかって、死亡。爆笑。</p></div>

<p>
マオー「良い大人達の中での結論なんですけれど。この人は真面目に作れば、スゴイものを作れるはずなんですよ。でも、作れる上でふざけているんですよ。だから、すごいんですよ!!」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_494.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「大丈夫ですか皆さん、O松さんのセンスについてこれてますか!?!?（by タイチョー)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_495.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">過呼吸になるんじゃないか、ってレベルで笑う5人組。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_496.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">戦士ヂエ子は、野を飛び、海を走り、空すらも駈け抜けるッ!!! 狂ってる。</p></div>

<p>
そんなこんなで、O松ワールドを堪能しつつ、タイムアップです。続きは皆さんダウンロードして遊んでみて下さいね。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_497.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">次が最後のゲームですが、機材トラブルで、しばらく雑談中です。</p></div>

<p>
マオー「回数を重ねるごとに、クォリティがどんどん上がりますよね。」
タイチョー「それだけみんなゲームが好きだという事が伝わってきますよ。もっとやりたいよね」
タイチョー「最近はグラフィックの向上でとても画像が綺麗になりました。ドットが細かくなりました。ただ、敢えて解像度が荒い状態でのドット絵の良さ。ってのがツクール2000にはあると思うんだよね。いまだにツクール2000でゲーム制作している人がいるっていうのは、僕としてはとても嬉しいです」
マオー「僕らもゲームを作ろうと頑張っても、プログラミングできないから。結局はアナログに逃げちゃう。プログラミングできるってのは、スゴイ事ですよね。まあ、アナログゲームはアナログゲームで魅力がありますけれどね。」　
</p>


<hr>

<h3>71作目: 『<a href="http://tezukuriburogu.web.fc2.com/top/game/dieko/diekodl.html" target="_blank">Hacker'sBeat</a>』</h3>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_498.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">最後の作品、『Hacker'sBeat』ですが、機材トラブルで動かず、後日放映となりました。</p></div>

<p>
作者名: <a href="https://twitter.com/2tatuki" target="_blank">双月</a>
ウェブサイト: <a href="http://teamtandsplus.wix.com/teamtands" target="_blank"><TEAM TANDS+/a>
目安プレイ時間: 2分程度
ジャンル: ハッキング×音ゲー
動作環境: Windows XP以降/DirectX 9.0c対応
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25122196" target="_blank">Hacker'sBeat 紹介動画</a>
ゲームダウンロード: <a href="http://tezukuriburogu.web.fc2.com/top/game/dieko/diekodl.html" target="_blank">Hacker'sBeat</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
ルールは明快、キーボードの「だいたい同じ位置」を「テンポよく」叩け。
</p>
</blockquote>

<hr>


<h3>大賞作品 『<a href="https://itunes.apple.com/jp/app/mi-jieki-tuo-chugemu-madjiyami/id683945916?mt=8" target="_blank">マヂヤミ彼女</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_501.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">再度プレイ。自作ゲームフェス5優勝作品『マヂヤミ彼女』</p></div>
<p>
作者名: <a href="https://twitter.com/mio_yamazaki" target="_blank">ミオヤマザキ</a>
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26216920" target="_blank">マヂヤミ彼女 応募動画</a>
ゲームダウンロード: <a href="https://itunes.apple.com/jp/app/mi-jieki-tuo-chugemu-madjiyami/id683945916?mt=8" target="_blank">謎解き・脱出ゲーム：マヂヤミ彼女　〜リアルホラー系ゲーム〜</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_502.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">彼氏とうまくいっていないストーリーが紹介されます。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_503.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">アプリの画面が表示されて、驚くタイチョー。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_504.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うわ、こういう他人のLINE、見ちゃイケナイよ(by タイチョー)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_505.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">LINEのパスワードを探して四苦八苦。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_506.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">なんとかパスワードを解除!! したら、タイムアーーーップ!!!</p></div>

<p>
続きはみなさんのPCでお遊び下さい。最後に恒例のイラストコーナーです。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_507.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text"><a href="http://tezukuriburogu.web.fc2.com/top/game/dieko/diekodl.html" target="_blank">ハーフエルフ戦士ヂエ子</a> のイラストです。</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/syokudoueat" target="_blank">食堂野郎さん</a>です。
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5120965?track=seiga_illust_keyword" target="_blank">自作ゲームフェス_31h×いい大人達</a>』です。ニコニコ静画から拡大版を見れます。
</p>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_508.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text"><a href="http://info.nicovideo.jp/gamemaga/uramikko/" target="_blank">怨みっ子</a>のイラストも届きました。</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/yamiyotuki" target="_blank">紅蓮（猫）さん</a>です。<a href="http://www.pixiv.net/member.php?id=580581" target="_blank">Pixivはこちら</a>
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5121205?track=seiga_illust_keyword" target="_blank">たいちょのひ</a>』です。ニコニコ静画から拡大版を見れます。
</p>


<h3>自作ゲームフェス2016の応募のお知らせ</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_509.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">すでに次の戦い……自作ゲームフェス2016の応募が始まっています。</p></div>

<p>
詳しい情報は<a href="http://ch.nicovideo.jp/indies-game" target="_blank">公式サイト</a>をご参照ください。
</p>

<p>
これにて放送は終了となります。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_510.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">流れる拍手の段幕。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_511.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">アンケート結果も好評。</p></div>
</section>
<section>
<h2><span class="number">04</span>おわりに</h2>
<p>
<span class="strong_gray">2015年8月19日01時30分(放送終了3日後)追記。</span>
最後にちょっとだけ、トモタカの雑感を残しておきます。
</p>
<p>
31時間実況完了後は、ひたすら掲載作者様と実況者様に許諾申請を求めるメッセージをお送りしていました。事後承諾ながら、掲載を快諾して頂いたり、誤字脱字を指摘して頂きまして、ありがとうございました。3日経過した今もまだご連絡先が判らなくて未送付の方がおります。順次調べてご連絡差し上げております。遅くなりまして、申し訳ないです。そんなこんなで、100名近くの方に掲載のご報告をお送りしたり、記事の修正を行っていました。それだけでも結構たいへんでした……💦。(連絡先があらかじめ判っているとはいえ)多くの関係者を取りまとめ、成功に導いた自作ゲームフェス5の運営スタッフ様には敬服いたします。
</p>
<p>
一方で、自作ゲームフェス5の情報整備は大きな課題があるんじゃないか。とも感じました。現状の<a href="http://ch.nicovideo.jp/indies-game" target="_blank">自作ゲームフェス公式ウェブサイト</a>は、ゲーム応募者、ゲーム実況者、一般プレイヤー、協賛企業の誰に対しても適した設計に思えません。情報補完として存在する<a href="http://game.wiki.nicovideo.jp/indie/" target="_blank">自作ゲームWiki</a>も、適正に管理・運営されているとは思えず、閑古鳥が鳴いています。こういう状況ならば、自作ゲームWikiに書くモチベーションになりえません。
</p>
<p>
それから、応募されたゲームの扱いが……なんと申しましょうか、ちょっと雑に感じました。コンテストの生放送中にアレッと違和感を感じる瞬間が何度かあり、後になって過去の第1回から第4回コンテスト情報を遡ってみて、確信に近い思いを抱きました。
</p>
<p>
私にとって31時間生放送は、楽しめた、という思いが半分。運営さん大変だなあという思いが4割、さいごの10%は、ゲーム応募者は何を想ったんだろう? というモヤモヤした疑問で終わりました。<span class="strong_gray">ゲーム応募者とは、受賞した人も、残念ながら受賞しなかった多くの作者さんの、両方をさします。</span>
</p>
<p>
なにはともあれ、無事イベントが終わった事を祝いつつ、次の自作ゲームフェス2016を楽しみにしています。関係者のすべての皆様、ほんとうにお疲れ様でございました。
私も自分の運営するゲームコンテスト『3分ゲーコンテスト』と『ツクール新聞』の準備に勤しみます。
ここまで読んで下さり、ありがとうございました✋
</p>
</section>
