<!--
ホラーゲーム+自作ゲーム70作品実況リアルタイムまとめ(3)
nicofes2016_live_summary3
2015/08/16 01:16

ニコニコ自作ゲームフェス5の実況を、リアルタイムでまとめます。 パート3です。
 -->
<section>
<h2><span class="number">01</span>リアルタイムまとめ1から6のリンク</h2>
<p>
<a href="/nicofes2016_live_summary">Part1</a>、<a href="/nicofes2016_live_summary2">Part2</a>、<a href="/nicofes2016_live_summary3">Part3</a>、<a href="/nicofes2016_live_summary4">Part4</a>、<a href="/nicofes2016_live_summary5">Part5</a>、<a href="/nicofes2016_live_summary6">Part6</a>、
</p>
</section>

<section>
<h2><span class="number">02</span><a href="http://live.nicovideo.jp/watch/lv228989563" target="_blank">放送はこちらから</a>lv228989563です。</h2>
<h3><a href="http://tomotaka.tk/nicofes2016_live_summary/">その1</a>と<a href="http://tomotaka.tk/nicofes2016_live_summary2/">その2</a>、からの続きです。</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_title.png" width="810" height="169"  class="size-full" /><p class="wp-caption-text">ニコニコ自作ゲームフェス2016のイメージイラスト</p></div>
<blockquote>

<p>
ニコニコ自作ゲームフェス５受賞作品、ホラーゲームフェス受賞作品を計70作品をぶっ通し生放送！
今回より、ニコニコゲームマガジン連載作品も登場！
16日13時より、ニコニコ自作ゲームフェス５＋ホラーゲームフェス表彰式も生放送。
ニコニコ自作ゲームフェス５大賞作品も発表されます！
お気に入りのゲーム＆実況者に出会えるかも？！
</p>
</blockquote>
<p>
ニコニコ動画が主催するフリーゲームコンテスト「ニコニコ自作ゲームフェス5」の生放送です。ゲーム実況者がぶっ続けで、応募作品をプレイしていきます。
実況開始から9時間経過。<a href="http://tomotaka.tk/nicofes2016_live_summary/">その1</a>と<a href="http://tomotaka.tk/nicofes2016_live_summary2/">その2</a>を経て、その3です。
</p>
<p>
リアルタイムで編集していくので、誤字やミスがあるかも。コメント欄で指摘してもらえたら、随時なおします。
</p>
</section>

<section>
<h2><span class="number">03</span>むつーさん、ハヤシさん登場。名コンビの実況スタート</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_127.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">永遠の素人<a href="https://twitter.com/mutuu24" target="_blank">むつーさん</a>と、元東大生<a href="https://twitter.com/hayashi_lanturn" target="_blank">ハヤシさん</a>。</p></div>

<p>
次はむつーさんとハヤシさんのターン。俺達の素人むつー!! 元東大生のハヤシさん!!
お酒を飲んで、ほろよい気分になりながら、駆けつけました。
</p>


<h3>18作目: 『<a href="http://www.vector.co.jp/soft/winnt/game/se492696.html" target="_blank">Dual Prism</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_128.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">神主ZUN賞を受賞した、『Dual Prism』はシューティングゲームです。</p></div>
<p>
作者名: <a href="https://twitter.com/bunaguchi" target="_blank">bunaguchi</a>
ウェブサイト: <a href="http://hp.vector.co.jp/authors/VA049213/" target="_blank">SPIKY ZONE</a>
作品名: <a href="http://www.vector.co.jp/soft/winnt/game/se492696.html" target="_blank">Dual Prism</a>
ジャンル: 2Dアクションシューティング
動作環境: Windows XP/7にて動作を確認
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25734796" target="_blank">Dual Prism紹介動画 </a>
ゲームダウンロード: <a href="http://www.vector.co.jp/soft/winnt/game/se492696.html" target="_blank">Dual Prism</a>
<blockquote>
<p>
作者によるゲームのコメント
アナログスティック酷使ノンストップアクションシューティング。全５面。
プレイにはアナログスティック付きのゲームパッドが必須となっております。
アクションゲーマー向けの内容です。この動画はSTAGE1のクリアまで。
</p>
</blockquote>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_130.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">あっという間に死にます。積み重なるDeath数。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_129.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">1面クリアを目指して、ハヤシさんがコメントを拾い、むつーさんが戦う!!</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_131.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「このポンデリングをどう処理するかが課題だ!! (by むつー)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_132.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">リスナーのアドバイスを味方に付けつつも……しかし、死ぬ!!死にまくる!!</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_133.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「くそーー、これ、むっずいわ!! (by むつー)」</p></div>

<p>
ドSなハヤシさんのツッコミと、がんがん死にまくるむつーさんのコンビで実況が進んでいきます。
むつー「これね、結構爽快感がある。見ている側にとっては退屈かもしれないけれど、やってる方にとっては、かなり楽しい」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_134.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで制限時間です!! いやー死にまくりましたね。でも楽しそう。</p></div>

<p>
むつー「アツくなりすぎちゃって、もうね、アツい。汗かいてる。」
ハヤシ「少しずつ学んでいってる感じがね、良かったよ」
</p>


<hr>

<h3>19作目: 『<a href="https://www.kmc.gr.jp/projects/ahogeSuper/market" target="_blank">数％マーケット</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_135.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">第20作目は『数％マーケット』KMC(京都マイコンクラブ)制作です。</p></div>
<p>
作者名: <a href="https://twitter.com/_ahoge_" target="_blank">KMC</a>
ウェブサイト: <a href="http://ch.nicovideo.jp/ahoge-fes" target="_blank">超あほげー(超あほげー) - ニコニコチャンネル:ゲーム</a>
作品名: <a href="https://www.kmc.gr.jp/projects/ahogeSuper/market" target="_blank">数％マーケット</a>
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/so26225957" target="_blank">数％マーケット 紹介動画</a>
ゲームダウンロード: <a href="https://www.kmc.gr.jp/projects/ahogeSuper/market" target="_blank">数％マーケット(作者サイト)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
スーパーでお買い物をしよう！包丁は忘れずに持ったか？
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_136.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">包丁を片手に、いろんなものを切っていきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_137.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">42%でカットしましょう。「はいここ!!(by むつー)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_138.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「これは……良いスコアだったのか? よくわからん(by ハヤシ)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_139.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「地方民の星の、ジャス……じゃなかった。ジュスコを切っていいんですか!?(by むつー)」</p></div>

<p>
ここで時間終了です。
ハヤシ「目標の%にあわせて色々切っていけば、隠しボス敵なものが出ると思うので、みなさんやってみてください」
むつー「感想は?」
ハヤシ「むつーに負けて、思ったより悔しい。」
</p>

<hr>

<h3>20作目: 『<a href="http://pc.heartofcrown.com/support.html" target="_blank">HEART of CROWN PC</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_140.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">デッキ成長型カードゲーム『HEART of CROWN PC』</p></div>　
<p>
作者名: EIKI`
ウェブサイト: <a href="http://pc.heartofcrown.com/support.html" target="_blank">ハートオブクラウン PC サポートページ</a>
作品名: <a href="http://pc.heartofcrown.com/support.html" target="_blank">HEART of CROWN PC</a>
ジャンル: デッキ成長型カードゲーム
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm19858913" target="_blank">HEART of CROWN PC 紹介動画</a>
ゲームダウンロード: <a href="http://pc.heartofcrown.com/support.html" target="_blank">HEART of CROWN PC</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_141.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「事前にルール読んだんだけれど、まったく判らなかった(by むつ−)」</p></div>

<p>
開発に関わっているゲーム実況者、<a href="https://twitter.com/verdamil" target="_blank">スパ帝さん</a>を呼んでくる他ないですな……。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_142.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">説明を読み進めながら、真面目にゲームをすすめる二人。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_143.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">姫様を選ぼう!!</p></div>

<p>
女の子が出てくる時に、テンションが上がるのは、どの実況者でも共通みたいです😄。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_144.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">リスナ−、ハヤシさん、むつーさんが力を合わせて、だんだんルールが判ってきました。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_145.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ルールを把握したら、めっちゃ楽しそう。最初の懸念が嘘のようです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_146.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">しかし、残念ッ……!! 敗北です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_147.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで時間制限で、終了ですー。でも、かなり楽しめたようです。</p></div>

<p>
むつー「これ感想しゃべりだしたら、やばいですよ。これ楽しいわ!!画面がすごく綺麗ですね。しかもこれがオンラインで出来る機能がある。と」
ハヤシ「これ面白いね!!」
むつー「最初、これ、ルールが全然判りませんでしたが、チュートリアルすごく判りやすかった」
むつー「皆もやってほしい!! 特にカードゲームマニアには垂涎モノじゃないですかね!!」
ハヤシ「絵も可愛いしね」
むつー「ハヤシはロリコンだけどね」
</p>

<hr>
<p>
ここで、もう一度『数％マーケット』が登場。どうやら、先ほどの実況の時は不具合があり、ゲームが完全に動作していなかったようです。なので、ハヤシさんによる実況2回戦目がスタート!!
</p>

<h3>19作目: 『<a href="https://www.kmc.gr.jp/projects/ahogeSuper/market" target="_blank">数％マーケット</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_148.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">再挑戦の『数％マーケット』です。</p></div>
<p>
作者名: <a href="https://twitter.com/_ahoge_" target="_blank">KMC</a>
ウェブサイト: <a href="http://ch.nicovideo.jp/ahoge-fes" target="_blank">超あほげー(超あほげー) - ニコニコチャンネル:ゲーム</a>
作品名: <a href="https://www.kmc.gr.jp/projects/ahogeSuper/market" target="_blank">数％マーケット</a>
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/so26225957" target="_blank">数％マーケット 紹介動画</a>
ゲームダウンロード: <a href="https://www.kmc.gr.jp/projects/ahogeSuper/market" target="_blank">数％マーケット(作者サイト)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
スーパーでお買い物をしよう！包丁は忘れずに持ったか？
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_149.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">さっきは不機嫌だったハヤシさんも、こんどは楽しく実況。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_150.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">総得点127078点という、ハイスコアに!!</p></div>

<p>
ハヤシ「結構良い点数が出たと思います。是非みなさんも挑戦して、ツイートとかしてもらえたら嬉しいです。」
</p>

<hr>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_151.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">休憩中のお酒トーク。さっきまで酔いつぶれてた、俺達のむつーさん。</p></div>

<p>
むつー「いやー、それにしても、この企画よくない。みんなのゲームがおもしろすぎて、俺のPCに積みゲーがどんどん溜まってくるわ」
</p>


<h3>21作目: 『<a href="http://unitygameuploader.jpn.org/game/701.html" target="_blank">Space to go</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_152.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">半音ゲー『Space to go』の実況スタートです。</p></div>
<p>
作者名: <a href="https://twitter.com/geekdrums" target="_blank">geekdrums</a>
ウェブサイト: <a href="http://geekdrums.strikingly.com/" target="_blank">Geekdrums' Portfolio on Strikingly</a>
目安プレイ時間: 5分
ジャンル: ミュージカルノベル
動作環境: 各種ブラウザ
受賞: センスオブワンダー賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25960866" target="_blank">Space to go 紹介動画</a>
ゲームダウンロード: <a href="http://unitygameuploader.jpn.org/game/701.html" target="_blank">Space to go(Unity Game Uploadrより)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_153.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「いままでに無かった感じのゲームだね(by ハヤシ)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_154.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">むつー、ラップを歌い出す。「いや、ちょ、黙って(by ハヤシ)」</p></div>

<p>
むつー「これ、シャレオツですよ!!」
ハヤシ「スペースキー押していただけだけれど、楽しかったよね」
むつー「実況してないけれど」
ハヤシ「おめーの歌は実況とは言えねーよ!!」
むつー「これ、もうちょっとボリュームあっても嬉しいね」
ハヤシ「続編期待。って所ですね」
</p>

<hr>

<p>フリートークです。</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_155.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">むつー宅で驚異的にクサい屁をしたハヤシの話。</p></div>


<h3>22作目: 『<a href="http://nikaidorenji.web.fc2.com/game/coincascader2/
" target="_blank">コインカスケーダー2</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_156.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">これであなたもお金持ち気分。『コインカスケーダー2』</p></div>
<p>
作者名: <a href="http://twitter.com/R_Nikaido" target="_blank">ニカイドウレンジ</a>
ウェブサイト: <a href="http://nikaidorenji.web.fc2.com/" target="_blank">ニカイドウレンジ プロフィールサイト</a>
作品名: <a href="http://nikaidorenji.web.fc2.com/game/coincascader2/
" target="_blank">コインカスケーダー2</a>
制作ソフト: Unity
目安プレイ時間: 30分
ジャンル: インフレ放置型メダルゲーム
動作環境: ブラウザにてUnity Web Playerをインストール
受賞: じゃらじゃら賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26042803" target="_blank">コインカスケーダー2 紹介動画</a>
ゲームダウンロード: <a href="http://nikaidorenji.web.fc2.com/game/coincascader2/
" target="_blank">コインカスケーダー2(作者サイトより)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
クッキークリッカー（の日本流行）より速かった！ インフレ式放置型メダルゲーム『コインカスケーダー2』！ シンプルで爽快感のあるゲーム性！ やみつきになる効果音！ 公開から1年以上経過した現在でも中毒者続出！（個人の感想です）
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_157.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うわぁ、なんかどんどんコイン貯まっていくんだけれど(by むつー)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_158.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うわぁああああ、インフレきたぁあああああ(by むつー)」</p></div>

<p>
しかし、暫くすると、コインの流れは普通に戻る。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_159.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うーむ、あのパラダイスをもう一度……もう一度ッ……!! (by むつー)」</p></div>

<p>
中毒のようです。
むつー「これは、心を洗っていくゲームだな」
ハヤシ「電車の中で、やりたいね。」
</p>



<h3>23作目: 『<a href="http://hk.xii.jp/hagi/games/graymerca/" target="_blank">グレイメルカ</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_160.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『グレイメルカ』をハヤシさんがプレイ開始。</p></div>
<p>
作者名: <a href="https://twitter.com/CR_hagimoto" target="_blank">萩本創八</a>
ウェブサイト: <a href="http://hk.xii.jp/hagi/" target="_blank">シニカルとレトリック</a>
作品名: <a href="http://hk.xii.jp/hagi/games/graymerca/" target="_blank">グレイメルカ</a>
目安プレイ時間: 30時間以上
ジャンル: シミュレーションRPG
受賞: 窓の杜賞
動作環境: Windows98/2000/ME/XP/7
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26087839" target="_blank"> 紹介動画</a>
ゲームダウンロード: <a href="http://hk.xii.jp/hagi/games/graymerca/" target="_blank">グレイメルカ(作者サイトより)</a>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_161.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">そこそこ長いストーリーパートを越えると</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_163.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">シミュレーションRPGが始まります。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_164.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">さすがはポケモン実況者のふたり。戦略ゲーを相談しながら進めます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_165.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">じっくり考えながら進めてる途中で、制限時間に。</p></div>

<p>
ハヤシ「最初やっただけでも、けっこう世界観が作り込まれている事がわかりました」
むつー「古き良きシミュレーションRPGって感じでしたね」
ハヤシ「かなり楽しかったです」
</p>

<hr>


<h3>24作目: 『<a href="http://www.ennach.sakura.ne.jp/CyberRebeat/" target="_blank">CyberRebeat -The Fifth Domain of Warfare-</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_167.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ハッキングがテーマの現代のベルADVです。</p></div>
<p>
作者名: <a href="https://twitter.com/ennach" target="_blank">えある</a>
ウェブサイト: <a href="http://ennach.at-ninja.jp/" target="_blank">E.N.Nach</a>
作品名: <a href="http://www.ennach.sakura.ne.jp/CyberRebeat/" target="_blank">CyberRebeat -The Fifth Domain of Warfare-</a>
制作ソフト: Unity
目安プレイ時間: 10時間前後
ジャンル: 現代ノベルADV
動作環境: Windows/Mac両対応
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26218249" target="_blank">CyberRebeat -The Fifth Domain of Warfare- 紹介動画</a>
ゲームダウンロード: <a href="http://www.ennach.sakura.ne.jp/CyberRebeat/" target="_blank">CyberRebeat -The Fifth Domain of Warfare-</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
ハッキング"を題材とした現代ノベルADV
"ハッキング"。この言葉ほど、世間の印象と実状が乖離している言葉も珍しい。果たしてハッカー、あるいはクラッカーとはどういう類の存在なのか？
メールにウィルスを添付していた時代と比べ、いわゆる現代の"ハッキング"とはどういったものなのか？作中、とあるハッカーはこう言います。
"僕らにとって、世界は不安なほどに穴だらけだ"、と。
</p>
</blockquote>
<p>
公式サイトが格好いいですね。あと<a href="https://github.com/ennach/CyberRebeat" target="_blank">Githubでソースコードも公開中</a>です。Unityの勉強として、コードリーディングするのも良いかもしれませんね。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_166.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">応募作品中、もっとも長い名称の作品に、かみかみ読み上げるむつーさん。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_168.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">起動直後にソフト終了!! Windows Updateで再起動。これぞハッカーのパワーか。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_169.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">気を取り直して再プレイ。深夜3時20分なのに、ノリノリで読みあげるむつーさん。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_170.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">コメント欄は<a href="http://nikaidorenji.web.fc2.com/game/coincascader2/ " target="_blank">コインカスケーダー2</a>に毒された人が増殖中。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_171.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ストーリーは夜逃げの話に。ダークな話が展開されています。</p></div>

<p>
しかし、ゲーム画面のフォントが小さい為、実況画面を通して読む事は非常に難しい。むつーさんも、だいぶはしょりながらサクサクとゲームプレイを進めていきます。
コメント欄は相変わらずコイン中毒者の山がスロットと睨めっこのようです。
みなさん、もう3時半ですよ……
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_172.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">女の子が登場。みんなゲーム画面に引き戻される。</p></div>

<p>
そこで時間切れ。ハッキングの話までは行きませんでした。
ハヤシ「もうちょっと、見たかったですね。」
むつー「まあ、しょうがないです。」
</p>

<hr>

<h3>25作目: 『<a href="http://www.freem.ne.jp/win/game/8633" target="_blank">次の俺はきっと頑張る</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_173.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『次の俺はきっと頑張る』をハヤシさんが挑戦。</p></div>
<p>
作者名: <a href="https://twitter.com/@__Labo__" target="_blank">Labo</a>
ウェブサイト: <a href="http://www.freem.ne.jp/brand/4836" target="_blank">Labo 公開フリーゲーム一覧 by ふりーむ！</a>
作品名: <a href="http://www.vector.co.jp/soft/winnt/game/se509498.html" target="_blank">次の俺はきっと頑張る</a>
目安プレイ時間: 10分程
ジャンル: アクション
受賞: プロ生ちゃん賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25781907" target="_blank">次の俺はきっと頑張る 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8633" target="_blank">次の俺はきっと頑張る(ふりーむ)</a>
</p>
<!--
<blockquote>
<p>
</p>
</blockquote>
-->

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_174.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「このゲーム、俺はもうプレイ済みなんです。超おすすめ(by むつー)」</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_175.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">自分の屍を足場として、ステージを進めていきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_176.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">クリアは簡単。でも、目標Death以下に抑えるのは、けっこう大変です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_178.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">死体を燃やしたり、凍らせたりして、リスナーのコメントと一緒に挑戦。</p></div>

<hr>

<p>
ここで時間切れに。むつーさん、ハヤシさん両名も、ここまでとなります。お疲れ様でした。最後にファンアートです。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_179.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">恒例のファンアート。「特徴をよく捉えてますね(by ハヤシ)」</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/sayuki91mssp" target="_blank">沙幸さん</a>です。
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5119244?track=seiga_illust_keyword" target="_blank">自作ゲームフェス実況！</a>』です。ニコニコ静画から拡大版を見れます。
</p>




</section>
<section>
<h2><span class="number">04</span>けんじぃさん、湯毛さん、ひなたさんコンビ</h2>

<p>
ハヤシさん、むつーさんに続いて、次は<a href="https://twitter.com/yugepo" target="_blank">湯毛さん</a>、<a href="https://twitter.com/kenjinikonama" target="_blank">けんじぃさん<a>、<a href="https://twitter.com/hinata_cos" target="_blank">ひなたさん</a>のターン。<a href="https://twitter.com/yugepo" target="_blank">湯毛さん</a>は、緊急飛び入り参戦です。深夜四時なのに、テンションが上がるリスナーコメント。
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_180.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">湯毛さん、けんじぃさん、ひなたさんの3名にバトンタッチです。</p></div>


<h3>26作目: 『<a href="http://www.freem.ne.jp/win/game/8564" target="_blank">スライムの書</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_181.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ひなたさんのゲーム説明の後、『スライムの書』スタートです。</p></div>
<p>
作者名: <a href="https://twitter.com/umi_bouzu1" target="_blank">うるふ</a>
ウェブサイト: <a href="http://bronzelevel.web.fc2.com/index.html" target="_blank">ぶろんずれべる</a>
制作ソフト: WOLF RPGエディター
目安プレイ時間: 30分
ジャンル: RPG
動作環境: Windows 7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25658048" target="_blank">スライムの書 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8564" target="_blank">スライムの書</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
ある日一冊の本に出会い人間になることを決意する一匹のスライム。なんでもかんでも吸収して人間を目指そう！
エンディング後、やり直すを選ぶことで一度変身したものを参照できる
図鑑が見れるようになります。
</p>
</blockquote>
<hr>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_182.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">いきなり始まるバトルモード</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_183.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">なかなかのギャグゲーテイストの模様。テンションのあがる湯毛さんとリスナー。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_184.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">人間になりたいスライムの物語なのですが、がんがん人間を吸収していきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_185.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">きわどいトークをひなたさんに吹っかけていく湯毛さん</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_186.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">なんでもかんでも吸収しながら道中を進んでいきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_187.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">リアル棒読みちゃんと化したひなたさんに、リスナーも湯毛さん・けんじぃさん全員なごむ。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_188.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">冒険を順調に進めつつも、ボス手前でタイムアップです。</p></div>

<p>
ひなた「シンプルな面白さでした。ただ吸収していくというだけなのに。」
けんじぃ「そんなに難易度も高くないしね」
湯毛「楽しくできるんじゃないかと思います」
けんじぃ「では、次のゲームです」
湯毛「いやー、しかしひなたちゃんは、癒やしやな〜」
</p>

<hr>


<h3>27作目: 『<a href="brhttp://www.freem.ne.jp/win/game/8786" target="_blank">にじロボ</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_189.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">朝の4時半。元気なリスナーと共に『にじロボ』の実況スタートです。</p></div>
<p>
作者名: <a href="https://twitter.com/MyoSiroboz" target="_blank">myo-</a>
ウェブサイト: <a href="http://book.geocities.jp/osumonomo/" target="_blank">◆白黒モノローグ◇</a>
目安プレイ時間: 10分
ジャンル: アドベンチャー
受賞: 敢闘賞 ドットジュブナイル賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25945171" target="_blank"> 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8786" target="_blank">にじロボ(ふりーむ)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
2xxx年。人類が火星移住してから数十年後……
のこされた２つのロボットが虹を探すお話。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_190.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">棒読みひなたさんのトレーニング。実況先輩の二人からしごかれてます。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_191.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ネコとロボットの友情の物語。ひなたさんの無機質な声がロボットに合います。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_192.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「リスナーさんによると、雰囲気がとても良いゲームみたいですね(by ひなた)」</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_193.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ちょっと荒廃しつつも素敵な世界で、虹を探して旅に出ます。</p></div>

<p>
湯毛さん、けんじぃさんのコンビが、リスナーのコメントを引き出しつつ、そして時にひなたさんをイジりながら、放送を進めていきます。さすがトークがうまい。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_194.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">楽しい実況でした。ここで時間切れにて終了です。</p></div>

<hr>


<h3>28作目: 『<a href="http://www.freem.ne.jp/win/game/8701" target="_blank">ただしいいくせいけいかく</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_195.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">29作品目『ただしいいくせいけいかく』の実況開始。</p></div>
<p>
作者名: <a href="https://twitter.com/rinko_game" target="_blank">りんこ</a>
ウェブサイト: <a href="http://ri2a.web.fc2.com/" target="_blank">ri2a</a>
作品名: ただしいいくせいけいかく
制作ソフト: RPGツクールVX Ace
目安プレイ時間: 10分から30分
ジャンル: 短編育成ゲーム
動作環境: WindowsXP/7/8/8.1/10
受賞: ショタ賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25770136" target="_blank">ただしいいくせいけいかく 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8701" target="_blank">ただしいいくせいけいかく(ふりーむ)</a>
<blockquote>
<p>
作者によるゲームのコメント
2週間のサイバードールとの生活で、サイバードールを教育しましょう。
</p>
</blockquote>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_196.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ショタ賞を受賞したこの作品。サイバードールを育てていきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_197.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">けんじぃさん、湯毛さんのそそのかしにより、サイバードールの名前は「ひなた」に決定。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_198.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「猫耳を装備させる」項目に、コメントが沸き立ちます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_199.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「えっちな本を買いましょう(by ひなた)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_200.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「猫耳、かわいい!! ひなたチャンかわいい!!!(by 湯毛)」</p></div>

<p>
そんなこんなで、終了のお時間です。14日でクリアのゲームですが、半分くらいのところで終了となりました。
ひなた「すごい可愛かった!!」
湯毛「これ、最終的にはどうなったんだろうね」
けんじぃ「病んでる子になったりして。」
</p>

<hr>

<h3>29作目: 『 <a href="http://www.freem.ne.jp/win/game/8950" target="_blank">彼の声</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_201.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">30作品目の『彼の声』スタートです。</p></div>
<p>
作者名: <a href="https://twitter.com/gn00925585" target="_blank">夜兎AVG</a>
ウェブサイト: <a href="http://www.yetuavg.com/" target="_blank">夜兔AVG原创游戏</a>
制作ソフト: Unity
目安プレイ時間: 1周目1時間。2周目以降10分。
ジャンル: 謎解き探索ゲーム
動作環境: Windows/Mac/Linux
受賞: イマジネーション賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26029796" target="_blank"> 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8950" target="_blank">彼の声</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
主人公は事故の後、最愛の人と視力を失った。彼が生前に作ったＡＩを頼りに、辛い時期を乗り越えた。本作品はボイスのみのゲームとなります。画面はずっと黒だけが映り、プレイヤーは方向キーでキャラクターを操作し、家の中を探索します。
注意：足音がない場合は、壁やテープルなどにぶつかっていることになります。
</p>
</blockquote>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_202.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">かすかに音がします。暗黒の状態で聴力を頼りにゲームを進めます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_203.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">静寂。ゲームの声に集中する3人。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_204.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ざんねん、タイムアップです。</p></div>

<p>
ゲームを最初からプレイするも、イヤホン推奨のゲームなので苦戦しました。設備の問題で仕方の無い事です。
</p>

<hr>

<h3>30作目: 『<a href="http://mogera.jp/gameplay?gid=gm0000002725" target="_blank">金貨の森</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_206.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『金貨の森』はiPhoneゲーム。湯毛さんが挑戦します。</p></div>
<p>
作者名: キンカ
ウェブサイト: <a href="http://mogera.jp/userinfo?cid=mg0000060470" target="_blank">キンカ | モゲラ</a>
動作環境: ブラウザもしくはiPhone
ニコニコ動画: <a href="" target="_blank">金貨の森 紹介動画</a>
ゲームダウンロード: <a href="http://mogera.jp/gameplay?gid=gm0000002725" target="_blank">金貨の森(ブラウザ版)</a>
ゲームダウンロード: <a href="https://itunes.apple.com/jp/app/jin-huono-sen/id953827957?mt=8" target="_blank">金貨の森(iPhone版))</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
コインシューティングゲームです。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_207.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">タップでトマトを打ち抜くシンプルゲームです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_208.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">金貨、銀貨、銅貨を使い分けながら、敵の進入を拒むも、すぐGame Overに。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_209.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">けんじぃさんにバトンタッチ。「ゲーセンのコインゲームみたいだね(by けんじぃ)」</p></div>

<hr>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_211.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">もう6時になります。最初から見ている人も20人くらいいるんですね。すごい。</p></div>


<h3>31作目: 『<a href="http://www.yox-project.com/jp/himegimi/" target="_blank">姫君は優雅に推理する</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_212.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">推理ノベル『姫君は優雅に推理する』が始まりました。</p></div>
<p>
作者名: <a href="https://twitter.com/himegimi_yox" target="_blank">姫君は優雅に推理する【公式】</a>
ウェブサイト: <a href="http://www.yox-project.com/jp/" target="_blank"></a>
制作ソフト: ADV+++(自作ツール)
目安プレイ時間: 1時間から2時間程度
ジャンル: 推理ノベル
動作環境: Windows XP/Vista/7/8/8.1
ニコニコ動画: <a href="" target="_blank">姫君は優雅に推理する 紹介動画</a>
ゲームダウンロード: <a href="http://www.yox-project.com/jp/himegimi/" target="_blank">姫君は優雅に推理する</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
第1話 『アイドル声優殺人事件』を最初から最後まで無料で配布しています。
難しいという声も多いので、本当に難しいのか感想が欲しいです (`・ω・´)
スマホ (iOS / Android) では、先行して第２話、第３話を配信中 (有料でスマン) です。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_213.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">名探偵コナンっぽいストーリーが挟まれつつ、執事が登場。イケメンですね。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_214.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">姫様と執事は、日本へ!!</p></div>

<p>
もう時刻も6時。本日2015年8月16日はコミックマーケット88の最終日でもあります。戦士たちはビッグサイトに向かっている事でしょう。ご武運を!! もしかしたら、このブログもりんかい線で読んでいたりして。熱中症にはご注意ください!!敬礼!!
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_215.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">オタクなプリンセス、秋葉原に舞い降りる。ひなたさんの声優トレーニング受けながら実況を進めます。</p></div>

<p>
日本と秋葉原とアニメの賞賛がひたすら続きます。さあ、事件はいつ起きるのか。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_216.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">日本に訪れた金持ち王女、探偵事務所を始めます。「自分の国でやれよ!(by 湯毛)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_217.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここでタイムアーップ。事件が起きる前に終わりました。「平和ッッ!?!(by 湯毛)」</p></div>

<p>
けんじぃ「もうちょっと進みたかったね」
湯毛「続きは皆さん、ダウンロードして遊んでみて下さい」
</p>

<hr>

<h3>32作目: 『<a href="http://singoo.web.fc2.com/z/z2.html" target="_blank">全壊村</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_218.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『全壊村』開始。タイトル画面を見てコメント欄に戦慄が走ります。</p></div>
<p>
作者名: <a href="https://twitter.com/singooconoha" target="_blank">新Goo</a>
ウェブサイト: <a href="http://singoo.web.fc2.com/" target="_blank">新Gooの手作りゲーム工房</a>
ジャンル: 2Dアクション
動作環境: Flash版とダウンロード版
ニコニコ動画: <a href="" target="_blank">全壊村 紹介動画</a>
ゲームダウンロード: <a href="http://singoo.web.fc2.com/z/z2.html" target="_blank">全壊村(Flash版)</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/dl/win/4344" target="_blank">全壊村(ダウンロード版)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
本ゲームは崩壊村MODで作られています。
お手軽にザックリと楽しめます。
キーコンフィグ同梱で遊びやすいと思いますので
是非ともベストタイムを狙って頂きたいです。
（最後にタイムをツイートできる機能もあります。）
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_219.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">魔界村風味な画面が登場。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_220.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">横スクロールアクションゲームです。さぁ、進め、魔王の城まで!!</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_221.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">何度も死につつ、しかしここでタイムアップです。</p></div>

<p>
細かいギミックまで作り込まれている事が判ります。ブラウザからでも遊べるので、手軽で良いですね。
</p>

<hr>

<h3>33作目: 『<a href="http://www.freem.ne.jp/win/game/9153" target="_blank">歌舞り者。</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_222.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『歌舞り者。』のプレイ開始。第17作目の<a href="http://www.freem.ne.jp/win/game/7838" target="_blank">ヒトミ</a>と同じ作者さんです。<br /></p></div>
<p>
作者名: <a href="https://twitter.com/miru_tyatyatya" target="_blank">水松茶 茶々留</a>
目安プレイ時間: 1時間から2時間程度
制作ソフト: RPGツクールVX Ace
ジャンル: 舞台風アドベンチャー
動作環境: WindowsXP/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26201507" target="_blank">歌舞り者。 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9153" target="_blank">歌舞り者。</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
人形劇のような雰囲気で進むのに全く和まない！！
仮面をつけた人たちが正体を見抜いたり見抜かれなかったり、
推理ゲームのようで、そうでもないお話です。
グラフィックにも気を使っていますが、文章が主体のゲームです。
長文を読むと頭が割れる方はご注意ください。
</p>
</blockquote>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_223.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ちょっとシュールで、かわいらしいキャラクターが登場するアドベンチャーゲームです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_224.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ストーリーパートの商店街を抜けると……</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_225.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">頭脳ゲームが始まりました。ルールに手間取る実況3人組です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_226.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">日常シーンに戻ります。学校や商店街を行き来してストーリーを読み進めます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_227.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">エビ部を作る。というシーンで、終了です。なんだ、なんなんだ、エビ部。</p></div>


<p>
3人の総括です。これで、湯毛さん、けんじぃさん、ひなたさん3人組は終了となります。お疲れ様でした。
</p>
<p>
ひなた「3時間ありがとうございました。ともかく、おもしろくて。家でも私も一人でやってみようかなと思うのばかりでした。作りもとっても良くて、どのゲームの内容も良かったです。みなさんも是非試して頂けると嬉しいです。」
湯毛「飛び入りでございました。僕もゲームフェスに何度か出させて頂きましたが、家に帰ってやってみたいゲームがいっぱいあるなと思います。ありがとうございました。」
けんじぃ「過去に何回か出ていますが、出る度にクォリティが上がっています。全作品ひととおり触ってみたいなぁと。私もゲーム制作に興味がありまして。次回は作ってみたいなと思います。」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_228.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">二人の茶髪に囲まれるひなたさんの図。</p></div>

<p>
このファンアートの作者は、<a href="http://seiga.nicovideo.jp/user/illust/46310637" target="_blank">CHIaKIさん</a>です。
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5119366?track=seiga_illust_keyword" target="_blank">自作ゲームふぇす！</a>』です。ニコニコ静画から拡大版を見れます。
</p>


<hr>
</section>
<section>
<h2><span class="number">05</span>続きは<a href="http://tomotaka.tk/nicofes2016_live_summary4">その4</a>へ!!</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_229.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">わたくしさん、ピクトさんにバトンタッチです。</p></div>

<a href="https://twitter.com/watakushi_games" target="_blank">わたくしさん</a>と、<a href="https://twitter.com/p1kt3" target="_blank">ぴくとさん</a>が来たので、続きは<a href="http://tomotaka.tk/nicofes2016_live_summary4">Part4</a>に書き連ねていきます。そぉい!!
</section>


<!--end-->
