<!--
第20回3分ゲーのルール改訂＆事前抽選開始
3punge20_1
2015/08/29 11:29

第20回3分ゲーコンテストの規約を改定しました。事前抽選制に変更し、事前抽選を開始しました。A抽選の応募期間は9月1日23時59分までです。参加希望者は早めに応募してくださいね。
 -->
<section>
<h2><span class="number">01</span>第20回3分ゲーコンテストの事前抽選を開始しました</h2>
<div class="wp-caption alignnone"><a href="https://docs.google.com/a/tomotaka.biz/forms/d/13fBJ7BjnSO_a4jpFe0sdcHoJJ94YN0Z852qmbpe1_xM/viewform" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150829_3pungeRule2_Alot.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">第20回3分ゲーコンテストA抽選に応募する</p></div>
<p>
事前抽選を開始しました。参加する方は<a href="https://docs.google.com/a/tomotaka.biz/forms/d/13fBJ7BjnSO_a4jpFe0sdcHoJJ94YN0Z852qmbpe1_xM/viewform" target="_blank">応募フォーム</a>から参加申請をしてください。
</p>
</section>

<section>
<h2><span class="number">02</span>応募ルールの変更点</h2>
<p>前回の記事<a href="http://tomotaka.tk/3punge_rule/" target="_blank">3分ゲーコンテスト規約草案</a>で頂いたご意見を元に、応募ルールの変更を行いました。</p>
<ol>
<li>抽選方式を事前抽選制に変更しました</li>
<li>応募作品の公開期間が半永久的である事を規約に追加しました</li>
</ol>
<p>
大きな変更点はこの2点になります。詳しく記します。
</p>
</section>




<section>
<h2><span class="number">03</span>事前抽選制への変更</h2>
<p>
一番ご要望が多かった点です。応募に関する抽選方式を、事前抽選制へ変更しました。A抽選で20名、B抽選で10名が当選します。A抽選は9月2日発表、B抽選は9月9日発表です。
抽選期間をある程度確保しつつ、しかし応募者の皆様が早めに制作に取りかかれるよう、抽選を2回に分けました。
A抽選で落ちた人はB抽選に応募する事もできます。ご自身のスケジュールを鑑みて、応募してください。
</p>

<h3>連続出場の禁止</h3>
<p>
第20回に当選した30名の方は、第21回には参加できません。連続参加は禁止という事です。
</p>

<h3>落選時の救済措置(次回当選確率が5倍)</h3>
<p>
A抽選・B抽選どちらかに応募して落選した場合、第21回3分ゲーでの当選倍率が5倍になります。しかし次々回(第22回)にはその権利は消失します。
</p>

<h3>A抽選、B抽選の重複応募はOK</h3>
<p>
A抽選とB抽選の重複応募はOKです。ただし、A抽選の当落発表が9月2日で当選者20名に対して、B抽選は9月9日発表で当選者10名です。すでに応募する気マンマンな方は、早めに応募した方がオトクかもです。
「ゲームが完成してから応募したい」とか「まだ参加するかどうか考え中」という方は、応募を見送るのもアリです。
</p>

<h3>当落結果の発表</h3>
<p>
当落結果は3分ゲーコンテストのウェブサイト(9月2日には出来てる……はず。たぶん。)と、メールでご連絡致します。
</p>
<p>
ウェブサイト上には「作品名」「ジャンル」が公開されます。「作者名」「メールアドレス」は公表されません。応募や当落の状況は、個々人での発表にお任せ致します。
これは、あえて匿名にする事で、当選したけれどエターなって応募不可になった方が、必要以上に批判に晒されない為の措置です。
</p>
<p>
作者名は正式に応募完了した時(ゲームの投稿が完了した後)に公表されます。
</p>

<p>
事前抽選を含めた第20回3分ゲーコンテスト全日程は下記の通りとなります。
</p>

<table>
	<caption>第20回3分ゲーコンテスト A抽選</caption>
	<thead>
		<tr>
			<th>事象</th>
			<th>日付</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>抽選応募期間</td>
			<td>8月29日(土)〜9月1日(火)23時59分</td>
		</tr>
		<tr>
			<td>当選結果発表</td>
			<td>9月2日(水)1時くらい。</td>
		</tr>
		<tr>
			<td>当選者数</td>
			<td>20名</td>
		</tr>
	</tbody>
</table>

<table>
	<caption>第20回3分ゲーコンテスト B抽選</caption>
	<thead>
		<tr>
			<th>事象</th>
			<th>日付</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>抽選応募期間</td>
			<td>9月2日(水)〜9月8日(火)23時59分</td>
		</tr>
		<tr>
			<td>当選結果発表</td>
			<td>9月9日(水)1時くらい</td>
		</tr>
		<tr>
			<td>当選者数</td>
			<td>10名</td>
		</tr>
	</tbody>
</table>

<table>
	<caption>第20回3分ゲーコンテスト 本選スケジュール</caption>
	<thead>
		<tr>
			<th>事象</th>
			<th>日付</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>応募受付開始</td>
			<td>2015年09月14日(月)12時00分</td>
		</tr>
		<tr>
			<td>応募締切</td>
			<td>2015年09月21日(月)12時00分</td>
		</tr>
		<tr>
			<td>一般公開・審査開始</td>
			<td>2015年09月23日(水)中</td>
		</tr>
		<tr>
			<td>審査投票終了</td>
			<td>2015年10月13日(月)00時00分</td>
		</tr>
		<tr>
			<td>審査結果公開</td>
			<td>2015年10月13日中</td>
		</tr>
	</tbody>
</table>
</section>
<section>
<p>
当選人数は30名に増やしました。これは何名かの方がエターナる(完成せず応募できない)事を考慮しての数字です。と同時に、仮に30作品全てが応募されてきても、なんとか運営努力でカバーできるかな。という範囲です。
</p>
<p>
3分ゲーコンテストは現状、全応募作品の内容確認を行います。そのため運営的にもあまり1回の応募作品数を増やせないという現状があります。
また、応募作品が多すぎると、一般審査員であるプレイヤーにとっても、ゲームを完遂する事が難しくなります。ダウンロード容量の問題も無視できなくなってくる。
以上の理由から、20作品から緩和しつつも、今回は30作品が最大枠という事でやりたいと思います。様子を見て、応募枠は次回以降も調整していく予定です。
この件に関して案を下さった、<a href="http://urauraurauraura.web.fc2.com/" target="_blank">獣男さん</a>、<a href="http://chunkof.net/" target="_blank">chunkofさん</a>、<a href="http://div332.web.fc2.com/title.html" target="_blank">夢幻台さん</a>、myackyさん、ありがとうございました。
</p>
<p>
ざんねん権は、形を変えて残る事になりました。第20回で落選した人が第21回に応募した時、当選倍率が5倍になります。ただし第22回は1倍に戻ります。本当は落選した場合は、第21回に当選確定にしようかとも思いましたが、第20回の応募希望者が70名とかになった場合に破綻する可能性が見えたので、やっぱり抽選制を取り入れました😢。
この件に関してご指摘してくださった、<a href="http://chunkof.net/" target="_blank">chunkofさん</a>、ありがとうございました。
</p>
<p>また、匿名で色々なご意見・ご指摘も頂戴しました。この場を借りて、御礼申し上げます。ありがとうございます🙇</p>
</section>

<section>
<h2><span class="number">04</span>3分ゲー応募作品の取り下げについて</h2>
<p>
応募作品の公開期間が半永久的である事を規約に追加しました。<a href="http://tomotaka.tk/3punge_rule/" target="_blank">前回の記事</a>の「その他よくありそうな質問」の項目に記述していた件を、正式に規約に盛り込みました。
</p>
<p>
すなわち、3分ゲーコンテストに応募された作品は、半永久的にフリーウェアとして公開される事を想定してください。
これは、応募作品や受賞作品がフリーウェアとして公開されなくなり、遊べなくなる事を避けるねらいです。例えば「シェアウェアとして公開したいので、フリーウェア版の公開を停止する」といった願いは認められません。「3分ゲーに応募した作品のアップデートは停止し、シェアウェアや同人販売で完全版を作成・配布する」という方法は問題ありません。3分ゲーに投稿時の状態さえ残っていればOKという意味であり、それ以外の展開は作者様の判断によります。
しかし公開停止については、いろいろな事情があるでしょうから、柔軟に対応します。個別にご連絡下さい。
</p>
</section>


<section>
<h2><span class="number">05</span>第20回3分ゲーコンテスト規約</h2>
<p>
以上を加味しまして、第20回3分ゲーコンテストの規約を更新しました。<a href="https://github.com/tomotakatk/3punge/blob/master/rule.md" target="_blank">拡大版はこちらから</a>。Githubでバージョン管理します。
</p>
<script src="http://gist-it.appspot.com/github/tomotakatk/3punge/blob/master/rule.md"></script>
</section>
