<!--
ホラーゲーム+自作ゲーム70作品実況リアルタイムまとめ(1)
nicofes2016_live_summary
2015/08/15 16:47

ニコニコ自作ゲームフェス5の実況を、リアルタイムでまとめます。全6パートの1番目。すなわち最初の記事です。
-->
<section>
<h2><span class="number">01</span>リアルタイムまとめ1から6のリンク</h2>
<p>
<a href="/nicofes2016_live_summary">Part1</a>、<a href="/nicofes2016_live_summary2">Part2</a>、<a href="/nicofes2016_live_summary3">Part3</a>、<a href="/nicofes2016_live_summary4">Part4</a>、<a href="/nicofes2016_live_summary5">Part5</a>、<a href="/nicofes2016_live_summary6">Part6</a>、
</p>
</section>


<section>
<h2><span class="number">02</span><a href="http://live.nicovideo.jp/watch/lv228989563" target="_blank">放送はこちらから</a>lv228989563です。</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_title.png" width="810" height="169"  class="size-full" /><p class="wp-caption-text">ニコニコ自作ゲームフェス2016のイメージイラスト</p></div>
<blockquote>
<p>
ニコニコ自作ゲームフェス５受賞作品、ホラーゲームフェス受賞作品を計70作品をぶっ通し生放送！
今回より、ニコニコゲームマガジン連載作品も登場！
16日13時より、ニコニコ自作ゲームフェス５＋ホラーゲームフェス表彰式も生放送。
ニコニコ自作ゲームフェス５大賞作品も発表されます！
お気に入りのゲーム＆実況者に出会えるかも？！
</p>
</blockquote>
<p>
ニコニコ動画が主催するフリーゲームコンテスト「ニコニコ自作ゲームフェス5」の生放送です。ゲーム実況者がぶっ続けで、応募作品をプレイしていきます。
</p>
<p>
私自身はニコニコ自作ゲームフェス5のゲームはその多くが未プレイなので、備忘の意味もかねて、まとめます。放送の最初から書こうと思ったけれど、最初の30分は準備に手間取ったので、オープニングとかは後で書き足します。
リアルタイムで編集していくので、誤字やミスがあるかも。コメント欄で指摘してもらえたら、随時なおします。
</p>
</section>
<section>
<h2><span class="number">03</span>実況者3人組ホラーゲーム実況!</h2>
<p>
16時から19時までの実況者は、<a href="https://twitter.com/Palmira0707" target="_blank">パルミラさん</a>、<a href="https://twitter.com/zetyou2" target="_blank">ズズさん</a>、<a href="https://twitter.com/kada_teion" target="_blank">KADAさん</a>の3名。
</p>

<h3>1作目『<a href="https://itunes.apple.com/jp/app/mi-jieki-tuo-chugemu-madjiyami/id683945916?mt=8" target="_blank">マヂヤミ彼女</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_01.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">マヂヤミ彼女</p></div>
<p>
実は音楽が流れていなかった1作目。
</p>
<p>
作者はミオヤマザキさん。スマホの中でスマホを操作する、探索系ノベルゲームです。ゲームのダウンロードはiTunes Storeから。
</p>
<p>
作者名: <a href="https://twitter.com/mio_yamazaki" target="_blank">ミオヤマザキ</a>
作者サイト: <a href="http://www.mioyamazaki.jp/" target="_blank">ミオヤマザキ</a>
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26216920" target="_blank">マヂヤミ彼女 応募動画</a>
ゲームダウンロード: <a href="https://itunes.apple.com/jp/app/mi-jieki-tuo-chugemu-madjiyami/id683945916?mt=8" target="_blank">マヂヤミ彼女(iTunes Store)</a>
</p>


<hr>
<!--1作目終了-->




<h3>2作目『<a href="http://www.freem.ne.jp/win/game/7872" target="_blank">雨宿バス停留所</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_02.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">雨宿バス停留所。コメントで名作と評判です。</p></div>

<p>
作者名: <a href="https://twitter.com/kaoru_lpn" target="_blank">かおる</a>
ウェブサイト: <a href="http://music.geocities.jp/moon_side_ms/" target="_blank">月の側面-Moon Side-</a>
制作ソフト: RPGツクールVX Ace
目安プレイ時間: 2時間から3時間
ジャンル: ホラーアドベンチャー
動作環境: WindowsXP/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25859226" target="_blank">雨宿バス停留所 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/7872" target="_blank">雨宿バス停留所(ふりーむ)</a>
</p>
<p>
ゲームの音が流れない不都合が発生。運営さんが解決して、再開。
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_04.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">放送記念すべき初Death.</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_05.png" width="807" height="450"  class="size-full" /><p class="wp-caption-text">追いかけられたり、探索したり。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_06.png" width="807" height="450"  class="size-full" /><p class="wp-caption-text">3Death目。がんがん死ぬ。という所で、タイムアップ。</p></div>

<p>
まだまだ序の口の所でゲーム終了。「心のかけら」を探索している途中での終了です。
</p>




<hr>
<!--2作目終了-->

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_07.png" width="807" height="450"  class="size-full" /><p class="wp-caption-text">フリートーク。りんごって美味しいですよね😅</p></div>

<hr>



<h3>3作目『<a href="http://www.freem.ne.jp/win/game/9065" target="_blank">氷の世界</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_08.png" width="807" height="450"  class="size-full" /><p class="wp-caption-text">3作品目は、氷の世界。</p></div>
<p>
作者名: <a href="https://twitter.com/ber0601" target="_blank">ジグル</a>
ウェブサイト: <a href="http://gardeniagirl.web.fc2.com/" target="_blank">Giggle フリーゲーム公式サイト</a>
作品名: 氷の世界
制作ソフト: RPGツクールVX Ace
目安プレイ時間: 2.5時間から5時間
ジャンル: 現代ロック×ホラーアドベンチャー
受賞: 敢闘賞 スタイリッシュホラー賞受賞
動作環境: WindowsXP/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26010917" target="_blank">氷の世界 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9065" target="_blank">氷の世界(ふりーむ)</a>
<p>
バトルパートと逃亡パートを使い分けてクリアを目指す、ホラーゲームです。キャラクターの立ち絵が可愛い。
</p>

</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_09.png" width="807" height="450"  class="size-full" /><p class="wp-caption-text">イケメン主人公、二神くん。アパートを探索開始です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_10.png" width="807" height="450"  class="size-full" /><p class="wp-caption-text">兄からの異常な電話に驚く主人公と実況者たち。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_11.png" width="807" height="450"  class="size-full" /><p class="wp-caption-text">鳴り響くチャイムがやたらリアルでビビります。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_13.png" width="807" height="450"  class="size-full" /><p class="wp-caption-text">アクションパートに突入。いきなり即死です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_14.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">でかい。が話題ですが、異世界に飛ばされた理由が語られます。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_15.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">謎の少女から氷の世界の説明をうけます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_16.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">ズズさん、漢字を間違えて総ツッコミを受けるの図。さいより駅に向かおう。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_17.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">はじめてのバトルシーン!! そこでタイムアップで放送終了</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_18.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">ざんねんタイムアップ。</p></div>

<p>
「スタイリッシュさがあり、ホラーも劣っていない(by スズ)」
さいより駅まで辿り着きかったですね。ざんねん。
</p>

<hr>
<!--3作目終了-->

<h3>4作目: 『空腹島』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_19.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">4作品目はaaaaさんの空腹島です。</p></div>

<p>
作者名: aaaaa
ウェブサイト: <a href="http://unitygame.moo.jp/" target="_blank">unityでミニゲーム。STONEGAME</a>
作品名: <a href="http://unitygame.moo.jp/index.html" target="_blank">空腹島</a>
制作ソフト: Unity
目安プレイ時間: 30分
ジャンル: ホラーアクション
動作環境: Windows/Mac/LinuxでUnity Playerをインストールしたブラウザ
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26213550" target="_blank">空腹島</a>
ゲームダウンロード: <a href="http://unitygame.moo.jp/game_horror/game1.html" target="_blank">空腹島(作者サイト)</a>
</p>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_21.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">3Dダンジョン探索ゲーム。……なんかいるぞ?</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_22.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">このへんないきものは、まだ日本にいるのです。たぶん。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_23.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">KADAさん、手慣れた手つきで探索を進めるも、不可解な動きで難易度高め。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_24.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">あれ? 首の体操をする女がいますね? byスズ</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_25.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">絶叫😱。</p></div>

<p>
敵キャラが増殖するなか、クリアを目指して再挑戦します。いやはや、なかなか難易度が高そうです。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_26.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">ここでタイムアップ。</p></div>

<p>
ズズさんの絶叫で始まり、絶叫で終わった実況でした。KADAさん「いやー非常に落ち着いてプレイできるゲームでしたね」
</p>

<hr>

<h3>5作目: 『<a href="http://yuyami1999.web.fc2.com/download.html" target="_blank">怪異症候群2</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_27.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">怪異特有の空気感を感じつつ、怪異症候群2スタート。</p></div>
<p>
作者名: <a href="https://twitter.com/nao0327s" target="_blank">ナオ</a>
ウェブサイト: <a href="http://yuyami1999.web.fc2.com/index.html" target="_blank">夕闇の季節</a>
作品名: 怪異症候群2
制作ソフト: RPGツクール2000
目安プレイ時間: 4時間から
ジャンル: ホラーアドベンチャー
動作環境: WindowsXP/Vista/7/8/8.1
受賞: 怪談賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25976238" target="_blank">怪異症候群2 紹介動画</a>
ゲームダウンロード: <a href="http://yuyami1999.web.fc2.com/download.html" target="_blank">作者サイトより</a>
</p>
<p>
長編ホラーアドベンチャーの第2弾で、銃を用いたアクションがあるとの事です。前作の<a href="http://yuyami1999.web.fc2.com/download.html" target="_blank">怪異症候群</a>をプレイするとより楽しめるとの事。「ネット上の怪談話をふんだんに取り入れています(byKADA)」
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_28.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">開始1分。銃アクションになれず、即死Death。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_29.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">拳銃を片手に、和風屋敷の中を探索します。パルミラさん挑戦中。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_30.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">まだまだ探索が続く中で、タイムアップ。</p></div>
<p>
3時間の実況でしたがスズさん、パルミラさん、KADAさんの3人組はここで終了。応援イラストが届いています。
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_32.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">氷の世界のジグルさんかも応援イラストが届いています。</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/ber0601" target="_blank">ジグルさん</a>です。
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5118272?track=seiga_illust_keyword" target="_blank">ホラーゲーム＋自作ゲーム70作品31時間ぶっ通しゲーム実況</a>』です。ニコニコ静画から拡大版を見れます。
</p>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_31.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">リスナーさんからの応援イラスト。かわいい!</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/tanakasan_m" target="_blank">三島さん</a>です。<a href="http://www.pixiv.net/member.php?id=1928175" target="_blank">Pixivはこちら</a>です。
作品名は『<a href="" target="_blank">ぶっ通し生！</a>』です。ニコニコ静画から拡大版を見れます。
</p>

<hr>

<p>
ズズ「5作品やらせてもらいましたが、どれも違った魅力があって、フリーホラーゲームって素晴らしいなと思いました。これからも引き続き見ていって下さい。今日はありがとうございました!!」
パルミラ「今回やった作品はすべて初見でやらせて頂きました。作者さんの個性がつまった思いで深い作品でした。みなさんも是非ダウンロードしてみてください」
KADA「全部ホラーゲームという事で、夏にピッタリのゲームを楽しませて頂きました。やはり時間が足りなかったので、続きはみなさんダウンロードして遊んでみてください。あと、いつも動画ばかり作ってしまっていますが、次こそは何か出せたらいいなと考えております。みなさんも是非ゲームを作って投稿してみてください」
</p>
</section>


<section>
<h2><span class="number">04</span><a href="https://twitter.com/towacofox" target="_blank">towacoさん</a>さん and <a href="https://twitter.com/2525funky_p" target="_blank">ふぁんきぃさん</a>ペアのターン</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_33.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">バトンタッチです。</p></div>
<p>
続いては<a href="https://twitter.com/towacofox" target="_blank">towacoさん</a>と<a href="https://twitter.com/2525funky_p" target="_blank">ふぁんきぃさん</a>に引き次いで、放送です。
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_34.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">実況界のセックスシンボルふぁんきぃさんと、真面目風towacoさん</p></div>


<hr>

<h3>6作目: 『虚白ノ夢』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_35.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">多数の賞を獲得した、『虚白ノ夢』スタートです。</p></div>
<p>
作者名: <a href="" target="_blank">カナヲ</a>
ウェブサイト: <a href="http://teritoma.blog.fc2.com/" target="_blank">てりやきトマト</a>
作品名: 虚白ノ夢
制作ソフト: RPGツクールVX Ace
目安プレイ時間: 3時間程度
ジャンル: 過去を探す探索ホラーアドベンチャーゲーム
動作環境: WindowsXP/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26175914" target="_blank">虚白ノ夢 紹介動画</a>
ゲームダウンロード: <a href="http://teritoma.blog.fc2.com/blog-entry-53.html" target="_blank">虚白ノ夢 作者サイトより</a>
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_36.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">「うわ、めんどう臭そうな女やなぁ」(byふぁんきぃ)</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_37.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">「鏡を割るゲームなんだね」(by towaco)</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_38.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">イケボで頑張る実況者魂。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_39.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">謎解きシーン。明晰towacoさん。</p></div>

<p>
この二人の実況は賑やかだなぁ。怖さマイナス100%
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_40.png" width="806" height="450"  class="size-full" /><p class="wp-caption-text">複数の世界を行き来してクリアを目指していきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_42.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">即死トラップに絶叫する、ふぁんきぃさん。コメント爆笑。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_43.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">リスナーと力をあわせて、謎を解け!! さぁ、みなさんご一緒に!! いっせーの……</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_44.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">そして死亡。ゲーム実況もタイムアップに。ちーん。</p></div>

<p>
「え、おわり? もっとやらせてょー。でも謎解きとアクションがちょうどよかったですね!!!」(by ふぁんきぃ)
</p>

<hr>

<h3>7作目: 『<a href="http://www.freem.ne.jp/win/game/8274" target="_blank">ミナバリの絆</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_45.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ミナバリの絆のプレイ開始。神社を舞台に展開するアドベンチャー。</p></div>
<p>
作者名: 水鏡千春
作品名: ミナバリの絆
制作ソフト: RPGツクールVX Ace
目安プレイ時間: 4時間程度
ジャンル: 探索ホラーアドベンチャー
動作環境: WindowsXP/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25283949" target="_blank">ミナバリの絆 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8274" target="_blank">ミナバリの絆(ふりーむ)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_46.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「Kカップくらいありますね、この娘(by ふぁんきぃ)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_47.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ストーリーでミナバリ様の怪異を語っているのに</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_48.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">胸についてしか話さない、実況者2名。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_49.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ようやく始まる探索シーン。神社周りをうろうろします。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_50.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">何も始まらない所で、タイムアップ。</p></div>
<p>
「キャラが立っていて、良かったですね。全然進めなかったですけれど(by ふぁんきぃ)」
</p>

<hr>

<h3>8作目: 『<a href="http://jumoku.webcrow.jp/" target="_blank">～呪目～jumoku</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_51.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">次のゲームは『呪目』本格的なホラーアドベンチャーです。</p></div>
<p>
作者名: <a href="https://twitter.com/oGARANAo" target="_blank">れいん`s</a>
作品名: ～呪目～jumoku
制作ソフト: RPGツクールXP
目安プレイ時間: 1時間程度
ジャンル: ホラーADV
動作環境: Windows XP/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26201157" target="_blank">～呪目～jumoku< 紹介動画/a>
ゲームダウンロード: <a href="http://jumoku.webcrow.jp/" target="_blank">～呪目～jumoku(作者サイトよりDL)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_52.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">あまりの怖さに固まるふぁんきぃさん。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_53.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">先ほどの作品とはうって変わって、恐怖を煽る。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_54.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ようやっと探索シーンが始まりました。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_55.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うわぁ……(by ふぁんきぃ)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_56.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">自分から電話がかかってくる。</p></div>

<p>
towaco「感想は?」
ふぁんきぃ「…………😨」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_57.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ちーん!! ここでタイムアップ!!</p></div>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_58.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">消化不良〜まだやりたいー!!</p></div>

<p>
「追いかけられる系ゲームだと思うな。探索を進めながら敵が出てくるかんじ(by towaco)」
「これ、うっちゃべってばかりで申し訳なかったけれど、こんなに良い所で区切りがついたから、続きはみなさんダウンロードして遊んでみて下さい(by ふりっぴぃ)」
</p>

<h3>9作目: 『<a href="http://www.freem.ne.jp/win/game/8166" target="_blank">青巫女幻想曲</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_59.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『青巫女幻想曲』スタート</p></div>
<p>
作者名: <a href="https://twitter.com/naidenpg" target="_blank">ナイデン内田</a>
ウェブサイト: <a href="" target="_blank"></a>
作品名: <a href="http://www.freem.ne.jp/win/game/8166" target="_blank">青巫女幻想曲</a>
制作ソフト: WOLF RPGエディター
目安プレイ時間: 1時間から2時間
ジャンル: 探索型ホラーアドベンチャー
動作環境: Windows XP/7/8/8.1/10
ニコニコ動画: <a href="" target="_blank">青巫女幻想曲 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8166" target="_blank">青巫女幻想曲(ふりーむ)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_60.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">10歳の誕生日を迎えた主人公あやめの物語。</p></div>

<p>
さっきから打って変わって、可愛いキャラクターを目にしてテンションが上がりまくる二人。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_61.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">神社の娘として、3つの試練を受けなければなりません。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_62.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">首を狩る者の攻撃をかわし、試練をクリアしなくちゃ。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_63.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">部屋を探索して、怪物に食べられないようにしなく……あっ</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_64.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ぬるぬる動くウディタに慣れず、Deathをかさねつつ進めます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_65.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">かなり良い所まで勧めつつも、タイムアーップ。</p></div>
<p>
ふぁんきぃ「これ良かったあなぁ。あやねちゃんが良かった」
towaco「9歳ですけど」
ふぁんきぃ「下は3歳、上は65歳まで行けますよ!!」
</p>

<hr>

<h3>10作目: 『<a href="http://www.freem.ne.jp/win/game/9111" target="_blank">牢-RAW-</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_66.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">次のゲームは『牢-RAW-』タイトル画面からして怖い。</p></div>
<p>
作者名: カッパ永久寺
ウェブサイト: <a href="http://kappaaqg.web.fc2.com/" target="_blank">河童堂</a>
作品名: <a href="http://www.freem.ne.jp/win/game/9111" target="_blank">牢-RAW-</a>
制作ソフト: WOLF RPGエディター
目安プレイ時間: 1時間から2時間
ジャンル: ホラーアドベンチャー
動作環境: Windows XP/Vista/7/8/8.1/10
ニコニコ動画: <a href="www.nicovideo.jp/watch/sm26172796" target="_blank">牢-RAW- 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9111" target="_blank">牢-RAW-(ふりーむ)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_67.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">オープニングからして怖そうです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_68.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「かわぃいい」(by towaco and ふぁんきぃ)</p></div>

<p>
可愛いキャラクターが出てくると、テンションが上がりますね。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_69.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ゲームオーバーになりつつも、すこしずつ謎を解いていきます。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_70.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">本棚を探して、謎に挑みます。コメントでも力を合わせるものの……</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_71.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">なかなか難しく、ゲームオーバーに。タイトル画面に戻されます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_73.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">謎がとけた!! と思った所でタイムアップ!! 泣きの延長戦を求めて荒ぶるふぁんきぃさん</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_74.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">しかしッ……、ダメッ……!! 解けないッ……!!! 圧倒的絶望!! </p></div>
<p>
ここで時間終了。
towaco「とんだ謎解きゲーじゃないですか!!」
ふぁんきぃ「うわあああああぁあぁぁぁぁ!!」
ふぁんきぃ「我々このゲーム、まだなにひとつ楽しめてないよ!!!」
towaco「あそこ突破してから、本編はじまると思うねん。」
ふぁんきぃ「めっちゃ悔しかったなぁ」
</p>

<hr>

<h3>11作目: 『<a href="http://www.freem.ne.jp/win/game/8643" target="_blank">無感無痛[無痛少女]</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_75.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">次の作品は『無感無痛[無痛少女]』です。コントローラーの操作に迷いつつ、スタート。</p></div>
<p>
作者名: <a href="https://twitter.com/noriziroo" target="_blank">のりじろ</a>
作品名: <a href="http://www.freem.ne.jp/win/game/8643" target="_blank">無感無痛[無痛少女]</a>
目安プレイ時間: 20分程度
ジャンル: マルチエンディングホラーアクション
動作環境: Windows XP/Vista/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25820624" target="_blank">無感無痛[無痛少女] 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8643" target="_blank">無感無痛[無痛少女](ふりーむ)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_76.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">暗い部屋の中、独特の雰囲気で進んでいきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_77.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「雰囲気ゲーかな?(by towaco)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_78.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">突然の死。荒ぶってtowacoに抱きつくふぁんきぃさん「痛い。けっこう痛い(by towaco)」</p></div>
<p>
towaco「これ、スゴイなぁ。これ、スゴイ雰囲気やなぁ」
ふぁんきぃ「これ、精神的にぐんにゃり来る」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_79.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">時間差で死んだり、じわじわ迫ったり、心理の隙を突いた恐怖感!!</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_80.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">そんなこんなでタイムアップ。一応山場を越えた所で終了です。</p></div>

<p>
ここで<a href="https://twitter.com/towacofox" target="_blank">towacoさん</a>と<a href="https://twitter.com/2525funky_p" target="_blank">ふぁんきぃさん</a>ペアの実況は終了です。お疲れ様でした!!
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_81.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">リスナー提供イラスト!! 二人の雰囲気が良くでてます</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/murasame270" target="_blank">cohinotaさん</a>です。<a href="http://www.pixiv.net/member.php?id=6663997" target="_blank">Pixivはこちら</a>
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5118532?track=seiga_illust_keyword" target="_blank">自作ゲームフェス2016！</a>』です。ニコニコ静画から拡大版を見れます。
</p>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_82.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">巨乳にはじまり、巨乳で終わった、ふぁんきぃ and towaco放送でした。</p></div>

<p>
<p>
このファンアートの作者は、<a href="https://twitter.com/tanakasan_m" target="_blank">三島さん</a>です。<a href="http://www.pixiv.net/member.php?id=1928175" target="_blank">Pixivはこちら</a>です。
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5118549?track=seiga_illust_keyword" target="_blank">奇乳</a>』です。ニコニコ静画から拡大版を見れます。
</p>




<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_83.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">盛大な拍手でバトンタッチ</p></div>


<hr>

<p>
静画のリンクは後で貼ります。探す時間がとれなくて……作者様、すいません🙏💦
というか私もそろそろお腹が減りました……ずっとHTMLとPhotoshopをシャトルランよろしく往復しまくってます。
</p>

<p>
次の実況者は、<a href="https://twitter.com/kamakubi29" target="_blank">鎌首さん</a>、<a href="https://twitter.com/shel4869" target="_blank">Shelさん</a>、<a href="https://twitter.com/nekomaguro624" target="_blank">猫マグロさん</a>の3人組です。ニコニコゲームマガジンの連載作品『殺戮の天使』からスタートです。
</p>


<h3>12作目: 『<a href="http://info.nicovideo.jp/gamemaga/satsuriku/" target="_blank">殺戮の天使</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_84.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">実況者をバトンタッチして、『殺戮の天使』開始です。</p></div>
<p>
作者名: 星屑KRNKRN（真田まこと）
ウェブサイト: <a href="http://nanos.jp/hskzkrnkrn/" target="_blank">星屑KRNKRN</a>
作品名: <a href="http://info.nicovideo.jp/gamemaga/satsuriku/" target="_blank">殺戮の天使</a>
目安プレイ時間:
ジャンル: サイコホラーADV
動作環境: Windows
ゲームダウンロード: <a href="http://info.nicovideo.jp/gamemaga/satsuriku/" target="_blank">殺戮の天使(ニコニコ公式)</a>
</p>

<p>
<span class="strong_red">「ゲームで遊ぶ者にとっては、ゲームを作るっていうのは、夢ですからね(by Shel)」</a>
みなさんも作って、ニコニコ自作ゲームフェスに応募しましょう。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_85.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">舞台は病院。女の子の主人公を操作して、探索します。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_86.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">三人寄らば文殊の知恵、となるか??</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_87.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">はいッ、あっという間に死にました😇</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_88.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">フロアを移動しながら、敵から逃げていきます。</p></div>

<p>
精神病院をレイチェルが駆け回ります。
鎌首「ほら、すぐに敵がレイチェルを捕まえないのは、いたぶりた……いや、なんでもない」
猫マグロ「いたぶりたいからですね。」
鎌首「言っちゃったよ」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_89.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">Shelさんがプレイを進めますが……</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_90.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">そこでタイムアーップ。でも結構進みましたね。</p></div>

Shel「ストーリーが気になるし、怖いというのもありますが、設定が色々と深くて、考えたくなるゲームですね。」
猫マグロ「ダウンロードは無料で出来ますから、遊んでみて下さい!!」
</section>

<section>
<h2><span class="number">05</span>続きは<a href="http://tomotaka.tk/nicofes2016_live_summary2">その2</a>へ!!</h2>
<p>
まさかこんなに続くとは思っていなかったのですが、(というか、31時間ってマジっすか😇)この1ページの容量が10MBにさしかかったので、次ページに移行します。
そぉい!!!
<span class="strong_gray">追記・更新回数 137回</span>
</p>
</section>

<!--end-->
