<!--
3分ゲーコンテスト復活とコメント返し
3punge_open
2015/8/15
3分ゲーコンテストを復活させようとしたら、けっこう反響がありました。第20回3分ゲーコンテストは、2015年秋の開催を目標に、準備を進めています。
-->
<section>
<h2><span class="number">01</span>復活、3分ゲーコンテスト</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_3pungeLegend.png" width="810" height="195"  class="size-full" /><p class="wp-caption-text">アンケートに設置した旧3分ゲー殿堂作品のバナー</p></div>
<p>
前回の『<a href="http://tomotaka.tk/tkoolorg_open/" target="_blank">ツクール新聞復活</a>』に引き続き、3分ゲーコンテストの復帰準備中です。ドメイン業者に旧3分ゲーコンテストのドメインを奪われてしまっているので、新しく取り直さなければなりません。以前ドメイン業者に「ドメインを返して下さい」ってメールしたら「返して欲しけりゃ、50万円入金しろ」とのこと。ちくしょう、50万円あったら、賞金にするわ。というわけで、URL何がいいかなー。netかなー、orgかなー、jpかなー。と考えて、<a href="https://goo.gl/forms/486hEKMbk5" target="_blank">アンケートを作りました</a>。
</p>
<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーコンテストの復活にともない、URLの投票を行います。1分もかからない、簡単なアンケートなので、気軽にポチって頂けると嬉しいです🎮😆 - <a href="https://t.co/SaQgZZ6Mqe">https://t.co/SaQgZZ6Mqe</a> <a href="http://t.co/SRXO1rBKal">pic.twitter.com/SRXO1rBKal</a></p>&mdash; トモタカ (@tomotakatk) <a href="https://twitter.com/tomotakatk/status/631242291529674753">2015, 8月 11</a></blockquote>
<p>
ひっそりと朝にツイートしたので、30票くらいレスがあるといいなぁ。と思っていたら、予想外に反響があって、700アクセス、135票、30コメントも集まりました。びっくり。みなさま投票ありがとうございました。
</p>
</section>
<section>
<h2><span class="number">02</span>アドレスは3punge.jpに決定</h2>
<h3>アンケート結果</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_3pungeUrlQuestionnaire.png" width="810" height="380"  class="size-full" /><p class="wp-caption-text">3分ゲーコンテストURLアンケートの結果</p></div>
<p>
アンケート結果ですが、3punge.jpが最多でした。というわけで、3punge.jpを取得。とはいえ、まだウェブサイトは未完成です。現在、3punge.jpにアクセスすると、<a href="http://tkool.org">ツクール新聞</a>にリダイレクトされるようになっています。近日中にウェブサイトを整備する予定です。
</p>
</section>

<section>
<h2><span class="number">03</span>3分ゲーURLアンケートのコメント返し</h2>
<p>
しかも、色々とメッセージまで頂いてしまった。どれもこれもアツい。この場をもって、返信いたします。
</p>
<p>
<q class="one-line-comment">.netを希望します。インスピレーションだけで選びますたw</q><br>
直感大事。<br>
</p>
<p>
<q class="one-line-comment">宣伝画像のラインナップ懐かしくて泣けました。良作が沢山輩出されたコンテストだったと思うので、是非復活させてください。</q><br>
3分ゲーのレジェンド達です🏆✨。<br>
</p>
<p>
<q class="one-line-comment">復活おめでたい!</q><br>
おめありです!<br>
</p>
<p>
<q class="one-line-comment">3min.moeのドメインはどうでしょうか。バリュードメインだと取得できませんけども(´･ω･｀)</q><br>
3分で萌える、まるで恋。<br>
</p>
<p>
<q class="one-line-comment">3分ゲーの復活、とても楽しみです。かつてはコンテストのたびにほぼ全作遊んで投票し、名作もさることながら、自分の心のどこかに不思議と呼応する作品を見つけるのが楽しみでした。陰ながら応援しております。</q>
過日は投票ありがとうございました。あなたのようにゲームを遊び、評価してくれる人がいたから、3分ゲーはなりたっていました。新生3分ゲーという遊び場を作る為に、また力を貸してください。私も素敵な作品が集まるような、良いコンテストにするべく頑張ります。<br>
</p>
<p>
<q class="one-line-comment">3分ゲー復活、嬉しいです。ありがとうございます。</q><br>
こんなコメントを貰えて、私も嬉しいです。ありがとうございます。<br>
</p>
<p>
<q class="one-line-comment">http://3punge.comに間違って誘導しないようにsanpungeのように変えた方がよいのではないかと思います。</q><br>
ご意見ありがとうございます。.jpに決まりましたが、.comも買い戻せるタイミングがあるなら、取り戻そうと思っています。誤誘導を避ける為に。<br>
</p>
<p>
<q class="one-line-comment">ゲーム内での経過時間が3分という設定など、あまりにもかけ離れたゲームが蔓延しないよう、ルールをもう少し厳密にするよう求めます。(投票時にクリアまでのプレイ時間を入力し、あまり長いものは減点するなどでもよい)</q><br>
以前は「3分とは思えない票」の投票で、バランスを取ろうと努力してましたね。私にとって、ルールは難しい課題です。ルールを守る楽しみと、ルールをかいくぐる楽しみがあると思います。それすなわちハックの精神。とはいえ、なるべくバランスが取れるように規約はよく考えます。規約について、素案が出来たらパブリックコメントを求める予定なので、ご意見頂けると嬉しいです。<br>
</p>
<p>
<q class="one-line-comment">よくぞ復活してくださいました……! お待ちしてました!</q><br>
ツクラーよ! 私は帰ってきた!<br>
</p>
<p>
<q class="one-line-comment">jpドメインは安心感があります。tkドメインだと、ツクール限定な感じがしてしまいます。eventsも企画らしくていいと思いましたが、見慣れないドメインなのが若干マイナス。</q><br>
安心と信頼の.jpとなりました🇯🇵。<br>
</p>
<p>
<q class="one-line-comment">3分ゲーyeah!!!!!</q><br>
woot! woot!!!<br>
</p>
<p>
<q class="one-line-comment">復活おめでとうございます。楽しみにしています。</q><br>
ありがとうございます。楽しんで貰えるよう、がんばります。<br>
</p>
<p>
<q class="one-line-comment">再開めっちゃ嬉しいです。一時期フリーゲームを探し続ける生活をしており、大変お世話になりました(他には<a href="http://gekikarareview.com/" target="_blank">激辛さん</a>や<a href="http://freegame.on.arena.ne.jp/" target="_blank">夢現さん</a>、<a href="http://eroimon.nomaki.jp/toufu.htm" target="_blank">豆腐コンさん</a>など……)
今度は開発者として参加させていただきます</q><br>
プレイヤーから、クリエイターへ。応募楽しみにしています😆。<br>
</p>
<p>
<q class="one-line-comment">3-min-game.comはどうでしょう。一応未使用を確認しました。</q><br>
わざわざ調べて頂いて、ありがとうございました。.jpに決まりましたが、海外展開するなら、そのドメインは分かりやすくて良いかもですね。<br>
</p>
<p>
<q class="one-line-comment">期待しております。</q><br>
期待を裏切らぬよう頑張ります。<br>
</p>
<p>
<q class="one-line-comment">jpドメインの安心感</q><br>
国産ドメインという贅沢(ちょっと高いんですよね)。<br>
</p>
<p>
<q class="one-line-comment">3punge.eventsが良いです。お祭りっぽくて良いと思います!</q><br>
民主主義の結果、短いドメインになりました。<br>
</p>
<p>
<q class="one-line-comment">見慣れている末尾なので.netを希望。.jpは国内に、.tkは環境にクローズドな印象が。.eventsも悪くないと思います。</q><br>
多角的な分析、ありがとうございます🙏。<br>
</p>
<p>
<q class="one-line-comment">3分ゲーコンテストは私がソフトウェア開発者を志すきっかけになったコンテストです。心から応援しております。</q><br>
人生を変えた3分ゲー。<br>
</p>
<p>
<q class="one-line-comment">3punge.netを希望。.jpに拘る必要もないかなと(たしか他よりちょっと高いんですよね？)</q><br>
私のお財布的には、.netだとありがたかったんですけれどね😓。<br>
</p>
<p>
<q class="one-line-comment">3分ゲーコンテストとても好きでした。がんばってください!</q><br>
もっと好きになってもらえるように、がんばりますね💖。<br>
</p>
<p>
<q class="one-line-comment">3min.gameはどうでしょうか。3min.game とか。やっと優先登録が始まったばかりなので、まだとれないですが。</q><br>
gameドメイン、おもしろいですね。一般登録ができるようになったら、何かの機会で使ってみたいですね。<br>
</p>
<p>
<q class="one-line-comment">3分ゲーコンテスト復活は本当にありがたいです。期待＆応援しています!(長文以下略)</q><br>
ありがとうございます。一緒にフリーゲーム界隈を盛り上げていきましょう<br>
</p>
<p>
<q class="one-line-comment">3分ゲーコンテストが復活するとは本当ですかッー!!</q><br>
ゲームがあれば、何でもできるッ!!🏆<br>
</p>
<p>
<q class="one-line-comment">開催の際は遊ぶのに夢中で伝え損ねていましたが、今この場を借りてお伝えします! いつも楽しみにしていました! 復活するというのなら、また気長に待ちながら楽しみにしております!</q><br>
ありがとうございます。また遊んで投票して下さい!!<br>
</p>
<p>
<q class="one-line-comment">3分ゲーコンテストの復活、楽しみに待っています! 自分が3分ゲーコンテストについて知ったときは既にコンテストが終わったあとだったので、「こんなコンテストがあったんだ、参加したかったな」と思っていました。なのでコンテストが開かれたときは是非参加したいと思います、そのときはよろしくお願いします。</q><br>
旧3分ゲーをしらなかった、新しいクリエイターも、どんどん参加して欲しいです。<br>
</p>
<p>
<q class="one-line-comment">ツクールの新作とともに、また新しい世代のクリエイターがここから生まれてくれることを期待しています。応援しております！</q><br>
小学生ツクラーとかも、参加して欲しいですね。<br>
</p>
<p>
<q class="one-line-comment">悪徳業者にめげず頑張ってください。そういうネット地上げ屋は悪役のモデルにでもしちゃいましょう。</q><br>
そんなメタ作品が応募されてきたら笑う。<br>
</p>
<p>
<q class="one-line-comment">.jpを希望します。同じ値段であれば、jpのほうが検索的に有利らしいっすよ</q><br>
<a href="https://en.wikipedia.org/wiki/.tk#Abuse" target="_blank">tkドメインはスパムサイトが多いらしい</a>のですよね……😨。<br>
</p>
<p>
<p>
<q class="one-line-comment">.jpを希望します。tkとかの関係ない国のTLDは使ってほしくない</q><br>
……このブログ、tkドメインなのですよね……😱<br>
</p>
</p>
</section>

<section>
<h2><span class="number">04</span>Twitterの反応まとめ</h2>
<p>
リツイートにあわせて、復活を喜んで下さる方もちらほら。捕捉できたものを、貼り付けておきます。
<span class="strong_gray">以下のツイートは、Twitter公式のウィジェット機能を使って引用しています。<br>
ツイート引用の削除を希望する方は、当記事のコメントか、お問い合わせかフォームか、Twitterからご連絡下さい。</span>
</p>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">おお、ツクール新聞、3分ゲーコンテスト復活とは！&#10;当時チェックしていた身としては凄く嬉しい！&#10;個人制作のシーンがどんどん熱くなってきているなぁ。自分も頑張らなければ。</p>&mdash; 赤月 智平 (@T_Akatsuki) <a href="https://twitter.com/T_Akatsuki/status/631255839462940672">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">え、復活するの？　だったら超うれしい。URLなんてなんだって大丈夫。 <a href="https://t.co/TUD1U2enzy">https://t.co/TUD1U2enzy</a></p>&mdash; 波田野剛望（はたのたけみ） (@takevabu) <a href="https://twitter.com/takevabu/status/631259263508221952">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">サムネの顔ぶれが豪華すぎる</p>&mdash; 巻はああん♡ (@makimochi89) <a href="https://twitter.com/makimochi89/status/631259856607903745">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr"><a href="https://twitter.com/tomotakatk">@tomotakatk</a> ツクール新聞復活めでたい。おめでとうございます。プンゲも昔参加してたので嬉しいです。</p>&mdash; 腹痛ルネッサンス(腹痛) (@_wzm) <a href="https://twitter.com/_wzm/status/631300476080750592">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーの人に監視されてた</p>&mdash; 九条エミリア (@emiliakuzyou) <a href="https://twitter.com/emiliakuzyou/status/631320717204721664">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">新生３プンゲ、「ゲームの作り方講座」の番外編でも送ってたろか（時間があったらだけど）　実はこのシリーズのタイトルはプンゲ第１３回１５回の「正しいゲームの作り方」のパクリだったりする。<a href="http://t.co/RzRm2mtr3v">http://t.co/RzRm2mtr3v</a></p>&mdash; 礼門屋@ライター仕事募集中 (@leimonZ) <a href="https://twitter.com/leimonZ/status/631381994601996288">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">何回も審査でブチ落とされてるのにトモタカ氏と平然と話してる１１１ちゃんすごいな。僕は根に持つ人間なので絶対に真似できない。</p>&mdash; 礼門屋@ライター仕事募集中 (@leimonZ) <a href="https://twitter.com/leimonZ/status/631383325937045504">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">まあ誤解なきよう言っておくと、自分は運営の方針が気に入らなかっただけで、自分がトモタカ氏に何かされたかというとそれは何もない。審査落ちしそうになった時「規約違反である根拠を明確に述べやがれ」とイチャモンつけて無理矢理通したし。</p>&mdash; 礼門屋@ライター仕事募集中 (@leimonZ) <a href="https://twitter.com/leimonZ/status/631385070457131008">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">トモタカさんが３分ゲーコンテスト中高校生だと聞いて驚き。勝手に年上だと思ってました…　ふぇぇ…ごめんなさい…（色々と）</p>&mdash; さあ！どんどんゲームになるのだ！ (@gamecome111) <a href="https://twitter.com/gamecome111/status/631391927456272384">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">冷静に考えると「３分ゲー」を作るには今の時代、CF2.5の方が合ってるという事実が…</p>&mdash; さあ！どんどんゲームになるのだ！ (@gamecome111) <a href="https://twitter.com/gamecome111/status/631392804933996544">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">全てのイベントに通じる、開催側ならではのツイートが重い。そして「開催数が多くなるにつれて、それがあるのが『当たり前』に感じてしまっていた」ゆえのアレコレもあったと思う。だから新生3分ゲーが実行されるなら、気合を入れて遊んで投票する。 <a href="https://t.co/LgDd09LUdC">https://t.co/LgDd09LUdC</a></p>&mdash; ezory (@ezory) <a href="https://twitter.com/ezory/status/631393879825059841">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr"><a href="https://twitter.com/tomotakatk">@tomotakatk</a> フォローありがとうございます。制作側ではありませんが、当時は一プレイヤーとして毎回投票させて頂いてました。（大体）3分という形式だと、ほぼ全作を遊ぶこともでき、どれを選ぶかとても楽しかったです。改めて感謝しますと共に、これからのご活動応援しております。</p>&mdash; ezory (@ezory) <a href="https://twitter.com/ezory/status/631395314746798081">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーコンテスト 本当にいいところへ復活してくれたというほかない</p>&mdash; クルステ (@coolstep2010) <a href="https://twitter.com/coolstep2010/status/631397256042713088">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーコンテストリアルタイムで見ていないので一切わからない</p>&mdash; クルステ (@coolstep2010) <a href="https://twitter.com/coolstep2010/status/631397383310438400">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲー復活マジか。</p>&mdash; 仮名子 (@kurakenko) <a href="https://twitter.com/kurakenko/status/631409640861859840">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">この画像懐かしすぎてウルっときた&#10;怪鳥、ただのやきゅう、懐かしい…&#10;<a href="https://t.co/TJzgqlG6Jz">https://t.co/TJzgqlG6Jz</a></p>&mdash; 久野裕介@9/21同人ゲームフェス (@YusukeHisano) <a href="https://twitter.com/YusukeHisano/status/631407715294654464">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">【祝！】 3分ゲーコンテスト復活ですってよ奥様！ 最近は色々とゲームコンテストが増えてきていますが、3分ゲーはやりやすくて素敵だったので復活が楽しみですね。 <a href="https://t.co/6Wm3FEmohW">https://t.co/6Wm3FEmohW</a></p>&mdash; SmokingWOLF (@WO_LF) <a href="https://twitter.com/WO_LF/status/631409776736362497">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">プンゲ復活…！</p>&mdash; やこ (@yako_P) <a href="https://twitter.com/yako_P/status/631409967317159936">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">おっ3分ゲー復活！？</p>&mdash; マサモト/池永 (@ri_mist) <a href="https://twitter.com/ri_mist/status/631409995335143428">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">タッフロール懐かしいな…！　久々にやりたい…あのネタの仕込み方とシンプルなのにはまる感じがとても楽しかった…。かしわもちはついさっきもやってたくらい今でもはまってるし、3分ゲーコンテストはほんと良ゲーの宝庫だった…。怪鳥もやりたい…やったことある気はするんだけどうろ覚え…</p>&mdash; myuto (@kotonohatuzuru) <a href="https://twitter.com/kotonohatuzuru/status/631410721792786433">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">新しいツクールも出るし、また新しいゲームがでてくるといいなぁ…企業の製品じゃあやれないような実験的なシステムとか尖りすぎてターゲットがニッチなのとかネタがちょっとぎりぎりで一般では出しにくいようなのとか…個性的で楽しいの…</p>&mdash; myuto (@kotonohatuzuru) <a href="https://twitter.com/kotonohatuzuru/status/631411775326412800">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲー復活ってマジで！？</p>&mdash; さぶねぼーん (@sabune_bohn) <a href="https://twitter.com/sabune_bohn/status/631413486258524160">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲー復活とか何時の時代だ。なんだろう、本当に10年前からのフリーゲームの&quot;回復&quot;を目の当たりにしているような気がする。</p>&mdash; Tacashi.M（たきゃしー） (@tacashi) <a href="https://twitter.com/tacashi/status/631419038569107457">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">３分ゲー復活するのかーいいねー</p>&mdash; D (@Daaaaaaa7) <a href="https://twitter.com/Daaaaaaa7/status/631422487402713088">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲー復活てすげえな</p>&mdash; REN@MultiLockOn (@REN_multilockon) <a href="https://twitter.com/REN_multilockon/status/631423491498098688">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーコンテスト復活！楽しみです。 <a href="https://t.co/5I07IPxYFI">https://t.co/5I07IPxYFI</a></p>&mdash; Tetsu (@wtetsu) <a href="https://twitter.com/wtetsu/status/631424513368920064">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲー復活するんか（ｶﾞﾀｯ</p>&mdash; みなせあや (@escapeshift) <a href="https://twitter.com/escapeshift/status/631424976634032128">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">まさかプンゲが復活する日が来るとは･･･</p>&mdash; 獣男 (@urauraurauraura) <a href="https://twitter.com/urauraurauraura/status/631428200833224704">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">ツクール新作がリリースされたら3分ゲーコンテストでモバイル部門が実現する。やったね。</p>&mdash; 水原由紀(Yuki Mizuhara) (@mizuharayuki) <a href="https://twitter.com/mizuharayuki/status/631428299999186944">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">プンゲ復活めでたい。トモタカさんあのとき高校生だったの！？　うそでしょ！？が大きくて呟きたいので呟く。</p>&mdash; リュウセイ@ティアは13b (@ryu_say) <a href="https://twitter.com/ryu_say/status/631433815861280769">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">三分ゲームコンテストに私は参加しなかったけど、知ってる人が色々出していて、そこで知り合いが増えたりもした。モエモエさん（<a href="https://twitter.com/nasaibai">@nasaibai</a>）のこともプンゲで知って、なんて素敵な人だろうと思って一方的に連絡とって、仲良くしてもらった。</p>&mdash; リュウセイ@ティアは13b (@ryu_say) <a href="https://twitter.com/ryu_say/status/631434317592264704">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">プンゲ復活まじ？めでたい</p>&mdash; ぴよこ (@pyc255) <a href="https://twitter.com/pyc255/status/631434438275018752">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーコンテスト懐かしい。あれを元ネタにして「30秒程度で完結するゲーム」というお題を出したのだっけ</p>&mdash; あのあれ (@cat_toast) <a href="https://twitter.com/cat_toast/status/631440803353595905">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">かしわもちが三分ゲーだと</p>&mdash; ぶっきー (@Bucky_Hubu) <a href="https://twitter.com/Bucky_Hubu/status/631451521025077248">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲー復活か、まあ一切関わらないでおいてあげるのが優しさか。ひっそりとおめでとう、と呟いておこう</p>&mdash; 星屑きらら (@kirara2daime) <a href="https://twitter.com/kirara2daime/status/631456751754199040">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">おおっ、どーなるのかな</p>&mdash; おめが（　゜ヮ゜）ノ (@Omegamega) <a href="https://twitter.com/Omegamega/status/631457168928051200">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーコンテスト復活ですと。これは嬉しいニュース。</p>&mdash; Demolias (@demolias) <a href="https://twitter.com/demolias/status/631463078291333122">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">怪鳥から幼女を引っ張ってくるトモタカさんのあざとさ</p>&mdash; 獣男 (@urauraurauraura) <a href="https://twitter.com/urauraurauraura/status/631464907993583616">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">プンゲ終了８年前って、もう知ってるのおっさんしかいないのでは･･･</p>&mdash; 獣男 (@urauraurauraura) <a href="https://twitter.com/urauraurauraura/status/631465155881099265">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーコンテスト、復活したらネタがあればなんか参加したいよな</p>&mdash; DXS (@universal_DXS) <a href="https://twitter.com/universal_DXS/status/631478514173108224">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">廃止された3分ゲーコンテストが復活するかもで、これでもかとアンケートと共に熱い感情をぶつけてきた。デマではなく本当なら楽しみだ。今や忘れられようとしているけれども、かの有名なカタテマさんとこの「愛と勇気とかしわもち」は3分ゲーコンテストに出された作品なんだからなッ！覚えとけッー！</p>&mdash; 芝生 (@shibahunoneko) <a href="https://twitter.com/shibahunoneko/status/631489204241829888">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">「そのうち参加してみよう」と思ってたらなくなっちゃったので、今度こそ参加してみたい。 <a href="https://t.co/4RUBX0EaQg">https://t.co/4RUBX0EaQg</a></p>&mdash; かるま (@karuma_hotsnow) <a href="https://twitter.com/karuma_hotsnow/status/631481237308190720">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">ツクールMVが発表されてからかつてのツクール界隈を構成していたサイトやらが俄かによみがえりつつある&#10;新しい時代へ進もうとしているのか、それとも……</p>&mdash; かわせみさん (@tk2k_jade) <a href="https://twitter.com/tk2k_jade/status/631537542509170688">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">フリクラも復活してくれたらいいのに。コンテストというよりは、憩いの場だったけど、そういうところもあって良い。</p>&mdash; 波田野剛望（はたのたけみ） (@takevabu) <a href="https://twitter.com/takevabu/status/631595088875884544">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">プンゲかぁ！懐かしさもあるし、今後また開催されるかもしれないも思うとワクワクしてる</p>&mdash; ほほほほほほほほほほりん (@homis4649) <a href="https://twitter.com/homis4649/status/631601405573251072">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">【RT余談】ドメインやアカウント乗っ取り業者って、本当にネット地上げ屋だヾ(・ω・`;)ノぁゎゎ</p>&mdash; 柵田思量【とろぴかるダークハリケーン】 (@sakutashiryou) <a href="https://twitter.com/sakutashiryou/status/631606073858789376">2015, 8月 12</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">最近ゆるいお祭りしか出てないから3分ゲーみたいなヒャッハーなコンテストいいなって思ってた</p>&mdash; ノラ (@nora3l) <a href="https://twitter.com/nora3l/status/631704890444611584">2015, 8月 13</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲーのルールを独自解釈して30分ゲーを作ったらコンテストに出すのをやめろと言われた男</p>&mdash; いち (@ichi_et) <a href="https://twitter.com/ichi_et/status/631705542776352768">2015, 8月 13</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">３分ゲーコンテスト復活するのかあ～～～！</p>&mdash; すみの (@smy0c0) <a href="https://twitter.com/smy0c0/status/631738306120671233">2015, 8月 13</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲー復活らしいのですごい楽しみ ネタのかけらはあるけど技量が足りない</p>&mdash; うに (@uni_uji) <a href="https://twitter.com/uni_uji/status/631739725112410112">2015, 8月 13</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">マジか！</p>&mdash; ヤミキA (@nyoyamikialex) <a href="https://twitter.com/nyoyamikialex/status/631811980102209536">2015, 8月 13</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">インディーゲーム・週間ダイジェスト（8月第2週） 3分ゲーコンテスト復活、「ghostpia」第2話公開　ほか。夏コミ頒布情報も多数 - 窓の杜 <a href="http://t.co/exAovuEoX3">http://t.co/exAovuEoX3</a> 今週号掲載しました。よろしくどうぞ。</p>&mdash; 友次郎（Yujiro.N） (@finalbeta) <a href="https://twitter.com/finalbeta/status/632101600421539840">2015, 8月 14</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">3分ゲー参加します</p>&mdash; 久野裕介@9/21同人ゲームフェス (@YusukeHisano) <a href="https://twitter.com/YusukeHisano/status/632113653685202944">2015, 8月 14</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">自作ゲームフェス６改め2016、募集開始か。有料ゲーOKとは攻めてるな。隆盛の自作ゲームフェス、復活のプンゲ、激動のフリゲ界。</p>&mdash; bunaguchi (@bunaguchi) <a href="https://twitter.com/bunaguchi/status/632182551403061248">2015, 8月 14</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">３分ゲーコンテストで、&#10;好きだったのは、&#10;アーケード風のバイクで走り続けるやつ&#10;タイトル忘れちゃった</p>&mdash; 藍津 海 (@UmiIzu) <a href="https://twitter.com/UmiIzu/status/632232073688846336">2015, 8月 14</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">MVの発表を切っ掛けにツクール新聞と3分ゲーコンテストが復活するみたいだな。昔は随分とお世話になったものだ。今となってはツクール製のゲームが持つ雰囲気が貴重に感じられる。コンシューマゲーではオーソドックスなRPG自体あまり見なくなった気がするし。携帯アプリでは生き残ってるけど。</p>&mdash; RoRoRoN＠マリア(神我狩) (@Xiao_LoB) <a href="https://twitter.com/Xiao_LoB/status/632240386115682308">2015, 8月 14</a></blockquote>
</section>
<section>
<h2><span class="number">06</span>窓の杜のニュースに掲載されました</h2>
<div class="wp-caption alignnone"><a href="<a href="http://www.forest.impress.co.jp/docs/serial/indiedigest/20150814_716327.html" target="_blank">" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150815_3pungeMadonoyashiroNews.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">窓の杜 インディーズゲーム・週間ダイジェスト(2015年8月14日号)</p></div>
<blockquote>
<p>
また、2004年から2007年まで開催されていたゲームコンテスト“3分ゲーコンテスト”の復活も今週の注目ニュース。“3分で遊べるゲーム”がコンセプトのイベントで（3分の解釈は自由で、1回3分で何度もやり込める作品や、1周約3分のマルチエンディング作品などさまざまな作品が出展された）、「EveryExtend」「愛と勇気とかしわもち」「もしくはタッフロール」など現在でも語り継がれる、プレイされる名作を輩出したコンテストだが、長らく休止状態となっていた。休止と復活の経緯は<a href="http://game.wiki.nicovideo.jp/indie/3%E5%88%86%E3%82%B2%E3%83%BC%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88" target="_blank">自作ゲームwiki</a>や<a href="http://tomotaka.tk/" target="_blank">主催のトモタカ氏のサイト</a>を参照。トモタカ氏によると、『2015年秋頃にプレオープン的に3分ゲーコンテストを開催できれば』とのこと。<br>
なお、以前のドメインは使えなくなっているため、新URLのドメインのアンケートが実施された。アンケートはすでに終了したが、引き続き3分ゲーコンテストへのメッセージなどを受け付けるためフォームは残されている。
</p>
<p>
<a href="https://goo.gl/forms/486hEKMbk5" target="_blank">“3分ゲーコンテスト”開催に向けてドメインのアンケート実施（現在終了）</a>
2004年から2007年まで開催されていたゲームコンテスト“3分ゲーコンテスト”の復活にあたり、新URLのアンケートが実施された（以前のURLが使えなくなったため）。アンケートは終了したが、アンケートフォームからは引き続き3分ゲーコンテストへのメッセージなどを送ることが可能
</p>
<cite><a href="http://www.forest.impress.co.jp/docs/serial/indiedigest/20150814_716327.html" target="_blank">インディーゲーム・週間ダイジェスト（8月第2週） 3分ゲーコンテスト復活、「ghostpia」第2話公開 ほか。夏コミ頒布情報も多数 - 窓の杜</a></cite>
</blockquote>
<p>
<a href="http://www.forest.impress.co.jp/docs/serial/indiedigest/" target="_blank">窓の杜インディーズゲーム・週刊ダイジェスト</a>は、同人ゲームの最新情報を毎週発信しています。同人界隈のニュースに興味がある人は、ウォッチしておくと良いかもです。<br>
ちなみにお約束的なネタですが、窓の杜の読み方は“まどのもり”です。“まどのしゃ”や“まどのやしろ”ではないので注意。<br>
</p>
</section>
<section>
<h2><span class="number">06</span>3分ゲー復活の反応を見て</h2>
<p>
ありがたい反面、ここまで良い反響ばかりだと、なんだか空恐ろしいですね……。どうなってるんだこれは。<br>
どうやら、3分ゲーコンテスト終了後も複数のゲームコンテストが開かれたようですが、その全てが順風満帆とはいかなかったようです。いくつかのイベントは、私の知らない間に開催され、終了していたようです。
</p>
<p>
現在開催されているゲームコンテストは、<a href="http://ch.nicovideo.jp/indies-game" target="_blank">ニコニコ自作ゲームフェス</a>、<a href="http://www.freem.ne.jp/contest/fgc/10" target="_blank">第10回ふりーむ!ゲームコンテスト(終了済)</a>、<a href="http://www.silversecond.com/WolfRPGEditor/Contest/" target="_blank">第7回WOLF RPGエディターコンテスト(審査中)</a>、<a href="http://freegame.on.arena.ne.jp/grandprix/" target="_blank">フリーゲーム夢現大賞2015(応募受付中)</a>など、継続して開催されており、そのどれもが安定しているように見えます。
でも、3分ゲーコンテスト的な立ち位置のコンテストは、しばらく空白地帯だったのかも。
</p>
<p>
昔、<span class="strong_red">「3分ゲーコンテストはさ、手が届きそうなんだよね。だから良いんだ」</span>と言われた事がありました。ゲーム応募者にとっては「3分のゲームならば、いっちょ土日で作ってやるか」と思えるし、プレイヤー審査員にとっては「がっつり時間を取られないから、ちょいと遊んでみるか」って気分になる。そのバランスが取れてるのでしょう。
それに加え、3分ゲーコンテストは過去に<a href="http://o-mega.sakura.ne.jp/" target="_blank">（　゜ワ゜）ノ さん</a>の『<a href="http://o-mega.sakura.ne.jp/product/e2.html" target="_blank">Every Extend</a>』や、<a href="http://members.jcom.home.ne.jp/wtetsu/" target="_blank">てつさん</a>の『<a href="http://members.jcom.home.ne.jp/wtetsu/love/manual.html" target="_blank">愛と勇気とかしわもち</a>』や、<a href="http://hot.hiyamugi.com/" target="_blank">ぺぽさん</a>の『<a href="http://www.vector.co.jp/soft/win95/game/se409194.html" target="_blank">もしくはタッフロール</a>』など、数多くの傑作が集まった事も、印象強かったのでしょう。
さらに2015年のいま、ニコニコ動画のゲーム実況者やYouTuberがたくさんいる。3分ゲーは手軽に実況しやすくて、親和性が高いと思います。スマホゲームと3分ゲーも相性が良いように思います。そういう時代の風潮も、魅力に繋がっているようです。<br>
</p>
<p>
ひとまず3分ゲーコンテストは求められているという事が判ったので、頑張って運営準備を進めたいと思います。反響が少なかったら、過去作品をまとめるだけのつもりだったのですが……まさかこんなに話題となるとは💦。まあ嬉しいコメントばかり頂きましたが、実際にコンテストが始まれば、ご意見や苦情を頂く事もあるとは思うので、安穏はきっと今だけでしょう😇。大会の規約には、どうしてもルールのグレーゾーンは生まれるし、微妙なラインや運営方針を見て、やきもきする人も出てくると思います。2015年現代なりの課題や空気感があると思うので、うまく取り組みつつ、ツクツクしていきます。
</p>
</section>

<section>
<h2><span class="number">07</span>第20回3分ゲーコンテストの締切日は2015年9月21日(予定)</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_3punge20thDay.png" width="810" height="380"  class="size-full" /><p class="wp-caption-text">第20回3分ゲーコンテスト開催日程案</p></div>
<p>
さて、ここまで読んで下さった方に、こっそりと今後の予定を記しておきます。
次回の3分ゲーコンテスト。すなわち<span class="strong_red">第20回3分ゲーコンテストは、2015年9月21日(月)12時00分応募締切、2015年9月23日(水)一般公開 and 審査開始</span>の方向で検討中です。
2015年の9月19日から23日は、大型連休日です。21日正午が応募締切なら、土日で開発<span class="strong_gray">(もしかして、追い込みデスマーチも?)</span>できるでしょう。21日12時の受付終了後、すぐに応募作品のチェックを行い、登録情報の不備や、R18表現の確認を行った上で、なるべく早いタイミングで公開すれば、おそらく22日夜から23日朝くらいには、一般公開と審査をはじめられるでしょう。とはいえ、あくまでも予定ですから、変更の可能性があります。
</p>
<p>
ちなみに、第20回という表記にアレッと思った人、するどい。「順当に数えれば次回は第18回となるはずだ」と。<br>
3分ゲーは過去に本大会17回開催、実験的大会を2回開催しました。合計19回になるので、次回は20回目という意味にしました。それに、新生3分ゲー、つまりバージョン2とかけてまして、区切りもよろしい。
</p>
<p>
さて。9月に開催するとなると、準備に大忙しです。サイトを整備して、利用規約を作り、過去作品の情報もまとめねばなりません。うーん、すべてを完璧にするのはむずかしいかも……。<a href="http://tkool.org" target="_blank">ツクール新聞</a>もありますし。その上、もちろん私にも日常生活と仕事があるわけで……😇。
</p>
<p>
アツい夏になりそうです。たぎるね!!
</p>
</section>
<section>
<h2><span class="number">08</span>謝辞と引用と著作</h2>
<p>
さいごにページ冒頭に掲載したヘッダー画像に登場する、作品情報と著作者について記します。今あそんでも楽しいゲームばかりなので、作者様のサイトからダウンロードしてみて下さいね😆。
</p>
<table>
	<caption>画像に登場する作品名と作者情報</caption>
	<thead>
		<tr>
			<th>参加大会</th>
			<th>順位</th>
			<th>作品名</th>
			<th>作者名</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>第2回</td>
			<td>優勝</td>
			<td><a href="http://o-mega.sakura.ne.jp/product/e2.html" target="_blank">Every Extend</a></td>
			<td><a href="http://o-mega.sakura.ne.jp/" target="_blank">（　゜ワ゜）ノさん</a></td>
		</tr>
		<tr>
			<td>第3回</td>
			<td>優勝</td>
			<td><a href="http://www.symphonic-net.com/takumi/tkool/earth3.html" target="_blank">黒魔剣士アース3min-幻の少女-</a></td>
			<td><a href="http://www.symphonic-net.com/takumi/earthweb.htm" target="_blank">タクミさん</a></td>
		</tr>
		<tr>
			<td>第5回</td>
			<td>優勝</td>
			<td><a href="http://www.vector.co.jp/soft/win95/game/se366903.html" target="_blank">怪鳥</a></td>
			<td><a href="http://www.geocities.jp/tri_iro/" target="_blank">Fuさん</a></td>
		</tr>
		<tr>
			<td>第7回</td>
			<td>優勝</td>
			<td><a href="http://www.vector.co.jp/soft/win95/game/se384428.html" target="_blank">ジェット分岐コースター</a></td>
			<td><a href="http://econewa.web.fc2.com/" target="_blank">康友いえんしさん</a></td>
		</tr>
		<tr>
			<td>第2回α</td>
			<td>優勝</td>
			<td><a href="http://www.vector.co.jp/soft/win95/game/se397964.html" target="_blank">ただのやきゅう</a></td>
			<td>下東さん</td>
		</tr>
		<tr>
			<td>第8回</td>
			<td>優勝</td>
			<td><a href="http://members.jcom.home.ne.jp/wtetsu/love/manual.html" target="_blank">愛と勇気とかしわもち</a></td>
			<td><a href="http://members.jcom.home.ne.jp/wtetsu/" target="_blank">てつさんさん</a><br><a href="http://tactics.main.jp/primo/casa.php" target="_blank">つとうさん</a></td>
		</tr>
		<tr>
			<td>第9回</td>
			<td>優勝</td>
			<td><a href="http://www.vector.co.jp/soft/win95/game/se409194.html" target="_blank">もしくはタッフロール</a></td>
			<td><a href="http://hot.hiyamugi.com/" target="_blank">ぺぽさん</a></td>
		</tr>
		<tr>
			<td>第12回</td>
			<td>優勝</td>
			<td><a href="http://www.vector.co.jp/soft/win95/game/se426341.html" target="_blank">灼熱姫</a></td>
			<td><a href="http://stst.cocot.jp/" target="_blank">ポーンさん</a></td>
		</tr>
		<tr>
			<td>第16回</td>
			<td>優勝</td>
			<td><a href="http://neji.testament.client.jp/" target="_blank">時計塔のひみつ</a></td>
			<td><a href="http://testament.client.jp/" target="_blank">ssiさん</a></td>
		</tr>
	</tbody>
</table>
</section>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
