<!--
ホラーゲーム+自作ゲーム70作品実況リアルタイムまとめ(2)
nicofes2016_live_summary2
2015/08/15 20:00

ニコニコ自作ゲームフェス5の実況を、リアルタイムでまとめます。 パート2です。
 -->
<section>
<h2><span class="number">01</span>リアルタイムまとめ1から6のリンク</h2>
<p>
<a href="/nicofes2016_live_summary">Part1</a>、<a href="/nicofes2016_live_summary2">Part2</a>、<a href="/nicofes2016_live_summary3">Part3</a>、<a href="/nicofes2016_live_summary4">Part4</a>、<a href="/nicofes2016_live_summary5">Part5</a>、<a href="/nicofes2016_live_summary6">Part6</a>、
</p>
</section>

<section>
<h2><span class="number">02</span><a href="http://live.nicovideo.jp/watch/lv228989563" target="_blank">放送はこちらから</a>lv228989563です。</h2>
<h3><a href="http://tomotaka.tk/nicofes2016_live_summary/">その1</a>からの続きです。</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_title.png" width="810" height="169"  class="size-full" /><p class="wp-caption-text">ニコニコ自作ゲームフェス2016のイメージイラスト</p></div>
<blockquote>
<p>
ニコニコ自作ゲームフェス５受賞作品、ホラーゲームフェス受賞作品を計70作品をぶっ通し生放送！
今回より、ニコニコゲームマガジン連載作品も登場！
16日13時より、ニコニコ自作ゲームフェス５＋ホラーゲームフェス表彰式も生放送。
ニコニコ自作ゲームフェス５大賞作品も発表されます！
お気に入りのゲーム＆実況者に出会えるかも？！
</p>
</blockquote>
<p>
ニコニコ動画が主催するフリーゲームコンテスト「ニコニコ自作ゲームフェス5」の生放送です。ゲーム実況者がぶっ続けで、応募作品をプレイしていきます。
実況開始から7時間となり、<a href="http://tomotaka.tk/nicofes2016_live_summary/">その1</a>のページがめっちゃくっちゃに長くなってしまったので、その2を建てました。というか、これ、31時間やるんですか💦。え、いつやめればいいんだろう。ホラーゲームより恐怖ですよ!!😱
あ、実況中に実況内で、当記事を取り上げて頂きました。実況の実況を実況されるというメタメタなカンジ。ありがとうございます。🙏
</p>
<p>
リアルタイムで編集していくので、誤字やミスがあるかも。コメント欄で指摘してもらえたら、随時なおします。
</p>

<h3>13作目: 『<a href="http://freega.net/byo-in/" target="_blank">Byo-IN</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_91.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">14作品目は『Byo-IN』の開始です。</p></div>
<p>
作者名: FreeGa
ウェブサイト: <a href="http://freega.net/" target="_blank">FreeGA.net(フリーガ)</a>
作品名: <a href="http://freega.net/byo-in/" target="_blank">Byo-IN</a>
制作ソフト: Unity
目安プレイ時間: FPSに慣れた人なら30分。
ジャンル: 短編FPS系ステルス闇ゲー
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26795662" target="_blank">Byo-IN</a>
ゲームダウンロード: <a href="http://freega.net/byo-in/" target="_blank">Byo-IN(作者サイトより)</a>
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_92.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">マウス操作で、病院を探索します。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_93.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">でかい。「ライトはそこに挟むものじゃない(真顔)(by 鎌首)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_94.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">怖そうに見えつつ、壁にライトを向けると、ニコニコちゃんや</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_95.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">Unity5のロゴ看板が立っていたり、ネタも満載ですね。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_96.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「ところで、いつまで胸にライト挟んでるんですかね? (by  鎌首)</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_97.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">コンテストの応募締切に追われる作者さんのお話。いやぁ、どこも大変ですなぁ。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_98.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで時間終了!! 猫マグロさんと一緒にトイレ休憩です。</p></div>

<hr>


<h3>14作目: 『<a href="http://www.freem.ne.jp/win/game/9470" target="_blank">柳太郎伝記～奇住山編～</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_99.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">連作の3作目『柳太郎伝記～奇住山編～』のプレイ開始です。</p></div>
<p>
作者名: <a href="https://twitter.com/fujima_ponite" target="_blank">ふじま</a>
ウェブサイト: <a href="http://fujima12.blog.fc2.com/" target="_blank">ふじま＠鯉心（こいごころ）</a>
作品名: <a href="http://www.freem.ne.jp/win/game/9470" target="_blank">柳太郎伝記～奇住山編～</a>
制作ソフト:
目安プレイ時間: 2時間
ジャンル: 和風ホラーアドベンチャー
受賞: 敢闘賞 和風伝奇賞受賞
動作環境: Windows 7/8/8.1
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26639453" target="_blank">柳太郎伝記～奇住山編～</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9470" target="_blank">柳太郎伝記～奇住山編～(ふりーむ)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_100.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">主人公は陶芸家の橘柳太郎。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_101.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">和風の雰囲気がいいですねー</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_102.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">切り替わる画面を見切りながら、敵を避けまくります。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_103.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">鬼ごっこシーンを越えた所で、時間切れです。</p></div>

<p>
鎌首「和風な感じな世界観もすごいと思いますが、普段鬼ごっこ系が慣れているだけに、このゲームのシステムは面白かったです。第1作目からやってみたかったですね。」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_104.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで来場者が8万人を越えました!! おめでとうございます。</p></div>
<hr>

<h3>15作目: 『<a href="http://www.freem.ne.jp/win/game/8833" target="_blank">機械天使</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_106.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">次は『機械天使』です。ドット絵のレトロな雰囲気が素敵なゲームです。</p></div>
<p>
作者名: <a href="" target="_blank">機械天使製作委員</a>
作品名: <a href="http://www.freem.ne.jp/win/game/8833" target="_blank">機械天使</a>
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25917483" target="_blank">機械天使</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8833" target="_blank">機械天使(ふりーむ)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
彼女の名前が聴こえなくなった。"M"というノイズのような音でしか。
機械に侵略されていく世界から、彼女の名を取り戻すことはできるのだろうか。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_105.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「なんか現状、ホラーな要素がないですね(by 猫マグロ)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_107.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">舞台は学校。このノスタルジックな空気から、どうホラーになっていくのか。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_109.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">学校繋がりで、揚げパン、サラダパン、きなこパンの話で盛り上がるコメント欄。</p></div>

<p>
いやー、給食タイムって、大人になると良い思い出ですよねー。7時間経過して、私も腹ぺこです……🍞
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_110.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで終了です。探索がメインで完了しました。<br /></p></div>

<p>
Shel「ふわふわとした中にある恐怖感という意味で、とても楽しめました。」
鎌首「機械天使の真相は、是非みなさんダウンロードして究明してくださいね」
</p>


<h3>16作目: 『<a href="http://www.freem.ne.jp/win/game/7838" target="_blank">ヒトミ</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_111.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">次は『ヒトミ』です。作者の説明によると「そこまで怖くない」だそうです。</p></div>
<p>
作者名: <a href="https://twitter.com/miru_tyatyatya" target="_blank">水松茶 茶々留</a>
作品名: <a href="http://www.freem.ne.jp/win/game/7838" target="_blank">ヒトミ</a>
制作ソフト: RPGツクールVX Ace
目安プレイ時間: 6分から11分
ジャンル: 超短編ホラーゲーム
動作環境: WindowsXP/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25281132" target="_blank">ヒトミ</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/7838" target="_blank">ヒトミ(ふりーむ)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_112.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">どう考えてもこわい。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_113.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">かわいらしい指人形。ほのぼのしていますね(棒)。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_115.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">部屋の中を探索して、物語を進めていきます。恐怖に荒ぶるコメント欄。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_116.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">とてもスクショで見せられない光景に(黒塗り) 続きはプレイで!!</p></div>

<p>
そんなこんなで、初の時間内クリア。
鎌首「こぉおおおれは、怖ッッ!!!」
猫マグロ「この完成度はスゴイな!!この短時間で、このクォリティはスゴイ。伏線の回収といい、周りの環境といい。」
</p>
<p>
さて、日付も越えました。
</p>

<hr>

<h3>17作目: 『<a href="http://www.freem.ne.jp/win/game/8799" target="_blank">かみさまの心臓</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_117.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『神様の心臓』スタート。</p></div>
<p>
作者名: <a href="https://twitter.com/rizzini04011?lang=ja" target="_blank">らふわーかー</a>
ウェブサイト: <a href="http://lafworker.web.fc2.com/" target="_blank">かみさまの心臓</a>
作品名: <a href="http://www.freem.ne.jp/win/game/8799" target="_blank">かみさまの心臓</a>
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25879080" target="_blank">かみさまの心臓</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8799" target="_blank">かみさまの心臓(ふりーむ)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_118.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">コメント欄を見ても良い評価ばかりが流れてきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_119.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">サックサクと死ぬので、セーブ必須です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_120.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">悪魔の女の子と、男の子のお話です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_121.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">深夜テンションでピロートークに花を咲かせつつ実況。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_122.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">これぞ三本の矢。三人で協力して、謎を解いていきます。</p></div>

<p>
鎌首さん、猫まぐろさん、Shelさんの実況ははじめて見ましたが、3人とも真面目っぽくて、こつこつ正当にゲームを進めていく感じが良いかんじですね😌
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_123.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">本気を出した兄の力に絶望。驚く実況者とリスナーたち。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_124.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">かわいい娘が登場すると、「かわいい」とコメントする、よく訓練されたリスナーたち。</p></div>
<p>
猫マグロ「(女の子がすごい可愛いけれど)これ、出会い系サイトじゃないですよね?」
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_125.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">きわどいトークをはさみながら、終了のお時間です。</p></div>

<p>
鎌首「世界観がしっかり作られている。正直いうと、ほまれくんのものすごいスピードはびっくりしたけれど……これも気になるゲームですね。ぜひみなさんダウンロードしてください。よろしくお願いします。」
Shel「本棚とか調べたら、もっと色々と見つかったかもしれませんね。」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_126.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">実況終了時恒例の、イラストコーナー。</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/tanakasan_m" target="_blank">三島さん</a>です。<a href="http://www.pixiv.net/member.php?id=1928175" target="_blank">Pixivはこちら</a>です。
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5118877" target="_blank">ぶっ通し!</a>』です。ニコニコ静画から拡大版を見れます。
</p>



<p>
ホラー玄人2名と、はじめてのShelさんの3名でお送りした実況。長丁場お疲れ様でした。
鎌首「自分もやっぱり次はゲームつくりたいな!と思いました」
猫マグロ「毎年非常に楽しませて頂いております。最近は簡単に作れるようになりました。RPGツクールMVも発売されるので、ぜひこの気を機会に参加してみて下さい」
</p>
</section>

<section>
<h2><span class="number">03</span>続きは<a href="http://tomotaka.tk/nicofes2016_live_summary3">その3</a>へ!!</h2>
<p>
次はむつーさんとハヤシさんのターン。俺達の素人むつー!! 元東大生のハヤシさん!!
ホラー実況はこれで完了です。この記事も次枠にうつりまーす。
<a href="http://tomotaka.tk/nicofes2016_live_summary3">その3</a>へまいりまーす。
</p>
</section>
<!--end-->
