<!--
RPGツクールMV、価格破壊とCordova搭載考察
tkoolmv_apachecordoba
2015/08/08

RPGツクールMVのApache Cordova搭載の考察です。ツクールMVの注目ポイント、クロスプラットフォームと価格面について書きました。この記事では、クロスプラットフォーム開発環境の現状を踏まえて、RPGツクールMVの立ち位置を考察しています。2015年末の発売日が楽しみです。
-->
<section>
<h2><span class="number">00</span>この記事には続編があります</h2>
<p>
この記事は過去に書かれたもので、古い内容を含みます and 続編があります。
最新の情報を元に、新しい考察を記しましたので、ご興味のある人は、こちらもどうぞ
</p>
<ul>
<li><a href="http://tomotaka.tk/tkoolmv-hack-01/" target="_blank">ツクールMVをハック日本語化</a></li>
<li><a href="http://tomotaka.tk/tkoolmv-overview/" target="_blank">RPGツクールMV概要</a></li>
</ul>
</section>


<section>
<h2><span class="number">01</span>RPGツクールMVが発表された話</h2>
<p>
ブログを作って早々、WordPressのパスワードを紛失してしまい、いきなり何も書けない状態に。モチベーション急降下の結果、放置に至っていた当ブログですが、新作RPGツクールのニュースが飛び込んできたので、いてもたってもいられず、MySQLからパスワードを上書きしてブログを復旧しました。
</p>
<p>
さて、新作ツクールこと<a href="https://tkool.jp/mv/" target="_blank">RPGツクールMV</a>ですが、公式サイトに各種仕様が掲載されています。前作の<a href="http://tkool.jp/products/rpgvxace/index" target="_blank">RPGツクールVX Ace</a>が2011年12月発売だったので、かれこれ4年経ちます。私は<a href="http://tkool.jp/products/rpgxp/index" target="_blank">RPGツクールXP</a>に触れたのが最後になってしまったので、バージョンを2つ跨ぐ事になり、ちょっとした浦島太郎気分です。
</p>
</section>
<section>
<h2><span class="number">02</span>新機能まとめ</h2>
<p>
各種新機能は、WEBやメディアに詳しいのでサラッと。
</p>
<ul>
<ol>
<li>Windows版に加え、Mac版も発売</li>
<li>書き出し形式が、スマートフォン(Android、iOS)、PC(Windows、Mac OSX)、WEBブラウザ(HTML5)と拡大</li>
<li>スクリプトは旧来のRGSS(Ruby拡張)ではなく、JavaScript準拠</li>
<li>画面サイズは前作の544×416ピクセルから、816×624ピクセルへと拡大</li>
<li>歩行キャラクターの基準サイズ/マップチップのサイズが32×32ピクセルから48×48ピクセル(1.5倍)に</li>
<li>データベース機能が大幅強化。作成アイテム上限が旧来の999個から2000個へアップ。番号表示機能も地味ながら良い進化。</li>
<li>イベント検索機能が搭載。煩雑なイベントや変数を検索可能に。</li>
<li>戦闘形式をサイドビューとフロントビューの両方から選べる</li>
</ol>
</section>
<section>
<h2><span class="number">03</span>Apache Cordovaとクロスプラットフォーム開発について</h2>
<p>
最も大きな変更は、多彩な対応プラットフォームです。<a href="https://www.android.com/" target="_blank">Android</a>、<a href="https://www.apple.com/jp/ios/" target="_blank">iOS(iPhone)</a>、<a href="http://www.microsoft.com/ja-jp/windows" target="_blank">Windows</a>、<a href="http://www.apple.com/jp/mac/" target="_blank">Mac OSX</a>、そして<a href="https://ja.wikipedia.org/wiki/%E3%82%A6%E3%82%A7%E3%83%96%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6" target="_blank">各種ブラウザ</a>に対応させる。そして<a href="https://ja.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>プラグイン対応との事。(おそらく<a href="https://ja.wikipedia.org/wiki/RGSS" target="_blank">RGSS</a>は引退でしょうね……)となると、RPGツクールMVは<a href="https://cordova.apache.org/" target="_blank">Apache Cordova</a>を拡張した開発環境なのかな? と想像します。
<a href="https://cordova.apache.org/" target="_blank">Apache Cordova</a>はかつて<a href="http://phonegap.com/" target="_blank">PhoneGap</a>と呼ばれていたものです。<a href="http://www.adobe.com/jp/" target="_blank">Adobe</a>が買収した後、オープンソースとして公開されました。
現在は<a href="https://www.microsoft.com/ja-jp/dev/default.aspx" target="_blank">Microsoft Visual Studio 2015</a>や、アシアル社の<a href="https://ja.monaca.io/" target="_blank">Monaca</a>にも搭載されており、幅広い開発環境が提供されています。
<a href="https://cordova.apache.org/" target="_blank">Cordova</a>はHTML5/CSS/JavaScriptをAndroidやiPhoneといった様々な環境で動作するよう、変換する仕組みです。この分野はハイブリッドアプリ開発とかクロスプラットフォームアプリ開発と呼ばれています。
</section>
<section>
<h2><span class="number">04</span>クロスプラットフォーム開発環境の現状と課題</h2>
<p>
クロスプラットフォーム開発環境には、
<a href="http://colopl.co.jp/shironekoproject/" target="_blank">Unity</a>(採用実績は<a href="http://dengekionline.com/elem/000/001/039/1039929/" target="_blank">白猫プロジェクト</a>や<a href="http://www.jp.square-enix.com/dqsp/dq8/" target="_blank">ドラゴンクエストVIII 空と海と大地と呪われし姫君</a>)<a href="http://xamarin.com/" target="_blank">
Xamarin</a>(採用実績は<a href="http://qiita.com/amay077/items/b7235aefab8d2e3b72f1" target="_blank">NHK紅白アプリ</a>や、<a href="https://trello.com/" target="_blank">Trello</a>)
<a href="http://www.sra.co.jp/qt/" target="_blank">Qt</a>(採用実績は<a href="http://www.skype.com/ja/" target="_blank">Skype</a>、<a href="https://www.google.co.jp/intl/ja/earth/" target="_blank">Google Earth</a>)
<a href="http://electron.atom.io/" target="_blank">Electron</a>(採用実績は<a href="https://atom.io/" target="_blank">ATOM</a>、<a href="https://slack.com/" target="_blank">Slack</a>、<a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>)。
ほかにも、<a href="http://www.adobe.com/jp/products/flash.html" target="_blank">Adobe Flash</a>、<a href="http://jp.cocos.com/" target="_blank">Cocos2d-x</a>、<a href="http://install.titanium-mobile.jp/" target="_blank">TitaniumMobile</a>、<a href="http://gamesalad.com/" target="_blank">Game Salad</a>、<a href="https://coronalabs.com/products/corona-sdk/" target="_blank">Corona SDK</a>などが存在します。
</p>
<p>
それぞれ変換方式や開発環境、そして普及している分野に違いがあります。たとえばUnityはゲーム分野ですし、Xamarinは業務用ソフトウェアなどで活用されます。クロスプラットフォーム開発は企業における開発がメインです。一度書いたプログラムを、複数の環境に対応させるために導入します。コストや時間削減のために使われるのです。
</p>
<p>
しかし企業向けソフトウェアなので、価格は高めです。例えばUnity 5 Proは194400円、Xamarin Android Businessは127800円です。これはあくまで一例の価格です。学割ライセンスやまとめ買いで安くなりますし、無料版や体験版も用意されています。特にUnityは個人利用の場合、無料で使えるシーンは幅広いです。しかし、企業のソフトウェアを無償で使う場合、ソフトウェアライセンスを注視し、規約変更に目を光らせる必要があります。ある日突然、利用規約が変更されて、ソフトウェアが公開できなくなったり、配布場所が制限される可能性がある為です。もちろん有料で購入した場合でもソフトウェアライセンスの確認は必要です。しかし無料利用ユーザは企業の思惑や戦略転換の結果、一夜で状況が変わるリスクがあるので、特に注意すべきなのです。
</p>
<p>
クロスプラットフォーム環境は情報が少ないのも課題です。<a href="http://xamarin.com/" target="_blank">Xamarin</a>と<a href="https://cordova.apache.org/" target="_blank">Cordova</a>関連の最近のビッグニュースは「<a href="http://jp.techcrunch.com/2015/07/21/20150720microsoft-launches-visual-studio-2015/" target="_blank">MicrosoftがVisual Studio 2015にXamarinとCordovaを積極的に搭載した。(2015年7月21日)</a>」というあたりですが、開発に使える情報はまだまだ少なく、英語ばかりな状況です。今後は増えてくるのでしょうけれども。
進化の激しいスマートフォン情勢に合わせて、クロスプラットフォーム開発環境も状況が変化します。そのため情報が陳腐化しやすく、Unity以外の書籍は壊滅的に少ないのです。
</p>
</section>
<section>
<h2><span class="number">05</span>Macアプリ対応はどうする?</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150808_tkoolmv_publish.png" width="810" height="250"  class="size-full" /><p class="wp-caption-text">初のマルチデバイス対応。RPGツクールMV公式サイトより引用</p></div>
<p>
話を戻して、RPGツクールMVですが。唯一ひっかかるのは、Mac/app形式対応の部分です。
<a href="https://cordova.apache.org/" target="_blank">Cordova</a>はAndroid、iOS、Windowsアプリで書き出しは可能なものの、Mac OSX形式には特段対応していなかったはずなのです。
RPGツクールMVの公式サイトには、大きく「Mac/app形式対応」と書かれているので、どのように実装しているのか大変気になります。
もしかしたらMac版のみエミュレータを搭載するとか、HTML5アプリを<a href="http://electron.atom.io/" target="_blank">Electron</a>でラップして出力されるのかもしれません。
</p>
</section>
<section>
<h2><span class="number">06</span>RPGツクールMVのコスパは凄い(かも)</h2>
<p>
現時点で価格未発表なので、推察に過ぎませんが、
もしRPGツクールMVが従来路線の価格、すなわち1万円〜1万5000円程度で販売されたら、なかなかの価格破壊と言えます。現状のUnityやXamarinをはじめ、クロスプラットフォーム開発は10万円規模でお金がかかります。
もちろん無料版や体験版で凌ぐ事も出来ます。特にUnityは無料で完結できる範囲が非常に広い為、個人ユーザのフリーゲーム作者や学生がUnityにお金を払う場面は少ないでしょう。しかしアプリ公開や販売時にはライセンスの問題がつきもの。お金や利用規約に敷居の高さや不安感はあると思います。それに加え昨今の開発環境は、サブスクリプション制に移行しつつあります。サブスクリプションとは月額課金の意味です。スマホのソシャゲのように、入口は無料だけれど、色々な機能を使おうとすると、毎月お金がかさむというモデルです。
しかしRPGツクールシリーズは、ソフトウェア買い切りモデル。購入時に1回お金を払えば、誰でもすべてを使える。極めてシンプルです。
私は<a href="http://tkool.jp/support/guideline" target="_blank">RPGツクールシリーズのゆるい規約</a>は、非常に強みだと考えています。ソフトウェアライセンスが複雑化する今だからこそ、この<a href="http://tkool.jp/support/guideline" target="_blank">やわらかルール</a>を維持して欲しいと願います。クリエイターはゲームを作りたいのであって、利用規約や毎月の利用料金に頭を悩ませたくはない。はずです。もしRPGツクールMVが1万数千円ポッキリで販売され、ルールがシンプルならば、独自色を持ったインパクトある製品になると考えられます。
</p>
<p>
<span class="strong_red">RPGツクールMVが攻めるユーザ像は
Unityほど多機能さを必要とせず、
2Dゲームを、
マルチプラットフォームで、
安く手軽に作る。</span>
あたりじゃないかなぁ。と想像します。
<span class="strong_gray">つまりエロゲですね。エロゲにツクールMVの波、きちゃうかも。</span>
</p>
<p>
Android/iOS開発をしたい個人開発者は世界中におりますので、インディーズゲームにおいて一気に導入が進む可能性すらあります。商業的なスマホゲームがRPGツクールMVを導入するとは考えにくいですが、プロトタイプの作成には十分使えるでしょう。どうか、RPGツクールMVは、サブスクリプションに移行せず、今までと同じようにソフトウェア買い切り方式で販売して欲しいと切に願います。おねがいします、どうか!!
</p>
</p>
さて、願望を交えつつRPGツクールMVの料金とクラスプラットフォームの現状と考察を記しましたが。どちらにしても、PCとスマートフォンを全方位で対応しているRPGツクールMVは、クロスプラットフォーム・ゲーム開発においてUnity一強状態に挑むという意味でも、価格的な意味でも、大変期待できます。続報が楽しみでなりません。
</p>
<p>
<span class="strong_gray">
RPGツクールMV販売までに、<a href="http://tkool.org" target="_blank">ツクール新聞(閉鎖中)</a>や<a href="http://3punge.jp" target="_blank">3分ゲーコンテスト(閉鎖中。しかもドメイン奪われた)</a>も復活させたいなぁ。</span>
</p>
</section>
<section>
<h2><span class="number">07</span>参考リンク</h2>
<p>
この情報を書くにあたり、弓猫チャンネルさんに記述された情報・考察が参考になりました。多謝。私もコメントに記述しています。
</p>
<ul>
<li><a href="http://lucky-duet.com/archives/1307" target="_blank">『RPGツクールMV』、判明した情報をできるだけ挙げていく。</a></li>
<li><a href="http://lucky-duet.com/archives/1317" target="_blank">どうしてJavaScriptなの？ 『RPGツクールMV』のスクリプトを徹底考察！</a></li>
</ul>
</section>
<section>
<h2><span class="number">08</span>最後にカッコワルい予防線と別解</h2>
<p>
ところで、ここまで書いておいてアレですが。Apache Cordovaは「私がRPGツクールMVを実装するなら。」と想像した時の最有力候補。というだけの理由でして、他のクロスプラットフォーム環境を拡張している可能性もあります。大穴ながらRPGツクールMV開発チームによる完全独自実装の線も捨てきれません。ただ、ライセンスや仕様の筋の良さやら、総合的に考慮すると、Cordovaの可能性が高いんじゃないかなぁと空想するわけです。
</p>
<p>
ちまたでは「<a href="http://enchantjs.com/ja/" target="_blank">enchant.js</a>か?」という声もありますが、これには私はやや否定的な立場です。理由はネイティブアプリ変換時にゲームサウンドの同期や変換が難しい為です。ライブラリとして同封されている可能性はありますが、enchant.jsがメインの実装とは考えにくいです。別案として<a href="http://jp.cocos.com/" target="_blank">Cocos2d-x</a>メイン説もアリですが、公式サイトにHTMLメインと書かれています。Cocos2d-x採用ならJavaScriptメインと書くはずかなと。
いやはや、これでCordova予想が外れていたら、ハズカシイですね……。マァ、こういう風に想像するのも、発売前の楽しみって事で、その時は、笑って堪忍してやってください😁💦。
</p>
</section>
<section>
<h2><span class="number">09</span>後日談の追記</h2>
<p>
この記事は、2015年8月8日に書かれたものです。当時はRPGツクールMVの開発発表直後でした。少ない情報の中、誇大妄想を膨らませて予測した当記事でしたが、結果は以下の通りでした。
</p>
<table>
	<tr>
		<th>項目</th>
		<th>正誤</th>
		<th>備考</th>
	</tr>
	<tr>
		<td>Apache Cordova予測</td>
		<td>正解</td>
		<td>どんぴしゃ!!やったぜ!!</td>
	</tr>
	<tr>
		<td>Electron予測</td>
		<td>はずれ</td>
		<td>方式はあってたが、類似ソフトのNW.jsを利用</td>
	</tr>
</table>
<p>
全体として当記事の8割くらいが的中したように思います。なかなか楽しい推理でした😁。とはいえ、2015年12月2日現在は、新しい情報が多数出ており、当記事は陳腐化しつつあります。続編も執筆しておりますので、こちらもご参照下さい。
</p>
<ul>
<li><a href="http://tomotaka.tk/tkoolmv-hack-01/" target="_blank">ツクールMVをハック日本語化</a></li>
<li><a href="http://tomotaka.tk/tkoolmv-overview/" target="_blank">RPGツクールMV概要</a></li>
</ul>
</section>
