<!--
ホラーゲーム+自作ゲーム70作品実況リアルタイムまとめ(4)
nicofes2016_live_summary4
2015/08/16 06:02

ニコニコ自作ゲームフェス5の実況を、リアルタイムでまとめます。 パート4です。
 -->
<section>
<h2><span class="number">01</span>リアルタイムまとめ1から6のリンク</h2>
<p>
<a href="/nicofes2016_live_summary">Part1</a>、<a href="/nicofes2016_live_summary2">Part2</a>、<a href="/nicofes2016_live_summary3">Part3</a>、<a href="/nicofes2016_live_summary4">Part4</a>、<a href="/nicofes2016_live_summary5">Part5</a>、<a href="/nicofes2016_live_summary6">Part6</a>、
</p>
</section>

<section>
<h2><span class="number">02</span><a href="http://live.nicovideo.jp/watch/lv228989563" target="_blank">放送はこちらから</a>lv228989563です。</h2>
<h3><a href="http://tomotaka.tk/nicofes2016_live_summary/">その1</a>と<a href="http://tomotaka.tk/nicofes2016_live_summary2/">その2</a>、<a href="http://tomotaka.tk/nicofes2016_live_summary3">その3</a>、からの続きです。</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_title.png" width="810" height="169"  class="size-full" /><p class="wp-caption-text">ニコニコ自作ゲームフェス2016のイメージイラスト</p></div>
<blockquote>

<p>
ニコニコ自作ゲームフェス５受賞作品、ホラーゲームフェス受賞作品を計70作品をぶっ通し生放送！
今回より、ニコニコゲームマガジン連載作品も登場！
16日13時より、ニコニコ自作ゲームフェス５＋ホラーゲームフェス表彰式も生放送。
ニコニコ自作ゲームフェス５大賞作品も発表されます！
お気に入りのゲーム＆実況者に出会えるかも？！
</p>
</blockquote>
<p>
ニコニコ動画が主催するフリーゲームコンテスト「ニコニコ自作ゲームフェス5」の生放送です。ゲーム実況者がぶっ続けで、応募作品をプレイしていきます。っていうか、実況者様は3時間毎に入れ替わっていくわけなんですけれど、これ書いている私は、一人なんですよね。わたくしさんみたいに分身したい!!
さて、実況開始から15時間経過。ホラー実況の<a href="http://tomotaka.tk/nicofes2016_live_summary/">その1</a>と<a href="http://tomotaka.tk/nicofes2016_live_summary2/">その2</a>、ゲーム実況の<a href="http://tomotaka.tk/nicofes2016_live_summary3/">その3</a>を経て、ついにパート4です。時刻も7時。今日がコミックマーケット88の最終日です。戦士たちよ、闘いの時間です。どうかご武運を!!
</p>
<p>
リアルタイムで編集していくので、誤字やミスがあるかも。コメント欄で指摘してもらえたら、随時なおします。
</p>
</section>
<section>
<h2><span class="number">03</span><a href="https://twitter.com/watakushi_games" target="_blank">わたくしさん</a>と、<a href="https://twitter.com/p1kt3" target="_blank">ぴくとさん</a>コンビ</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_230.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">マインクラフト実況のピクトさん</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_231.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">自己紹介が面白い、左のわたくしさん。マインクラフトで農業やっています。</p></div>

<h3>34作目: 『SAVE』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_232.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『SAVE』はクトゥルフ神話をモチーフにしたRPGです。</p></div>
<p>
作者名: <a href="https://twitter.com/buntyojirusi" target="_blank">あたりめ</a>
ウェブサイト: <a href="http://buntyojirusi.sakura.ne.jp/" target="_blank">文鳥小箱</a>
制作ソフト: RPGツクール2000
目安プレイ時間: 3時間から4時間程度
ジャンル: RPG
動作環境: Windows XP/Vista/7/8/8.1
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26026920" target="_blank">SAVE 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8958" target="_blank">SAVE</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
貴方は傷が完治し、目を覚ます。
貴方は目深にローブを被り、外へと出て行く。
神話的恐怖に立ち向かい、奪われたものを取り戻すために。
クトゥルフ神話をモチーフにしたRPGゲームです。(ホラーではありません。)
プレイ時間は3～4時間程度。エンディング数は3つ。
ぬるいですが、多少のグロテスク要素が含まれます。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_233.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">主人公名「ワタクシ」で、RPGを進めていきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_234.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">システム的には王道のRPGのようです。SAN値について雑談しつつ、実況を進めます</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_235.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ラブレターを届けるお使いゲーをこなします。</p></div>
<p>
わたくしさんも、ピクトさんも、真面目な感じで実況を進めていきます。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_236.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">パシられた結果、カップル誕生。爆ぜよと呟くリスナーたち。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_237.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">薄暗い館を探索します。悲しい人形とのバトルがはじまる!? たたかう、わたくし!! </p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_238.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">わたくしよ、しんでしまうとは、なさけない!!!</p></div>

<p>
わたくしがお亡くなりになった所で、制限時間に!!
ピクト「序盤しか見れなかったけれど、続きが気になりますよね」
わたくし「しっかりとした王道RPGでいいですね。それにクトゥルフ神話が加わっていて、いい感じでした。続きはダウンロードで!」
ピクト「RPGたのしいね、自作ゲーム、たのしいね!!」
</p>


<hr>

<h3>35作目: 『<a href="http://mogera.jp/gameplay?gid=gm0000002102" target="_blank">剣と太陽のツインテール</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_239.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『剣と太陽のツインテール』スタート。作者コメントは「ツインテールはかわいい」</p></div>
<p>
作者名: <a href="https://twitter.com/sc2gg_wagomu" target="_blank">SC2GG</a>
ウェブサイト: <a href="http://sc2gg.net/" target="_blank">SC2GG</a>
制作ソフト: HTML5 + <a href="http://enchantjs.com/ja/" target="_blank">enchant.js</a>
目安プレイ時間: 10分から1時間
ジャンル: 10分ロールプレイングゲーム
動作環境: ブラウザ
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25431775" target="_blank">剣と太陽のツインテール 紹介動画</a>
ゲームダウンロード: <a href="http://mogera.jp/gameplay?gid=gm0000002102" target="_blank">剣と太陽のツインテール</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
10分で遊べるRPG！ツインテールはかわいい！
ランダムオプションがついた装備をつけかえたり、 合成したりしながらダンジョンを攻略しましょう！
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_240.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「これ、複雑そうだけれど、時間内にうまくいけるかな? (by わたくし)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_241.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">しかし、装備をつけていなかった!! 即死ッ!!</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_242.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">再チャレンジ!! 装備を調えれば、怖くない。どんどんダンジョンを進もう。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_243.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">合成で、装備を強化します。さらに深いダンジョンに潜れるように、リスナーと協力して挑みます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_244.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">キャラクターがパワーアップすると、ツインテール少女もバージョンアップします。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_245.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">最後のダンジョンもクリアーして、区切りの良い所でタイムアウトです。</p></div>

わたくし「楽しいな。いろんなグラフィックが見たいな」
ピクト「装備を上げれば、もっと色々なツインテールが見えたのかもね。」
わたくし「ちなみにこのキャラクターはアイス属性だよね。……つめたい女性とか好き?」
ピクト「いや、やっぱデレデレが好きだよね」
わたくし「フーン」

<hr>

<h3>36作目: 『<a href="http://www.freem.ne.jp/win/game/8758" target="_blank">雨雲</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_248.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『雨雲』はじまりです。のべルパートからスタートです。</p></div>
<p>
作者名: <a href="https://twitter.com/tyantosam" target="_blank">サム</a>
ウェブサイト: <a href="http://love2daimission.blog13.fc2.com/" target="_blank">ちゃんとする</a>
制作ソフト: Livemaker
目安プレイ時間: 2時間程度
ジャンル: サスペンスアドベンチャーゲーム
動作環境: Windows98/98SE/Me/2000/XP/Vista/7/8
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25856172" target="_blank">雨雲 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8758" target="_blank">雨雲</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
前半はストーリーを読み進めていくパート、
後半は考察パートがあります。
数々の女性失踪事件を解決するために
それまで見た情報を思い出しながら
犯人にたどり着きましょう。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_246.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">まずはノベルパートからのスタートです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_247.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ピアスを探す人を手伝おう。としたら、不穏な空気に……</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_249.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">舞台が移って、日常のコンビニ仕事に。わたくしさんの声が、仕事人っぽくて合います。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_250.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">日常パートの居酒屋シーン。キャラクターの平々凡々な生活が語られます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_251.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">恋愛話に転がりつつ。しがない男、児島の挑戦が……</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_252.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">チーン。終了です。</p></div>

<p>
しおりちゃん、古畑、児島の3人のキャラクターが見えてきた所で終わりました。
わたくし「女性失踪事件と絡んで、どうなっていくのか」
ピクト「ただの恋愛ゲームっぽくなっちゃいましたけれどね」
わたくし「ここから先は、是非皆様がダウンロードしてプレイして頂ければと思います」
</p>

<hr>

<h3>37作目: 『<a href="http://www.freem.ne.jp/win/game/8630" target="_blank">青い蜥蜴と夜の絵本</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_253.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">絵本みたいな雰囲気のタイトル画面。『青い蜥蜴と夜の絵本』スタートです。</p></div>
<p>
作者名: <a href="https://twitter.com/roziurad" target="_blank">cf_u</a>
ウェブサイト: <a href="http://roziurau.blog.fc2.com" target="_blank">メゾン路地裏</a>
制作ソフト: RPGツクールVX Ace
ジャンル: 探索/文字入力ADV/読物系
動作環境: Windows XP/Vista/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25758245" target="_blank"> 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8630" target="_blank">青い蜥蜴と夜の絵本</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
鬱陶しい男の余計なちょっかいにより「夜の絵本」に迷い込んでしまった獣耳ゴーレム達のお話。
鍵となる謎解きはただ一つ【絵本の結末を記述する】こと
概要：色気のない巨乳と鬱陶しい眼鏡男
要素：探索/文字入力ADV/読物系
※雑多で突飛なメルヘン世界の茶番ですお肌に合わない場合はご注意ください
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_254.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">様式美の「でかい」は、この生放送で、何回目なんでしょうか。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_255.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">またしても甘酸っぱい話が。ピクトさん and わたくしさん枠は、恋愛成分多めの様子。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_256.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">おまじないが失敗して異世界に。「ってか、ステータス強ッ!? (by ピクト)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_257.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">キャラクターの心が通じ合って、円満解決……?</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_258.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">……という所で時間です。「もっと色々と調べられたかもね(by わたくし)」</p></div>

<p>
色々な要素やエンディングがありますので、続きはダウンロードで!! ですね。
</p>

<hr>

<h3>38作目: 『<a href="https://play.google.com/store/apps/details?id=ity3d.Ari2" target="_blank">うじゃ蟻</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_259.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">お次はAndroidアプリ『うじゃ蟻』です。</p></div>
<p>
作者名: ToyStore
ウェブサイト: <a href="https://play.google.com/store/apps/developer?id=ToyStore" target="_blank">ToyStore - Google Play の Android アプリ</a>
目安プレイ時間: 飽きるまで
動作環境: Google Android Nexus7
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25510578" target="_blank"> 紹介動画</a>
ゲームダウンロード: <a href="https://play.google.com/store/apps/details?id=ity3d.Ari2" target="_blank">うじゃ蟻</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
蟻を量産するシュミレーションゲームです。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_260.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">蟻の数が0になったら、ゲームオーバーです。たくさん蟻をつくりましょう。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_261.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ひたすら連打して蟻を増やす、わたくしさん。増やす事に関しては、彼は十八番でしょう。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_262.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">蟻を増やして、次のステージへ引越です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_264.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで終了です。「Androidで遊べるので、皆さんもやってみてください(by ピクト)」</p></div>


<hr>

<h3>39作目: 『<a href="http://www.freem.ne.jp/win/game/9167" target="_blank">いじめっこ虐殺ゲーム</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_265.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ついに40作品目。『いじめっこ虐殺ゲーム』のはじまりです。</p></div>
<p>
作者名: くらげ澪
ウェブサイト: <a href="http://plasticlabel.sakura.ne.jp/zen_01_01.html" target="_blank">PLASTICLABEL</a>
制作ソフト: WOLF RPGエディタ
目安プレイ時間: 2時間から3時間
ジャンル: 探索アドベンチャーゲーム
動作環境: Windows XP/Vista/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26214333" target="_blank">いじめっこ虐殺ゲーム 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9167" target="_blank">いじめっこ虐殺ゲーム</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
探索ADV。
ストーリー重視の内容です。自分の好きなルートを選ぶことができます。
謎解き、アクション、迷路の中から選んで進むことができます。
全キャラクターフルボイス。エンディング３種類。
</p>
</blockquote>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_266.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">今回の生放送でもっとも物騒なタイトルですが、なにがはじまるのでしょうか。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_267.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">キャラクターボイスつきです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_268.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">冴えた謎解きを発揮しつつ、ステージを進めていきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_269.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ドロドロしたお話も混ぜ込まれつつ。「うーん、良くないよねぇ、こういうのは (by わたくし)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_270.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ゲーム理論に基づいた心理戦と口先の攻防が繰り広げられます。団結するリスナーコメント!!</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_271.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">高度な心理戦が繰り広げられるッ!! 朝になってコメントも加速してきました。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_272.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">劇的な頭脳戦の末……勝利ッ!!</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_273.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで時間です。気持ちよく終わる事ができました。</p></div>



<hr>

<h3>40作目: 『<a href="http://shimage.net/homuran/" target="_blank">HOMURAN</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_274.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">プレイボォーーール!!『HOMURAN』開始です。</p></div>
<p>
作者名: <a href="https://twitter.com/shimage_net" target="_blank">shimage</a>
ウェブサイト: <a href="http://shimage.net/" target="_blank">shimage.net</a>
制作ソフト:Action ScriptとFlixel
目安プレイ時間: 10分くらい
ジャンル: ブロック崩し
動作環境: ブラウザ(Flash)
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25223027" target="_blank">HOMURAN 紹介動画</a>
ゲームダウンロード: <a href="http://shimage.net/homuran/" target="_blank">HOMURAN</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
野球+ブロック崩しです。最初はなかなか球が飛ばないかも知れませんが、慣れてくると好きなように飛ばせるようになります！
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_275.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ブロック崩しと野球のミックスゲームです。マウスで操作します。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_276.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">わたくしさんからピクトさんにバトンタッチするも、難易度高し。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_277.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">……と思ったら、うまくボールが入って、コンボ。クリア!! コメントも湧きます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_278.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで終了のチャイムが。スーパープレイが画面に映らず残念なわたくしさん。</p></div>

<p>
わたくし「このゲームのコツですが。みなさん、光るブロックを狙いましょう」
</p>


<hr>

<h3>41作目: 『<a href="http://www.freem.ne.jp/win/game/8473
" target="_blank">トマトマトマト 〜トマトトトマトトトマト〜</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_279.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">実況でも話題になった『トマトマトマト 〜トマトトトマトトトマト〜』が始まりました。</p></div>
<p>
作者名: <a href="https://twitter.com/miru_tyatyatya" target="_blank">水松茶 茶々留</a>
制作ソフト: RPGツクールVX Ace
目安プレイ時間: 30分程度
ジャンル: あなたがトマトなら楽しめる
動作環境: Windows XP/Vista/7/8/8.1/10
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25517704" target="_blank">トマトマトマト 〜トマトトトマトトトマト〜 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8473
" target="_blank">トマトマトマト 〜トマトトトマトトトマト〜</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
人類がトマトに統一されてしまった。
なぜと問われても、そうなのだから仕方がない。
これはそんな世界の、トマトとトマトとトマトのお話。
前置きはともかく、トマト界の革命児である主人公がやるっきゃなーっい！！
(追記)多くのトマトから反響を頂いております。
</p>
</blockquote>
<p>
<a href="http://www.freem.ne.jp/win/game/7838" target="_blank">ヒトミ</a>や<a href="http://www.freem.ne.jp/win/game/9153" target="_blank">歌舞り者。</a>と同じ作者さんの作品です。すごい。別々の三作品で受賞とは。今回のイベントで一番放送時間の長い作者様となりました。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_280.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">トマトがゲシュタルト崩壊を起こす勢いです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_281.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ゲーム画面も、コメント欄も、トマト一色です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_282.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">もうなにがなんだかわからない。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_283.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">人間になれる方法は見つかるのか……!?</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_284.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">という所でタイムアップ。「いやー、中途半端に終わって、トマッタもんだな(by ピクト)」</p></div>

<p>
これで<a href="https://twitter.com/watakushi_games" target="_blank">わたくしさん</a>、<a href="https://twitter.com/p1kt3" target="_blank">ぴくとさん</a>コンビは終了となります。お疲れ様でした。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_285.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">最後にファンアートがいくつか紹介されました。</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/oOMASHkun" target="_blank">MASHさん</a>です。<a href="http://www.pixiv.net/member.php?id=2617908" target="_blank">Pixivはこちら。</a>
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5119407" target="_blank">じさくげーむふぇす！</a>』です。ニコニコ静画から拡大版を見れます。
</p>



<p>
最後に全体を振り返っての感想です。
ピクト「全体通して全部途中で終わったじゃないですか。でも続きが気になってしょうがない」
わたくし「区切りの良い所までというか、最後までお伝えできずすいません。でも面白いのばかりでしたね」
ピクト「あまりフリーゲームやった事なかったので、新鮮でした」
わたくし「本当に面白いもんね。あとで実況したいな。フリーゲームっていっぱいありますが、賞を取っているものっていうのは、更に素晴らしいですからね」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_286.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">わたくし「というワケで、わたくしとピクトさんの出番はここまでとなります」</p></div>

<p>
ちなみにわたくしさん、この公式放送終了後、帰宅してすぐに放送の続きを3時間くらい実況生放送していました。さすがです。
</p>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_287.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">5分ほど休憩となります</p></div>
</section>
<section>
<h2><span class="number">04</span>ゲームクリエイター実況者2名+筋肉クリエイターの出番です</h2>
<a href="https://twitter.com/iwannabethemax" target="_blank">まっくすさん</a>、<a href="https://twitter.com/hiryusyo" target="_blank">飛竜さん</a>、<a href="https://twitter.com/musclemiyazaki" target="_blank">マッスル宮崎さん</a>の3名で再開です。


<h3>42作目: 『<a href="http://info.nicovideo.jp/gamemaga/pharaoh/" target="_blank">ファラオリバース</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_288.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text"><a href="http://hp.vector.co.jp/authors/VA036419/index.html" target="_blank">アクションモグラ</a>作者クロボンさんが手がける『ファラオリバース』です。</p></div>
<p>
作者名: クロポン
ウェブサイト: <a href="http://info.nicovideo.jp/gamemaga/pharaoh/" target="_blank">ファラオリバース(ニコニコ公式)</a>
ジャンル: 2D探索型アクション
動作環境: Windows
ゲームダウンロード: <a href="http://info.nicovideo.jp/gamemaga/pharaoh/" target="_blank">ファラオリバース(ニコニコ公式)</a>
</p>
<!--
<blockquote>
<p>
作者によるゲームのコメント

</p>
</blockquote>
-->
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_289.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">かわいいウサギを操作して、古代遺跡を突き進みます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_290.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「ギミックが豊富だなー!!(by まっくす)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_291.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">マッスル宮崎さんの美声演技の後、戦闘ヘリとのバトル!! まっくすさん、上手し。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_292.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「これって……どうやって作っているんだろうね(by まっくす)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_293.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">まっくすさん、ボスも一発でクリアー。ほんとうに上手い。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_294.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">1Deathするものの、サクサクとダンジョンの深奥を突き進みます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_295.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">難易度もどんどん上がる。ついにオワタ式状態まで追い詰められます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_296.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ついに死亡。と同時に、終了のゴングが。遺跡探索も終了です。</p></div>

<p>
飛竜「ニコニコゲームマガジンで連載中なので、気になる人は見に行って下さいね。」
</p>

<hr>

<h3>43作目: 『<a href="http://www.geocities.jp/warotarock/ptw_beta/" target="_blank">Phantastic Tryno World Episode 3</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_297.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">3Dシューティングゲーム『Phantastic Tryno World Episode 3』を飛竜さんがプレイ。</p></div>
<p>
作者名: <a href="https://twitter.com/warotarock" target="_blank">柏崎ワロタロ</a>
ウェブサイト: <a href="http://www.geocities.jp/warotarock/" target="_blank">時雨Enoquiopt</a>
目安プレイ時間: 5分40秒くらい
ジャンル: 3Dノリノリミュージックシューティング
動作環境: Google Chrome
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25162957" target="_blank">Phantastic Tryno World Episode 3 紹介動画</a>
ゲームダウンロード: <a href="http://www.geocities.jp/warotarock/ptw_beta/" target="_blank">Phantastic Tryno World Episode 3</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
WebGL製のブラウザゲームです。ジャンプと緊急回避で飛び回ってＢＧＭのテンポに合わせて撃ちまくります。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_298.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うぉおおお、すげぇええ(by まっくす)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_299.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">緊急回避とローリングを使いこなして、空を駈けてゆきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_300.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">音ゲー要素もあるようです。ゲーム上手なまっくすさんに交代。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_301.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">スクリーンショットを撮っても撮ってもブレてしまいます。すごいスピード感が伝わります。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_302.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">飛竜「マックスがんばれ!! マックス村井がんばれッ!!」まっくす「マックス村井ちゃうわっ!!」</p></div>

<p>
ここで終了です。
飛竜「ブラウザからも遊べるので、ぜひ皆さんも楽しんでみて下さい!!」
まっくす「次はゲーム下手なマッスルさんにやってもらいましょう」
マッスル宮崎 「筋トレは上手なんだけれどなぁ」
まっくす「筋トレに上手とかあるの!?」


<hr>

<h3>44作目: 『<a href="http://www.freem.ne.jp/win/game/8923" target="_blank">あすなな -アストリア王国騎士団第七小隊-</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_303.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">次は『あすなな -アストリア王国騎士団第七小隊-』3年かけて作られた大作です。</p></div>
<p>
作者名: <a href="https://twitter.com/kurogeki" target="_blank">Hira@黒幕</a>
ウェブサイト: <a href="http://www.geocities.jp/kurogeki/" target="_blank">黒幕亭劇場</a>
目安プレイ時間: 15時間から20時間
ジャンル: 長編・王道ファンタジーRPG
動作環境: Windows
受賞: 敢闘賞 王道RPG賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25992833" target="_blank">あすなな -アストリア王国騎士団第七小隊 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8923" target="_blank">あすなな -アストリア王国騎士団第七小隊-(ふりーむ)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
大国同士の戦争に翻弄される小国、「アストリア王国」に所属する女性騎士アリアと仲間たちの戦いの物語です。ストーリー構築に苦しんで完成まで4年かかりました。シナリオ重視の王道作品となってます。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_304.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">王道RPGらしく、定番の会話を行った衛兵が、フラグ通りに死す。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_305.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">RPGツクールの戦闘イベントの作り方について、まっくすさんが語りながら実況が進みます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_306.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「なんか複雑になってきたな。というかなんで帝国っていつも悪者なんだろうね(by マッスル宮崎)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_307.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">オープニングがはじまりました。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_308.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">オープニングの充実さを見るだけでも、このゲームの作り込みと壮大さが伝わってきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_309.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">オープニングが終わって、間もないタイミングで制限時間です。</p></div>


<hr>

<h3>幕間のゲーム制作ツール談義</h3>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_310.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「ここで宣伝。俺、<a href="http://www.clickteam.jp/" target="_blank">インディゲームクリエイター Clickteam Fusion2.5<a>で、ゲーム作りました。次回の自作ゲームフェス2016に応募しました(by 飛竜)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_311.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「僕も<a href="http://tkool.jp/products/rpgvxace/index" target="_blank">RPGツクールVX Ace</a>でゲーム作ってます(by まっくす)」</p></div>

<p>
ゲーム制作談義に花が咲きます。
</p>

<h3>45作目: 『<a href="http://www.freem.ne.jp/win/game/9106" target="_blank">行列のできるオタマジャクシ</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_312.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">次は『行列のできるオタマジャクシ』です。オタマジャクシをうまく誘導しましょう。</p></div>
<p>
作者名: <a href="https://twitter.com/mpyJtr" target="_blank">J-tr</a>
ウェブサイト: <a href="http://jtrshiogawa.blog.fc2.com/" target="_blank">栞代わりの制作メモ</a>
制作ソフト: インディゲームクリエイター Clickteam Fusion2.5
目安プレイ時間: 40分から2時間
ジャンル: マウスで誘導アクション
動作環境: Windows 7/8
受賞: インディゲームクリエイター賞
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26184370" target="_blank">行列のできるオタマジャクシ 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9106" target="_blank">行列のできるオタマジャクシ</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
オタマジャクシを集めて行列を作り、ハルカエルを起こすアクションです。
コントローラーを持ってない人でも遊べるようにマウス使用で
ステージも短めなお手軽なアクションにしました！
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_313.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">おたまじゃくしを誘導するゲームです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_314.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">マウス操作でオタマジャクシをうまくあやつりましょう。</p></div>

<hr>

<h3>46作目: 『<a href="http://www.nicovideo.jp/watch/sm25520455" target="_blank">超密閉空間逃走2</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_316.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「超密閉空間逃走2』は対戦も出来るアクションゲームです。飛竜さん作。</p></div>
<p>
作者名: <a href="https://twitter.com/hiryusyo" target="_blank">飛竜</a>
目安プレイ時間: 1秒から逃げられる限り
ジャンル: 逃走アクション
制作ソフト: インディゲームクリエイター Clickteam Fusion2.5
動作環境: Windows Vista/7
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25520455" target="_blank">超密閉空間逃走2 紹介動画</a>
ゲームダウンロード: <a href="http://www.nicovideo.jp/watch/sm25520455" target="_blank">超密閉空間逃走2(ニコニコ動画)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
続・超小型ブラックホール兵器から逃げ続けろ!!
一人でも遊べるようパワーアップして帰ってまいりました。かはりお早いお帰りですね。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_315.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">せまりくるブラックホールから逃げ、生き残りましょう。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_317.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">対戦プレイも可能です。あっという間に死ぬので、サクサクと楽しめます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_318.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">最後は協力プレイ「みんなで生きて帰ろう!! (by まっくす)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_319.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">クリア直前で死!!! 無念!!!</p></div>


<hr>

<h3>47作目: 『<a href="http://www.freem.ne.jp/win/game/9061" target="_blank">KIRISAME BLADE 2</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_320.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ドット絵が綺麗な『KIRISAME BLADE 2』のはじまりです。</p></div>
<p>
作者名: <a href="https://twitter.com/neco0413x2" target="_blank">ねこびっくり</a>
ウェブサイト: <a href="http://necobikkuri.blog.fc2.com/" target="_blank">びっくりソフトウェア</a>
ジャンル: シューティング
動作環境: Windows Vista/7/8
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26129310" target="_blank">KIRISAME BLADE 2 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9061" target="_blank">KIRISAME BLADE 2(ふりーむ)</a>
</p>
</p>
<blockquote>
作者によるゲームのコメント
Slash all of them!!
自機に装備された一対の「ブレード」と一定時間自機を強化する「ハイパー」システムを使い敵の大群を撃滅せよ！
ゲームモードは３つの基本モードとミッションモードを用意。
好きなモードを選んで戦おう。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_321.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ステージ選択や音楽選択画面でテンションが上がる3人衆。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_322.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「シューティングでもあるけれど、近距離戦だからアクションっぽくもあるね(by 飛竜)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_323.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「連打するって疲れるね (by マッスル宮崎)」「その筋肉は飾りか!? (by 飛竜)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_324.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">3人のスコア対戦は……なんと、まっくすさんの負けという結果に。</p></div>

<hr>

<h3>48作目: 『<a href="http://www.freem.ne.jp/win/game/8320" target="_blank">混沌のルーシー</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_325.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">アンディーメンテ作『混沌のルーシー』をプレイします。</p></div>
<p>
作者名: <a href="https://ja.wikipedia.org/wiki/%E6%B3%89%E5%92%8C%E8%89%AF" target="_blank">泉和義</a>
ウェブサイト: <a href="http://andymente.moo.jp/" target="_blank">アンディーメンテ</a>
 目安プレイ時間: 無限に遊べます。
ジャンル: カードバトルダンジョンRPG
動作環境: Windows XP/Vista/7/8
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25482616" target="_blank">混沌のルーシー 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/8320" target="_blank">混沌のルーシー</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
カードを収集し、ブックを構築
リアルタイムバトルでダンジョンを攻略する
やり込み要素満載の”新感覚カードバトルRPG”です。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_326.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「俺が判った事は、作者はけっこう中二病 (by まっする)」</p></div>

<p>
おそらくそれは正しい。そして、それがアンディーメンテの魅力であります。
<a href="http://www.amazon.co.jp/%E6%B3%89-%E5%92%8C%E8%89%AF/e/B004LVTZ4G/ref=dp_byline_cont_book_1" target="_blank">泉和義さんの書籍</a>はAmazonから購入できます。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_327.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「やればやる程、ちょっとずつやれる事が広がっていくんだね。面白いっすよ (by 飛竜)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_328.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">3人で相談しながら、ゲームを進めていきます。さすが軽快なインターフェースでストレスを感じません。</p></div>

<p>
ここでタイムアップです。
飛竜「これはね、暇つぶしに良い。ファンも多いし。のめりこんじゃうよね、こういうの。というわけで、混沌のルーシーでした。」
</p>

<hr>
<h3>最後に総評とゲーム制作談義に花を咲かせます</h3>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_329.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ツクールVX Aceを宣伝するまっくすさん</p></div>
<p>
まっくす「自分がゲームを作っている側の人間なので、そういう目線で見ちゃうんですけれど。なんかね、くやしい気持ちになっちゃうんですよ。普段から考えているんですけれど、優れたアイデアのゲームを見ると、『あ〜俺も考えついたかもしれないのに!!』って思っちゃうんですよね」
飛竜「ホラーゲーム、俺の枠じゃなくて良かったです。」
マッスル宮崎「どのツールを使ったらどういうゲームになるか、知れると良いね」
飛龍「ぜひ、<a href="http://www.clickteam.jp/" target="_blank">インディゲームクリエイター Clickteam Fusion2.5<a>を使ってみて下さい!」
まっくす「ぜひ、<span class="strong_red">RPGツクールを!!! 冬にでる<a href="http://dic.nicovideo.jp/a/rpg%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABmv" target="_blank">RPGツクールMV</a>はスマホゲームも作れます。</span></a>」
マッスル宮崎「俺はゲームを作れず、筋肉しか作れないけれど、むかしからフリーゲームが好きでね。でも、クリエイターにお金が廻らない仕組みが気になる。<a href="http://commons.nicovideo.jp/cpp/about/" target="_blank">クリエイター奨励プログラム</a>に登録して、みんな儲けて下さい!!!」
飛竜「そこまで儲かってないけれどね。」
まっくす「みんな、実況してください。クリエイター奨励として、収益になるので」
マッスル宮崎「クリエイターの名前とか覚えて欲しいです。みんながいい感じになると良いと思います」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_330.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「最後にファンアートが届いています (by 飛竜)」</p></div>
<p>
このファンアートの作者は、<a href="https://twitter.com/piyotto_kuruyo" target="_blank">姫宮ぴよっとさん</a>です。
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5119812" target="_blank">ぶっ通し実況まっくすさん飛竜さんマッスル宮崎さん！</a>』です。ニコニコ静画から拡大版を見れます。
</p>


<p>
飛龍「この後、受賞式です。たくさんのクリエイターが既に集まっています!!番組はそのまま!! じゃ、また後で!」
</p>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_331.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">準備の後表彰式。そのあと再度ゲーム実況の再開です。</p></div>
</section>

<section>
<h2><span class="number">05</span>続きは<a href="http://tomotaka.tk/nicofes2016_live_summary5">Part5</a>で</h2>
<p>
この記事も長くなってきましたし、表彰式を挟みますので、続きは次枠。<a href="http://tomotaka.tk/nicofes2016_live_summary5">Part5</a>へLet's Go!
</p>
</section>


<section>
<h3>おまけ</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_332.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">表彰式を待つリスナーは全員トマトになったそうです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_333.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">コメントもデフォルトでトマト色に。</p></div>

</section>

<!--end-->
