<!--
ホラーゲーム+自作ゲーム70作品実況リアルタイムまとめ(5)
nicofes2016_live_summary5
2015/08/16 13:16

ニコニコ自作ゲームフェス5の実況を、リアルタイムでまとめます。 パート5です。
 -->
<section>
<h2><span class="number">01</span>リアルタイムまとめ1から6のリンク</h2>
<p>
<a href="/nicofes2016_live_summary">Part1</a>、<a href="/nicofes2016_live_summary2">Part2</a>、<a href="/nicofes2016_live_summary3">Part3</a>、<a href="/nicofes2016_live_summary4">Part4</a>、<a href="/nicofes2016_live_summary5">Part5</a>、<a href="/nicofes2016_live_summary6">Part6</a>、
</p>
</section>

<section>
<h2><span class="number">02</span><a href="http://live.nicovideo.jp/watch/lv228989563" target="_blank">放送はこちらから</a>lv228989563です。</h2>
<h3><a href="http://tomotaka.tk/nicofes2016_live_summary/">その1</a>、<a href="http://tomotaka.tk/nicofes2016_live_summary2/">その2</a>、<a href="http://tomotaka.tk/nicofes2016_live_summary3">その3</a>、<a href="http://tomotaka.tk/nicofes2016_live_summary4">その4</a>からの続きです。</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_title.png" width="810" height="169"  class="size-full" /><p class="wp-caption-text">ニコニコ自作ゲームフェス2016のイメージイラスト</p></div>
<blockquote>

<p>
ニコニコ自作ゲームフェス５受賞作品、ホラーゲームフェス受賞作品を計70作品をぶっ通し生放送！
今回より、ニコニコゲームマガジン連載作品も登場！
16日13時より、ニコニコ自作ゲームフェス５＋ホラーゲームフェス表彰式も生放送。
ニコニコ自作ゲームフェス５大賞作品も発表されます！
お気に入りのゲーム＆実況者に出会えるかも？！
</p>
</blockquote>
<p>
表彰式をはさんで、ゲーム実況再開です。
</p>
<p>
っていうかマジっすか。まだ続くんですか!? 表彰式で終わると思っていたのに!!😱💦
実況グループ<a href="http://com.nicovideo.jp/community/co1516000" target="_blank">えんもち屋</a>による非電源系統ゲームの実況が始まりました。しかし、トモタカがルールを事細かに記述する体力が残っておりません……。非電源系は頭使うからなぁ……。うぅ……すいません、さすがに23時間ぶっ通しで書いており、疲れました。
というわけで、非電源系ゲームはスクリーンショット数枚程度の簡単な紹介に留めて、PCゲームに戻った時にちゃんと記述しようと思います。

ちょっと疲れて弱気になっているので語りますが。自作ゲームフェス5の取り組み自体は素晴らしいと思うものの、情報整備周りは弱いなぁと感じます。お膝元のはずの<a href="http://game.wiki.nicovideo.jp/indie/%E3%83%8B%E3%82%B3%E3%83%8B%E3%82%B3%E8%87%AA%E4%BD%9C%E3%82%B2%E3%83%BC%E3%83%A0%E3%83%95%E3%82%A7%E3%82%B9" target="_blank">自作ゲームWikiの情報は整備されていない</a>し、応募時の投稿動画のゲームの情報フォーマットも作者ごとにバラバラに記述されているし、公式ブログの記事も散らばっています。こんな状態で、ひとまとめに記事にするのは、調べるだけでなかなか手間がかかります。うひー……。どういう情報設計の結果、こういうつくりになっているのか、割と気になります。
</p>
</section>
<section>
<h2><span class="number">03</span>大賞発表</h2>
<p>
13時から15時に開催された審査の結果、大賞は「<a href="https://itunes.apple.com/jp/app/mi-jieki-tuo-chugemu-madjiyami/id683945916?mt=8" target="_blank">マヂヤミ彼女<a>」でした。<br>
</p>
</section>

<section>
<h2><span class="number">04</span>実況再開。えんもち屋の登場です。</h2>
<p>
<a href="https://twitter.com/kensuke_enmc" target="_blank">犬助さん</a>、<a href="https://twitter.com/tenga_enmc" target="_blank">テンガさん</a>、<a href="https://twitter.com/masashi_enmc" target="_blank">マサシさん</a>、<a href="https://twitter.com/sodeyama_enmc" target="_blank">そでやまさん</a>の4名で実況スタートです。
4人は<a href="http://com.nicovideo.jp/community/co1516000" target="_blank">えんもち屋</a>というコミュニティで活動しています。
</p>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_371.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">えんもち屋4人組が、秘伝原型ゲームを実況します。</p></div>

<h3>49作目: 『<a href="http://www.nicovideo.jp/watch/sm25754537" target="_blank">ミツバチマッチ!</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_372.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">女王蜂の奪い合いをするカードゲーム『ミツバチマッチ!』</p></div>
<p>
作者名: <a href="https://twitter.com/tamata_ma_" target="_blank">たま々</a>
ジャンル: ボードゲーム
人数: 3人から5人
目安プレイ時間: 5分から10分
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25754537" target="_blank">ミツバチマッチ! 紹介動画</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
ある蜂の巣の中で、女王蜂の奪い合いが始まってしまった。
最後に女王蜂を独り占めするのは誰だ
</p>
</blockquote>


<hr>

<h3>50作目: 『Word Chess』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_373.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">Word Chessはダイスを使って長い言葉を連ねて戦うゲームです。</p></div>
<p>
作者名: マサッカー
ウェブサイト: <a href="http://dicekingchess.doorblog.jp/archives/43987231.html" target="_blank">39芸夢レストラン</a>
ジャンル: ダイスゲーム
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm25889605" target="_blank">Word Chess 紹介動画</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
ワードキューブのセットで遊べるゲームの一つです。名前の通りチェス的なワードゲームですが、チェスが苦手な人も関係なくプレー出来ます。立方体の木材とワイヤーネットを100円ショップで買い、木材にペンで文字を書けばプレー出来ます。駒はその文字で始まる言葉を作ることによってその文字数だけ移動し、上手く相手の文字で止まったら捕獲できます。盤上の文字を上手く使って言葉を作ると有利になるので、言葉を結構考えます。ルールは以下を参照下さい。
</p>
</blockquote>

<p>
最初は非電源ゲームで、なおかつ未知のものを紹介って難しいと思ったけれど、えんもち屋4人組は凄かった。役割分担してルールの解説や、ゲームの強弱を、時に手札を見せつつ視聴者に判りやすく伝えていて、素晴らしいと思いました。
</p>

<hr>

<h3>51作目: 『<a href="http://inflationquest.com/" target="_blank">インフレクエスト2</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_374.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ツクールへのアツい想いを語っていたまっくすさんの『インフレクエスト』開始です。</p></div>
<p>
作者名: <a href="http://twitter.com/Iwannabethemax" target="_blank">まっくす</a>
ウェブサイト: <a href="http://com.nicovideo.jp/community/co7878" target="_blank">一つの鬼畜を制覇し新たな冒険をしそして生還しさらに冒険を続ける男 まっくすを応援するファンが総結集する集会所-ニコニコミュニティ</a>
制作ソフト: RPGツクールVX Ace
目安プレイ時間: 5時間から50時間
ジャンル: RPG
動作環境: Windows XP/Vista/7/8/8.1
ニコニコ動画: <a href="" target="_blank">インフレクエスト2 紹介動画</a>
ゲームダウンロード: <a href="http://inflationquest.com/" target="_blank">インフレクエスト2</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
レベリングが好きな方は、決してプレイしないでください。
楽しすぎて終われなくなるかもしれません。
</p>
</blockquote>

<p>
いくつもの賞を受賞し、受賞式で熱烈なRPGツクール愛を語っていた、<a href="http://twitter.com/Iwannabethemax" target="_blank">まっくすさん</a>の作品です。
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_375.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「主人公はスライムなのかな?(by 犬助)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_376.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">スライム即死。転生して犬助になりました。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_377.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">と思ったら、今度は幼女に。……っていうか、床をなめるヤバい娘が。いちいちモブキャラが面白いです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_378.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うわっ、兄貴が襲ってきた。 (by テンガ)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_379.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ボコボコに返り討ちに。4人実況者でわいわい進めていきます。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_380.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">倒した敵に、どんどん憑依していけるようです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_381.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">強敵の戦い!! いきなりステータスがインフレしたぞ。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_382.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ちーん(ゲーム的にも、実況時間的にも)</p></div>

<p>
テンガ「インフレの片鱗を味わいましたね。」
</p>

<hr>

<h3>52作目: 『<a href="http://www.freem.ne.jp/win/game/9044" target="_blank">怪盗レオン</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_383.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">窓の杜賞を受賞した『怪盗レオン』の実況スタートです。</p></div>
<p>
作者名: パルソニック
ウェブサイト: <a href="http://oab.no-ip.biz/~palincos/" target="_blank">つくりてっく</a>
制作言語: C#＋.NET Framework 3.5
目安プレイ時間: 2時間
ジャンル: 2D怪盗アクション
動作環境: Windows 7/8/8.1
ニコニコ動画: <a href="" target="_blank">怪盗レオン 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9044" target="_blank">怪盗レオン(ふりーむ)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
2人の怪盗を操作してお宝を盗み出す怪盗アクションです。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_384.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「スピード感があるね(by そでうま)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_385.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ギミックを駆使して、敵の警備をかいくぐり、ダンジョンを進みます。</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_386.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">犬助さんのボイスがやたら敵役にハマってます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_387.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">新キャラの女の子を使いながら、アクションパートを少しずつ薦めていきます。「難しいよ、これ(by そでやま)」</p></div>

<p>
ここで時間終了です。
テンガ「いやー、けっこう難しかったね」
</p>

<hr>

<h3>53作目: 『<a href="http://imo.fubuki.info/ct_dsuper1.html" target="_blank">アルマゲドン</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_388.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">アホゲーの『アルマゲドン』がはじまりました。</p></div>
<p>
作者名: <a href="https://twitter.com/daikon_bori" target="_blank">ボロ物置</a>
ウェブサイト: <a href="http://imo.fubuki.info/ct_dsuper1.html" target="_blank">First Errand ARMAGEDDON はじめてのおつかい アルマゲドン</a>
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/so26225963" target="_blank">アルマゲドン 紹介動画</a>
ゲームダウンロード: <a href="http://imo.fubuki.info/ct_dsuper1.html" target="_blank">アルマゲドン</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
レジまでたどり着け
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_389.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「おぉ!? おおぉ…… と、とりあえず、クリックゲーだから、クリックしてみよう(by そでやま)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_390.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「コメント勢もなにが起きたか、わからない。俺達も、わからない!! (by テンガ)」</p></div>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_391.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「カオスすぎるよ! どうしたらクリアになるんだ(by 犬助)」</p></div>

<p>
そでやま「えっと、犬をケチャップで洗ってたら、ケチャップがなくなったから、ケチャップ買いにスーパーマーケットに来たって、そういうストーリーなんだよね?」
テンガ「ってか、そもそも犬をケチャップで洗うっておかしくね?」
そでやま「カオスすぎるわ。」
</p>



<hr>

<h3>54作目: 『<a href="https://dl.dropboxusercontent.com/u/952960/ahoge17/Web.html" target="_blank">小銭</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_392.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">『小銭』は財布の中の小銭をなくすゲーム</p></div>
<p>
作者名: かながわ
制作ソフト: Unity
動作環境: Unity Web Player
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/1431249850" target="_blank">小銭 紹介動画</a>
ゲームダウンロード: <a href="https://dl.dropboxusercontent.com/u/952960/ahoge17/Web.html" target="_blank">小銭</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
スーパーのレジで財布から小銭を支払おう!
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_393.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">そでやまさんのプレイ。あっという間に20秒経過でゲームオーバーです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_394.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">天空落としで財布をシャッフルしながら、財布の小銭を減らします。でも、これって正しい攻略方法?</p></div>



<hr>

<h3>55作目: 『<a href="http://www.freem.ne.jp/win/game/9188" target="_blank">256F</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_395.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ひたすら256階を目指すゲーム『256F』</p></div>
<p>
作者名: <a href="https://twitter.com/forte1st" target="_blank">フォルテ</a>
ウェブサイト: <a href="http://forte1st.com/" target="_blank">フォルテ第一居住区</a>
制作ソフト: Unity
動作環境: Winodws7
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26047951" target="_blank">256F 紹介動画</a>
ゲームダウンロード: <a href="http://www.freem.ne.jp/win/game/9188" target="_blank">256F(Flash版)</a>
ゲームダウンロード: <a href="http://forte1st.com/game/256f/" target="_blank">256F(ふりーむより)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
塔の最上階を目指すローグライクライクライクアクションゲームです。BGMはゲームの状況に応じて自動生成されます。
</p>
</blockquote>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_396.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">残りのエネルギーに注意しながら、犬助さんがクリア目指して登ります。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_397.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「アッ、死(by 犬助)」「コメントで犬助うまいなと言われた瞬間にコレだよ(by まさし)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_398.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">だんだん上達してきました。エナジー補給を行います。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_399.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">テンガさんが挑戦するぞ!! って所で、タイムアップです。最高記録は犬助さんの53階でした。</p></div>

<p>
そでやま「シンプルで良かったね」
テンガ「あと、コメントでも言われていたけれど、キャラクターが可愛かったよね!!」
</p>

<hr>

<h3>56作目: 『<a href="http://info.nicovideo.jp/gamemaga/kokurase/" target="_blank">コクラセ</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_400.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">人気の青春学園物語『コクラセ』です。ニコニコゲームマガジンで連載中のゲーム。実況スタートです。</p></div>
<p>
作者名: <a href="https://twitter.com/galanti3" target="_blank">galanti</a>
ジャンル: 新感覚青春アドベンチャー
動作環境: Windows
ゲームダウンロード: <a href="http://info.nicovideo.jp/gamemaga/kokurase/" target="_blank">コクラセ</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
「羽里高校」を舞台とした、秘密グループ「コクラセ」のドタバタを描く青春学園物語。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_401.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">なぜか2話から実況を開始します。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_402.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ヒトカエを使って多角的な視点でストーリーを進めていきます。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_403.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">評価の高いオープニング。「格好いいわ。驚き、桃の木、山椒の木だわ(by テンガ)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_404.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">コメントでもアドバイスが多いです。たくさんの人が既プレイである事がわかります。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_405.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「寛太って、稲川淳二っぽいよね(by テンガ)」</p></div>

<p>
ここで時間です。えんもち屋さん、お疲れ様でした。簡単に総評です。
そでやま「いやぁコクラセ面白かったね。」
テンガ「いやー色々なゲームをやったね。人類には早いかなと思うやつとかもあったし。」
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_406.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">最後にファンアートです。可愛らしいイラストですね。みんな短い間に仕上げてすごい。</p></div>
<p>
このファンアートの作者は、<a href="http://seiga.nicovideo.jp/user/illust/9951490" target="_blank">祐歩さん</a>です。
作品名は『<a href="http://seiga.nicovideo.jp/seiga/im5120374?track=seiga_illust_keyword" target="_blank">自作ゲームフェス!</a>』です。ニコニコ静画から拡大版を見れます。
</p>

<hr>
</section>
<section>
<h2><span class="number">05</span><a href="https://twitter.com/nudoing" target="_blank">ぬどんさん</a> and <a href="https://twitter.com/seramikarutitan" target="_blank">せらみかるさん</a>のターン</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_407.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ぬどんさんと、せらみかるさんの登場です。</p></div>
<p>
ぬどん「ここからは、ぬどんと」
せらみかる「マルチコンテンツクリエイターのせらみかるでお届けします。」
ぬどん「マルチコンテンツクリエイターって?」
せらみかる「絵も描くし、音楽も作るし、ゲームも作る!!でも鳴かず飛ばず。」
ぬどん「出せばいいじゃん。自作ゲームフェス」
せらみかる「こ、この距離でやると、癒着を感じられてしまうからサ!」


<hr>

<h3>57作目: 『<a href="http://rkyun-uracon.parseapp.com/" target="_blank">レンジできゅんしてっ</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_408.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">恋愛シミュレーションゲーム『レンジできゅんしてっ』のスタートです。</p></div>
<p>
作者名: <a href="https://twitter.com/uracon_official" target="_blank">uracon</a>
ウェブサイト: <a href="http://uracon.tumblr.com/" target="_blank">ura話</a>
制作ソフト: Cococs2d-x, Live2D
目安プレイ時間: 9時間くらい
ジャンル: 妄想恋愛シミュレーション
動作環境: Android, iOS(申請中)
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26068985" target="_blank">レンジできゅんしてっ 紹介動画</a>
ゲームダウンロード: <a href="http://rkyun-uracon.parseapp.com/" target="_blank">レンジできゅんしてっ</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
Twitter上の友達をヒロインとして攻略する恋愛ゲームです。
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_409.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">なんと、Twitter上のフォロアーと恋愛ができる、恋愛アドベンチャーゲームです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_410.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">この生放送の<a href="http://tomotaka.tk/nicofes2016_live_summary4/" target="_blank">Part4</a>にも登場した、マッスル宮崎さんを攻略対象にしました。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_411.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ドンッ。これでマッスル宮崎さんが攻略対象……に!?</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_412.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ツイートの情報を抽出して会話になります。なんだこのメタ発言は!?</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_413.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「た、確かに胸の発育はいいよね。マッスル宮崎(by ぬどん)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_414.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">まっくすさんから電話が。恋人かと探りを入れてくるマッスル宮崎さん。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_415.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「間違っていない(by ぬどん)」「むしろただしい(by せらみかる)</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_416.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">選択肢も、いろいろとおかしい。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_417.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">なんやかんやで、攻略完了。コメント欄からも笑いが絶えません。</p></div>

<p>
ここでタイムアップです。
せらみかる「いやー神がかり的なハマり方をしたね」
ぬどん「友達を恋愛対象に出来るって、色々とやばいね」
</p>

<hr>

<h3>58作目: 『<a href="http://forte1st.com/unity/tommy.html" target="_blank">トミーとミーとミート</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_418.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">Oculusにも対応した『トミーとミーとミート』をプレイ開始です。</p></div>
<p>
作者名: <a href="https://twitter.com/forte1st" target="_blank">フォルテ</a>
ウェブサイト: <a href="http://forte1st.com/" target="_blank">フォルテ第一居住区</a>
制作ソフト: Unity
ニコニコ動画: <a href="" target="_blank">トミーとミーとミート 紹介動画</a>
ゲームダウンロード: <a href="http://forte1st.com/unity/tommy.html" target="_blank">トミーとミーとミート(ブラウザ版)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_419.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">トミーと肉と念力相撲をするゲームです。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_420.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うぉおおー意外な戦略性があるなぁ(by ぬどん)」トミーの癖を読みつつのエスパー対決です。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_421.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここでトミーの念能力のせいか、運営がトマト状態に。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_422.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">復旧しました。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_423.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">激戦の末、トミーに勝ったようですが、その瞬間に放送が落ちたとの事。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_424.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">トミーとの再戦も危なげなく勝利。次のゲームに進みます。</p></div>


<hr>

<h3>59作目: 『<a href="http://sorakomi.com/soft/game/battle_of_285/main.html" target="_blank">285人くらいおれ一人で倒してみせるぜ</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_425.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">またしてもギャグゲー『285人くらいおれ一人で倒してみせるぜ』をぬどんさんが挑戦します。</p></div>
<p>
作者名: <a href="https://twitter.com/sorakomi" target="_blank">空色小宮</a>
ウェブサイト: <a href="http://sorakomi.com/" target="_blank">空色小宮</a>
制作言語: Java JavaScript
目安プレイ時間: 5分
ジャンル: アクション
動作環境: Windows7、Android4.x
ニコニコ動画: <a href="" target="_blank">285人くらいおれ一人で倒してみせるぜ 紹介動画</a>
ゲームダウンロード: <a href="http://www.vector.co.jp/soft/winnt/game/se501220.html" target="_blank">285人くらいおれ一人で倒してみせるぜ(ダウンロード版)</a>
ゲームダウンロード: <a href="http://sorakomi.com/soft/game/battle_of_285/main.html" target="_blank">285人くらいおれ一人で倒してみせるぜ(WEB版)</a>
ゲームダウンロード: <a href="https://play.google.com/store/apps/details?id=jp.ne.sk_mine.android.game.battle_of_285" target="_blank">285人くらいおれ一人で倒してみせるぜ(Android版)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
何人向かってこようと倒すゲーム。
</p>
</blockquote>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_426.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「お? なんかたくさんきたぞ(by ぬどん)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_428.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「うわぁ(by ぬどん)」「人ってそんなに重なるものなの!? (by せらみかる)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_4271.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「なんかHUNTER×HUNTERみたいなやつが出てきた!? (by せらみかる)」</p></div>

<p>
だいぶ動きが最適化されてきたあたりで、制限時間です。
</p>

<hr>

<h3>60作目: 『<a href="http://www.vector.co.jp/soft/winnt/game/se501225.html" target="_blank">吉田であるということ</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_429.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">先ほどと同じく、空色小宮さんの作品『吉田であるということ』</p></div>
<p>
作者名: <a href="https://twitter.com/sorakomi" target="_blank">空色小宮</a>
ウェブサイト: <a href="http://sorakomi.com/" target="_blank">空色小宮</a>
制作言語: Java JavaScript
目安プレイ時間: 2分
ジャンル: アクション
動作環境: Windows7、Android4.x
ニコニコ動画: <a href="http://www.nicovideo.jp/watch/sm26083741" target="_blank">吉田であるということ 紹介動画</a>
受賞: 吉田賞
ゲームダウンロード: <a href="http://www.vector.co.jp/soft/winnt/game/se501225.html" target="_blank">吉田であるということ(ダウンロード版)</a>
ゲームダウンロード: <a href="http://sorakomi.com/soft/game/yoshida_de_aru/main.html" target="_blank">吉田であるということ(Web版)</a>
ゲームダウンロード: <a href="https://play.google.com/store/apps/details?id=jp.ne.sk_mine.android.game.yoshida_de_aru" target="_blank">吉田であるということ(Android版)</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
おまえら吉田の何を知ってるっていうんだ。
5人の中から吉田を探し出せ！
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_430.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">エドモンドを避けつつ、吉田を見抜くぬどんさん。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_431.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">吉田をいかに素早く見抜くかが、吉田適正を測る指標である。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_432.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">なかなかの好成績でした。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_435.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「これって、エドモンド度Aとかあるのかな? (by ぬどん)」「やってみる? (by せらみかる)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_433.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">どんどんエドモンドを引き当てるぬどんさんとせらみかるさんコンビ</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_434.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">全問正解!! (ゲーム的には不正解?) エドモン度SSを獲得して、満面の笑み。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_436.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここで制限時間。吉田賞を受賞した「吉田であるということ」をやりつくしたコンビは次のゲームへ。</p></div>




<hr>

<h3>61作目: 『<a href="http://www.vector.co.jp/soft/winnt/game/se509178.html" target="_blank">デスクトップアクション</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_437.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">デスクトップを遊び場にする『デスクトップマスコット』の実況開始。</p></div>
<p>
作者名: SUMA
ウェブサイト: <a href="http://www2.hp-ez.com/hp/sumagame/" target="_blank">SUMAの自作ゲーム</a>
制作ソフト: HSP
ジャンル: アクション/デスクトップマスコット
動作環境: WindowsVista/7/8
ニコニコ動画: <a href="" target="_blank">デスクトップアクション 紹介動画</a>
ゲームダウンロード: <a href="http://www.vector.co.jp/soft/winnt/game/se509178.html" target="_blank">デスクトップアクション</a>
</p>
<blockquote>
<p>
作者によるゲームのコメント
デスクトップ画面を自由に動かすことのできるデスクトップマスコットです
ゲームのルールなどは無いようなものなので自分の好きなように遊ぶことができます
</p>
</blockquote>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_438.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">合わせ鏡状態となって、うまくソフトが動作しません。奮闘するふたり。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_439.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">デスクトップマスコット公式動画で遊べば良い事に気がつく。「最初からそうすれば良かったじゃないですか! (by ぬどん)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_440.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">コメントに当たるとキャラクターがダメージを受けます。段幕が全力で殺しに来る!?</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_441.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「このゲーム、すごい未来を感じるなぁ (by せらみかる)」</p></div>

<p>
ここで時間終了です。
ぬどん「コメントが遊び場になるってすごいね」
せらみかる「誰かがプレイするゲームを舞台に、このデスクトップマスコットを動かしたら面白そう」
</p>



<hr>

<h3>62作目: 『<a href="http://info.nicovideo.jp/gamemaga/had/" target="_blank">Hero and Daughter</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_442.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ニコニコゲームマガジンで連載中の『Hero and Daughter』の実況開始です。</p></div>
<p>
作者名: <a href="https://twitter.com/is_this_game" target="_blank">tachi</a>
ウェブサイト: <a href="http://is-this-game.doorblog.jp/archives/cat_1208078.html" target="_blank">HaD (Hero and Daughter) : これはゲームですか</a>
ジャンル: ハーレムダンジョンRPG
動作環境: Windows
ゲームダウンロード: <a href="http://info.nicovideo.jp/gamemaga/had/" target="_blank">Hero and Daughter(ニコニコゲームマガジン)</a>
</p>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_443.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「ガチャみたいな感じで女の子を召喚してさ、イチャイチャできるんじゃないの (by ぬどん)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_444.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「この娘、平凡だね (by せらみかる)」「リセットしてガチャしなおす? (by ぬどん)」「それはないわ (by せらみかる)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_445.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">そのままダンジョンに潜ります。召喚石を探して、新しい女の子を召喚する為に。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_446.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ここでタイムアップ。ハーレムしながら冒険するRPG、ニコニコゲームマガジンで連載中です。</p></div>

<p>
ぬどん「ニコニコゲームマガジンで公開中との事ですが、どんどんストーリーが増えて、連載が進む度にゲームが広がっていく感じだそうです。そろそろ完結に向かっているそうです。今始めるのも良いんじゃないでしょうか。」
</p>




<hr>

<h3>63作目: 『<a href="http://info.nicovideo.jp/gamemaga/planethowl/" target="_blank">プラネットハウル</a>』</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_447.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">SmokingWOLFさんのプラネットハウル</p></div>
<p>
作者名: <a href="https://twitter.com/wo_lf" target="_blank">SmokingWOLF</a>
ウェブサイト: <a href="http://www.silversecond.net/" target="_blank">Silver Second</a>
制作ソフト: WOLF RPGエディター
先行公開: <a href="http://info.nicovideo.jp/gamemaga/planethowl/" target="_blank">プラネットハウル</a>
</p>
<p>
シルフェイド見聞録、片道勇者の作者、Smoking WOLFさんの新作です。2015年9月18日にニコニコゲームマガジンで公開予定です。
</p>


<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_449.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">獣人の二人の会話からゲームスタート。宇宙船を乗りこなす話みたい。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_450.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">宇宙空間に放り出される。マウスで操作します。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_451.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「スピードは慣れた頃に出すべきかな (by せらみかる)」「そのうち燃料とか出るんじゃない? (by ぬどん)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_452.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ライバルと競走です。「おおっ、なんか、慣性が働くんですね (by ぬどん)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_453.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「主人公のけもりんが、ネガティブになっちゃった(by ぬどん)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_454.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">アドベンチャー要素もありますね。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_455.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">「やばいよ、どんどんネガティブに (by ぬどん)」「碇シンジくんみたいだね(by せらみかる)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_456.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">装備のカスタマイズです。「スクラップを消費してアンロックし、装備を増やすんじゃないかな (by  ぬどん)」<br /></p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_457.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ふわふわと宇宙を漂い、ミッションをクリアします。「うわぁ、難しい (by せらみかる)]<br /></p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_458.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">ケモノ女子登場。</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_459.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">主人公の性格をひたすら悪くする選択肢を選んだまま、終了。「あと30分くらいやっていたかったですね (by ぬどん)」</p></div>

<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150815_Nicofes2016LiveSummary_460.png" width="810" height="450"  class="size-full" /><p class="wp-caption-text">プラネットハウル、配信開始は2015年9月18日スタート。</p></div>

<p>
ここで、ぬどんさん、せらみかるさんの実況は終了です。続きは休憩の後、<a href="https://twitter.com/iiotonatatinoma" target="_blank">いい大人達</a>の出番です。
この生放送最後の実況チームです。
</p>


</section>
<section>
<h2><span class="number">06</span>次枠へいきます。<a href="http://tomotaka.tk/nicofes2016_live_summary6/">Pert6</a>です</h2>
<p>
休憩期間中に、最後の記事を準備中です。
ぬどんさん、せらみかるさんのトークが面白すぎて、画像の数がいささか増量してしまいました。
この長かった記事も、おそらく最後となります。(というか、これ、全部読む人っているのでしょうか……??)
<a href="http://tomotaka.tk/nicofes2016_live_summary6/">ホラーゲーム+自作ゲーム70作品実況リアルタイムまとめ(6) - トモタカラボ</a>
</p>

</section>

<!--end-->
