<!--
ツクール新聞復活
tkoolorg_open
2015/08/11

ツクール新聞を復活させました。RPGツクールのニュースサイトです。まだまだ準備段階ですが、コツコツ開発を進めていこうと思います。タイミングを見て3分ゲーコンテストも開きたいですね。
-->
<section>
<h2><span class="number">01</span>ツクール新聞復活</h2>
<p>
前回の記事「<a href="http://tomotaka.tk/tkoolmv_apachecordoba/" target="_blank">RPGツクールMV、価格破壊とCordova搭載考察」</a>はそれなりに好評で、記事を書いた直後に昔のツクール新聞読者様からメールが届いて、心底びっくりしました。メールが届いた瞬間、ずっこけるかと思った。アンテナ高すぎです(;゜ロ゜)<br>
ツクールの世界から、すっかり忘れさられていたと思っていたのに。インターネットの世界の、広さと狭さを同時に感じて、なんだかセンチメンタルなきもちになりました。
</p>
<p>そんなわけで、コソコソひっそりと運営していた方針を変更して、もうちょい真面目にサイトを作って行こう。というわけで復活させました、<a href="http://tkool.org" target="_blank">ツクール新聞</a>!!😆</p>
</section>

<section>
<h2><span class="number">02</span>ツクール新聞の今後の予定(企画面)</h2>
<p>詳細は<a href="http://tkool.org/" target="_blank">ツクール新聞</a>で書いていく予定ですが、検討している企画項目は以下の感じです。順番が上の方から優先的に取り組みます。</p>
<ol>
	<li>ツクラー, ツクール系素材制作者のリンク集の作成</li>
	<li>かつてのツクール新聞と同等レベルの、創作に役立つニュース(素材の更新など通知)の提供</li>
	<li>RPGツクールMVの情報を随時まとめ</li>
	<li>3分ゲーコンテストの復活(需要あるかは不明ですが)</li>
	<li>創作に役立つ技術情報の紹介</li>
	<li>動画での講座</li>
	<li>ゲームレビュー</li>
	<li>以下の雑誌に掲載されたフリーゲーム作品のリストアップとログ化</li>
	<ul>
		<li>Windows 100%</li>
		<li>テックウィン</li>
		<li>ネットランナー</li>
		<li>ip!</li>
		<li>状況に応じて増える予定</li>
	</ul>
	<li>英語圏情報の収集と紹介</li>
</ol>
</section>

<section>
<h2><span class="number">03</span>ツクール新聞の今後の予定(システム面)</h2>
<p>
サイトのシステム構築から作り込まなければならないので、現在公開されているサイトは仮にものです。ペライチの静的HTMLです。現在のシステムは以下の感じです。
</p>
<ul>
	<li><a href="http://azure.microsoft.com/ja-jp/" target="_blank">Microsoft Azure</a></li>
	<li><a href="https://coreos.com/" target="_blank">Core OS</a> ver766</li>
	<li><a href="https://www.docker.com/" target="_blank">Docker</a> ver1.7.1</li>
	<li><a href="http://nginx.org/en/" target="_blank">Nginx</a> ver1.9.3</li>
</ul>
<p>
作った後に気がついたのですが、普通に静的HTMLだし、単規模構成なのでオーケストレーションも不要でした。Web Apps + Git連携で自動デプロイした方が楽だったなぁと後悔。まあ、せっかくCore OSとDockerで作ったので、拡張や移管のしやすさを活かして作りたいかなと。
</p>
<p>
大規模構成や自動化ばかりに目が向くDockerですが、個人サイト規模の単一構成でもけっこう使えると思うんですよね。apt-get update前とかソフトのインストール前に、docker commitでイメージをバックアップしたり、ブランチを切るのは、なかなか便利なんですよね。<br>
Dockerが推奨する1 Application 1 Containerから外れてしまうのですが、普通のLAMPサーバっぽいDocker Imageを作って管理しています。コンテナ管理を自分の肌感覚で覚えるという意味でも、管理のしやすさという意味でも、ベンダーロックを避けるという意味でも、こういう使い方、悪くないと思うんですよね。3コンテナ程度(うち1つはデータ永続保存用のVolume Container)のシンプル構成なら、オーケストレーションも不要ですし。
個人規模の使い方にあわせた、邪道Docker的な書籍とか、そこそこ需要あると思うので、いつか書きたいです。<br>
</p>
<p>
本格実装は、<a href="https://ja.wordpress.org/" target="_blank">WordPress</a>か<a href="https://www.drupal.org/" target="_blank">Drupal 8</a>を乗っけようと思っています。本気で多言語化を目論んでいる訳ではありませんが、複数言語を実装するなら、<a href="https://www.drupal.org/" target="_blank">Drupal 8</a>ですかね?? まだ検討中です。しばらくは静的HTMLで泥臭く運用するとは思います。
</p>
</section>

<section>
<h2><span class="number">04</span>Wiki系サイトの情報整備</h2>
<h3><a href="http://dic.nicovideo.jp/" target="_blank">ニコニコ大百科</a></h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150811_tkoolmv_sellday.png" width="810" height="380"  class="size-full" /><p class="wp-caption-text">ニコニコ大百科のツクールMVタイトルの落書き</p></div>
<p>
<a href="http://dic.nicovideo.jp/" target="_blank">ニコニコ大百科</a>にて、<a href="http://dic.nicovideo.jp/a/rpg%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABmv" target="_blank">RPGツクールMV</a>の記事を作成しました。タイトル画像に地味に時間がかかっています。<a href="http://dic.nicovideo.jp/" target="_blank">ニコニコ大百科</a>は外部からの画像貼り付けが不可能ゆえ、<a href="http://dic.nicovideo.jp/a/%E3%81%8A%E7%B5%B5%E3%82%AB%E3%82%AD%E3%82%B3" target="_blank">お絵カキコ</a>というサービス内でイラストを作成し、貼り付けます。こいつがまた、シンプルなツールでして。Photoshopなら10分で終わる作業なんですけれど、一晩かけて描き上げました。
</p>
<p>それから、RPGツクール関連の大百科記事のリンクを修正してまわりました。</p>
<ul>
<li><a href="http://dic.nicovideo.jp/a/rpg%E3%83%84%E3%82%AF%E3%83%BC%E3%83%AB" target="_blank">RPGツクール</a></li>
<li><a href="http://dic.nicovideo.jp/a/%E3%83%84%E3%82%AF%E3%83%BC%E3%83%AB%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA" target="_blank">ツクールシリーズ</a></li>
<li><a href="http://dic.nicovideo.jp/a/rpg%E3%83%84%E3%82%AF%E3%83%BC%E3%83%AB95" target="_blank">RPGツクール95</a></li>
<li><a href="http://dic.nicovideo.jp/a/rpg%E3%83%84%E3%82%AF%E3%83%BC%E3%83%AB2000" target="_blank">RPGツクール2000</a></li>
<li><a href="http://dic.nicovideo.jp/a/rpg%E3%83%84%E3%82%AF%E3%83%BC%E3%83%AB2003" target="_blank">RPGツクール2003</a></li>
<li><a href="http://dic.nicovideo.jp/a/rpg%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABxp" target="_blank">RPGツクールXP</a></li>
<li><a href="http://dic.nicovideo.jp/a/rpg%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABvx" target="_blank">RPGツクールVX</a></li>
</ul>
<h3><a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8" target="_blank">Wikipedia</a></h3>
<p>
<a href="https://ja.wikipedia.org/wiki/RPG%E3%83%84%E3%82%AF%E3%83%BC%E3%83%AB" target="_blank">RPGツクール</a>のページに、<a href="https://ja.wikipedia.org/wiki/RPG%E3%83%84%E3%82%AF%E3%83%BC%E3%83%AB#RPG.E3.83.84.E3.82.AF.E3.83.BC.E3.83.ABMV" target="_blank">RPGツクールMVの項目</a>を追加しました。1行のみの更新です。まだ公開されている情報が少ないですし、<a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8" target="_blank">Wikipedia</a>であやふやな事は書けませんので、今はこれくらいが丁度良いかなと。
</p>
<p>
<a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8" target="_blank">Wikipedia</a>と<a href="http://dic.nicovideo.jp/" target="_blank">ニコニコ大百科</a>、どちらもWikiサイトでありながらも、方向性が違います。Wikipediaが正しき百科事典を志向するのに対して、<a href="http://dic.nicovideo.jp/" target="_blank">ニコニコ大百科</a>は、遊びの要素が含まれています。発売前の不確定情報ながら、気軽に投稿できる<a href="http://dic.nicovideo.jp/" target="_blank">ニコニコ大百科</a>はいいですな。掲示板もあるので、使ってやって下さい。<a href="https://secure.nicovideo.jp/secure/premium_detail" target="_blank">プレミアム会員</a>じゃないと記事修正が出来ないので、追記して欲しいデータがあったらご連絡いただければ対応します。
</p>
</section>

<section>
<h2><span class="number">05</span>コミュニティの耕し方</h2>
<p>
コミュニティの耕し方。と書くと、おおげさになるのですが。<br>
良いコミュニティには、良い情報発信するたくさんの人が必要で。良い情報発信をする人をたくさん集めるには、いち個人のモチベーションアップが必要だと思うんですよね。<br>
つまりモチベーションがアガるような。楽しく、いいカンジの雰囲気であらねばならない。<span class="strong_red">ワクワクする場所を増やして、繋げていく必要がある</span>と考えます。
WikiやWikipediaなどの情報を整備して、ちょっとでも楽しい雰囲気が作れれば、もうニュースサイトは7割完成したも同然です。まずは楽しく、次に役立つ情報を。のループを繰り返せば、なんだかんだで良いコミュニティができあがる気がします。経験則。
そんなわけで、暫くは<a href="http://tkool.org" target="_blank">ツクール新聞</a>以外の場所にも、色々と書き込んで、情報の輪を耕していこうと思います。
</p>
<p>
同時並行で、厳選した高品質リンク集を作ります。作品や作者のランク付けをするつもりではないのですが、ちゃんとスゴイものを作っている人達に繋がる玄関を作りたいと思います。すごい人が可視化されると、見た人は「うぉお、すげー。俺も作りたい」って気持ちになるので、重要です。<br>
ここで記した“すごい”とは、あくまで私、トモタカ主観の“すごい”なので、100人いれば100通りの“すごい”があって良い。ほんとうは「あの作品は凄かった〜😆」っていう人が、たくさん増えてくれれば、大仰なニュースサイトなんて必要ないんですよね。そうなればいいなぁ。
</p>
<p>
この“すごい”が適切に動作・循環する仕組みがないと、コミュニティは腐ってゆくんじゃないかと思います。でも盛り上がりすぎても注意でして。お金儲け目的の業者や企業がずかずかと入ってくると、“すごい”の中立性や空気が歪んでしまう。あるいは蛸壺化したり宗教チックになってもいけない。メディアの中立性・独立性・多様性を重んじつつ、適切な“すごいが巡る仕組み”を考えたいです。<br>
いやまあ、「考えたい」なんていうと高慢すぎますね。私だけがコミュニティを回しているなんてワケではないのです。自分に巡ってきたバケツリレーを、うまく次に繋げたい。ってくらいの感覚です。
</p>
<p>
<a href="http://www.moguragames.com/" target="_blank">もぐらゲームス</a>さんとか、<a href="http://gekikarareview.com/" target="_blank">超激辛ゲームレビュー</a>さんとか、“すごい作品”の発信を続けていて、本当にスゴイ。彼らの背中を見ながら、コツコツ<a href="http://tkool.org" target="_blank">ツクール新聞</a>の開発を進めていこうと思います。
</p>
</section>
