<!--
3分ゲーコンテスト規約草案
3punge_rule
2015/08/20 19:57

3分ゲーコンテストについて、ルールの作成を進めています。2015年8月20日現在で考えている事と、ルールの草案について記します。
 -->
<section>
<p>
3分ゲーコンテストの規約やウェブサイトの整備を進めています。仕事も多忙さを増してきたので、開発に当てられる時間がちょっと足りない感じです😅
いっぽう<a href="http://tkool.org">ツクール新聞</a>はツクラーや素材制作者様の情報を収集中です。まだ200件程度なので、まだ拡充が必要です💦。その全部をリンクとして掲載する訳ではありません。でも、前提として高くアンテナを張らないとニュースもへったくれもありませんので、今日もExcelをひたすら入力していくお仕事が始まります。
</p>
<p>
3分ゲーコンテストについて。完全な規約はまだなので、以下はあくまでも考え中の項目です。ご意見により以下の項目は、あっさり変更する可能性もあります。「こうしてほしい」「トモタカてめぇ間違ってんょ」って事があれば、積極的にご意見下さい。Twitterよりコメント欄か<a href="https://docs.google.com/forms/d/1GqA52iyie-JyPXv65GK2w_7s-0fXric0zeOLMfdCvAI/viewform" target="_blank">メール</a>を推奨いたします。<a href="http://twitter.com/tomotakatk">Twitter</a>でご連絡頂いても良いですけれど、流れてしまうので。
</p>
</section>

<section>
<h2><span class="number">01</span>第20回3分ゲーコンテスト規約草案</h2>
<p>
<span class="strong_blue">この項目は検討中の事案です。意見求む。</span>
第20回3分ゲーコンテストの規約草案です。<a href="https://github.com/tomotakatk/3punge/blob/master/rule.md" target="_blank">拡大版はこちらから</a>。Githubでバージョン管理します。
</p>
<script src="http://gist-it.appspot.com/github/tomotakatk/3punge/blob/master/rule.md"></script>
</section>

<section>
<h2><span class="number">02</span>そもそも、3分ゲーコンテストとは?</h2>
<p>
3分ゲーコンテストとは、その名の通り“3分”をテーマとしたゲームコンテストです。
3分程度で完結するミニゲームを応募しあい、投票にて最も優れたゲームを決定します。
</p>
<p>
ゲーム応募者にとっては、たくさんのコメントを貰って、次の作品に繋げる事がメリットです。
プレイヤーにとっては、ゲームを楽しく遊べて良いって場所にしたいです。
<!--
2004年から始まったこのコンテストは、開催回数18回、応募された作品数は338作品にのぼります。
公開されているゲームはすべてフリーウェア（無料）です。
定義に迷った時は、この2行が指針となります。
-->
</p>
</section>

<section>
<h2><span class="number">03</span>第20回3分ゲーコンテスト スケジュール</h2>
<table>
	<caption>第20回3分ゲーコンテスト スケジュール</caption>
	<thead>
		<tr>
			<th>事象</th>
			<th>日付</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>応募受付開始</td>
			<td>2015年09月14日(月)12時00分</td>
		</tr>
		<tr>
			<td>応募締切</td>
			<td>2015年09月21日(月)12時00分</td>
		</tr>
		<tr>
			<td>一般公開・審査開始</td>
			<td>2015年09月23日(水)中</td>
		</tr>
		<tr>
			<td>審査投票終了</td>
			<td>2015年10月13日(月)00時00分</td>
		</tr>
		<tr>
			<td>審査結果公開</td>
			<td>2015年10月13日中</td>
		</tr>
	</tbody>
</table>
<p>
一般公開と審査結果公開の時刻が記述されていませんが、なるべく早くに公開するという意味です。応募作品や投票に不備があった場合、公開まで時間がかかります。逆にスムーズならば12時間くらいで公開できると思います。応募締切直後や審査投票終了直後から作業を進めますが、進捗次第で遅くなる可能性をご容赦ください。
</p>
<h3>9月開催の理由</h3>
<p>
おそらく殆どの方の予想より早く開催する事にしました。
理由その1。10月いっぱいはトモタカが多忙を極める為、開催が不可能です。
</p>
<p>
理由その2。RPGツクールMVの発売前に2回くらいは開いておきたいと思いました。なぜかというと、ツクールMVによりプレイ環境がWindows/Mac/ブラウザ/Android/iOSと多彩になると、コンテストの一般審査・投票に訪れる客層がガラッと変わる可能性があると考えています。より多くの方・新しい人に3分ゲーコンテストやツクールを楽しんで貰いたい。という気持ちもありますが、過去のコンテストで培ったフリーゲーム・コンテストとしての空気を継承できるとしたら、今のうちに数回開かねばと考えました。
</p>
理由その3。予測以上に3分ゲー復活の反響がありました。応募作品数が増えすぎる事を懸念しました。過去の3分ゲーコンテストの開催頻度が上がっていった原因でもあるのですが、作品数は分散される方が望ましいです。1回のコンテストの応募作品が多すぎると、一般審査員がプレイ疲れを起こし、審査に影響が出ると考えた為です。
</p>
</section>

<section>
<h2><span class="number">04</span>考え中の課題</h2>
<h3>対応OSはWindowsとするが……</h3>
<p>
<span class="strong_blue">この項目は実施が決定しました。(2015年09月11日追記)</span>
<span class="strong_blue">この項目は検討中の事案です。意見求む。</span>
第20回3分ゲーはWindows Vista/7/8/8.1/10が動作対象OSとします。
応募者はそのいずれかの環境で動くゲームを応募して下さい。とはいえ、Mac OSXでプレイ・審査する方も一定数いらっしゃる事が想定されます。2007年まではWindowsにのみ対応させてれば無問題でしたが、2015年現在はプレイヤーの環境が大きく変わってしまいました。3分ゲー公式サイトでWine、仮想マシン(VirtualBOX、VMware、Parallels)、BOOTCAMPにてWindowsをインストールし、ゲームをプレイする方法を紹介するつもりですが、ユーザー数の偏りを考慮するに、ブラウザで動作するゲームがリーチ率が高く有利である可能性が否めません。
</p>
<h3>TwitterやFacebookへの連動機能</h3>
<p>
<span class="strong_blue">この項目は、第20回3分ゲーでの導入は見送られました。(2015年09月11日 追記)</span>
第20回3分ゲーコンテストでは、TwitterやFacebookの連動は可能です。ただし、現状様子見状態としています。次回のコンテスト応募規約において、変動する可能性があります。
<span class="strike"><span class="strike_default">
<span class="strong_blue">この項目は検討中の事案です。意見求む。</span>
ブラウザゲームに多くみられる、SNS連動機能は禁止。あるいは3分ゲートップページへのリンクにしたいと思います。
理由は、特定作品だけ露出が増えて、プレイヤーが増えて、審査結果に影響が出ると予測してる為です。とはいえ、ブラウザゲームにおけるSNS連動機能はゲームの魅力でもあるので、正直まだ迷っている項目です。
3分ゲートップページにリダイレクトするのは、ツイートやFacebookのタイムラインから訪れた人から見たら、まるで詐欺のように感じられるかもしれません。なので、この項目はまだ検討課題です。ご意見求めます。
</span></span>
</p>
<h3>ゲームの修正</h3>
<p>
<span class="strong_blue">この項目は実施が決定しました。ゲームの修正は応募期間中も可能となります。(2015年09月11日追記)</span>
<span class="strong_blue">この項目は検討中の事案です。意見求む。</span>
審査期間中のゲームデータは、修正可能の方向で検討中です。
過去の3分ゲーでは、締切以後のデータ修正は不可能としていました。しかし、昨今はフリーゲームでもネットワーク機能を搭載したものが散見されます。たとえば、スコアランキング、プレイヤーによる作成データの共有、ネットワーク対戦などです。ゲームのコア機能がネットワークに依存している場合、修正可否を監視する事が実質的に不可能です。ですので、すべての作品を修正可能とすべきと考えています。ただし、ゲームデータはローカル環境にZIPでダウンロードする事が前提ですので、ブラウザで動作するHTML/JavaScript製ゲームは、ゲームのコアファイルをZIPに固めて応募して頂くか、Electron等でラップした形で応募して頂く事を想定しています。
また、RPGツクールやWOLF RPGエディターなどのローカル環境完結型ゲームも、修正可能になります。ただし修正時は運営側でZIPファイルを差し替える必要があるので、配布データの更新には1日程度の余裕もって考えて下さい。
</p>
</section>

<section>
<h2><span class="number">05</span>審査方法</h2>
<p>
審査結果は、投票によって決定します。投票者は以下の4つの項目を投票します。
</p>
<ul>
	<li>良かった作品1位(4ポイント)</li>
	<li>良かった作品2位(2ポイント)</li>
	<li>印象に残った作品<span class="strong_gray">(複数選択可)</span>(1ポイント)</li>
	<li>3分ゲーとは思えなかった作品<span class="strong_gray">(複数選択可)</span>(マイナス0.5ポイント)</li>
</ul>
<p>
一般投票の投票は匿名と名前入力、好きな方を選べます。しかし基本的には名前は非公開です。3分ゲー運営(トモタカ)のみしか閲覧する事はありません。
作品応募者のみ配られる投票アドレスは、固有のものなので、おのずと名前が運営に伝わりますが、こちらも投票名が公開される事はありません。忌憚なく投票と意見を行って下さい。<span class="strong_gray">過去の3分ゲーコンテストでは、すべて匿名投票・匿名コメントでした。名前を記す事で評価が甘くなったり、ぶれる事を排除したかった為です。しかし、わざわざコメントの最後に著名を入れる方も複数名おりましたので、今回から名前入力も可能にします。ですが、作者へ直接メッセージを伝えたい場合は、個別に連絡をとる事を推奨します。私から取り繋ぐ事は一切ありません。</span>
投票コメントは審査終了後にウェブに掲載されます。<span class="strong_gray">誹謗中傷や個人情報の書かれたコメントは、削除した状態で掲載します。作者には個別にメールでお伝えします。</span>
</p>
</section>

<section>
<h2><span class="number">06</span>優勝と最優秀クリエイター賞(仮)の設置</h2>
<h3>優勝(過去と同じ)</h3>
<p>
全投票者からの応募を集計した結果、ポイントが高かった順に、順位が決定します。
もっとも多くのポイントを獲得した作品が、優勝となります。
</p>

<h3>最優秀クリエイター賞(新ルール)</h3>
<p>
応募作者による投票で最多ポイントを獲得した作品が、最優秀クリエイター賞(仮)です。
最優秀クリエイター賞の投票者は、作品を応募した人のみが参加できます。作品応募者宛に、専用の応募フォームが送られます。そこから投票すると、自動的に一般審査と最優秀クリエイター賞審査の両方で集計が行われます。
</p>

<h3>なぜ新ルールを設けるのか</h3>
<p>
組織票や、SNS等の宣伝による審査の偏りをなくす事が狙いです。
私の方針としては、<span class="strong_red">手軽に遊べる3分ゲーム。知らない作者さんのゲームにも触れて、投票し、コメントしてほしい</span>という気持ちです。しかし、昨今はゲーム実況による一見さんや、一部の熱意あるファンの投票、プレイPC環境の問題等で、ゲームに触れる前提条件に差が出てしまう可能性がある。2007年当時より、その点がだいぶ変わったかなと。
そこで応募作者様のみの投票を抽出すれば、ある程度の偏りが緩和されると考えました。ゲーム制作者から最も高い評価を受けた賞、それが最優秀クリエイター賞(仮)です。
</p>
<p>
優勝と、最優秀クリエイター賞は、同列の栄誉として考えています。今の名称だと優勝が上で最優秀クリエイター賞(仮)が下に感じる? 気もするので、ネーミングは検討中です。何か良い名前ないですかね。
</p>
</section>

<section>
<h2><span class="number">07</span>応募作品数は20作品まで</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_150819_3punge20to01_drawing.png" width="810" height="500"  class="size-full" /><p class="wp-caption-text">抽選システムのしくみと一例。21作品以上は抽選が行われ、落選した作品には「ざんねん券」が配布されます。</p></div>
<p>
<span class="strong_red">このルールは事前抽選の30作品当選方式に変更されました。詳しくは次の記事『<a href="http://tomotaka.tk/3punge20_1/" target="_blank">第20回3分ゲーのルール改定＆事前抽選開始</a>』をご参照下さい。(2015年09月11日追記)</span>
</p>
<p>
<span class="strike"><span class="strike_default">
1回あたりの応募作品数の上限は20に設定したいと考えています。将来的に変更の可能性もありますが、少なくとも第20回3分ゲーは20作品にしたいと考えています。
審査期間中に修正が出来るルールなのに、新着応募順とするのも気が引けます。<span class="strong_gray">半完成品のものを早めに応募して、応募確定してから完成版を作る。という抜け穴が出来てしまうからです。</span>なので、抽選方式とし、落選した場合は次回以降に当選確率があがる仕組みにしたいと思います。
<span><span>
</p>
<p>
<span class="strike"><span class="strike_default">
3分ゲーコンテストはたくさんの作品が一度に応募されるのは成功ではありません。<span class="strong_red">3分ゲーコンテストは同じ条件のもと“3分”というお題の中で、面白さを競うバトルです。</span>“面白さ”という、人間の主観と感性による曖昧なもので順位をつける為、なおさらに同条件になる事を求めます。
同条件、すなわち審査の公平性を大切に考えています。評価の前提基準がぶれる要素を減らしたい。一般審査員であるプレイヤーは、審査疲れを起こさない程度の作品数が良いと考えます。そのための、20作品抽選です。
</span></span>
</p>
<p>
<span class="strike"><span class="strike_default">
さらに言えば、既に知ってる作者や人気作品だけをプレイし、審査を下すのは、私の本意ではありません。可能ならば、全応募作品を平等にあそんで、評価してほしいのです。
過去の経験から、20作品程度が分岐点かなと考えています。休日2日つかえば、遊び倒して審査できるボリュームかなと。
</span></span>
</p>
<p>
<span class="strike"><span class="strike_default">
一方で、応募者の方にとっては、「せっかく苦労して作ったゲームが落選したら嫌だ」と思われるかも……。ここの判断は、相当悩みました。バランスを苦慮して検討を重ねた結果ではありますが、「こうした方が」というご意見ご要望や、第20回・21回を運営の結果を見て、緩和したいと思うので……。すいません🙏。<span class="strong_gray">正直、抽選を行わなくて済むくらいの応募数だったら、私の心情的には心苦しくないです……。そんな事を言って閑古鳥が鳴く程度の応募数だったら、それはそれで悲しいですけど。</span>落選した方は、同じ作品を次回に応募しても良いし、違う作品を応募してもOKです。
</span></span>
</p>
<h3>審査における公平性について</h3>
<p>
審査における公平性について、もう少し語ります。
同じ条件で遊んで貰う。というのは、たいへん難しい事とはわかっています。OSやPCスペックなど動作環境の違いや、ひいき目やファンの心意気、人気実況者や有名人に取り上げられてアクセスが伸びる、あるいは日を跨いでプレイしたら偶然機嫌が悪かったのでつまらなく感じた、とかとか。そういう複合的な要因によって順位が変わる事は、どうあがいても避けられません。
しかしながら、動画の再生数が伸びたとか、ニュースで取り上げられたとか、人気作者だからファンが多いとか。そういうのは、広告的・マーケティング的な視点で評価するものであり、ゲームの面白さとは直結しないと判断します。
</p>
</section>

<section>
<p>
以下は過去の3分ゲーと比べ、大きな変更はありません。が、現状の社会情勢にあわせて、いくつかの注記と、運営における方向性を記します。
</p>
<h2><span class="number">08</span>作品の応募方法</h2>
<p>
応募フォームを設置致します。ZIP形式にて応募して頂きます。審査期間中は3分ゲーコンテストサイト内に作品単体のZIPと全作品のZIPを配置し、自由にダウンロードできるものとします。審査期間中に外部サイト<span class="strong_gray">(作者様のサイトや、ふりーむ、Vector等)</span>での配布は禁止です。
特定の作品のみダウンロード数が増加し、審査結果に影響を及ぼす事を避ける為です。
</p>
</section>

<section>
<h2><span class="number">09</span>応募時ドキュメントのフォーマット</h2>
<p>以下の内容を応募時に提出して頂く必要があります。作品応募フォームに直接入力して頂きます。</p>
<ul>
	<li class="li_title">作者に関する情報</li>
	<li class="indent1">作者のハンドルネーム</li>
	<li class="indent1">作者の連絡先<span class="strong_gray">(連絡のとれるメールアドレス)</span></li>
	<li class="indent1">ウェブサイトのアドレス</li>
	<li class="li_title">作品に関する情報</li>
	<li class="indent1">作品名</li>
	<li class="indent1">作品のスクリーンショット1枚〜3枚</li>
	<li class="indent1">ゲームのジャンル</li>
	<li class="indent1">ひとこと<span class="strong_gray">(60文字以内)</span></li>
	<li class="indent1">動作に必要なソフトウェア<span class="strong_gray">(RPGツクールRTP、DirectXなど)</span></li class="indent1">
	<li class="indent1">動作を確認した環境<span class="strong_gray">(Windowsのバージョン、ブラウザの情報など)</span></li>
	<li class="indent1">作成期間</li>
	<li class="indent1">制作したソフトウェア・言語</li>
	<li class="indent1">R15該当チェック<span class="strong_gray">(以下の表現を含む場合チェックを入れる)</span></li>
	<li class="indent2">作品の主題に性が直接的・間接的に関係している</li>
	<li class="indent2">裸体もしくはそれに近い映像・画像を含む</li>
	<li class="indent2">性行為の過程を表現している</li>
	<li class="indent2">性行為を容易に連想させる表現を含む</li>
	<li class="indent2">暴力性、残虐性の強いもの、それを推奨する表現を含む</li>
	<li class="indent2">犯罪行為を助長・誘発する表現や、反社会的行動を促す恐れのある表現を含む</li>
	<li class="li_title">その他</li>
	<li class="indent1">送受信されるデータ概要を明記<span class="strong_gray">(ネットワーク通信を行う場合)</span></li>
	<li class="indent1">使用素材のリンクなど</li>
</ul>

<h3>応募時のドキュメントフォーマットの狙い</h3>
<p>
プレイヤーが一目で理解できる事をねらいとします。分かりにくい表現は応募作者様にご相談の上、訂正をお願いする事がございます。特に「ゲームジャンルの表記」はご留意下さい。
</p>

<h3>作品のスクリーンショット3枚</h3>
<p>
ウェブサイトにはデフォルトで1枚目が表示。2,3枚目はクリック表示されます。<span class="strong_gray">AmazonやiTunes Storeの商品写真の表示方式と同じです。</span>スクリーンショットは最低1枚提出して頂ければ大丈夫です。スクリーンショットの解像度は、ウェブサイトの表示によって縮小・拡大される可能性があります。ご容赦ください。ですが、画質劣化を避けた状態で提出する事を推奨します。提出フォーマットはPNGかJPGとします。
</p>

<h3>ゲームジャンルの表記について</h3>
<p>
一般的に普及した名称での記述とします。表記例が一般的か否かは<a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%E3%82%B2%E3%83%BC%E3%83%A0%E3%81%AE%E3%82%B8%E3%83%A3%E3%83%B3%E3%83%AB" target="_blank">コンピュータゲームのジャンル(Wikipedia)</a>を参考としてください。
</p>
<p>
例
非推奨: 近未来和風RPG
推奨: RPG
</p>
<p>
作品固有の名称は「ひとこと」での記述をお願いします。「ひとこと」は自由記述欄です。
</p>
</section>

<section>
<h2><span class="number">10</span>レーティング(アダルト表現・暴力表現)</h2>
<p>
18禁に相当するゲームは禁止です。15禁に相当する表現は、応募可能です。ただし応募時のドキュメントにおいてプレイヤーに明示する必要があります。
この点は、過去の3分ゲーコンテストから規約上の変更はありません。ただし、表現の自由に関する議論は、非常に不明確かつ社会情勢によって変化します。よって「3ヶ月前はOKだった表現が、今回の応募ではダメになった」という可能性もありえます。表現の自由や性表現の境界線は、応募者各自で調査を行って下さい。参考リンクとして以下の情報を掲示しておきます。
</p>
<ul>
	<li><a href="http://timesteps.net/archives/4935506.html" target="_blank">アニメやゲームへの法規制請願はあれからどうなったのか : Timesteps</a></li>
	<li><a href="http://www.huffingtonpost.jp/taro-yamada/child-porn_b_7789112.html" target="_blank">改めて整理！児童ポルノ禁止法の概要と問題点 | 山田太郎</a></li>
	<li><a href="http://d.hatena.ne.jp/okumuraosaka/" target="_blank">奥村徹弁護士の見解</a></li>
</ul>
<p>
私個人の意見としては、表現規制や性表現による公開停止はやりたくない。という心情でいます。何かしらの表現が、どこかから訴えられた時は、屈しないように裁判費用と弁護士を用意しておこう。くらいの心持ちでいます。
しかし、「より多くのプレイヤーに遊んで頂く為には。より多くの応募者にご満足頂く為には。」という視点で全体のバランスを考えた際、状況判断によりやむをえず公開停止をお願いする事もございます。どうかご容赦ください。
</p>
</section>


<section>
<h2><span class="number">11</span>その他よくありそうな質問</h2>
<p>
<q class="one-line-comment">ゲーム中から他作品への誘導はOKですか?</q>
禁止です。
基本的にゲーム内で完結する表現としてください。特にゲーム画面中から他作品の購入やダウンロードを推奨する事は禁止です。Readmeファイルにて宣伝文を記述する程度なら許容範囲です。これは主にアプリダウンロード数の水増し問題に対する考えです。旧来のフリーゲームにおける他作品の誘導程度の表現ならば、実質とがめる事はありません。
<a href="http://bylines.news.yahoo.co.jp/yamamotoichiro/20150613-00046604/" target="_blank">グノシー他、AppBank「モンスト攻略」ブーストでアプリダウンロード数を水増し(山本一郎) - 個人 - Yahoo!ニュース</a>
</p>

<p>
<q class="one-line-comment">ゲーム内に広告を掲載するのはOKですか?</q>
禁止です。
これはブラウザゲームの応募を想定した回答です。つまりAmazonアフィリエイトやバナー広告は禁止という意味です。たとえば作中のキャラクターが「ミスドうまいょぉお、やめられなぃいいい🍩」とか「彼らの冒険はまだまだ続くが、それは別のおはなし……😑」とか言っていたとしても、まあそれはいいんじゃないでしょうか。
</p>

<p>
<q class="one-line-comment">著作権を侵害した作品の応募はOKですか?</q>
<q class="one-line-comment">きわどいパロディ表現を作品に含んでいますが、応募はOKですか?</q>
作者様の責任です。
ゲーム中で使用する素材の許諾や申請は作者様の責任において行って下さい。パロディや二次創作を主張する事は構いませんが、その場合も作者様の責任において適切な処理を行う必要があります。仮に著作権利者から作品取り下げの要望を頂き、それが正当であり、裁判で争った場合に明らかに勝ち目がないとトモタカが判断した場合、審査やウェブサイトからの掲載を取りやめる可能性があります。ご注意ください。
ただし、昨今話題のトレス問題やパクリ問題のような事象に関しましては、そんじょそこらの批判(というより誹謗中傷)では掲載を取りやめません。詳しくは現行の著作権法およびパロディとフェアユースに関する議論について調べて下さい。参考リンクを以下に記します。
</p>
<ul>
	<li><a href="http://www.nhk.or.jp/gendai/kiroku/detail02_3312_all.html" target="_blank">パロディは文化？それとも違法？ - NHKクローズアップ現代</a></li>
	<li><a href="https://ja.wikipedia.org/wiki/%E6%97%A5%E6%9C%AC%E3%81%AE%E8%91%97%E4%BD%9C%E6%A8%A9%E6%B3%95%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E9%9D%9E%E8%A6%AA%E5%91%8A%E7%BD%AA%E5%8C%96" target="_blank">日本の著作権法における非親告罪化 - Wikipedia</a></li>
</ul>

<p>
<q class="one-line-comment">連載作品の続編の応募でも、かまいませんか?</q>
構いませんが、どちらかというと非推奨に近いスタンスを持っています。3分のゲームとして、初見のプレイヤーにも十分配慮しているならば、問題ありません。
</p>

<p>
<q class="one-line-comment">容量の制限はありますか?</q>
圧縮時に20MB以下に抑えて下さい。容量が超過する場合は、個別にお問い合わせ下さい。割と柔軟に対応しますが、サーバリソースや他作品との兼ね合いもあるので、あまりに総作品数のダウンロード容量が増える(一括ダウンロードで500MBとか)場合は、新しいルールを検討する事になります。</p>

<p>
<q class="one-line-comment">過去に公開していた作品は応募可能ですか?</q>
初出作品のみ応募を受け付けます。
ただし、システムやコードや素材の流用は問題ありません。極端な話をするなら、作品名とタイトル画面を変えたならば、ルール上応募は認められます。でもそれは非推奨に近いスタンスです。初出作品のみの応募を受け付ける理由は、プレイヤー人口の偏りによる審査の不公平さを防ぐねらいです。プレイヤー人口やダウンロード数が少ない、無名に近い作品のリメイク的内容ならば、実のところ、何もとがめる事はございません。
</p>

<p>
<q class="one-line-comment">シェアウェア作品の体験版の応募は可能ですか?</q>
可能ですが、有料版への誘導は原則禁止というルールを守る必要があります。重要なのは、作品中の表現でゲームが完結する事です。
</p>

<p>
<q class="one-line-comment">不適切なネットワーク通信を行っている</q>
禁止。厳しく禁止。
たとえば、ゲーム表現に必要としない、ユーザの個人情報を取得する事が判明した場合、即刻削除します。審査期間中、運営側でも不適切通信のチェックを行います。発覚次第、ブラックリスト入りを検討します。
</p>

<p>
<q class="one-line-comment">複数作品の応募は可能ですか</q>
いまのところ、禁止とします。(今後変更の可能性あり)
1回のコンテストにつき、1作品までとしてください。
</p>

<p>
<q class="one-line-comment">審査期間中に作品をアップデートした際、既にダウンロードしてしまった人はどうなりますか?</q>
ダウンロードした時点のファイルにて審査されます。
アップデートされたゲームを遊ぶには、プレイヤー各自がダウンロードとアップデートを行う必要がありますが、3分ゲー主催からそれを促す事はしません。3分ゲー公式サイトにてアップデート情報が1行掲示されるのみです。
</p>

<p>
<q class="one-line-comment">2回連続で抽選から落ちました……。</q>
連続で落選した回数分、「ざんねん券」が溜まっていきます。
2連続落選なら10票。3連続落選なら15票分の効力を持ちます。確率計算するに、そうそう何度も落選するとは考えにくいですが……。
</p>

<p>
<q class="one-line-comment">サーバサイド側で作品をアップデートした場合、報告は必要ですか?</q>
アップデートの報告は必須です。必ず報告してください。
ただし、スコアランキングなど、プレイヤーの操作により自動的に作品がアップデートされる場合は報告の必要はありません。
</p>


<p>
<q class="one-line-comment">3分ゲーと同時に、複数のコンテストに応募したいのですが</q>
細かな状況はコンテストごとに違いがあると思いますので、個別にご相談下さい。
具体的には応募作品が公に公表されるか否か。で判断が変わってきます。応募作品非公開の、たとえば漫画の持ち込みのようなタイプのコンテストなら、問題ありません。ただし、作品が雑誌やニュースに掲載されるのは3分ゲーの審査期間終了後としてください。
3分ゲー審査期間中に応募作品が公開されるタイプのコンテストは、併願をご遠慮ください。
また、応募規約にあります通り、審査期間中は3分ゲーコンテストウェブサイト以外での作品の公開は禁止です。クローズドなデバッグや身内のプレゼンテーション程度なら問題ないですが、みだりに公にならない範囲にしてください。
</p>

<p>
<q class="one-line-comment">応募作品の権利はどうなりますか?</q>
権利はすべて作者様に帰属します。あるいは法律上や運営上、3分ゲーコンテスト運営が何かしらの権利を有する事象に遭遇したとしても、その権利や利益は行使せず、作者様に還元します。
</p>

<p>
<q class="one-line-comment">公開した作品を、公開停止したい</q>
まだ規約に盛り込んでいませんが、禁止の方向で考えています。すなわち、3分ゲーコンテストに応募された作品は、半永久的にフリーウェアとして公開される事を想定してください。
これは、応募作品や受賞作品がフリーウェアとして公開されなくなり、遊べなくなる事を避けるねらいです。例えば「シェアウェアとして公開したいので、フリーウェア版の公開を停止する」といった願いは認められません。
「3分ゲーに応募した作品のアップデートは停止し、シェアウェアや同人販売で完全版を作成・配布する」という方法は問題ありません。3分ゲーに投稿時の状態さえ残っていればOKという意味であり、それ以外の展開は作者様の判断によります。
しかし公開停止については、いろいろな事情があるでしょうから、柔軟に対応します。個別にご連絡下さい。
</p>

<p>
<q class="one-line-comment">3分ゲーを足がかりに、俺は一儲けするぜ!!</q>
是非ともビックになって下さい。
でも、それは他の場所でやってください。3分ゲーコンテスト自体を踏み台というかステップとして考えて下さる事は光栄ですし歓迎しますが、ここは誰かのお金儲けの場所ではありません。
チャンスを狙うなら、<a href="http://ch.nicovideo.jp/indies-game" target="_blank">ニコニコ自作ゲームフェス2016</a>や、<a href="http://compe.japandesign.ne.jp/" target="_blank">コンテスト登竜門</a>などで、活躍の機会をさがしてみてください。
</p>
<p>
でも、3分ゲーコンテストをきっかけに、良い創作に発展したり、新たな仲間を見つけたり、仕事がみつかったり、宝くじがあたったり、身長が伸びたり、彼女(彼氏)ができたりしたら、それは私としても嬉しい<span class="strong_gray">うらやましい?</span>ので、ぜひご連絡ください。<span class="strong_gray">まあ割と現実的な話をすると、よしんば何かの商品とかグッズになったら、ひとつくらい貰えたら、個人的に嬉しいです。あるいは連絡もらえばちゃんと買うのでサインして下さい😁。</span>
</p>
</section>
<section>
<h2><span class="number">12</span>ご意見を募集しています</h2>
<p>
まいどまいど、たいへん長い、このブログですが。ここまで読んで下さる方がどれほどいるのか不思議でなりません。ありがとうございます。
全部読んで下さった方も、そうじゃない方も、どうぞ気軽にコメントでご意見を書いていってください。「こうしてほしい」とか「この場合はどうなるの?」とか「この規約はやめたほうが良い」とか「このゲーム面白かったぜ」とか。
ご意見を取り入れた上で、第20回3分ゲーコンテストの応募規約をアップデートしていきます。宜しくお願いします😆。
</p>
</section>
