<!--
ゲーム実況者と制作者の為の著作権 おすすめ入門書編
copyright-act-01
2015/09/13 23:39

先日、フリーゲーム実況の権利について、話題になりました。権利と文化のバランスって難しいですね。ここでは著作権初心者の為に入門書を紹介します。「ゲーム制作と実況」「インターネットと著作権」「二次創作とパロディとフェアユース」をテーマに、連載ちっくに書いていきます。
 -->
<section>
<h2><span class="number">01</span>当エントリの概要</h2>
<p>
このエントリでは、著作権の入門書を紹介します。主に以下の人が対象です。
</p>
<ul>
	<li>著作権法は、知らないし、法律ってなんかこわそう。</li>
	<li>ゲーム実況のような、インターネット上の二次創作の扱われ方を知りたい。</li>
	<li>著作権法の入門書籍を知りたい</li>
</ul>
</section>

<section>
<h2><span class="number">02</span>ゲーム実況者と制作者の議論は、学びになったのか?</h2>
<p>
『<a href="http://www.freem.ne.jp/win/game/5066" target="_blank">ごめんください</a>』や『<a href="http://www.freem.ne.jp/win/game/9687" target="_blank">ヒッチハイク</a>』などを手がけるフリーゲーム制作者<a href="https://twitter.com/katai5plate" target="_blank">はどはど</a>さんがブログで<a href="http://ch.nicovideo.jp/hadhad/blomaga/ar866375" target="_blank">【雑記】フリゲ作者と無断使用実況者に関するカネと法</a>を書いたら、なかなか盛大な議論を巻き起こしました。あらゆる方向に論点が散らばったので、一言でくくるのは些か乱暴ですが、以下のような問題提起がなされました。
</p>
<ul>
	<li>ゲーム実況者がフリーゲームを実況して金儲けする、ただ乗り問題</li>
	<li>フリーゲームの二次創作ガイドラインが整備されていない問題</li>
	<li>フリーゲームの中で使用された、音楽やイラストの素材原作者の権利をどう考えるか問題</li>
</ul>
<p>
<a href="http://commons.nicovideo.jp/cpp/about/" target="_blank">クリエイター奨励プログラム</a>や<a href="https://support.google.com/youtube/answer/72902?hl=ja" target="_blank">Youtubeパートナー収益</a>など、ゲーム実況でお金を稼ぐ人も登場してきた今だからこそ、表面化してきた問題と言えます。『<a href="http://wired.jp/2015/07/08/pewdiepie-made/" target="_blank">あの人気YouTuber、売上げが9億円超に « WIRED.jp</a>』なんて事例も出てきましたし、動画投稿や実況による二次創作とお金の問題は、これからも広がっていくでしょう。</span>
</p>
<p>
そんな中、私が気になったのは、ちゃんとした著作権法を語る人の少なさです。どうも嫌儲思想や実況者批判や実況者ファンやら、さまざまなバックグラウンドを持つ人の思惑が絡み合った結果、カオティックな議論に至ったように思えます。<span class="strong">いやですね、炎上。</span>というわけで、炎上から1週間経って、いくばくか落ち着いた頃合いの今こそ、まじめに著作権法を語ってみるコーナーです。第1回目は『ゲーム実況者と制作者の為の著作権 - おすすめ入門書編』です。
</p>
<ol>
<li>著作権法の基本</li>
<li>二次創作・フェアユース・パロディ</li>
<li>インターネット文化</li>
<li>小学生でも読める</li>
</ol>
<p>
の4点を念頭に書いた、入門書籍の紹介エントリーです。
</p>
</section>


<section>
<h2><span class="number">03</span>入門編 - 小学生からプロ実況者まで</h2>
<p>
インターネット時代の著作権、二次創作、初心者向け。の3つのポイントを考えるに、以下の三冊がオススメです。
</p>
<ul>
    <li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4480689281%2F" target="_blank">18歳の著作権入門</a>(福井健策)</li>
	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4484112248%2F" target="_blank">なんでコンテンツにカネを払うのさ? デジタル時代のぼくらの著作権入門</a>(岡田斗司夫, 福井健策)</li>
    <li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4587230545%2F" target="_blank">著作権の窓から</a>(半田正夫)</li>
</ul>
<p>
それぞれ詳しく見ていきましょう。
</p>
<h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4480689281%2F" target="_blank">18歳の著作権入門</a></h3>
<div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4480689281%2F" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150913_books_18sai.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">18歳の著作権入門 (福井健策 著, ちくまプリマー新書)</p></div>
<p>
Amazonのリンクを張りましたがこの本、<span class="strong_red">じつは全部無料で読めちゃいます。</span>もともとは<a href="http://japan.cnet.com/" target="_blank">CNET Japan</a>で連載された<a href="http://japan.cnet.com/sp/copyright_study/" target="_blank">特集: 18歳からの著作権入門</a>を書籍化したもので、大幅な加筆もないため、ほぼネット上の記事で事足りてしまいます。いやはや太っ腹。<a href="http://japan.cnet.com/" target="_blank">CNET Japan</a>の記事を読んで気に入ってから、買うのも良いでしょう。
</p>
<p>
特徴としては、とかく文章が平易で読みやすく、面白い。小学校高学年なら理解できるでしょう。1章が短いので疲れません。<span class="strong_red">著作権法全体をザックリ扱っていながらも、インターネットや二次創作に関する現代的な分野は、かなりのページがさかれており、具体的</span>です。全体として「著作権って何だろう」と考えさせる構成になっており、まさしく教科書的です。
</p>
<p>
特に興味深いポイントは124ページの『実際に曲の使用許可をとってみよう!』で実際にJASRACで楽曲申請をしてみたり、19ページの『創作的な表現とありふれた表現の境界線はどこにあるのだろう』の作例などです。定説を手堅く紹介しながらも、新しい切り口でわかりやすく、ユーモラスに語っています。<a href="https://ja.wikipedia.org/wiki/%E7%A6%8F%E4%BA%95%E5%81%A5%E7%AD%96" target="_blank">福井健策先生</a>らしいアプローチだと思います。
</p>

<h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4484112248%2F" target="_blank">なんでコンテンツにカネを払うのさ? デジタル時代のぼくらの著作権入門</a></h3>
<div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4484112248%2F" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150913_books_nande.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">なんでコンテンツにカネを払うのさ? デジタル時代のぼくらの著作権入門 (岡田斗司夫 ,福井健策 著, CCCメディアハウス)</p></div>
<p>
自称オタキングこと<a href="https://ja.wikipedia.org/wiki/%E5%B2%A1%E7%94%B0%E6%96%97%E5%8F%B8%E5%A4%AB" target="_blank">岡田斗司夫さん</a>と、<a href="https://ja.wikipedia.org/wiki/%E7%A6%8F%E4%BA%95%E5%81%A5%E7%AD%96" target="_blank">福井健策先生</a>の共著です。これも読みやすい本です。
</p>
<p>
一見非常識だが発想力豊かな岡田さんの疑問に、弁護士の福井先生が答えていく。という対談形式です。<span class="strong_red">著作権法をかいくぐる方法を語る事で、逆説的に著作権法の価値を浮き彫りにしていきます。</span>
</p>
<p>
タイトルの通り、「お金と著作権」について語っているのも本書の注目ポイントです。<span class="strong_red">クリエイター個人の生存戦略から、社会システムの考察まで、幅広いフィールドから創作論と著作権法をひもといています。</span>
著作権書籍の中でも特段に異色の本ですが、読みやすくて面白く、読了後には「ものを創り、稼ぐって、何だろう?」と考えさせられる名著です。
</p>

<h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4587230545%2F" target="_blank">著作権の窓から</a></h3>
<div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4587230545%2F" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150913_books_madokara.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">著作権の窓から (半田正夫 著, 法学書院)</p></div>
<p>
三冊目は、著作権にまつわるエピソード集です。著作権法に関するトラブルや裁判事例(判例)を、平易なエッセイで読めます。ただの判例集や考察なら、他にも色々な本が出版されていますが、<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4587230545%2F" target="_blank">著作権の窓から</a>は、とにかく優しく易しく面白いのです。<span class="strong_red">ただの判例紹介に止まらず、そのバックグラウンドも語る</span>事は、法学に疎い人でも入りやすく、素晴らしいです。
</p>
<p>
あらゆるケンカはすれ違いから始まります。ちょっとしたボタンの掛け違いで、裁判になってしまう。そういうリアルさが垣間見える本です。いろいろな著作権法書を読んだ中でも、この本ほど読み終えるのが残念だったものはありません。
</p>
</section>

<section>
<h2><span class="number">04</span>中級編 - ちょっと本格的に知りたい人へ</h2>
<h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4409240927%2F" target="_blank">日本の著作権はなぜこんなに厳しいのか</a></h3>
<div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4409240927%2F" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150913_books_kibishi.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">日本の著作権はなぜこんなに厳しいのか (山田奨治 著, 人文書院)</p></div>
<p>
著者は<a href="https://ja.wikipedia.org/wiki/%E5%B1%B1%E7%94%B0%E5%A5%A8%E6%B2%BB" target="_blank">山田奨治先生</a>。ダウンロード違法化や著作権法の厳罰化に焦点を当てた本です。
前半は、<a href="http://www.innovations-i.com/column/bon-gout/1.html" target="_blank">ひこにゃん問題</a>や、CMの著作権保護問題など、著作権の騒動を紹介。中盤は、ダウンロード違法化の議論をくわしく解説。後半は、海外の著作権をとりまく情報を語っています。
</p>
<p>
特筆すべきは「第3章 法律を変えるひとびと」と「第4章 ダウンロード違法化はどのようにして決まったのか」です。権利団体のロビー活動により著作権法がどんどん厳しくなる様子が書かれています。……と書くと退屈そうに聞こえますが、超エキサイティングなのが、この第4章なのです。<a href="http://miau.jp/" target="_blank">MiAU 一般社団法人インターネットユーザー協会</a>の<a href="https://twitter.com/tsuda" target="_blank">津田大介さん</a>が、著作権法厳罰化に立ち向かうのですが、その展開がアツい。圧倒的戦力差の中、インターネット民衆の力で一矢報いる様は、良くできたヒーロー小説のようです。<span class="strong_red">著作権法がどのような力学で作られていくか。を解剖した、斬新な本</span>です。
結局、負けるんですけれどね、津田さん。
</p>
<p>
本書の基本的主張である「著作権法の罰則が厳しすぎる」は、法を知る者にとってかなり同意できる考えです。それを素人にも判りやすくかみ砕いた上で、法の成り立ちとバランスを考察しています。一見の価値があります。
</p>

<h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4883790894%2F" target="_blank">マンガと著作権―パロディと引用と同人誌と</a></h3>
<div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4883790894%2F" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150913_books_manga.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">マンガと著作権―パロディと引用と同人誌と(米沢嘉博 編集, コミケット)</p></div>
<p>
<a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%83%9E%E3%83%BC%E3%82%B1%E3%83%83%E3%83%88" target="_blank">コミックマーケット</a>創始者のひとり、米やんこと<a href="https://ja.wikipedia.org/wiki/%E7%B1%B3%E6%BE%A4%E5%98%89%E5%8D%9A" target="_blank">米澤嘉博氏</a>の書籍です。おそらく<span class="strong_red">マンガ・著作権・二次創作について語った、はじめての本</span>で、2001年8月に出版されました。
</p>
<p>
フランスには<a href="http://www.jpaa.or.jp/activity/publication/patent/patent-library/patent-lib/201304/jpaapatent201304_018-028.pdf" target="_blank">パロディ権</a>が、アメリカには<a href="https://ja.wikipedia.org/wiki/%E3%83%95%E3%82%A7%E3%82%A2%E3%83%A6%E3%83%BC%E3%82%B9" target="_blank">フェアユース</a>という考え方があります。しかし、日本の著作権法には、それらが存在しません。ゆえに二次創作はブラックに近いグレーという存在です。そんな中、表現の自由とどう向き合うか。<a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%83%9E%E3%83%BC%E3%82%B1%E3%83%83%E3%83%88" target="_blank">コミックマーケット</a>という遊び場をどう守るのか。を提唱しています。
</p>
<p>
2001年の時点でそれを専門的に語った点は興味深いです。しかし、読み進める前提として著作権法や漫画や同人創作に関する専門知識が必要で、書籍中盤の討論内容がつまらないのが難点です。出版後、米澤さんは「あまり反応がなくて残念だった」と嘆いておられましたが、ちょっと内容が難しすぎたのではないか。と思いました。
</p>
<p>
とはいえ、2001年当時に<a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%83%9E%E3%83%BC%E3%82%B1%E3%83%83%E3%83%88" target="_blank">コミックマーケット</a>の中心人物が二次創作についての議論をとりまとめた。という意味では、文献としての価値は高いと思います。<a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%83%9E%E3%83%BC%E3%82%B1%E3%83%83%E3%83%88" target="_blank">コミックマーケット</a>や二次創作の歴史を知るという意味でも、良い本です。
</p>
<p>
ちなみに、パロディとフェアユースと二次創作に関する報告書は<a href="http://www.bunka.go.jp/seisaku/bunkashingikai/chosakuken/hosei/parody/" target="_blank">文化庁 - パロディーワーキングチーム報告書</a>が、とてもよくまとまっているのでオススメです。
</p>
</section>

<section>
<h2><span class="number">05</span>さらなるステップへ</h2>
<h3>本格的に著作権法を知りたい</h3>
<p>
とりあえず、<a href="http://law.e-gov.go.jp/htmldata/S45/S45HO048.html" target="_blank">著作権法</a>に目を通し、<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4641114986%2F" target="_blank">著作権判例百選 第4版(別冊ジュリスト)</a>と<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4641144699%2F" target="_blank">著作権法 第2版</a>を購入する所から始めましょう。著作権法は知的財産法のなかの、ごくごく一部です。<a href="https://ja.wikipedia.org/wiki/%E7%89%B9%E8%A8%B1" target="_blank">特許権</a>や<a href="https://ja.wikipedia.org/wiki/%E6%84%8F%E5%8C%A0%E6%A8%A9" target="_blank">意匠権</a>や<a href="https://ja.wikipedia.org/wiki/%E5%95%86%E6%A8%99%E6%B3%95" target="_blank">商標権</a>など、じわじわと理解の範囲を広げていきましょう。
</p>
<h3>創作に関わる社会の情勢を知りたい</h3>
<p>
<a href="https://ja.wikipedia.org/wiki/%E3%83%87%E3%82%B8%E3%82%BF%E3%83%AB%E3%82%A2%E3%83%BC%E3%82%AB%E3%82%A4%E3%83%96" target="_blank">デジタルアーカイブ</a>や<a href="https://ja.wikipedia.org/wiki/%E8%A1%A8%E7%8F%BE%E3%81%AE%E8%87%AA%E7%94%B1" target="_blank">表現の自由</a>など、創作に関わるたくさんの取り組みや法律があります。<a href="hhttp://www.bunka.go.jp/tokei_hakusho_shuppan/tokeichosa/" target="_blank">文化庁 - 統計・調査研究等</a>や<a href="http://www.soumu.go.jp/menu_seisaku/ictseisaku/index.html" target="_blank">総務省 - 情報通信政策</a>から発行されるPDFも、最新の調査動向を追うのにオススメです。それから<a href="http://www.ndl.go.jp/jp/diet/publication/issue/" target="_blank">国会図書館 調査と情報 Issue Brief</a>でも時折語られる事もあります。Issue Briefはどれもクォリティが高く、読み応えがあるので、オススメです。
</p>
<h3>海賊版や海外のコンテンツ情勢を知りたい</h3>
<p>
海外の二次創作(そして海賊版)の情報を知りたいならば、<a href="http://www.jetro.go.jp/" target="_blank">日本貿易振興機構(ジェトロ)</a>の<a href="http://www.jetro.go.jp/reportstop/reports/contents/" target="_blank">ジェトロ 調査レポート - コンテンツ分野</a>に目を光らせておくと良いです。
</p>
<p>
ほかにもNHK WORLDの<a href="http://www3.nhk.or.jp/nhkworld/en/tv/imagine/" target="_blank">Imagine-nation</a>といった日本のポップカルチャーを扱う番組や、<a href="http://www.ichiya.org/jpn/" target="_blank">中村伊知哉先生</a>のブログで語られる政策提言なども、クールジャパン戦略の動静を知るのに役立ちます。このあたりは、様々な情報が出ているので、検索で苦労する事はないでしょう。
</p>
<h3>実際の裁判を知りたい</h3>
<iframe width="820" height="461" src="https://www.youtube.com/embed/O0_kwTjDhHI?rel=0&start=11" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
映画にもなった「裁判長! ここは懲役4年でどうすか」(原作:北尾トロ、主演:設楽統)のトレーラーは、裁判傍聴の雰囲気が判りやすくて良いですね。
</p>
</div>
<p>
「法律や裁判って、こわい」というイメージが先行していますが、実際のところ、そう難しいものではありません。こう言ってはなんですが、裁判なんて結構テキトーです。ああ、いや、テキトーとまで書くと語弊がありますが、実際の裁判を傍聴してみると、「ははぁ、こんなものなんだなぁ」という、妙にリアルな感覚を覚える事でしょう。<span class="strong_red">裁判なんて、敷居が高いものじゃ、ないんです。近所の高等裁判所に遊びに行きましょう。</span>デートにもおすすめ。
</p>
<p>
<a href="http://www.courts.go.jp/kengaku/" target="_blank">裁判所 - 見学・傍聴案内</a>を見て下さい。関東在住なら<a href="http://www.courts.go.jp/tokyo-h/" target="_blank">東京高等裁判所</a>が特に良いです。東京メトロ霞ヶ関駅A1出口すぐです。
残念ながら著作権法に関する裁判はあまり多くありませんし、やや退屈かもしれません。やっぱり午後イチ裁判の殺人とか強姦とか、そういう方がインパクトありますものね。<span class="strong_gray">たくさん聞くと、そういうのも食傷気味になりますが。</span>
</p>
<p>
私が傍聴した著作権裁判で印象に残っているのは……。演歌歌手が「レーベルに勝手にCDを販売された挙げ句、連絡が取れなくなった。CD販売を差し押さえたい。」という理由で、著作権法違反として訴えたケース。無知な私は知らぬお方でしたが、わりと有名な歌手だったらしく。さめざめと泣く演歌歌手に、傍聴席のファンの目頭も熱くなり。心温まる事案でした。まあ、そんな裁判、滅多にないんですけれどね。
</p>
<p>
初心者への裁判所傍聴のアドバイスです。裁判傍聴にもプロ(?)がおりまして、その人についていくと面白い裁判に巡り会う確率が上がります。<span class="strong_gray">つまらない裁判に遭遇する確率が下がる。と言った方が正確かもしれません。</span>開廷前の9時40分くらいに、1階ロビーで動きに無駄のない人を探しましょう。ややラフな格好で眼光鋭く、場慣れした空気を醸し出す、40から50歳くらいの男なんかが、それです。<span class="strong_gray">あの人達、普段どんな仕事してるんだろう……?</span>あるいは法学部学生っぽいのに付いていくのも良いでしょう。たまに大学教授が生徒をつれて傍聴しています。
</p>
<ul>
	<li><a href="http://trendersnet.com/archives/501.html" target="_blank">裁判傍聴の方法とポイント！誰でも簡単にできます！ | TRENDERS NET</a></li>
	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4167679965%2F" target="_blank">裁判長! ここは懲役4年でどうすか</a>(著: 北尾トロ, 文春文庫)</li>
	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4344980514%2F" target="_blank">はじめての裁判傍聴</a>(著: 井上薫, 幻冬舎新書)</li>
</ul>
</section>

<section>
<h2><span class="number">06</span>さいごに(つづく?)</h2>
<p>
さて、ここまで、「ゲーム実況者と制作者の為の著作権 おすすめ入門書編」という訳で書き上げた1本目ですが、いかがでしたでしょうか。入門書の紹介から、一歩踏み出した情報収集までを記しました。ゲーム実況問題をベースに考えたので、普通に著作権法を学ぶ人にとっては、かなり風変わりな選書だと思います😏。
著作権に関する議論は、まだまだ語る事がありそうです。次回は、もうちょっと直接的に「二次創作の権利について」や「二次創作における許可と交渉」など、ちまちま書いて行けたらいいなぁ。と思っています。
</p>
<p>
私は弁護士・弁理士資格を持っていないので、専門的なアドバイスはできませんが、知りたい事があったらコメント欄やTwitterに書いてくれると嬉しいです。
</p>
</section>
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
<img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">
