<!--
第20回3分ゲーニュースとB抽選開始
3punge20_2
2015/09/04 23:04

第20回3分ゲーコンテストB事前抽選を開始しました。B抽選の応募期間は9月8日23時59分までです。参加希望者は早めに応募してくださいね。そしてようやっとhttp://3punge.jpを仮オープンしました。
 -->
<section>
<h2><span class="number">01</span>第20回3分ゲーコンテストのB事前抽選を開始しました</h2>
<div class="wp-caption alignnone"><a href="https://goo.gl/UK2Gpl" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150829_3pungeRule2_Blot.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">第20回3分ゲーコンテストB抽選に応募する</p></div>
<p>
第20回3分ゲーコンテストB抽選を開始しました。参加する方は<a href="https://goo.gl/UK2Gpl" target="_blank">応募フォーム</a>から参加申請をしてください。なおB抽選の応募日程は以下の通りです。
</p>
<table>
<caption>
第20回3分ゲーコンテストB抽選応募日程
</caption>
<tbody>
<tr>
<th class="active">抽選登録期間</th>
<td>9月2日(水)〜9月8日(火)23時59分</td>
</tr>
<tr>
<th class="active">当選結果発表</th>
<td>9月9日(水)2時からニコニコ生放送を実施します</td>
</tr>
<tr>
<th class="active">当選者数</th>
<td>10</td>
</tr>
<tr class="bg-warning">
<th class="text-danger">応募URL(応募受付中)</th>
<td class="text-danger"><a href="https://goo.gl/UK2Gpl" target="_blank">https://goo.gl/UK2Gpl</a></td>
</tr>
</tbody>
</table>

</section>

<section>
<h2><span class="number">02</span><a href="http://3punge.jp" target="_blank">http://3punge.jp</a>をオープンしました</h2>
<p>
また、A抽選終了にともない、<a href="http://3punge.jp" target="_blank">3分ゲーコンテスト</a>のウェブサイトをオープンしました。といっても、まだBootstrap 3で仮組みをしただけの状態です。A抽選の結果と、B抽選のご連絡と、応募規約について掲載しています。
</p>
<p>
このアドレスで、過去の<a href="http://3punge.jp" target="_blank">3分ゲーコンテスト</a>の情報も閲覧できるサイトを鋭意制作中です。
</p>
</section>


<section>
<h2><span class="number">03</span>A抽選の結果掲載</h2>
<p>
第20回3分ゲーコンテストA抽選は20作品の当選枠中、21作品のご応募を頂きました。よって、1作品のみが落選しました。結果を以下に記します。
</p>
<table>
<caption>
第20回3分ゲーコンテストA抽選応募日程
</caption>
<tbody>
<tr>
<th class="active">抽選登録期間</th>
<td>8月29日(土)〜2015年9月1日(火)23時59分</td>
</tr>
<tr>
<th class="active">当選結果発表</th>
<td>9月9日(水)2時からニコニコ生放送を実施します</td>
</tr>
<tr>
<th class="active">当選者数</th>
<td>20</td>
</tr>
<tr>
<th class="active">応募URL(終了しました)</th>
<td><a href="https://goo.gl/fqzUE4" target="_blank">https://goo.gl/fqzUE4</a></td>
</tr>
</tbody>
</table>

<hr>

<table>
<caption>
第20回3分ゲーコンテストA抽選結果
</caption>
<thead>
<tr class="active">
<th>当落</th>
<th>応募番号</th>
<th>作品名</th>
<th>ジャンル</th>
</tr>
</thead>
<tbody>
<tr>
<td class="bg-success">当選</td>
<td>2</td>
<td>メザシさん太郎（仮）</td>
<td>パズル</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>3</td>
<td>ライバル妨害ゲーム(仮)</td>
<td>アクション</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>4</td>
<td>ルミナス・サマー</td>
<td>ノベル</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>5</td>
<td>ルーミアのたからさがし</td>
<td>パズル</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>6</td>
<td>コロコロボックル</td>
<td>パズル</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>7</td>
<td>ネコバ伝説（仮）</td>
<td>ヒ・ミ・ツ♡</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>8</td>
<td>Dな食卓（仮）</td>
<td>シミュレーション</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>9</td>
<td>めいどのねの</td>
<td>アドベンチャー</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>10</td>
<td>容疑者（仮）</td>
<td>シミュレーション</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>11</td>
<td>ジオメトリカ</td>
<td>その他</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>12</td>
<td>そこなら三角まわして四角</td>
<td>パズル</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>13</td>
<td>pix reversi</td>
<td>パズル</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>14</td>
<td>ことわの水集め</td>
<td>アクション</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>15</td>
<td>JORAYさん</td>
<td>アクション</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>16</td>
<td>ムスコを喰らうサトゥルヌス</td>
<td>アドベンチャー</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>17</td>
<td>魔王とねこづくり（仮）</td>
<td>アドベンチャー</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>18</td>
<td>ミニッツパーティー</td>
<td>その他</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>19</td>
<td>まだアイディアすらないです</td>
<td>その他</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>20</td>
<td>ナベシキマホウ</td>
<td>パズル</td>
</tr>
<tr>
<td class="bg-success">当選</td>
<td>21</td>
<td>網の町</td>
<td>その他</td>
</tr>
<tr class="text-danger">
<td class="bg-danger">落選</td>
<td>1</td>
<td>3分で制圧2</td>
<td>シューティング</td>
</tr>
</tbody>
</table>
<p>
A抽選に1番のりで応募した方が落選するという、なかなか心が痛む結果となりました。しかしB抽選にも光の速さで応募して下ったので、かのひとに運の神がほほえむ事に期待したいと思います。
</p>
</section>

<section>
<h2><span class="number">04</span>メディア掲載など</h2>
<div class="wp-caption alignnone"><a href="http://www.moguragames.com/entry/three-minutes-contest/" target="_blank" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_150904_3pungeRule3_MoguraNews.png" width="810" height="240"  class="size-full" /></a><p class="wp-caption-text">3分で遊べるフリーゲームを投稿する、『3分ゲーコンテスト』の復活計画が進行中！<br>(もぐらゲームス 水原由紀著)</p></div>

<p>
<a href="http://www.moguragames.com" target="_blank">もぐらゲームスさん</a>、<a href="http://www.forest.impress.co.jp/" target="_blank">窓の杜さん</a>に現在の<a href="http://3punge.jp" target="_blank">3分ゲーコンテスト</a>の状況について、記事にして頂きました。ありがとうございます。注目されると、気が引き締まりますね……。
</p>
<ul>
<li><a href="http://www.forest.impress.co.jp/docs/news/20150831_718794.html" target="_blank">“3分ゲーコンテスト”が復活、エントリーのための事前抽選が実施中</a>(2015/08/31)</li>
<li><a href="http://www.moguragames.com/entry/three-minutes-contest/" target="_blank">3分で遊べるフリーゲームを投稿する、『3分ゲーコンテスト』の復活計画が進行中！</a>(2015/08/25)</li>
<li><a href="http://www.forest.impress.co.jp/docs/serial/indiedigest/20150814_716327.html" target="_blank">インディーゲーム・週間ダイジェスト（8月第2週） 3分ゲーコンテスト復活、「ghostpia」第2話公開　ほか。夏コミ頒布情報も多数 - 窓の杜</a>(2015/08/14)</li>
</ul>
<h3>個人ブログでの言及</h3>
<p>Twitterや当ブログでも3分ゲー復活に関して多くの声が寄せられましたが、ご自身のサイト上でも3分ゲーの思い出話などを書いてくださった方がいました。一部を以下に掲載します。</p>
<ul>
<li><a href="http://0saft.blog.fc2.com/blog-entry-7632.html" target="_blank">[雑記]3分ゲーコンテストが復活と聞いて！ ネームレスゼロ ～MUGEN島～</a>(2015/09/02)</li>
<li><a href="http://d.hatena.ne.jp/bunaguchi/20150829" target="_blank">帰ってきた伝説、3分ゲーコンテスト - bunaguchi雑記</a>(2015/08/29)</li>
<li><a href="http://blog.livedoor.jp/oowatakeru/archives/1037900047.html" target="_blank">3分ゲーコンテスト復活と規約草案について : no name space of</a>(2015/08/23)</li>
<li><a href="http://plaza.rakuten.co.jp/masyamblog555/diary/201508150000/" target="_blank">ゲーム作りの面白さと、ゲームの面白さの温度差 | 炎の独りゴマ - 楽天ブログ</a>(2015/08/15)</li>
</ul>
</section>

<section>
<h2><span class="number">05</span>これからの流れをつらつら</h2>
<h3>渉外と調整の時分です</h3>
<p>
<a href="https://github.com/tomotakatk/3punge/blob/master/rule.md" target="_blank">第20回3分ゲーの応募規約</a>も固まり、あとは開催に向けて粛々と準備を進めていきます。外から見ると、あんまり動いていないように見える頃合いかもしれませんが、渉外や調整でそれなりに忙しい時期です。色々とお問い合わせメールも頂いているので、それに返信しています。「私の所にメール返信が届いていないよ」って方がおりましたら、見落としているかもなのでご連絡ください。一応、気がついたものは内容の如何に関わらず全部返信しています。
</p>
<h3>Twitterのハッシュタグと開発状況のつぶやき</h3>
<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">みんな３分ゲーのスクショとかあげてないのかな。トモタカさんがほぼ公式としてRTする事で、うおーみんな頑張ってるぜー俺もやるぜー！　という熱充（熱の充填）をしたいものだけど。</p>&mdash; さあ！どんどんゲームになるのだ！ (@gamecome111) <a href="https://twitter.com/gamecome111/status/638485556549193728">2015, 8月 31</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>
<a href="http://kirara111.sakura.ne.jp/top/" target="_blank">１１１さん</a>のご提案です。<a href="https://twitter.com/search?src=typd&q=%233%E5%88%86%E3%82%B2%E3%83%BC" target="_blank">#3分ゲー</a>のハッシュタグをつけて3分ゲーコンテストの開発状況をつぶやくと、気がついたときにリツイートするかもです。
</p>
<a class="twitter-timeline"  href="https://twitter.com/hashtag/3%E5%88%86%E3%82%B2%E3%83%BC" data-widget-id="639790962659594240">#3分ゲー のツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<p>
<span class="strong_gray">一応3分ゲーコンテスト公式的には、応募完了前の方々の情報掲載は、作品名とゲームジャンルのみに留めています。つまりお名前は公開しないスタンスです。これは抽選枠制度ゆえに、落選した方への精神的配慮であると同時に、応募作者さんがエターナった時に誹謗中傷を受ける事を控える狙いです。とはいえ、3分ゲー応募作者さん同士で開発状況をわいわい報告するのも楽しかろうと思います。というわけで、公開アカウントで#3分ゲーのハッシュタグ付きで発信している場合は、周知の意図ありという事で、私の個人アカウントからリツイートするかもしれません。</span>
</p>
<h3>過去の応募作者様へのご連絡</h3>
<p>
現在、過去の3分ゲーコンテスト応募作品の情報整理を進めています。なにぶん数が膨大ゆえ、今の作者様のご連絡先を探す作業に時間がかかっています。<span class="strong_gray">過酷な使用に耐えかねたのか、Excelちゃんがストライキ。完全に起動しなくなりました。ガッデム!! FileMakerに乗り換えて作業進め中。</span>近日中に過去の3分ゲー応募作者様宛にメール(もしメールが届かないならTwitterなど)でご連絡する予定です。
</p>
<p>
具体的には<a href="http://3punge.jp" target="_blank">3分ゲーコンテスト</a>ウェブサイト上へのゲームの再掲載願いや、ゲームデータのアップデート、そして要望に応じて近況コメントの掲載や、作者サイトへのリンクも行う予定です。
</p>
<p>
過去の3分ゲーコンテストの作品を遊んでみたい人が、探しやすいようにしたいと思っています。情報整備には<a href="http://3pgmatome.web.fc2.com/" target="_blank">3分ゲーコンテストまとめ</a>を作っていた<a href="https://twitter.com/yarex2" target="_blank">やれやれさん</a>にもご協力頂いております。この場を借りて御礼申し上げます。
こちらも進展があれば、随時当ブログや<a href="http://3punge.jp" target="_blank">3分ゲーコンテスト</a>の方で情報掲示していきます。
</p>
</section>
<section>
<h2><span class="number">05</span>これまでの振り返り</h2>
<p>
復活してから、だいたい3週間くらいで、ここまでこぎ着ける事ができました。色々な意見を下さった方、本当にありがとうございます。
応募規約に関する議論や調整など、なかなかの分量の議論になりましたけれど、これを全部読む人いらっしゃるんでしょうか😅
</p>
<ul>
<li><a href="http://tomotaka.tk/3punge20_1/" target="_blank">第20回3分ゲーのルール改定＆事前抽選開始</a>(2015年08月29日)</li>
<li><a href="http://tomotaka.tk/3punge_rule/" target="_blank">3分ゲーコンテスト規約草案</a>(2015年08月20日)</li>
<li><a href="http://tomotaka.tk/3punge_open/" target="_blank">3分ゲーコンテスト復活とコメント返し</a>(2015年08月15日)</li>
</ul>
<p>
コンテストって、透明性や情報発信を努力しても、運営がブラックボックス化しやすい傾向にあります。広報・マーケティング的な都合で、一定時期まで伏せておかなければならないケースもある。なおさら不透明性が増しやすい。企業運営ならば渉外交渉が大変だと思います。
3分ゲーコンテストは個人運営ゆえに気楽なものです。<span class="strong_gray">個人だからこその、マンパワー的な戦力不足や知識不足・技術不足の問題もありますが。</span>
</p>
<p>
これらの経緯や議論は、今後、コンテストを運営する人の足しになればと思います。なるたけ情報を公開していく事で、次にコンテストを開きたい方の役に立てばなぁと思います。もし仮に、なにかの要因で3分ゲーが潰れる事があっても、ここでの議論を足がかりに、新しい場を作ってくださる方がいるなら、いいなぁと思っています。
</p>
</section>
<section>
<h2><span class="number">06</span>その他の個人的ツクツク状況</h2>
<ul>
<li>3分ゲーに結構時間とられてます。</li>
<li>ツクール新聞、進捗わろし😢いろいろやりたい事は溜まっているのですが……お待たせして申し訳ないです。</li>
<li>別案件でWikiとBBSとアップローダの作成中です。こっちも近日中に公開するかもです。</li>
</ul>
</section>
