<!--
レンタルサーバ、はじめました
tkoolorg-rental-server
2015/09/19 23:25

思いついたので、レンタルサーバを作ってみました。ツクラーやゲーム制作に関する事を行っている人に、無料で開放します。ぜひ使ってみてくださいね。
 -->
<section>
<h2><span class="number">01</span>レンタルサーバ、はじめました</h2>
[caption width="810" align="alignleft"]<a href="http://bit.ly/tkoolserver"><img src="http://tomotaka.tk/data/img_gif/caption_150919_tkoolserver_top.gif" width="820" height="240" class /></a> 一度つくってみたかった。こういう安っぽいレンタルサーバの広告GIFアニメ。[/caption]

レンタルサーバ<span class="strong">で</span>何かを作った。のではなくて、レンタルサーバ<span class="strong">を</span>作りました。
<a href="http://www.tkool.org/sample/" target="_blank">http://www.tkool.org/sample/</a>
のsampleの部分が、あなたのサイトになります。<span class="strong_red">無料。HTMLとPHPに対応。RPGツクール関連の事や、ゲーム制作をやっている人が使えます。</span>参加にはユーザ登録とDropboxの利用が必須です。
</p>
<p>
平たく言うと、<span class="strong_red">DropboxにHTMLファイルを置くと、そのまま公開されてウェブサイトになる。</span>って事です。しかもhttp://www.tkool.org/○○○という判りやすいURLが使えます。ツクラーにピッタリですね👍。
</p>

<p>
<a href="http://bit.ly/tkoolserver" target="_blank">ツクール新聞レンタルサーバβテストの申請はこちらから</a>
</p>
</section>

<section>
<h2><span class="number">02</span>開発経緯</h2>
<p>
9月17日 09時 …… ピコーン! おもいついた😃。
9月17日 12時 …… 技術的に可能か、テストを繰り返す😕。
9月18日 03時 …… なんだか出来そうだと確信をえる😪。
9月18日 09時 …… 法律やサーバ監視について勉強する😎。
9月18日 19時 …… 本格的に実装し始める😩。
9月19日 06時 …… この記事と登録マニュアルを書き始める😴。
9月19日 12時 …… デフォルトHTMLと動画を作り始める😇。
9月19日 21時 …… いろいろ設定も完了して、ついにβテスト開始😆。
</p>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">第20回3分ゲーで、Dropboxとサーバディレクトリを接続して便利という事に気がついたのですが、この方法、他にやっている人がいないっぽい。&#10;&#10;お手軽な割には、冗長性もユーザ分離も出来て、うまい手法だと思います。この手法を使えば、セキュアで超お手軽にサーバ運用できる気がします。</p>&mdash; トモタカ (@tomotakatk) <a href="https://twitter.com/tomotakatk/status/644307714647035904" target="_blank">2015, 9月 17</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">マシン: Windows Server 2016&#10;サーバ: IIS 10&#10;転送クライアント: Dropbox&#10;サイト管理・運用: HTMLやMDwikiなど自由&#10;構成でレンタルサーバを作ってみたいです😌。ドメインは「<a href="http://t.co/sC0PnMpXbL" target="_blank">http://t.co/sC0PnMpXbL</a>ユーザ名」あたりで。</p>&mdash; トモタカ (@tomotakatk) <a href="https://twitter.com/tomotakatk/status/644320143472889857" target="_blank">2015, 9月 17</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">レンタルサーバを作るって、いいな。うん、なんかこう、90年代後半な感じが、すごく良いですね。一昔前は他人のサーバを間借りして、詳しい人に頼っていたなぁ……。&#10;ツクール新聞も設立当初はSKさんに色々貸して貰っていた気がします。もうだいぶ昔の話ですけれども😌。</p>&mdash; トモタカ (@tomotakatk) <a href="https://twitter.com/tomotakatk/status/644410140058259456" target="_blank">2015, 9月 17</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">我に返ると、なぜレンタルサーバを作る事に燃えているのか、私自身もよく分からないのですけれど、思いついてしまったのだから、仕方がないのです。クリエイター(笑)ですから。&#10;&#10;「レンタルサーバの作り方」なんて、いまどき誰もいないので、いい。とても良い😏。</p>&mdash; トモタカ (@tomotakatk) <a href="https://twitter.com/tomotakatk/status/644420622416674816" target="_blank">2015, 9月 17</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>
というわけで出来ました。<a href="http://www.tkool.org" target="_blank">ツクール新聞レンタルサーバ</a>。まだβテスト版ですが。
</p>
</section>

<section>
<h2><span class="number">03</span>使い方</h2>
<iframe width="820" height="461" src="https://www.youtube.com/embed/ANrN0u5CuNM" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
3分でわかる、登録マニュアルです。
</p>

<ol>
  <li>Dropboxに登録します</li>
  <li>Dropboxのアカウント名をコピーします</li>
  <li><a href="http://bit.ly/tkoolserver" target="_blank">ツクール新聞レンタルサーバβテストに登録</a>します</li>
  <li>待ちます</li>
  <li>トモタカからメールが届きます</li>
  <li>共有ディレクトリの許可を押します</li>
  <li>ウェブサイトが公開されました!!</li>
  <li>ファイルを更新してウェブサイトを更新しましょう</li>
</ol>
</section>

<section>
<h2><span class="number">03</span>なぜ作ったの</h2>
<p>
<a href="http://tkool.org" target="_blank">ツクール新聞</a>の一環のサービスとして作りました。
ツクール新聞とは、2007年まで運営されていたRPGツクール専門のニュースサイトです。ほぼ毎日、RPGツクール関連のウェブサイトの更新情報を発信していました。<span class="strong_gray">現在復旧準備中です……。3分ゲーに時間をとられて、ぜんぜん進んでいませんが……。</span>そんなわけで、ツクールのウェブサイトを巡回する事については、一家言もっている私ですが。フリーゲーム界隈に戻ってきた時に、多くのツクラーさんがウェブサイトを閉鎖しているのを見て、ちょっぴり悲しくなりました。<a href="http://twitter.com" target="_blank">Twitter</a>や<a href="http://www.pixiv.net/" target="_blank">Pixiv</a>に移行している人も多く、あまり自分のウェブサイトを更新していない状況。
すなわち、ツクール新聞の載せる所が、減っちゃっている😰。<span class="strong_gray">新作ゲームが公開されたときにTwitterのユーザページを張るっていうのも、私の感覚からすると、正直ちょっと格好がつかない。</span>
</p>
<p>
ウェブサイトって、作者の顔だと思います。
ゲーム作ったとしても、公式サイトがあるとないとでは、見る人の数も違います。毎日つながっている熱心なファンならTwitterやニコニコ動画の更新を見てくれるかも知れませんが、数ヶ月とか1年のブランクがあいて「あの作者、さいきん何か作ってないかな」と期待して情報収集するなら、まずウェブサイトから見に行くと思うのです。それから実況問題で感じた懸念ですが、恒常的な作者の連絡先がないと、権利問題が起きた時に発信する場所がなくて不利益だろうと思いました。ウェブサイト制作って、自由度が高すぎて面倒な事もあるけれど、用意する事は大切だと思うのです。
</p>
<p>
ニコニコ動画やPixivやTwitterやブログサービスの枠の中に縛られて、自分のサイトを持たないなんて、勿体ないと思います。<span class="strong_red">持とうぜ、自分の城。</span>
</p>
<p>
というわけで
</p>
<ul>
  <li>昔サイトを持っていて今もっていない人も。</li>
  <li>心機一転あたらしいサイトを作りたい人も。</li>
  <li>これからゲーム制作をはじめる人も。</li>
  <li>「いっちょツクール新聞にニュース提供する場所でも作ってやるか」と思ってくださる人も。</li>
</ul>
<p>
<a href="http://www.tkool.org/" target="_blank">ツクール新聞レンタルサーバ</a>で、新しいウェブサイトを作ってみませんか。無料です。広告も入りません。
</p>
</section>

<section>
<h2><span class="number">04</span>技術的な部分</h2>
<p>
もともとの発想は、DropboxをFTPクライアント代わりに使ってしまおう。というアイデアからです。Dropboxの共有ディレクトリを直接ウェブサーバに繋いで公開してしまえば、可用性と可搬性と利便性がバランス良く確保されたサーバになるのでは? という着想です。
</p>
<p>
最初は<a href="http://3punge.jp" target="_blank">第20回3分ゲーコンテスト</a>の応募者向けサーバを構築している時、ファイル転送の方式に悩んだ事がきっかけでした。FTPは通信の暗号化がされないので、さすがにまずい。FTPSやSFTPはセキュアだが、クライアントの普及率が低いうえ転送エラーの不安が残る。WebDAVはWindows/Macでデフォルトで対応しているが、少し古いOSだと動作が不安定なケースが散見されるし、SSL証明書にお金がかかる。すなわち、どれも弱点があります。
</p>
<p>
セキュアで手間をかけずにファイル転送する最適な方式を考えた時、Dropboxってかなりイケてるんですよね。しかも本気で開発しようと思えば、<a href="https://www.dropbox.com/developers" target="_blank">Dropbox API</a>は美しい仕様なので、使いやすく拡張性が高いです。
</p>
<p>
このDropbox + ウェブサーバのアイデアに、技術的に先端的・実験的な味付けをして、ツクラーをはじめとするフリーゲーム制作者の為のレンタルサーバとして設計してみよう、と考えて組み上げました。
</p>
</section>

<section>
<h2><span class="number">05</span>構成と今後の予定</h2>
<table>
  <tr>
    <th>項目名</th>
    <th>2015年9月19日現在</th>
    <th>将来</th>
  </tr>
  <tr>
    <th>OS</th>
    <td>Windows Server 2016 Technical Preview 3</td>
    <td>販売開始時に製品版に移行</td>
  </tr>
  <tr>
    <th>HTTPサーバ</th>
    <td>Internet Information Services 10(IIS 10)</td>
    <td>販売開始時に製品版に移行</td>
  </tr>
  <tr>
    <th>対応言語</th>
    <td>HTML, CSS, JavaScript, PHP 5.6</td>
    <td>Ruby, Python, Perl, Goあたりも対応予定</td>
  </tr>
  <tr>
    <th>転送クライアント</th>
    <td>Dropbox専用</td>
    <td>Dropbox以外に対応させる予定はありません</td>
  </tr>
  <tr>
    <th>バックアップ体制</th>
    <td>Dropboxのみ</td>
    <td><a href="https://github.com/" target="_blank">Github</a>(毎日/公開) + <a href="https://www.google.com/intl/ja_jp/drive/" target="_blank">Google Drive</a>(毎月/公開) + <a href="https://aws.amazon.com/jp/glacier/" target="_blank">Amazon Glacier</a>(毎月/非公開)を導入予定</td>
  </tr>
  <tr>
    <th>データベース</th>
    <td>なし</td>
    <td>今後も対応予定なし。外部サービスを活用して下さい</td>
  </tr>
  <tr>
    <th>ウェブ開発サポート</th>
    <td>サンプルHTMLのみ</td>
    <td>PicoCMSを搭載・サポート予定です。WordPressとホームページビルダー20のサポートも予定しています。</td>
  </tr>
  <tr>
    <th>サーバ監視</th>
    <td>Mackerel + Zabbix</td>
    <td></td>
  </tr>
</table>

<p>
インフラが分かる人が読めば分かると思いますが、かなり尖った構成です。
Windows Server 2016とIIS 10は2015年9月現在、開発段階の製品です。転送クライアントがDropbox専門なのも、思い切っています。バックアップ体制は徹底的に大手のクラウドストレージに頼りつつコストカットを目論んでいます。データベースはセキュリティリスクがあるので、搭載しない。
</p>

<h3>Windows Server 2016 と IIS 10</h3>
<p>
現在はTechnical Preview版で稼働させています。Windows Server 2016 Technical Preview 3 は Dockerに対応した最新のバージョンで、開発者向けにリリースされています。まだ英語版しか公開されていませんし、名前の通り2016年発売まで暫く時間がかかるでしょう。正式販売されたら、購入してサーバの移転を予定しています。<a href="https://technet.microsoft.com/ja-jp/evalcenter/dn781243.aspx" target="_blank">Windows Server 2016 Technical Preview 3 のダウンロード</a>からISOイメージをダウンロードできます。
</p>

<h3>転送クライアントはDropboxのみ</h3>
<p>
ユーザはDropboxのインストールが必須です。今後もDropbox以外に対応させる予定はありません。Dropboxを使う事で、セキュアかつ安定したファイルアップロードが可能になります。
</p>

<h3>バックアップの三重体制</h3>
<p>
かなり独特な仕様です。リアルタイムバックアップと、公開バックアップと、非公開バックアップの3種類で設計されます。基本思想として、外部のクラウドストレージに徹底的に頼ってコストダウンを狙っています。しかし、<a href="https://github.com/" target="_blank">Github</a>では著作権違反の通報があるとレポジトリが削除されますし、<a href="https://www.google.com/intl/ja_jp/drive/" target="_blank">Google Drive</a>は全裸画像を置くとアカウントごと削除されるので、サービスに応じたバックアップ体制を構築します。<span class="strong_gray">全裸画像ということで相撲取りすらも、削除対象という噂すらあります。</span>
</p>

<h4>リアルタイムバックアップ</h4>
なんのこっちゃない、<a href="https://www.dropbox.com/ja/help/11" target="_blank">Dropboxの標準機能</a>です。Dropboxのバージョン管理機能では、過去30日分のファイル更新履歴が残っています。削除したファイルも30日以内なら復元可能です。30日以内のファイル復元やバックアップは、この機能を活用して下さい。

<h4>毎日定時バックアップ</h4>
<p><a href="https://github.com/" target="_blank">Github</a>に毎日定時Pushをかけます。HTML/CSS/JavaScriptや画像などの軽量ファイルの差分がアップロードされます。Githubのレポジトリ制限は1GBまでなので、1GBに達するまで、毎日Pushしようと思っています。1GBに達した後はBitbucket(2GBまで)に逃げるか、Gitサーバを自作する予定です。更新対象ファイルはHTML,CSS,JavaScript,PHP,ZIP,JPG,PNG,GIFあたりを予定しています。以下のファイルはGithub同期に含まれません
</p>
<ul>
  <li>5MB以上のファイル</li>
  <li>アダルトなサイトのファイル</li>
  <li>ファイル名に「config」「temp」「cache」などの文字列が入ったファイル</li>
</ul>

<h4>毎月定時バックアップ</h4>
<p>
毎月1日にファイルがフルバックアップされ、<a href="https://www.google.com/intl/ja_jp/drive/" target="_blank">Google Drive</a>に永久公開されます。さながらInternet Archiveです。Googleから削除されない限り、公開され続ける予定です。以下のファイルはGoogle Driveバックアップに含まれません。
</p>
<ul>
  <li>アダルトなサイトのファイル</li>
  <li>ファイル名に「config」「temp」「cache」などの文字列が入ったファイル</li>
</ul>
<p>
<a href="https://www.google.com/intl/ja_jp/drive/" target="_blank">Google Drive</a>の公開版フルバックアップと同時に、<a href="https://aws.amazon.com/jp/glacier/" target="_blank">Amazon Glacier</a>に非公開版のフルバックアップが取られます。こちらはサーバ上の全てのファイルがバックアップされます。現時点では運営者(トモタカ)しかアクセスできません。今後、共同管理者を募集して、万が一私が死んだ時などに、スムーズに引き継げるようにしたいと思っています。
</p>

<h3>対応言語</h3>
<p>
対応済みなのは、HTML/CSS/JavaScriptとPHPのみです。PHP 5.6を搭載しています。HTMLは100%動く事を確認していますが、PHPは動作検証中です。
今後はRuby, Python, Perl, GoLangあたりを搭載したいと思っていますが、新しい言語の搭載はセキュリティリスクの増大に繋がるので、すぐに対応はさせないと思います。使ってみたい人が多ければ対応させるかもです。
</p>

<h3>データベース</h3>
<p>
搭載しません。MySQLなどを使う場合、外部のデータベースサーバを契約して、接続してください。コストダウンとセキュリティ向上の為に、搭載を見送りました。
</p>

<h3>ウェブ開発サポート</h3>
<p>
現在はサイトを構築すると、サンプルサイトが展開されます。HTMLとCSSのみで構成されたシンプルな内容です。初心者はこのサイトをカスタマイズすると良いでしょう。サンプルサイトは下記URLから閲覧できます。<br>
<a href="http://www.tkool.org/sample/" target="_blank">http://www.tkool.org/sample/</a>
</p>
<h4>PICO CMS拡張を標準搭載予定</h4>
<p>
今後はPHPベースのCMSを搭載予定です。注目しているのはMarkdown形式でウェブサイトを構築できる軽量CMS<a href="http://picocms.org/" target="_blank">PICO</a>です。PICOを拡張した日本語CMSに<a href="http://coqoo.net/" target="_blank">虚空</a>がありますが、これはブログ制作に向くCMSです。PICOや虚空をベースにゲーム制作者の為のCMSにカスタマイズしようと目論んでいます。<span class="strong_gray">いつになるんだ……?</span>
</p>
<h4>WordPress</h4>
<p>
<a href="https://ja.wordpress.org/" target="_blank">WordPress</a> + <a href="http://ja.staticpress.net/" target="_blank">StaticPress</a> + <a href="https://www.vagrantup.com/" target="_blank">Vagrant</a> + <a href="https://www.virtualbox.org/" target="_blank">VirtualBox</a>のイメージを配布予定です。<a href="http://wckr.github.io/" target="_blank">Wocker</a>や<a href="http://vccw.cc/" target="_blank">vccw</a>のようなタイプです。ローカル上で動作するWordPressとなります。
ローカル上のWordPressからStaticPressを通して静的HTMLファイルを書き出します。これにより、WordPressを使ったウェブサイトが構築可能になります。ただし、コメント欄や一部のプラグインは動作しないので注意が必要です。詳しいマニュアルは今後公開予定です。<span class="strong_gray">だから、いつになるんだ……?</span>
</p>
<p>
あるいは、ご自身で外部のデータベースサーバをレンタルして、それに繋ぐ事も可能です。あまりオススメはしませんが……。
</p>

<h4>ホームページビルダー</h4>
<p>
対応マニュアルを執筆予定です。ホームページビルダーはグラフィカルに操作できつつ、HTML/CSS/JavaScriptにも触れる事が出来る。という点で、ある意味RPGツクールに近い性質を持ったツールだと思います。プロからは過小評価されていますが、初心者の制作者にとって、入りやすいと思います。思えば、私もはじめてウェブサイトを作ったのはホームページビルダー6.5でした。それゆえ、積極的に開発方法を発掘していきたいなと思っています。小規模・片手間のウェブ開発において、ホームページビルダーのポテンシャルは高いと考えています。詳しいマニュアルは今後公開予定です。<span class="strong_gray">だから、いつに……(省略されました)</span>
</p>

<h3>セキュリティ</h3>
<p>
詳しく書かないけれど、結構がっちり対策しています。<span class="strong_gray">DeepLearningでエロ画像認識とかさせたいなぁ……労力的に難しいですが。</span>
</p>

<h3>サーバ監視</h3>
<p>
<a href="https://mackerel.io/ja/" target="_blank">Mackerel</a> + <a href="http://www.zabbix.com/jp/" target="_blank">Zabbix</a>を使います。本当は <a href="https://www.serfdom.io/" target="_blank">Serf</a> + <a href="https://www.consul.io/" target="_blank">Consul</a> に未来を感じるので試してみたいのですが……現状は出番なさそうかなぁ。負荷監視とHTTP監視はこれでかなりクリアになるかなと思っています。見たい人がいれば、アカウント発行して共有しようと思います。<span class="strong_gray">まあ、見たいと思うレベルまで、このレンタルサーバが成長するかどうか……という問題もありますが</span>
</p>
</section>

<section>
<h2><span class="number">05</span>類似サービスはないの?</h2>
Dropbox >> WEBサイト作成の類似のサービスには、かつてのDropbox Public Folderや<a href="http://www.site44.com/" target="_blank">Site44</a>があります。しかしDropbox Public Folderは2012年8月以降仕様が変更されてウェブ公開機能が使えなくなりました。Site44も無料で使える範囲が制限されていますし、日本語化されていません。
</p>
<p>
Azure Web AppsのDropbox同期も悪くありませんが、自動同期する為には一手間必要です。そして、Azure Web Appsはドメインが悪い。http://hoge.azurewebsites.net って。何文字打たせるんですか。
レンタルサーバ界隈ではかつて<a href="http://www.kagoya.jp/" target="_blank">KAGOYA</a>がDropbox連携を行っていましたが、2013年にサービス終了していました。
</p>
<p>
色々調べましたが、まったく似たツールは日本・海外ともに存在しなさそうです。シンプルに、DropboxにHTMLファイルを置いたら一瞬でDeploy(公開)できるサービスは、もしかしたらツクール新聞レンタルサーバだけ!!かも。<span class="strong_gray">技術的には何も難しい事はしていないので、もしかしたらどっかで実用例があるかも……。ご存知の方いましたら、教えて頂けると嬉しいです。</span>
</p>
<ul>
  <li><a href="http://web-neta.net/?p=11617" target="_blank">DropboxのPublicフォルダが終了していた</a></li>
  <li><a href="http://gigazine.net/news/20130125-site44/" target="_blank">無料でDropboxのフォルダを自分のWebサイトにできる「Site44」 - GIGAZINE</a></li>
  <li><a href="http://www.kagoya.jp/news/20130603163.html" target="_blank">【サービス案内】「Dropbox」提供終了のお知らせとお願い | 新着情報｜ レンタルサーバーのカゴヤ・ジャパン</a></li>
  <li><a href="http://blogs.msdn.com/b/windowsazurej/archive/2013/03/28/new-deploy-to-windows-azure-web-sites-from-dropbox.aspx" target="_blank">新機能! Dropbox から Windows Azure Web サイトへのデプロイ - Microsoft Azure Japan Team Blog (ブログ) - Site Home - MSDN Blogs</a></li>
</ul>
</section>

<section>
<h2><span class="number">06</span>その他・ありそうな質問</h2>
<h3>ツクラー以外でも使えるの?</h3>
<p>
ゲーム制作に関連する事を行っているなら、利用可能です😃。
</p>

<h3>広告入るの?</h3>
<p>
入りません。今後も入れる予定はありません。
</p>

<h3>お金かかるの?</h3>
<p>
無料です。
</p>

<h3>とか言って、将来有料にするんでしょ?</h3>
<p>
しない。と思うけれど、さすがに年間15万超えの出費は痛いので、うまい方法を考え中です。ここまで勢いで作ってしまった感があります……😅。<span class="strong_gary">さっき電卓をはじいて、さすがに冷や汗をかいた。</span>
</p>

<h3>禁止事項はあるの?</h3>
<p>
根本的な方針としてオリジナルOK、犯罪NG。つまり著作権違反のコンテンツも原則禁止とします。
逆にオリジナルであればアダルトな情報も掲載できるように、規約の整備をしたいと思っています。<span class="strong_gray">(とはいえ、規約の制定は法律の勉強も必要なので、しばらくかかると思います。気長にお待ちください)</span>あと、PHPとかでウェブサイトに過剰な負荷をかけるものは禁止です。それから、サーバ利用者がケンカとか荒しをするとか、私が相応しくないと判断したら、停止します。その場合Dropboxにデータとバックアップは残っているので、ご自身で移転先を探してください。
</p>

<h3>利用規約は?</h3>
<p>
まだ利用規約を作っていません。これから詳しく勉強します。
現在不明瞭な点は、レンタルサーバ事業者(?)は個人情報の取得がどれくらい必要なのかという所です。あんまり個人情報を持ちたくないので、うまい方法を模索しています。
</p>

<h3>借りたサーバスペースを第三者に貸し出せる?</h3>
<p>
禁止です。登録した本人がツクール新聞レンタルサーバサービスを利用してください。ただし、遠くないうちに複数名のサークルさんにも対応する予定です。
</p>

<h3>アダルトOK?</h3>
<p>
いまのところ、ダメ。でも、なるべくOKの方向で調整していきます。
アダルトはOKかNGか判断が微妙な所があるので、現状あやしい絵はアップロードしないでください。大丈夫なラインが分かったら、OKするかもです。というより、なるべくOKにしたいと思っています。私自身はエロゲーはほぼやらないのですが、エロゲーの文化は残るべきだと思うし、そういう場所があって良いと考えています。
</p>

<h3>法的にどうなのよ?</h3>
<p>
ふふふ、頑張って電気通信事業法を読みましたとも。<span class="strong_gray">さすがに疲れました……</span>ひらたく言うと、これはレンタルサーバ事業者に向けた法律です。さすがに逮捕されては、かないませんからね。結論から言うと、オールクリアです。事業化(有料)にするなら、届け出が必要ですが、現状はフリーなので届け出も不要。法的にも問題ありません。法的に扱いが気になる方は<a href="http://www.soumu.go.jp/soutsu/kanto/com/jigyo/tetuzuki/" target="_blank">総務省 関東総合通信局 電気通信事業の手続き</a>をご参照ください。
</p>

<h3>無料って言うけど、運営費どうするのよ</h3>
<p>
だいたい年間15万円くらいかかるかな。と試算しています。それからサーバメンテナンスに取られる時間ですね。まあ、1年くらいは大丈夫でしょう。サーバ側の共同運営者を募集するかもです。
</p>

<h3>サーバの収容人数は?</h3>
<p>
現状250人くらいは楽勝でいけるはずです。サーバのスペックを監視しながら増減調整します。
</p>

<h3>ファイルの容量制限は?</h3>
<p>
いまのところありませんが、総容量は2GB以下になるようにしてください。1ファイルの容量に制限はありません。でも、ゲーム配布活動等に関連しない大容量ファイルの物置として使うのは禁止です。
</p>

<h3>ドメイン使える?</h3>
<p>
現状、使えません。対応させたいとは思いますが、どのみちドメイン取得費用にお金がかかりますからねぇ……💦。やるなら.tkドメインの自動取得 + 連携の無料サービスを搭載させるかもしれません。
</p>
</section>

<section>
<h2><span class="number">07</span>さいごに and まとめ</h2>
<p>
ツクール新聞レンタルサーバβは、ツクラーやゲーム開発者のための、ウェブサーバサービスです。無料です。
Dropboxのデータが基点なので、移転もしやすいです。<a href="https://github.com/" target="_blank">Github</a>と<a href="https://www.google.com/intl/ja_jp/drive/" target="_blank">Google Drive</a>にフルバックアップが残るので、PCが壊れたりDropboxアカウントを紛失した場合でも、データ復旧が万全かつ簡単です。
</p>
<p>
こういう類いのサービスは、長期間運営して、はじめて良さが伝わっていくものだと思うので、とりあえず1年分のサーバ料金を振り込んでおきました。ゆるゆるながながとやっていこうと思います。
興味のある方は、ぜひ登録して試してみて下さい。ある程度サーバ運営したら、長期的に運用する方法を研究・執筆して、公開していこうと思います。
</p>
<p>
<a href="http://bit.ly/tkoolserver" target="_blank">ツクール新聞レンタルサーバβテストの申請はこちらから</a>
</p>
</section>
