<!--
ツクールMVをハック日本語化
tkoolmv-hack-01
2015/10/02 20:14

2015年9月30日、ツクールMVのサンプルゲームが公開されました。しかし英語のHTML5版。日本語情報が少ない状況ですので、ハックして知見を記します。
 -->
 <section>
 <h2><span class="number">00</span>この記事には続編があります</h2>
 <p>
 この記事は過去に書かれたもので、古い内容を含みます and 続編があります。
 最新の情報を元に、新しい考察を記しましたので、ご興味のある人は、こちらもどうぞ
 </p>
 <ul>
 <li><a href="http://tomotaka.tk/tkoolmv-overview/" target="_blank">RPGツクールMV概要</a></li>
 </ul>
 </section>

 <section>
 <h2><span class="number">01</span>はじめに</h2>
 <p>
 このは研究目的を主題としており、誰かの権利や利害を侵害の意図はございません。当記事に掲載した情報の権利を保有する方から、申し出があり次第、速やかに対応いたします。お問い合わせは<a href="https://docs.google.com/a/tomotaka.biz/forms/d/1GqA52iyie-JyPXv65GK2w_7s-0fXric0zeOLMfdCvAI/viewform" target="_blank">メールフォーム</a>よりお願いいたします。
 </p>
 </section>
 <section>
 <h2><span class="number">02</span>ツクールMV HTML5版サンプルゲーム 勝手に改造日本語化</h2>
 <!--
 <blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">『ハックRPGツクールMV』の元記事をRTしてた人も、フォロワーさん、フォローしてない人と関係なく、全員ブロックさせて頂きました。流石にちょっと、自分的には『超えてはいけない領域』を超え過ぎだろうと。RPGツクールMVを買ってない人が作ったものRTするとか闇が深すぎ。(・ω・ )</p>&mdash; ✽̶メキシコカピバラ BØT ♔™✞☇ (@KOU__G) <a href="https://twitter.com/KOU__G/status/650722528843829248">2015, 10月 4</a></blockquote>
 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 -->

 <p>
 軽率でしたので、公開は取りやめます。ご不快な思いをさせてしまった方、申し訳ありませんでした。

 あとは皆さん、<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB016U2RARM%2F" target="_blank">ツクールMV</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">を購入して楽しみましょう。
 </p>
 <hr>
 <p>
 2015/10/06 1:00追記
 ご指摘元のツイートを削除致しました。ツイートの引用は謝意表明のつもりでしたが、意図せず晒すような形になってしまい、ご迷惑をおかけした事を申し訳なく思います。
 </p>
 </section>

 <section>
 <h2><span class="number">03</span>経緯</h2>
 <p>
 2015年9月30日、RPG MAKER MV(RPGツクールMVの英語版公式アカウント)より、サンプルゲームが公開されました。
 </p>
 <blockquote class="twitter-tweet" lang="ja"><p lang="en" dir="ltr"><a href="http://t.co/8dwXcgkE1a">http://t.co/8dwXcgkE1a</a> <a href="https://twitter.com/hashtag/Preorder?src=hash">#Preorder</a> your copy of RPG Maker MV NOW and get 10% off and 2 free resource packs! <a href="https://twitter.com/hashtag/sale?src=hash">#sale</a> <a href="http://t.co/XwKzJ6i6VB">pic.twitter.com/XwKzJ6i6VB</a></p>&mdash; RPG Maker Web (@RPGmakerweb) <a href="https://twitter.com/RPGmakerweb/status/649316851105832960">2015, 9月 30</a></blockquote>
 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 <p>
 海外では<a href="http://forums.rpgmakerweb.com/index.php?/forum/129-rpg-maker-mv/" target="_blank">RPG Maker MVの公式フォーラム</a>があるので、そこでツクールMVの開発者とユーザの交流が活発ですが、日本はあまり情報がありません。英語の情報にあたるか、公開されたサンプルゲームをハックするしかないというわけです。
 英語版のフォーラムでは、ツクールMVの開発担当者が常駐しています。「守秘義務があるから、話せないよ」と断りつつも、ユーザの質問にかなり丁寧に答えています。
 </p>
 <p>
 うーん、くやしい。日本版の情報公開が待たれますね……。なんて言うのは簡単ですが、せっかくサンプルゲームが公開されたとあらば、解剖してみるのがハッカーの魂なり。情報とは自分でつかみとるものです。
 </p>


 </section>

 <section>
 <h2><span class="number">04</span>改造した概要</h2>
 <h3>わかった事</h3>
 <ul>
 <li>英語版のサイトはAmazon Web Services S3 北カリフォルニアサーバにファイルを置いている。直接URLをwgetすればダウンロード可能</li>
 <li>HTML5版はPixi.jsがベース</li>
 <li>Audio APIの都合で、一昔前のスマホ・タブレットやPS4、WiiUでは動かない</li>
 <li>でもハックすれば、レガシーなブラウザでも動く気もする。動作速度が落ちすぎてゲームにならないと思いますが</li>
 <li>Android/iOSはHTML5版も動くが、製品版ではapk/ipa書き出しにより正式対応されるはず</li>
 <li>すべての画像素材はVX Aceに比べて1.5倍に変更</li>
 <li>RGSS3の拡張版と言えるレベルで、構造が似ている。</li>
 <li>ゲーム開始時の読込順番
   <ol>
   <li class="indent1">マップ情報</li>
   <li class="indent1">マップチップ</li>
   <li class="indent1">キャラチップ</li>
   <li class="indent1">音楽</li>
   </ol>
 </li>
 <li>顔グラ素材や、戦闘時の敵キャラ素材は、イベント発生時にその都度読み込む</li>
 <li>JavaScriptは圧縮されているものの、読みやすくモダンな書き方</li>
 <li><a href="http://mplus-fonts.osdn.jp/mplus-outline-fonts/design/" target="_blank">M+1m Regularフォント</a>を外部読込しているので、日本語読み書きも可能</li>
 <li>それどころが、中国語も韓国語もアラビア語も、おおよそ考え得る言語/文字は表示可能</li>
 <li>外部フォント読込で、特殊文字や記号を会話に表示させる事も可能</li>
 <li>マップ情報・会話情報・イベント情報はMap00x.jsonに全て記述されている。</li>
 <li>jsonを書き換えれば、ステータス、アイテム、メニュー、会話などあらゆる情報を書き換え可能</li>
 <li>戦闘システムは英語版サンプルゲームには実装されていないが、jsonから呼び出して、画像を用意すれば動く</li>
 <li>あらゆる命令がAPI化されており、JavaScriptを読む→jsonN呼び出しでかなりの事が実現できる</li>
 </ul>

 <h3>改造した部分(ver1.0)</h3>
 <ul>
 <li>日本サーバに置いただけで、速度が4.4倍高速化。7.34秒から1.66秒に</li>
 <li>全会話文・メニューを日本語化<span class="strong_gray">翻訳が難しい、面倒くさくなってきたので、意訳とネタに走る</span></li>
 <li>oggファイルを変更。<a href="http://maoudamashii.jokersounds.com/" target="_blank">魔王魂さん</a>から音楽をお借りしました</li>
 <li>重たい画像ファイルの軽量化を行う(タイトル画面など)</li>
 <li><a href="http://plicy.net/" target="_blank">PLiCyからプリシーユちゃん</a>と<a href="http://nekoba.net/" target="_blank">ネコバ</a>をまぎれこませる</li>
 <li>Google Analyticsをゲームに埋め込む事も可能</li>
 <li>戦闘システムのハックを<a href="https://twitter.com/Jun_A_sakamoto" target="_blank">坂本昌一郎さん</a>から教えて貰い、実装</li>
 </ul>

 <h3>さらに改造した部分(ver1.1)</h3>
 <ul>
 <li>さらに戦闘システムを改善し、サイドビュー戦闘を実現</li>
 <li>フォントを改造し、独自言語を表示</li>
 <li>ゲーム画面下部に広告の強制挿入</li>
 <li>音楽をoggファイルに加えm4aファイルを追加</li>
 </ul>
 <p>
 フォントはライセンスの問題でネット上にはアップしていません。権利関連をクリーンにしたら、後で追加します。<a href="https://glyphsapp.com/" target="_blank">Glyphs</a>を用いてフォントを編集・追加しました。
 ゲーム画面下部の広告も、あまりにウザいのでネット上にはアップしていません。
 </p>

 [caption width="820" align="alignleft"]<img src="http://tomotaka.tk/data/img_gif/caption_151004_twitter_tkoolmv_battle.gif" width="820" height="546" /> 途中で止まっていた戦闘システムを正常動作まで改善しました[/caption]

 <p>
 戦闘システムはver1.1で改善し、かなり動くようになりました。終了する為に[逃げる]を選択する必要がありますが、完全実装まであと一歩の状況です。バトラー素材は<a href="http://plicy.net/" target="_blank">PLiCyさん</a>と<a href="https://twitter.com/vibrato08" target="_blank">vibratoさん</a>(<a href="http://p3x774.web.fc2.com/" target="_blank">P3X-774</a>)からお借り致しました。この場を借りて御礼申し上げます。
 </p>

 [caption width="820" align="alignleft"]<img src="http://tomotaka.tk/data/img_gif/caption_151004_twitter_tkoolmv_ad.gif" width="820" height="546" /> 広告機能を実装してみました[/caption]

 <p>
 広告機能も追加できました。とても邪魔ですね……。HTML部分に広告タグを追加して、JavaScriptで表示階層を制御します。実際のゲームに実装する時は、もう少しきめ細かく作り込む必要があります。たとえば、ゲームオーバーの時だけ表示するとか、表示部分が邪魔になりすぎないように(あるいは誤タップするように??)調整したりとか。広告サーバの構築も必要でしょう。とはいえ、簡便な内容であれば、手軽に追加する事ができる事がわかります。広告じゃなくとも、制作者からのお知らせとか、ゲームの更新情報を表示するなどにも使えそうです。
 </p>


 </section>

 <section>
 <h2><span class="number">05</span>あらゆる機能がAPI化されている</h2>
 <p>
 まず素晴らしい点が、あらゆる機能がJavaScript(rpg_core.jsなど)を通して、API化されている点です。jsonファイルから命令を呼び出すだけで、あらゆる事が可能です。
 例えば
 <div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_151004_tkoolmv-hack-01_001.png" width="820" height="240"  class="size-full" /><p class="wp-caption-text">コメント表示のサンプル</p></div>

 <q class="one-line-comment">{"code":101,"indent":0,"parameters":["Package1",0,0,2]},
 {"code":401,"indent":0,"parameters":["コメント表示"]},</q>
 <p>
 とすれば、キャラクターの顔グラフィックを呼び出しつつ、コメントを表示できます。
 code:101が顔グラフィックとメッセージウィンドウの呼び出しで、code:401が文字表示を呼び出しています。
 </p>
 <div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_151004_tkoolmv-hack-01_002.png" width="820" height="240"  class="size-full" /><p class="wp-caption-text">分岐ウィンドウのサンプル</p></div>

 <q class="one-line-comment">{"code":102,"indent":0,"parameters":[["いいね","やだよ"],1,0,1,0]},</q>
 <p>
 code102は分岐命令です。
 </p>

 <q class="one-line-comment">{"code":129,"indent":0,"parameters":[2,0,true]},</q>
 <p>
 code:129は仲間の追加です。この場合、id2のニーナが仲間に加わります。ニーナの情報は./data/Actors.jsonに保存されています。
 </p>

 <p>
 画面上の効果(フェードアウトや雨を降らせる)とか、NPCキャラクターの移動、戦闘開始、マップ移動、ありとあらゆる命令がAPI化されており、簡潔明瞭。RGSS3に慣れたユーザなら、迷う事なく扱えるレベルで酷似しています。実は私はツクールVXとVX Aceでゲームを作った事がありません。RGSS初代の知識しかないのですが、それでも扱いは容易でした。
 そもそも今回のハックではJavaScriptをほとんど記述していません。書き方さえ覚えれば、jsonファイルの上書きですべてが事足りてしまうのです。もちろん現時点では何の命令がどういう挙動なのか、rpg_core.jsなどを読み解く必要はありますが。
 </p>
 <p>
 あくまでも技術的視点に限って言うならば、RPGツクールMVフレームワークがOSSのJavaScriptゲームエンジンとして使えてしまいます。もちろん、RPGツクールMV制作チームからの公式発表・利用規約がないと、なんとも言えませんが、それだけに活用しやすいゲーム制作フレームワークと言えます。
 </p>
 </section>

 <section>
 <h2><span class="number">06</span>読み込みの最適化</h2>
 <div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_151004_tkoolmv-hack-01_003.png" width="820" height="240"  class="size-full" /><p class="wp-caption-text">Firefox Developerでの通信ログ</p></div>
 <p>
 次に注目したいのが、読み込みの最適化についてです。<span class="strong_gray">近年の開発情勢を知らないので私の知識不足かもしれませんが</span>あらゆるゲームは、起動時に多くの画像/音楽などをダウンロードやキャッシュしておき、呼び出していると思います。しかしツクールMVでは、イベント開始時に必要なファイルをダウンロードし、呼び出しています。
 </p>
 <p>
 ツクール公式英語版サンプルゲームをプレイすると、音楽やメッセージウィンドウの表示が遅い事に気がつきます。これはサーバから必要データを呼び出している為です。地理的に近いサーバにデータを置けば、速度問題は改善されます。私のサーバに置いた所、読み込み速度が4.4倍速くなり、もっさり感がなくなりました。
 </p>
 <p>
 これはメリット、デメリットの両方がありまして。メリットはデータ分割によりゲーム起動時の読み込みが早い点。デメリットは低速回線者にとってはプレイ時の体感速度が下がってしまう点。それから海外プレイヤーにゲームを遊んで貰う為には、海外サーバや<a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%B3%E3%83%86%E3%83%B3%E3%83%84%E3%83%87%E3%83%AA%E3%83%90%E3%83%AA%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF" target="_blank">CDN</a>を用意する必要がある事を意味します。
 </p>
 <p>
 もしかしたら、RPGツクールMV側のオプションで、一括呼出も設定可能かもしれません。今後の発表に期待したいです。個人的には随時呼出機能が搭載されている低価格ゲーム制作ツールは初めて触れたので、新鮮に感じました。<span class="strong_gray">(Unityとかでも同じ事できるのかな? 私の知識不足です、ごめんなさい。ご存知の方がおりましたら、コメントください。)</span>
 </p>
 </section>


 <section>
 <h2><span class="number">07</span>2D描画エンジンはPixi.jsを採用</h2>
 <div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_151004_tkoolmv-hack-01_008.png" width="820" height="240"  class="size-full" /><p class="wp-caption-text">高速でAPI制御が充実したグラフィック描画ライブラリ、pixi.js</p></div>
 <p>
 <a href="http://www.pixijs.com/" target="_blank">Pixi.js</a>は、いままで知りませんでした。しかし、調べてみるとたしかにRPGツクールMVにぴったりのフレームワークに思えます。大雑把ながら機能をまとめると
 </p>
 <ul>
   <li>マルチプラットフォーム</li>
   <li>2D描画速度が高速</li>
   <li>画像やフォントの扱いが簡便</li>
   <li>WebGLフィルターを搭載。エフェクト機能使える</li>
   <li>画像ブレンドや画像スプライト機能搭載</li>
   <li>アセットローダー搭載</li>
   <li>マルチタッチ対応</li>
   <li>API構成はActionScript3ライク</li>
   <li>最新ブラウザではWebGLを、旧世代ではCanvasに自動フォールバック</li>
   <li>MITライセンス</li>
 </ul>
 <p>
 一言でまとめるなら<span class="strong_red">描画に特化したグラフィックライブラリ</span>です。描画速度の高速さとAPI設計の美しさが特徴的です。RPGツクールMVがゲーム制作エンジンをつかさどり、Pixi.jsが描画部分を担うようです。
 RPGツクールMVの標準機能で満足できなかったら、Pixi.jsのAPIを呼び出せば、あらゆるグラフィカル表現が可能となるでしょう。たとえば3D表示や、ゴリゴリにカスタマイズしたメニューなども実現可能と思われます。<span class="strong_gray">まあ、そこまでやるなら、ツクールMVじゃなくてUnity使った方が良いかもしれませんが……。</span>
 </p>

 <h3>Pixi.jsの採用実例</h3>
 <p>
 <a href="http://www.pixijs.com/" target="_blank">Pixi.js公式サイト</a>にて、採用実例を見る事ができます。そのどれもが高速・軽快に動作しており、ポテンシャルの高さを感じさせられます。
 </p>

 <div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_151004_tkoolmv-hack-01_007.png" width="820" height="240"  class="size-full" /><p class="wp-caption-text">公式サイトの作例(Example)です。ソースコードと共に、様々な実装例を見る事ができます。</p></div>
 <p>
 ソースコードと共に、様々な実装例を見る事ができます。
 <a href="http://pixijs.github.io/examples/" target="_blank">Pixi.js - Examples</a>
 </p>

 [caption id="attachment_1765" align="alignnone" width="820"]<a href="https://www.androidify.com/ja/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151004_tkoolmv-hack-01_004.png" alt="採用実例。androidify (Google社)" width="820" height="240" class="size-full wp-image-1765" /></a> 採用実例。androidify (Google社)[/caption]
 <p>
 わざわざソースコードの125行目に「Androidify のアニメーションを根底で支えているのが Pixi.js です。この高速で汎用性の高い 2D レンダリング エンジンは、WebGL と Canvas の両方で快適に動作します。」とコメントされています。
 <a href="https://www.androidify.com/ja/" target="_blank">Androidify</a>
 </p>

 [caption id="attachment_1767" align="alignnone" width="820"]<a href="http://www.goodboydigital.com/pixijs/pixilights/
 " target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151004_tkoolmv-hack-01_006.png" alt="美麗な画面をぐりぐりと操作するミニゲーム" width="820" height="240" class="size-full wp-image-1767" /></a> 美麗な画面をぐりぐりと操作するミニゲーム[/caption]
 <p>
 Pixi.js開発元の<a href="http://www.goodboydigital.com/" target="_blank">goodbody社</a>公式のデモサイトです。3D表現・描画エフェクト・物理演算をゴリゴリ使いつつも、高速に動作している事が分かります。
 <a href="http://www.goodboydigital.com/pixijs/pixilights/" target="_blank">FUTURE, PRESENT, PAST</a>
 </p>


 </section>



 <section>
 <h2><span class="number">08</span>セキュリティについて</h2>
 <p>
 おそらくここまで読んで、一番気になるのは「そんなに簡単にハックできてしまうなら、どんなゲームも解析さるのでは?」という懸念です。特に有料ゲームの制作を考える人にとっては、頭の痛い問題です。あらゆるHTML5/CSS/JavaScript製ゲームが抱える、共通の課題とも言えますが。
 </p>
 <p>
 現在公開されているのはサンプルゲームですので、セキュリティについて確かな事は言えません。しかし改造難易度は極めて低く、不安が残る事は確かでしょう。
 </p>
 <p>
 とはいえ、ここまでデータアクセスが容易だと、自作の防衛手段を噛ませる方式も想像できます。たとえば、特定プラットフォームに特化させて暗号化/複合化ソフトウェア追加実装したり、ゲーム起動時にライセンス認証を行うとか。あるいはHTML5版ではユーザ登録システムを用意し、ユーザIDを<a href="http://www.imagemagick.org/script/index.php" target="_blank">ImageMagick</a>で画像透かしとして埋め込んでしまうとか。Windowsプラットフォームでは既に<a href="https://twitter.com/HikaruDY" target="_blank">ひかるさん</a>が挑戦しており、今後の展開が楽しみです。
 </p>

 <blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABMV?src=hash">#ツクールMV</a> 、課金システムプラグインの仮実装に成功。 Project Store☆経由で PC: Paypal、Android: Playでのアイテム購入処理が可能に。 今のところセーブ機構弄ってないのでいくらでもアイテム増やせてしまう。</p>&mdash; ひかる｜DG15 B-09a (@HikaruDY) <a href="https://twitter.com/HikaruDY/status/650628140071436289">2015, 10月 4</a></blockquote>

 <blockquote class="twitter-tweet" data-conversation="none" lang="ja"><p lang="ja" dir="ltr">残り遊び:&#10;・パッドサポート&#10;・F12リセット&#10;・RGSSプラグインエミュレータ&#10;・セーブクラウド化(d-Network＋)&#10;・まともで再配布可能な暗号exeクライアント&#10;・まともなDLCシステム&#10;・ライセンス認証&#10;・Android APK化&#10;・スクリプトコマンド拡張</p>&mdash; ひかる｜DG15 B-09a (@HikaruDY) <a href="https://twitter.com/HikaruDY/status/650629145819414528">2015, 10月 4</a></blockquote>

 <blockquote class="twitter-tweet" data-conversation="none" lang="ja"><p lang="ja" dir="ltr">・UI拡張 (オプションやメニューに項目追加、ストア画面、他)&#10;・スクリプト動的生成(クライアントサイド)&#10;・スクリプト動的生成(サーバーサイド)&#10;&#10;☆Flash連携&#10;☆Win APIアクセス&#10;&#10;☆=PCのみ</p>&mdash; ひかる｜DG15 B-09a (@HikaruDY) <a href="https://twitter.com/HikaruDY/status/650630728925900800">2015, 10月 4</a></blockquote>

 <h3>2015年12月22日追記</h3>
 <blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABMV?src=hash">#ツクールMV</a> 、公式で&#10;・容量削減ツール&#10;・暗号化ツール(簡易)&#10;でるらしいので、とりあえず自作の方は開発凍結しようかとです。</p>&mdash; ひかる (@HikaruDY) <a href="https://twitter.com/HikaruDY/status/677514331395768320">2015, 12月 17</a></blockquote>
 <p>
 <span class="strong_gray">開発一次停止されたようです</span>
 </p>

 <p>
 私は、課金システム + ユーザ登録システム + <a href="http://www.imagemagick.org/script/index.php" target="_blank">ImageMagick</a>連携で、<a href="https://ja.wikipedia.org/wiki/%E9%9B%BB%E5%AD%90%E9%80%8F%E3%81%8B%E3%81%97" target="_blank">画像透かし</a>を搭載する方向に挑戦したいと思います。画像透かし<span class="strong_gray">(電子透かし、ステガノグラファーとも呼ばれる)</span>とは、画像の中に、人間には見えない程度の文字を埋め込む技術です。映画や電子書籍の流出防止の技術として使われています。つまりゲームが外部流出した時に「誰がコピーしたのか」が分かるわけです。流出しないように暗号化するのではなく、流出した時すぐさま訴訟を起こせるタイプですね。
 </p>
 </section>

 <section>
 <h2><span class="number">09</span>海外の動向</h2>
 <iframe width="820" height="461" src="https://www.youtube.com/embed/AyEbOh-HPJ0?rel=0&start=11" frameborder="0" allowfullscreen></iframe>
 <div class="wp-caption alignnone" style="width: 820px">
 <p class="wp-caption-text">
 既にRPG Maker MVの関係者による制作動画も公開されています……ぐぬぬ
 </p>

 <p>
 実は海外のフォーラムは、あまり追えていないのです。今後、チェックしたいと思いますが、目の前のコードの方に気を取られてしまいますね……。しかも<a href="http://3punge.jp" target="_blank">3分ゲーコンテスト</a>や<a href="http://tomotaka.tk/tkoolorg-rental-server/" target="_blank">ツクール新聞レンタルサーバサービスβ</a>もあるので、すべての時間をツクールMVにかまけるわけにはいきません……。だれか英語が堪能な方、ぜひ海外情報を自身のブログに書いて頂けないでしょうか😢
 </p>

 </section>


 <section>
 <h2><span class="number">10</span>今後のハック予定</h2>
 <p>
 さて。まだまだ下記の疑問や挑戦ポイントが残っています。ハックするのは、私かな? それとも、この記事を読んだ、あなたでしょうか?
 もし面白い成果があらわれたら、<a href="http://twitter.com/tomotakatk/" target="_blank">Twitter</a>やコメントや<a href="https://docs.google.com/a/tomotaka.biz/forms/d/1GqA52iyie-JyPXv65GK2w_7s-0fXric0zeOLMfdCvAI/viewform" target="_blank">メールフォーム</a>から教えて頂けると嬉しいです。
 </p>
 <ul>
 <li>効果音を鳴らす<span class="strong_gray">遅延は起きないのか、同時発音数はいくつか疑問</span></li>
 <li>巨大マップ時のパフォーマンス</li>
 <li>戦闘の完全実装<span class="strong_gray">アニメーションやバトラーを作る必要がある</span></li>
 <li>プラグインシステムの挙動確認<span class="strong_gray">既に<a href="https://twitter.com/HikaruDY">ひかるさん</a>が<a href="https://twitter.com/HikaruDY/status/650628140071436289" target="_blank">課金システム仮実装に成功</a>とのこと</span></li>
 <li><a href="http://electron.atom.io/" target="_blank">Electron</a>でラップして、Windows/Mac OSX/Linuxで動作するゲームにする</li>
 <li>apk化して、Androidで動かしてみる。<span class="strong_gray">実装手段はいくつかあると思います</span></li>
 <li>iOS対応させて、iPhoneで動かしてみる</li>
 <li>Windowsストアに対応ゲームにする<span class="strong_gray">Android/iOSより簡単な気がします</span></li>
 <li>ネットワーク対応機能(メッセージ送受信とか?)の実装</li>
 <li>ライセンス認証</li>
 <li>課金システムとの連動</li>
 <li>画像透かしによる流出対策</li>
 <li>3Dゲームを作る</li>
 <li>セーブデータのクラウド化</li>
 </ul>
 <p>
 時間の都合や、技術力の問題で、すべて実現できるとは思えませんが……。いやはや書き出してみると、色々夢が広がりますねー!! ツクールMVの発売(そもそも日本語版の情報発表)が楽しみでなりません。
 </p>
 <p>
 ツクールMVは英語版の発売は確定しています。購入は<a href="http://store.steampowered.com/app/363890/" target="_blank">Steam</a>から。日本語非対応なので、今後の動向を見守るのも良いかもしれません。
 </p>
 </section>

 <section>
 <h2><span class="number">12</span>おまけ</h2>
 <blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">プログラムができなくてもゲームが作れるのがツクールなのに、そのプログラムを解析するとかきみたちは何か本末転倒ではないかね？（ドヤッ</p>&mdash; 礼門屋@ライター仕事募集中 (@leimonZ) <a href="https://twitter.com/leimonZ/status/649547606784212992">2015, 10月 1</a></blockquote>
 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 <p>
 まったくその通りである。
 </p>
 </section>

 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
