<!--
ツクールMVの未来
tkoolmv-future
2015/12/29 06:15

# 抜粋
ツクールMVの将来と、ウェブ技術の未来について記します。ツクールMVの今後のアップデート情報やアップデート前の対策についても語ります。
# Facebook
ツクールMVの将来と、ウェブ技術の未来について記します。優秀なマップエディタとJavaScriptプラグイン機構を持つ、RPGツクールMV。このソフトが奏でるウェブとゲームの未来を語ります。
# Twitter
ツクールMVの将来と、モバイルウェブ・ブラウザゲームの未来について書きました。
 -->
<section>
<h2><span class="number">01</span>はじめに</h2>
<p>
4年ぶりのツクールシリーズ新作<a href="https://tkool.jp/mv/" target="_blank">RPGツクールMV</a>。10月23日の英語版発売に引き続き、12月17日に日本でも発売されました。年末年始は、多くのツクラーがゲーム制作に勤しむ事でしょう。
</p>
<p>
ツクールMVは、まだ完璧とは言えない部分も残っています。しかしアップデート情報も発表され、徐々に問題は解決されるはず。当記事では、RPGツクールMVの将来と、ウェブゲーム制作の未来を占ってみようと思います。
</p>
</section>

<section>
<h2><span class="number">02</span>アップデートから見るツクールMVの今後</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption__151225_tkoolmv-future--01.png" alt="発表会の様子" class="size-full" /><p class="wp-caption-text">発表会の様子</p></div>
<p>
ツクールMV日本語版発売前日の2015年12月16日、東京秋葉原で発売記念イベントが行われました。詳しくは<a href="http://tomotaka.tk/rpgtkoolmv-opening-event/" target="_blank">RPGツクールMV発売記念イベント 全講演内容</a>をご参照下さい。その中で、ツクールMV開発プロデューサーの一之瀬弘之さんから、今後のアップデート情報が発表されました。
</p>
<ul>
  <li>不要素材削除ツール</li>
  <li>素材容量を抑えた音声・グラフィックデータの配布</li>
  <li>画像・音声素材簡易暗号化ツール</li>
  <li>キャラクター生成ツールの拡充</li>
  <li>タッチUI、スロットマシンプラグインの公開</li>
  <li>プラグインを利用したプロジェクトデータの頒布</li>
</ul>
<p>
アップデートの詳解と、現時点の対策について、詳しく見ていきましょう。
</p>

<h3>不要素材削除ツール</h3>
<p>
ツクールMVでは、プロジェクトフォルダに画像・音楽・プラグインファイルを入れる事で、素材を追加できます。しかしゲーム公開時は、それらのファイルが一気にまとめて出力されます。使わなくなった素材も同時に書き出されるため、容量肥大化に繋がります。
有志の手により素材削除ツールも公開されていますが、ツクールMV本体に組み込まれるならば、そちらの方がお手軽でしょう。
</p>
<p>
現行の不要素材削除ツールは
</p>
<ol>
  <li>JavaScriptやJSONファイルを読み込み、使用素材を認識</li>
  <li>不要素材をリスト化し、削除するか尋ねる</li>
  <li>削除ボタンで除去</li>
</ol>
<p>
というのが基本的な動作パターンです。公式の不要削除ツールも、類似の仕組みと思われます。
アップデートが待てない場合は、有志により制作された不要素材削除ツールを活用してください。
</p>
<ul>
  <li><a href="http://liply.net/2015/11/08/packager/" target="_blank">Package for MV - liply</a></li>
  <li><a href="http://forums.rpgmakerweb.com/index.php?/topic/47985-mvstripper-remove-unused-assets-from-your-mv-project/" target="_blank">MVStripper - remove unused assets from your MV project - Program and Utility Discussion - RPG Maker Forums</a></li>
</ul>

<h3>素材容量を抑えた音声・グラフィックデータの配布</h3>
<p>
ツクールMV公式素材は容量が大きいです。高画質・高音質な為、読み込みに時間がかかります。特にHTML版ゲームをスマートフォンで遊ぶ場合、ネット回線の細さが無視できません。出来るだけ軽量化する必要があります。
</p>
<p>
ところで、発表会では「軽量化素材の配布」と告知されました。しかし単純な素材配布ではなく、ゲーム書き出し時に軽量化が発動する方が合理的に思えます。今後のアップデートに注目したいですね。
</p>
<p>
2015年12月現在、画像素材・音楽素材の圧縮方法は、いくつかの手法があります。一例を下記に記します。
</p>

<h4>画像の圧縮</h4>
<table>
<tr>
  <th>ソフト名</th>
  <th>方式</th>
  <th>難易度</th>
  <th>備考</th>
</tr>
<tr>
  <td><a href="https://tinypng.com/" target="_blank">TinyPNG</a></td>
  <td>WEB</td>
  <td>⭐️</td>
  <td>簡単ですが、画像を20ファイルごとに分けて圧縮するので、手間がかかります。無料。</td>
</tr>
<tr>
  <td><a href="http://gigazine.net/news/20141118-pngoo/" target="_blank">PNGoo</a></td>
  <td nowrap>Windows/ローカル</td>
  <td>⭐️⭐️</td>
  <td>シンプルなソフトですが、英語です。無料。</td>
</tr>
<tr>
  <td><a href="https://pngmini.com/" target="_blank">ImageAlpha</a></td>
  <td>Mac/ローカル</td>
  <td>⭐️⭐️</td>
  <td>シンプルなソフトですが、英語です。無料。</td>
</tr>
<tr>
  <td><a href="http://www.adobe.com/jp/products/photoshop.html" target="_blank">Adobe Photoshop</a></td>
  <td>Windows・Mac<br>ローカル</td>
  <td>⭐️⭐️⭐️</td>
  <td>月額制の有料ソフトです。バッチ処理で大量画像を操作できます</td>
</tr>
<tr>
  <td><a href="https://pngquant.org/" target="_blank">pngquant</a></td>
  <td>ターミナル</td>
  <td nowrap>⭐️⭐️⭐️⭐️</td>
  <td>複数ディレクトリに分かれた、大量の画像を扱う時に便利です。無料。</td>
</tr>
</table>
<p>
⭐️が多いほど、難しいです。難易度が高い事が、高品質・高圧縮とは限りません。しかし複雑なぶん設定項目が多く、効率化が追求できます。私は主にMac上で<a href="https://pngquant.org/" target="_blank">pngquant</a>のコマンドを使っています。
</p>
<p>
Photoshopを用いる場合、<a href="https://ics.media/entry/7689">画像出力エンジンが2015年に進化</a>しています。しかし2015年12月現在、旧機能・旧エンジンも残っているので、混同しないように注意しましょう。
</p>

<p>
<a href="https://ja.wikipedia.org/wiki/ImageMagick" target="_blank">ImageMagick</a>、<a href="https://de.wikipedia.org/wiki/Pngcrush" target="_blank">Pngcrush</a>、<a href="http://optipng.sourceforge.net/" target="_blank">OptiPNG</a>も比較検討してみましたが、圧縮率と画質のバランスは、<a href="https://pngquant.org/" target="_blank">pngquant</a>が一番良いと感じました。データを取るのを忘れてしまいましたが、<a href="http://pointlessramblings.com/posts/pngquant_vs_pngcrush_vs_optipng_vs_pngnq/" target="_blank">PNG圧縮の比較記事</a>でも語られているので、詳解はそちらに譲ります。
</p>

<p>
Windows/Mac OSX/HTML版 Google Chromeのみに対応する場合、<a href="https://ja.wikipedia.org/wiki/WebP" target="_blank">WebP形式</a>と<a href="https://ja.wikipedia.org/wiki/WebM" target="_blank">WebM形式</a>も使えます。品質を保ったまま、大幅な軽量化が見込めます。そのうえ、WebM形式とWebP形式は一般的なファイラーから開きにくい拡張子です。簡単な悪用回避にもなります。
</p>


<h4>音楽素材の圧縮</h4>
<p>
画像の圧縮と同じく、音楽素材の圧縮も複数の方法があります。
</p>
<ul>
<li><a href="http://media.io/ja/" target="_blank">media.io</a>を使い、WEB上からOGGファイルを圧縮する</li>
<li><a href="http://xrecode.com/" target="_blank">XRECODE</a>を使い、ローカルソフトでOGGファイルを圧縮する(Windows/英語)</li>
<li><a href="http://www.adobe.com/jp/products/audition.html" target="_blank">Adobe Audition</a>と<a href="http://www.adobe.com/jp/products/media-encoder.html" target="_blank">Adobe Media Encoder CC</a>から圧縮(Windows・Mac両対応/有料ソフト)</li>
</ul>
<p>
私は耳が良くないし、音についてあまり語れる事がありません。<a href="http://www.adobe.com/jp/products/media-encoder.html" target="_blank">Adobe Media Encoder CC</a>でogg/m4a用のプリセットを作って変換するのが視覚的で分かりやすかったです。
</p>

<h4>自動変換技術を搭載したPLiCy</h4>
<div class="wp-caption alignnone"><a href="http://plicy.net/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__151225_tkoolmv-future--02.png" alt="ゲーム投稿サイトPLiCyは、ツクールやWOLF RPGエディタのゲームをスマホ/ブラウザ用に自動変換します" class="size-full" /></a><p class="wp-caption-text">ゲーム投稿サイトPLiCyは、ツクールやWOLF RPGエディタのゲームをスマホ/ブラウザ用に自動変換します</p></div>
<p>
ここまで読むだけで、画像・音楽の圧縮や変換は大変な手間である事がわかります。
ところで<a href="http://plicy.net/" target="_blank">PLiCy</a>では、ゲームアップロード時に自動で容量削減とPC用/スマホ用変換を行っています。ツクールMVはPC用/スマホ用に複数同類のファイルを用意する必要があります。しかし忘れてしまいがちで、ゲーム音楽が鳴らならない等のバグが発生します。PLiCyは自動変換を行う事で、ゲームの軽量化と不具合軽減を同時に実現しています。<span class="strong_gray">しかも11月上旬(ツクール英語版の発売1週間後)くらいに実装していました。PLiCyすごい……。</span>
いちいち画像変換や音楽変換を行うのが面倒なら、PLiCyに投稿してしまうのも有効です。
</p>
<ul>
<li><a href="http://plicy.net/GamePlay/16237" target="_blank">ツクールMVで画像を一覧に表示しない唯一の方法をブラウザで遊ぶ！</a></li>
<li><a href="http://plicy.net/ToolFAQ/RPGMakerMV" target="_blank">RPG Maker MV/RPGツクールMVをブラウザとスマホで動かす - 自作ゲーム配信 Plicy</a></li>
<li><a href="http://fanblogs.jp/tabirpglab/archive/293/0" target="_blank">快適なツクールMV製WEBアプリへの挑戦(2016/1/3版) - RPGツクールMVでアプリリリースを目指す開発室</a></li>
</ul>

<h3>画像・音声素材簡易暗号化ツール</h3>
<blockquote>
<p>
公式のほうで、画像と音声の簡易暗号化ツール。こちらを準備しております。独自エンコードと独自キーを組み合わせた簡易暗号化ツールですね。画像や音楽が丸見え状態になるのは防げるんだろうなと思っています。(一之瀬弘之)
</p>
<cite><a href="http://tomotaka.tk/rpgtkoolmv-opening-event/" target="_blank">RPGツクールMV発売記念イベント 全講演内容 - トモタカラボ</a></cite>
</blockquote>
<p>
多くは語られなかったので、暗号化方式については未知数です。ダウンロード向けゲームは、一定の対策がされると明言されました。一方、HTML5版は暗号化は行われないと想像します。技術的に難しい為です。
</p>
<p>
ゲームを解析したい人は、HTML5版ゲームを<a href="https://www.mozilla.org/ja/firefox/developer/" target="_blank">Firefox Developer</a>や<a href="https://developer.chrome.com/devtools" target="_blank">Chrome Developer Tools</a>を用いて研究を行えば良いし、それを防ぎたい人は暗号化してダウンロード版公開か<a href="https://ja.wikipedia.org/wiki/App_Store" target="_blank">Apple App Store</a>や<a href="https://ja.wikipedia.org/wiki/Google_Play">Google Play Store</a>に絞って公開すれば良いでしょう。
</p>
<ul>
<li><a href="https://www.mozilla.org/ja/firefox/developer/" target="_blank">Firefox Developer Edition - Mozilla</a></li>
<li><a href="http://www.buildinsider.net/web/chromedevtools/01" target="_blank">Web開発でよく使う、特に使えるChromeデベロッパー・ツールの機能 - Build Insider</a></li>
</ul>

<h3>キャラクター生成ツールの拡充</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption__151225_tkoolmv-future--03.png" alt="キャラクター生成ツールは、顔グラや歩行グラ素材を自動生成します" class="size-full" /><p class="wp-caption-text">キャラクター生成ツールは、顔グラや歩行グラ素材を自動生成します</p></div>
<blockquote>
<p>
若者中心の若い綺麗な感じのキャラクターが非常に多く作られているところがあるのですが、年齢層の幅を広げるみたいな形で、現状の40%から50%増しくらいになるように、素材を用意しようかなと思っております。 (一之瀬弘之)
</p>
<cite><a href="http://tomotaka.tk/rpgtkoolmv-opening-event/" target="_blank">RPGツクールMV発売記念イベント 全講演内容 - トモタカラボ</a></cite>
</blockquote>
<p>
Twitterでのユーザ要望を取り入れた形でしょうか。スピーディで、良い施策だと思います。
</p>
<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr"><a href="https://twitter.com/tkool_dev">@tkool_dev</a> コンパク（エンタメ大賞）目指して、のんびりゲーム制作してて思ったのですが、まぁ前々から気になってたことではありますが、便利なキャラ生成ですけど、若者しか作れないのが残念です。一般の子供とか老人も作成できたら良かったのですが・・・（続く）</p>&mdash; アンラッキー・心太 (@htsyhmk) <a href="https://twitter.com/htsyhmk/status/676116008088690689">2015, 12月 13</a></blockquote>
<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr"><a href="https://twitter.com/tkool_dev">@tkool_dev</a> （続きから）否、うちのゲームキーパーソンに老婆がいまして、既存の素材ではイメージが合わず、苦戦してます・・・もしまた新作が出るのなら、できればそこ改良して下さい。</p>&mdash; アンラッキー・心太 (@htsyhmk) <a href="https://twitter.com/htsyhmk/status/676116794201890816">2015, 12月 13</a></blockquote>

<h3>タッチUI、スロットマシンプラグインの公開</h3>
<p>
ツクールMV発売記念イベントの懇親会会場で、追加プラグインが展示されました。Twitterを媒介してMV製 HTML5版ゲームを公開する場合、スマホ用プラグインは必須と言えます。今後のアップデート動向に注視したいですね。
</p>
<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">懇親会会場に、なにやら試遊できるものがありました。&#10;UIがスマホ用になってる……？<a href="https://twitter.com/hashtag/%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABMV?src=hash">#ツクールMV</a> <a href="https://t.co/r5Rn2ihhrj">pic.twitter.com/r5Rn2ihhrj</a></p>&mdash; やべえ (@tkooool) <a href="https://twitter.com/tkooool/status/677088069082701826">2015, 12月 16</a></blockquote>
<blockquote class="twitter-video" lang="ja"><p lang="ja" dir="ltr">公式のスマホ用プラグイン <a href="https://twitter.com/hashtag/%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABMV?src=hash">#ツクールMV</a> <a href="https://t.co/UXnW3fsk6g">pic.twitter.com/UXnW3fsk6g</a></p>&mdash; ゲーム研究の弓猫チャンネル (@LuckyDuet) <a href="https://twitter.com/LuckyDuet/status/677086550920839169">2015, 12月 16</a></blockquote>
<hr>
<p>
今すぐにスマホタッチ用プラグインが必要なら<a href="https://twitter.com/uchuzine">宇宙人カニ</a>さんが制作した<a href="http://uchuzine.x0.com/demo/" target="_blank">UCHU_MobileOperation.js</a>がオススメです。<a href="http://qiita.com/uchuzine/items/045f5bf87c331528daae">RPGツクールMVのスマホUIを考える</a>で詳しく語られています。
</p>
<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">先日の動画、プラグイン化しました。&#10;&#10;横持ち/縦持ちに対応した仮想ボタンの配置・タッチ操作方法を追加し、スマホプレイを快適に。&#10;&#10;サンプルゲーム＆ダウンロード&#10;<a href="https://t.co/aFTHXTbz4u">https://t.co/aFTHXTbz4u</a>&#10;&#10;<a href="https://twitter.com/hashtag/RPG%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABMV?src=hash">#RPGツクールMV</a> <a href="https://t.co/BcmlykIKN9">pic.twitter.com/BcmlykIKN9</a></p>&mdash; uchuzine@カニ (@uchuzine) <a href="https://twitter.com/uchuzine/status/665807550260994048">2015, 11月 15</a></blockquote>
<ul>
<li><a href="http://qiita.com/uchuzine/items/045f5bf87c331528daae">RPGツクールMVのスマホUIを考える - Qiita by 宇宙人かに</a></li>
<li><a href="http://lucky-duet.com/archives/1541">ツクールMVでスマホアプリを作る時に超役立つプラグイン5選 - ゲーム研究の弓猫チャンネル</a></li>
</ul>


<h3>プラグインを利用したプロジェクトデータの頒布</h3>
<p>
2015年12月現在、様々なプラグインが公開されており、競合問題も発生しています。検証を行ったプラグイン入りプロジェクトが、オールインワンパッケージのような形で配布されるなら、素晴らしいと思います。
</p>
</p>
</section>

<section>
<h2><span class="number">03</span>意外にもスマホ向けMVゲームは流行っていない</h2>
<p>
ツクールMVは<ruby>Multi View<rt>マルチビュー</rt></ruby>を意味し、PCとスマートフォンに両対応している。これは本作の大きなポイントです。しかし、先行販売された海外の情報や、中国・韓国のツクラーコミュニティを見ても、スマホ対応へは温度差を感じます。実はスマホ対応って、あんまり求められていないのでは? という感覚に陥りました。
</p>
<p>
この記事を書くにあたり、そうとう必死に、世界中のツクールMVスマホ対応事情や開発ブログを探したのですが、得られた結論は<span class="strong_red">ツクールMVでスマホ対応ゲームを作るのは、かなり無理があり、そこまで盛り上がっていない</span>という答えでした。一口にスマホ対応と言っても、HTML版、Android版、iOS版があり、それぞれ違った苦難があります。
</p>
<h3>ツクールMVのゲーム書きだし難易度まとめ</h3>
<table>
<tr>
  <th>書き出し先</th>
  <th>難易度</th>
  <th>備考</th>
</tr>
<tr>
  <td>Windows</td>
  <td>⭐️</td>
  <td>無料。素材が丸見えだが、書き出しは容易。</td>
</tr>
<tr>
  <td>Mac OSX</td>
  <td>⭐️</td>
  <td>無料。素材が丸見えだが、書き出しは容易。</td>
</tr>
<tr>
  <td nowrap>Google Android</td>
  <td>⭐️⭐️⭐️⭐️</td>
  <td>初回登録料3015円必要。登録審査は緩い。ゲームファイル生成用のソフトウェアのインストールが手間。</td>
</tr>
<tr>
  <td>Apple iOS</td>
  <td nowrap>⭐️⭐️⭐️⭐️⭐️</td>
  <td>登録料が年間11800円必要。登録審査が厳しい。ゲームファイル生成用のソフトウェアのインストールが手間。<a href="http://kakaku.com/pc/mac-note-pc/" target="_blank">Mac本体</a>が必要。</td>
</tr>
<tr>
  <td>ブラウザ(HTML5)</td>
  <td>⭐️⭐️⭐️</td>
  <td>無料も可能だが、ウェブサーバを借りる場合は年1000円〜6000円程必要。<a href="https://gist.github.com/tkoolmv-net/76c674699a680d776937" target="_blank">セーブデータ保存問題</a>に注意。スマホ回線に耐える為、ゲーム容量の軽量化が必要。</td>
</tr>
</table>
<p>
上記表の通り、Windows PC用とMac OSX用への書き出しは簡単です。動作も安定しています。しかし、スマホ対応となるとAndroidでもiOSでもブラウザでも、障壁が無視できません。かなりキツい。
</p>
<p>
日本で公開されているツクールMV製HTML5版ゲームは複数ありますが、そのどれもがセーブ機能に依存せず、容量問題も回避できる短編モノに収まっています。奇しくも「3分ゲー」とも呼ばれていますね……😳。
</p>
<!--
<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">【日記】&#10;<a href="https://t.co/CGzots63lX">https://t.co/CGzots63lX</a>&#10;&#10;<a href="https://twitter.com/hashtag/%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABMV?src=hash">#ツクールMV</a> で日記更新中。ブラウザで遊べます&#10;<a href="https://twitter.com/hashtag/RPGMakerMV?src=hash">#RPGMakerMV</a> <a href="https://twitter.com/hashtag/tkool?src=hash">#tkool</a>&#10;&#10;【PixReversi】&#10;<a href="https://t.co/clnzDEGacG">https://t.co/clnzDEGacG</a> &#10;開発中 <a href="https://t.co/mjBCtBsREL">pic.twitter.com/mjBCtBsREL</a></p>&mdash; chunkof (@chunkof) <a href="https://twitter.com/chunkof/status/664086731726061568">2015, 11月 10</a></blockquote>
-->

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/%E3%83%84%E3%82%AF%E3%83%BC%E3%83%ABMV?src=hash">#ツクールMV</a> で短編ゲーム作りました。質問に答えることで、あなたの人格を診断します。スマホでもPCでもプレイできるから、やってみてねー。<a href="https://t.co/y0pEC5ARqW">https://t.co/y0pEC5ARqW</a> <a href="https://twitter.com/hashtag/%E4%BA%BA%E6%A0%BC%E8%A8%BA%E6%96%ADMV?src=hash">#人格診断MV</a> <a href="https://t.co/SLasEN5xvB">pic.twitter.com/SLasEN5xvB</a></p>&mdash; ゲーム研究の弓猫チャンネル (@LuckyDuet) <a href="https://twitter.com/LuckyDuet/status/679206186181197826">2015, 12月 22</a></blockquote>

<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">新作ゲーム「メリークリス松〜カップル撲滅大作戦〜」を公開しました！&#10;<a href="https://t.co/3cY2dO4sPj">https://t.co/3cY2dO4sPj</a>&#10;&#10;紹介記事/<a href="https://t.co/jWegE6WApB">https://t.co/jWegE6WApB</a>&#10;スマホから遊べる3分ゲーです。 <a href="https://t.co/bcgVnADVXr">pic.twitter.com/bcgVnADVXr</a></p>&mdash; ブリキの時計 (@buriki_clock) <a href="https://twitter.com/buriki_clock/status/679602344439332864">2015, 12月 23</a></blockquote>

</section>

<section>
<h2><span class="number">04</span>ブラウザゲームの近未来</h2>
<p>
<a href="http://tomotaka.tk/rpgtkoolmv-opening-event/" target="_blank">ツクールMV発売記念イベント</a>の様子を見るに、ツクール公式として推したい未来は、スマホ向けのHTML版ゲームだと思われます。しかし易き道とは思えません。前述の通り、セーブデータ問題・軽量化問題がつきまといます。おそらくMV製HTML版ゲームは短編が量産され、長編作品の制作環境が整うには、あと数年かかると想像します。
</p>
<p>
では、数年後の姿とは、一体どんな未来なのでしょうか。
</p>
<p>
最新のウェブ技術を駆使して、ツクールMV HTML版の快適環境を追求する。これは挑戦的で、おもしろさが詰まった分野と言えます。特に以下の技術に注目すると良いでしょう。
</p>
<ul>
  <li>Web Assembly</li>
  <li>Service Worker</li>
  <li>Web App Manifest</li>
  <li>Push API</li>
</ul>

<h3>Web Assembly</h3>
<p>
<ruby>Web Assembly<rt>ウェブ アセンブリ</rt></ruby>は、ウェブアプリの高速化を目指したプロジェクトです。2015年6月に始まったばかりで、まだ語れる事は少ないです。一言で記すと、ウェブアプリのパフォーマンスは発展途上である。という事です。主要ブラウザにWeb Assembly Projectの成果が実装されるのを待ちましょう。
<p>
スマホ端末の性能向上も相まって、モバイルウェブは更なるパフォーマンスが期待できます。ツクールMVにすぐさま影響はありませんが、長期的に見て喜ばしいニュースです。
</p>
<ul>
<li><a href="https://www.w3.org/community/webassembly/" target="_blank">WebAssembly Community Group</a></li>
<li><a href="https://github.com/WebAssembly/design/blob/master/FAQ.md" target="_blank">design/FAQ.md at master · WebAssembly/design - GitHub</a></li>
<li><a href="http://www.mozilla.jp/blog/entry/10494/" target="_blank">Mozilla のゲームテクノロジーロードマップ - Mozilla Japan ブログ</a></li>
<li><a href="http://qiita.com/KENJU/items/3ec95aebd30bc95b862c" target="_blank">WebAssemblyが熱い - Qiita</a></li>
<li><a href="http://codezine.jp/article/detail/9072" target="_blank">ハイパフォーマンスなWebを実現するasm.js／WebAssemblyとは Mozillaのルーク・ワグナー氏に聞く - CodeZine</a></li>
</ul>

<h3>Service Worker</h3>
<p>
<ruby>Service Worker<rt>サービス ワーカー</rt></ruby>のキャッシュ機能を用いる事で、ネット環境がない場所でもゲームが遊べるようになります。初回アクセス時にゲームデータをダウンロードし、2回目以降のアクセスでは保存されたデータを呼び出します。
</p>
<p>
ツクールMV HTML版は、ストリーミング方式でデータを読み込みます。例えば、新しいマップに移動した時、地下鉄で電波が途絶えると、ゲームが強制終了する危険があります。これを防ぐ為には、「素材軽量化を追求して読み込み速度を上げる事」「素材の先読み制御と保存」が有効です。Service Workerのキャッシュ機能は、後者に属します。
</p>
<p>
現在も<a href="http://mvplugins.tordamian.com/plugins/preload-manager/" target="_blank">Preload Managerプラグイン</a>を用いて、素材先読みを操作できますが、Service Workerを用いる方が自由度が高いです。上手に使う事で、データ読み込みの最適化が期待できます。
</p>
<ul>
<li><a href="https://1000ch.net/posts/2014/service-worker-internals.html">Service Workerに関する仕様とか機能とか - 1000ch.net</a></li>
<li><a href="https://html5experts.jp/kinuko/16537/">Service Worker最前線 仕様策定の現場で何が議論されているのか? - HTML5Experts.jp</a></li>
</ul>

<h3>Web App Manifest</h3>
<p>
<ruby>Web App Manifest<rt>ウェブ アップ マニフェスト</rt></ruby>を使えば、ゲームページをホーム画面に追加できます。</p>
<p>
これは主にセーブデータの断絶問題を回避する為に使います。
たとえばゲームプレイ時、1度目はTwitterクライアントからセーブし、2度目はFirefoxから起動した場合、セーブデータが消えたように見えます。TwitterクライアントとFirefoxでは、セーブデータが違う領域に保存される為です。これを避けるには、単一のブラウザからゲームを起動する必要があります。
</p>
<p>
プレイヤーの操作をコントロールする事は難しいです。しかし、アクセスする経路をホーム画面からに絞れば、単一ブラウザに誘導できます。これによりセーブデータ断絶問題を回避する狙いです。
</p>
<p>
Web App Manifestでは、manifest.jsonを記す事で、“ホーム画面への追加”を制御します。ただし、Web App Manifestも万能ではありません。1度目のアクセス時には動作せず、2度目のアクセス時に発動するからです。
</p>
<p>
サンプルゲーム公開時に、<a href="https://twitter.com/tkool_dev" target="_blank">ツクール開発部</a>もこの問題に直面したようです。ホーム画面にアイコンを追加する事を推奨しています。このようにマニュアルを明示する手法も有効です。
</p>
<blockquote class="twitter-tweet" data-cards="hidden" lang="ja"><p lang="ja" dir="ltr">【お知らせ1】RPGツクールMVのサンプルゲームですが、Twitter等のアプリから直接開いた場合、正常にセーブできない場合があります。ゲームをプレイする際にはChrome・Safari等のブラウザでプレイしてください。<a href="https://twitter.com/hashtag/tkool?src=hash">#tkool</a> <a href="https://t.co/mKJviO0Z5c">pic.twitter.com/mKJviO0Z5c</a></p>&mdash; ツクール開発部 (@tkool_dev) <a href="https://twitter.com/tkool_dev/status/665135016146415616">2015, 11月 13</a></blockquote>
<blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">【お知らせ2】&#10;スマートフォンからプレイされる場合、Chrome・Safari等のブラウザからホーム画面に追加してアイコンをホーム画面に追加してからプレイされることをお勧めします。<a href="https://twitter.com/hashtag/tkool?src=hash">#tkool</a> <a href="https://t.co/9Vbb1bHZkI">pic.twitter.com/9Vbb1bHZkI</a></p>&mdash; ツクール開発部 (@tkool_dev) <a href="https://twitter.com/tkool_dev/status/665135640233676801">2015, 11月 13</a></blockquote>

<p>
また、<a href="https://twitter.com/iyokan_nico" target="_blank">伊予柑さん</a>より<a href="http://ch.nicovideo.jp/iyokan_nico/blomaga/ar934899" target="_blank">「ホーム画面への登録」を促すプラグイン invitation_standalone.js</a>も公開されています。
</p>

<p>
これらの方法を複合的に用いて、プレイヤーを単一ブラウザに誘導する必要があります。セーブ機能を必要とするゲームでこの問題は顕著なので、徹底的な対策が必要と言えます。
</p>

<p>
ツクールMV HTML版ゲームにおいて、セーブデータ問題を根本的に解決するには、どうしたら良いでしょうか。それはユーザ認証を行い、サーバ上にセーブデータを保存する手法です。<a href="https://twitter.com/3846masa">3846masaさん</a>により公開された<a href="https://github.com/3846masa/rpgmv-save-store-proxy">rpgmv-save-store-proxy</a>が参考になります。しかし、多人数プレイヤーのセーブデータ保存を実現するには、サーバ運用も含めた技術力が必要です。
</p>

<p>
消極的な対処法ですが「Web App Manifest」「ホーム画面へのショートカット追加マニュアル」「invitation_standalone.js」の3つを併用して、プレイヤーが複数ブラウザでプレイする事を防ぐのが、妥協案なのです。
</p>

<ul>
<li><a href="http://qiita.com/tmtysk/items/2c5da83feec45b4ee36f" target="_blank">JavaScript - manifest.json でWebアプリを「ホーム画面に追加」自動バナー表示に対応させる - Qiita</a></li>
<li><a href="http://moonglows76.tumblr.com/post/102930578463/web%E3%82%A2%E3%83%97%E3%83%AA%E3%82%92%E3%83%8D%E3%82%A4%E3%83%86%E3%82%A3%E3%83%96%E3%82%A2%E3%83%97%E3%83%AA%E3%81%A3%E3%81%BD%E3%81%8F%E8%B5%B7%E5%8B%95%E3%81%99%E3%82%8Bwebapp-manifest" target="_blank">Webアプリをネイティブアプリっぽく起動するWebApp Manifest - Coding Design's Tumblr</a></li>
<li><a href="https://w3c.github.io/manifest/" target="_blank">Web App Manifest - W3C</a></li>
<li><a href="http://ch.nicovideo.jp/iyokan_nico/blomaga/ar934899" target="_blank">RPGツクールMVのブラウザ実行で「ホーム画面へ登録」を促すプラグインinvitation_standalone.js:伊予柑ブロマガ - ブロマガ</a></li>
<li><a href="http://3846masa.hatenablog.jp/entry/2015/11/15/113000" target="_blank">RPGツクールMVのセーブデータを端末間で共有した話 - 3846masa's memo</a></li>
</ul>

<h3>Push API</h3>
<p>
<ruby>Push API<rt>プッシュ エーピーアイ</rt></ruby>は、プッシュ通知を実現する機能です。
</p>
<p>
ゲームのアップデート情報や、イベント情報をプレイヤーに通知できます。これによりゲームを継続的にプレイしてもらう仕組みを用意できます。タップ1つで登録が可能なので、プレイヤーにとってはお手軽です。
</p>
<p>
反面、制作者にとって、プッシュ通知の実装は面倒です。JavaScriptプログラムを用意し、サーバ環境の整備も必要です。Push APIは、Service WorkerやWeb App Manifestに比べ、少し難解です。解決策として、お手軽にプッシュ通知を実現する<a href="https://bpush.net/" target="_blank">bpush</a>などのサービスが登場し始めています。
</p>
<p>
状況に合わせて適切なプッシュ通知技術を使えば、ゲームの再帰率アップが期待できます。
</p>

<ul>
<li><a href="http://d.hatena.ne.jp/jovi0608/20141204/1417697480" target="_blank">Service WorkerとHTTP/2が切り開く新しいWeb Pushの世界 - ぼちぼち日記</a></li>
<li><a href="http://tech.vasily.jp/entry/android_chrome_push" target="_blank">アプリを使わなくてもPush通知が来る！ - 株式会社VASILY</a></li>
<li><a href="http://www.w3.org/TR/push-api/" target="_blank">Push API - W3C</a></li>
<li><a href="https://blog.agektmr.com/2015/03/mobile-web-app.html" target="_blank">ウェブのプッシュ通知、何がそんなにすごいのか？: Tender Surrender</a></li>
<li><a href="https://1000ch.net/posts/2015/service-worker-push-notification.html" target="_blank">Service WorkerでブラウザにPush通知をする - 1000ch.net</a></li>
<li><a href="https://bpush.net/">bpush - Push Notification Service for Web</a></li>
</ul>

<h3>Progressive Web Apps</h3>
<iframe width="820" height="461" class="youtube" src="https://www.youtube.com/embed/iZZdhTUP5qg" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
Googleの開発者向けイベントで語られた、「次世代モバイルウェブ」のプレゼンテーション動画
</p>
</div>

<iframe width="820" height="461" class="youtube" src="https://www.youtube.com/embed/MyQ8mtR9WxI" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
Googleの開発者向けイベントで語られた、「革新的なウェブアプリ」のプレゼンテーション動画
</p>
</div>

<p>
ここまで語った、Service Worker、Web App Manifest、Push APIは、<ruby>Progressive Web Apps<rt>プログレッシブ ウェブ アップス</rt></ruby>と総称される技術分野です。Google社が先導して啓蒙活動を行っていますが、まだまだ発展途上です。実装されているブラウザも、Google Chromeが主で、Firefox、Microsoft EDGE、Safariがそれに続きます。
</p>
<p>
つまり、Google Androidでは実現可能レベルで使えますが、iOS(iPhoneやiPad)では、ほぼ使えません。ブラウザの対応を待ちましょう。
</p>
<hr>
<p>
ここまでの話をまとめます。
これらのウェブ技術は、ツクールMVにどう関係があるのでしょうか。注目すべきポイントは2つです。<span class="strong_red">ウェブアプリはスマホアプリに近づくべく、進化中</span>である事。そして<span class="strong_red">ツクールMVゲームの本質は、ゲームの皮を被ったウェブアプリ</span>という点です。
</p>
<p>
現状のツクールMVは、マルチプラットフォーム対応をうたっていますが、スマホ対応の難易度は高いです。短編ゲームならともかく、長編ゲーム開発は、茨の道です。しかし、<span class="strong_red">ウェブ技術の世界的な潮流を受けて、ツクラーの状況は好転していく可能性</span>が期待できます。ツクールMV側は何もしなくても、モバイル進化の恩恵を受けると言えます。<span class="strong_gray">(問題は、モバイルの進化がいつ成熟するか……という点ですが)</span>
</p>
<p>
Progressive Web Appsのテクノロジーは、ツクールMV HTML版において実に有効です。積極的に取り入れて、新しい表現と利便性を追求すると良いです。<span class="strong_red">というか、何か手を打たないと、長編ゲームをスマホ用HTML版でリリースするのは、無理がある</span>と思います。
</p>
<p>
既存のツクールMV HTML版ゲームの配信と、Progressive Web Apps化は、同居が可能です。今のうちから次世代ウェブ技術の片鱗を感じつつ実装を進め、モバイル環境の進化を待つのは、実りある行為だと思います。
</p>
<hr>
<p>
さて、ここまで読んでサッパリ意味不明だった方もいるでしょう。フロントエンドに疎いツクラーにとって、サーバを用意してゲームを公開すること自体が難しいと思います。レンタルサーバやSSL証明書の取得には、コストもかかります<span class="strong_gray">(ピンキリですが、年間5000円くらい)</span>。<a href="http://plicy.net/" target="_blank">PLiCy</a>や、RPGツクールMV製ゲーム投稿サイト<span class="strong_gray">(ドワンゴが2016年春に公開予定)</span>で、先進技術が実装され、初心者でも簡単に扱える事を期待したいです。
あ、<a href="http://tomotaka.tk/tkoolorg-rental-server/" target="_blank">ツクール新聞レンタルサーバ</a>も是非ご活用ください。ツクールMVゲームを手軽に公開するのに便利ですよ🙇。
</p>
<ul>
<li><a href="http://myakura.hatenablog.com/entry/2015/11/18/053939" target="_blank">Progressive Web Appsとは - fragmentary</a></li>
<li><a href="https://html5experts.jp/furoshiki/15144/" target="_blank">これからのモバイル向けWeb制作──The Next Generation Mobile Web - HTML5Experts.jp</a></li>
<li><a href="https://1000ch.net/posts/2015/progressive-web-apps.html" target="_blank">Progressive Web Appsとは - 1000ch.net</a></li>
<li><a href="http://furoshiki.hatenadiary.jp/entry/2015/06/15/180826" target="_blank">負け組なモバイルWebは、これから本当に復活するのか？Googleが考える次のアーキテクチャ - ふろしき.js</a></li>
<li><a href="http://tomotaka.tk/tkoolorg-rental-server/" target="_blank">ツクール新聞レンタルサーバ</a></li>
</ul>
</section>



<section>
<h2><span class="number">05</span>ゲーム制作の民主化と、オーサリングツールの姿</h2>
<p>
かつて<a href="http://www.adobe.com/jp/products/flashplayer.html" target="_blank">Adobe Flash Player</a>がマルチプラットフォームを制すると思われた時代がありました。しかし<a href="http://tech.nitoyon.com/ja/blog/2010/04/30/thoughts-on-flash-jp/" target="_blank">2010年のAppleショック</a>を経て、WEB標準化の波に押し流されてしまいました。Adobe社の<ruby>プロプライエタリ<rt>一企業の独占</rt></ruby>でなくなったのは良い事ですが、<a href="http://www.adobe.com/jp/products/flash.html" target="_blank">Adobe Flash Professional</a>という優秀なオーサリングツールも巻き込まれ死。蓄積されたノウハウや書籍も風評被害で大打撃を受けました(実際は<a href="https://blogs.adobe.com/creativestation/web-flash-pro-now-animate" target="_blank">FlashはAnimeteと名前を変えて</a>、まだまだ生き続けます)。中小のゲーム制作環境が技術選定の混沌にあえぐ中、<a href="http://japan.unity3d.com/" target="_blank">Unity</a>が急成長。わずか数年で新しいエコシステムを構築しました。とはいえUnityは3Dゲーム制作の文脈から登場し、2Dを扱うには煩雑です。ウェブ対応も、発展途上です。
</p>
<p>
そんな状況でヒョッコリ登場したのが、RPGツクールMV。ツクール本来の洗練されたマップエディタとJavaScriptが噛み合い、一点特化の開発効率性とオープンさを両立させています。<span class="strong_red">ツクールMVの存在は、ウェブオーサリングツールの在り方と、ブラウザゲームへの揺り戻しの予兆を感じます。</span>
</p>
<p>
ツクールMVのソースコードはOSSではありません。しかしJavaScriptというオープンな技術を用いる性質上、嫌が応でもハックと魔改造が施される事は間違いありません。ツクールMVから書き出されるコードは、かなりシンプルです。プロプライエタリな状況には、どう転んでもなり得ない。
</p>
<p>
ツクール発売記念イベントに参加しての雑感ですが、開発陣はそこまで見据えていた訳ではないと思われます。あくまで初心者向けゲーム制作ツールを作った結果、偶然にもウェブの潮流にはまったのではと想像します。
これは既存のツクールファンとは違う客層にヒットした事を意味します。混沌のJavaScript界と動乱のゲームミドルウェア界に、片足ずつ突っ込んだわけです。開発元やパブリッシャー達は、ツクールのエコシステムとの向き合い方について、難しい舵取りが求められるでしょう。パンドラの箱は開かれてしまったのです。
</p>
<p>
<span class="strong_red">初心者向けゲーム制作ツールという、ツクール本来の良さだけでなく、
ツクールMV存在そのものが、次世代ウェブのモデルケースになりえるかもしれません。</span>
</p>
<ul>
<li><a href="http://tech.nitoyon.com/ja/blog/2010/04/30/thoughts-on-flash-jp/" target="_blank">なぜ iPhone に Flash が搭載されないのか(Appleの弁) - てっく煮ブログ</a></li>
<li><a href="http://qiita.com/mizchi/items/ff3bc3f52b61d3e599c6" target="_blank">今一番JSで熱いゲームエンジン、RPGツクールMVのランタイムコードを読んでみた - Qiita by mizchi</a></li>
</ul>
</section>


<section>
<h2><span class="number">06</span>RPGツクールの未来</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption__151225_tkoolmv-future--04.png" alt="ツクラーの情熱が、ツクールの未来を作る" class="size-full" /><p class="wp-caption-text">ツクラーの情熱が、ツクールの未来を作る</p></div>

<p>
当記事は技術的視点からツクールの未来を語りました。現状と将来を見比べ、技術的課題や懸念を予測しました。裏返して言えば、未来を夢想する楽しさを、ツクールMVは秘めていると言えます。ツクールの将来を思うと、とてもワクワクします。
</p>
<p>
RPGツクールは、じつに懐の深いソフトです。
</p>
<p>
最高の制作環境を追求する。
素材制作に才能をつぎ込む。
ゲームの完成を目指し没頭する。
ゲームの解析や研究に熱中する。
ゲームプレイの感動を追い求める。
</p>
<p>
そのどれもが、ツクールの正しい楽しみ方です。ほんとうに色々な楽しみ方ができます。
</p>
<p>
楽しさに突き動かされた数多くのツクラーと、開発チームの熱意により、ツクールの歴史は紡がれてきました。それは5年後や10年後も、きっと変わらぬ事でしょう。この熱量が続く限り、様々な人がツクールに挑戦し、新たなゲームが生まれるはずです。ツクールの未来を作るのは、ツクラーの情熱に違いありません。
</p>
<p>
ツクールの未来に思いを馳せつつ、<a href="http://qiita.com/advent-calendar/2015/rmmv" target="_blank">RPGツクールMV Advent Calendar 2015</a>のリレーを、終わりたいと思います。
</p>
<p>
このカレンダーの読者が、情熱のバトンを引き継ぎ、
あらたなツクールの未来を創り出す事に期待して。
</p>
</section>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
