<!--
RPGツクールMV 交流放送過去ログ
tkoolmv-live-logs
2015/12/20 16:28

この投稿はニコニコ生放送で行われた「RPGツクール交流放送」の過去ログです。タイムシフトから削除済みなものを、記録用として遺しておきます。
 -->
<section>
<h2><span class="number">01</span>はじめに</h2>
<p>
この投稿はニコニコ生放送で行われた「RPGツクール交流放送」の過去ログです。タイムシフトから削除済みなので、記録用として遺しておきます。
特に第4回は誤ってツクールMVのライセンスキーを映してしまった<span class="strong_gray">(実際には解像度低くて見えないですが)</span>ので、タイムシフトが公開されず削除されてしまいました。こんな事もあろうかとリアルタイム録画しておきました。ライセンスが映ってしまった部分をマル秘にして、公開します。
</p>
<p>
権利を保有する方より何かしらのご連絡がある場合は、お手数をおかけしますが<a href="https://docs.google.com/a/tomotaka.biz/forms/d/1GqA52iyie-JyPXv65GK2w_7s-0fXric0zeOLMfdCvAI/viewform" target="_blank">メッセージフォームフォーム</a>よりお問い合わせ下さい。
</p>
</section>


<section>
<h2><span class="number">02</span>第1回 RPGツクールMV 雑談放送</h2>
<iframe width="820" height="461" src="https://www.youtube.com/embed/oA01LGGMgiE" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
第1回 RPGツクールMV 雑談放送 (2015年11月20日)
</p>
</section>

<section>
<h2><span class="number">03</span>第2回 RPGツクールMV 雑談放送</h2>
<iframe width="820" height="461" src="https://www.youtube.com/embed/7Ok865f3tY4" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
第2回 RPGツクールMV 雑談放送 (2015年11月07日)
</p>
</section>

<section>
<h2><span class="number">04</span>第3回 RPGツクールMV 交流放送</h2>
<iframe width="820" height="461" src="https://www.youtube.com/embed/KCAd3yKZkU8" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
第3回 RPGツクールMV 交流放送 (2015年12月04日)
</p>
</section>

<section>
<h2><span class="number">05</span>第4回 RPGツクールMV 交流放送</h2>
<iframe width="820" height="461" src="https://www.youtube.com/embed/Lue3T9W--Os" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
第4回 RPGツクールMV 交流放送 (2015年12月17日)
</p>
<p>
生放送中にRPGツクールMVのライセンスキーを映してしまっているので、その部分をモザイク編集しています。
</p>
</section>
