<!--
RPGツクールMV発売記念イベント 全講演内容
rpgtkoolmv-opening-event
2015/12/17 21:26

2015年12月16日開催された、RPGツクールMVの発売記念イベントの書き起こしです。
 -->
<section>
<h2><span class="number">01</span>はじめに</h2>
<p>
2015年12月16日開催された、RPGツクールMVの発売記念イベントの書き起こしです。この記事は、当日のイベントの様子全てを知りたい方向けです。マニア向けとも言えるかもしれません。
講演内容のまとめは、以下の報道やブログをご参照ください。
</p>
<ul>
<li><a href="http://fanblogs.jp/tabirpglab/archive/261/0" target="_blank">RPGツクールMV 発売記念イベントレポ: RPGツクールMVでアプリリリースを目指す開発室</a></li>
<li><a href="http://www.famitsu.com/news/201512/17095590.html" target="_blank">『RPGツクールMV』がいよいよ発売！ “ツクラー”を招いてのイベントが開催 - ファミ通.com</a></li>
<li><a href="http://www.gamer.ne.jp/news/201512170041/">PC「RPGツクール MV」は本日発売―アップデート内容や今後の施策が次々と発表された発売記念イベントをレポート｜Gamer</a></li>
</ul>
</section>

<section>
<h2><span class="number">02</span>講演動画全録 (Youtube)</h2>
<iframe width="820" height="461" src="https://www.youtube.com/embed/uLUOFwSGLrE" frameborder="0" allowfullscreen></iframe>
<div class="wp-caption alignnone" style="width: 820px">
<p class="wp-caption-text">
70分ほどの講演動画になります。
</p>
<p>
当ページの内容は、上記動画の書き起こしとなります。動画とあわせて会場の雰囲気をお楽しみください。たいへん熱気あふれる講演でした。
</p>
</section>


<section>
<h2><span class="number">03</span>開会の挨拶 (00:05)</h2>
<span class="speaker">市橋美月</span>
私本日の司会進行を努めさせて頂きます、<a href="http://l-amitie.co.jp/mcs_and_narrators/mizuki_ichihashi/" target="_blank">市橋美月</a>と申します。どうぞ宜しくお願いいたします。
さて、本日はRPGツクールMVの先行体験版にお申し込みを頂きました、およそ1000人の中からお声を掛けさせて頂きましたツクラーの皆様、サンプルゲーム開発者の皆様、そして実況動画でご活躍をされている実況者の皆様にお集まりを頂きました。本日はプレゼンテーションパートと懇親会の二部構成となっておりまして、プレゼンテーションはこのような内容を予定しております。
<ul>
  <li>パブリッシャーとしての今後の展開</li>
  <li>RPGツクールMVで変わる事</li>
  <li>あたらしいゲームを皆さんと一緒に</li>
  <li>ツクラートークセッション</li>
</ul>
<p>
本日かなり短いお時間ではございますが、4年ぶりとなりますRPGツクールMVの発売を、皆様と一緒に楽しみたいと思っておりますので、どうぞ最後までおつきあいください。
</p>
<p>
それでは、まず始めに、株式会社カドカワ エンターブレイン事業局 ソフトサービス開発部 部長 ジェネラルプロデューサー 野田稔より開会のご挨拶を申し上げます。それでは宜しくお願いいたします。
</p>
</section>

<section>
<h2><span class="number">05</span>開会の挨拶 (01:06)</h2>
<p>
<span class="speaker">野田稔</span>
長いですよね、肩書きが。すいません。ジェネラルマネージャーというか、プロデューサーをやっております。エンターブレインの野田と申します。お見知りおきを、よろしくお願いします。古くはファミ通にいた時代もありますので、サワディ野田として覚えていらっしゃる方もいるのかなと思います。本日はツクール発売前夜のイベントにご出席いただきまして、本当にありがとうございます。年末のお忙しいさなか、大変遠くから足を運んでいただいている方もいらっしゃるということで、非常に心から感謝しております。ありがとうございます。
</p>
<p>
いよいよ明日、MVの国内発売日になります。17日というと、世間的には<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB0151GVJSY" target="_blank">Fallout 4</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">の発売日でもあります。実は僕も大変ファンでですね。実は秋葉原で<a href="https://ja.wikipedia.org/wiki/%E3%82%A2%E3%83%89%E3%83%90%E3%83%B3%E3%82%B9%E3%83%88%E3%83%BB%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%83%BB%E3%83%87%E3%83%90%E3%82%A4%E3%82%BB%E3%82%BA" target="_blank">AMD</a>のグラフィックボードを買って帰ろうかなと思いましたが、時間が無かったので。とはいえ、明日は僕としてはツクールをしっかり皆さんの元にお届けられるように、今晩から頑張ろうかなと思っております。
</p>
<p>
思い返すと、MVを開発始めたのは2013年の夏頃ですかね、構想を始めました。当時VX Aceが非常に売れてきまして。最近ですと、アメリカで50万本売れているんですね。今だと、もっと売れていると思います。こういう数字の流れの中で、次のツクールどうしようと思いました。そういう中で僕の方から二つ、開発のみんなで決めたことがあって。
</p>
<p>1つはパソコンの機能も進化しているから、グラフィック的にすごく綺麗なものを目指そうよという事。もう1つは、クラウドという言葉がすごく流行ったのですが、マルチデバイス出力は、当然やっていこうと。その2つだけ決めました。
あとは、一之瀬裕之という開発プロデューサー兼ディレクター。メインプログラマーである尾島陽児さん。あと、海外でデジカさんの開発スタッフだったり、ドワンゴさんのご意見を聞きながら進めてきて。やっと今日に至るという感じです。
</p>
<p>
社内外でいろいろな意見を聞いていたわけですが、今……カタカナのカドカワ。ええと非常に厄介ですね。<span class="strong_gray">(カタカナのカドカワと)</span>アルファベットのKADOKAWAがありますが、そこでで社長になっている<a href="https://ja.wikipedia.org/wiki/%E5%B7%9D%E4%B8%8A%E9%87%8F%E7%94%9F" target="_blank">川上量生さん</a><span class="strong_gray">(株式会社KADOKAWA・DWANGO代表取締役社長)</span>からもご意見を聞きまして。川上さんに言われたのですが「ツクールの欠点は、遊べる人が少ないですよね」と仰られました。それが非常にグサリときまして。ツクールのゲームが広がってきて、ツクラーさんも世界レベルで出てきた中で、なかなか遊び手の方が増えているという実感がなくて。今日はツクラーさんがいっぱい来ているのでおわかりと思いますが、構造上の問題……つまりRTPがないと動かないとか。パソコンでしか動かないとか。コンテンツって時間の奪い合いじゃないですか。そういう時に、ツクール製のゲームが実況で見て面白い。となっても、「すぐ遊べない、今遊べないと」という事で、ユーザさんが遊んでもらえないという、非常に苦しい状況だなと思いました。
</p>
<p>
僕らの中でいろいろな選択肢があったのですが、ツクールを送り出す上で、一番気軽に遊んでもらえる環境って何だろう。と思った時に、<a href="https://ja.wikipedia.org/wiki/HTML5" target="_blank">HTML5</a>だなと思いました。それが一番大きなポイントになったと思います。
</p>
<p>
ツクールは長い間送り出しをしてきましたが、ツクール自体が売れるのは当然ぼくらは嬉しいことです。でもやっぱり、一番嬉しいことの1つとして、遊び手さんが増えるというのが、とても嬉しいことだと思います。それは、ここにいるツクラーさんも一緒だと思います。
</p>
<p>
今回、本当にたまたま見ていたツイッターで、ツクール生のゲームがフィッと流れてきたんですよ。それがそのまま遊べた。それが結構「イエスッ!!」というか、うるっときたんですよ。「これがやりたかったッ!!!」と。僕ら開発スタッフは、これがこれからのツクールの姿だと思いましたし、これでゲームが広がっていくのだったら、作り手さんもみんな楽しいだろうなと思いました。これがやっと実現できたんだなということが、非常に良かったと思います。
</p>
<p>
これはみなさんと一緒に共有しながら、一緒にMVを育てて頂きたいなと思います。今日この後、色々な発表があると思いますので、僕の知らない内容もあるかもしれません。それも含めて、最後まで一緒に楽しめればと思います。今日はぜひ最後まで楽しんでいってください。よろしくお願いします!!
</p>
</section>

<section>
<h2><span class="number">06</span>パブリッシャーとしての今後の展開 (07:17)</h2>
<p>
<span class="speaker">市橋美月</span>
続きまして株式会社スパイクチュンソフト海外事業本部ゼネラルマネージャー 飯塚康弘によるプレゼンテーション。パブリッシャーとしての今後の展開です。それでは飯塚さんよろしくお願いします。
</p>

<h3>挨拶</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_01.png" alt="caption_151217_tkoolmv-opening-event_01" class="alignnone size-full wp-image-2022" />
<p>
<span class="speaker">飯塚康弘</span>
みなさんこんばんは。スパイクチュンソフトの飯塚と申します。「パブリッシャーとしての今後の展開」……なんて堅苦しい題名なのだろうかと、ちょっと正直びっくりしているんですけれども。けれど、これから話す内容はそんな堅苦しくないです。本当に簡単に簡潔にみなさんにご説明したいと思いますので、安心してください。
</p>

<h3>ツクラー人口を増やす!!</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_02.png" alt="caption_151217_tkoolmv-opening-event_02" class="alignnone size-full wp-image-2023" />
<p>
まずスパチュンは今回パブリッシャーとしてツクラーの方を携わらせていただきます。パブリッシャーとして何をしなければならないのか。当然ツクラーの人口を増やすというのがパブリッシャーとして絶対やらなければならないことです。一見難しそうなことですが……ちょっと考えれば。つまり、作る人が増えればツクールのゲームが増えて……遊ぶユーザーが増える。遊ぶユーザーが増えれば……当然ツクラーの人口が増えると。当たり前のことを偉そうに説明しましたが。じゃあ、今後スパチュンとして何をしてくれるのか。といのを、3つのアクションで分けて簡単に説明したいと思います。
</p>

<h3>ワールドワイド・スタンダード</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_04.png" alt="caption_151217_tkoolmv-opening-event_04" class="alignnone size-full wp-image-2025" />
<p>
まず一つ目。ワールドワイド・スタンダード。ちょっとカッコよくつけたのですが。簡単に言うと、10月に海外に展開しているデジカさんと共に、今後ツクールMVを世界同一環境の提供を進めていきたいと思っています。例えば海外で既にデジカさんから提供しているプラグインを日本語に対応して、なおかつ54種類を発売日からツクラーの皆様に提供するという準備が整っています。しかしそれだけでは世界で一緒になった感じは、まだまだ弱いなと僕自身思っていて。それだったら、もっと世界のツクラーと楽しもう、という場をどうにか作れないかな。と個人的に考えています。
</p>

<h3>RPGツクールMV GAME OF THE YEAR開催</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_05.png" alt="caption_151217_tkoolmv-opening-event_05" class="alignnone size-full wp-image-2026" />
<p>
それが「RPGツクールゲームオブザイヤー2016」そういうものができたら、すごく楽しいだろうなと思っているのですが。まだうちだけでこの規模のものを作るのは、厳しいなあと正直思っています。海外で先行して頑張っているデジカさんと共に一緒にできたらなぁと思っているのですが、デジカさんどうですか、一緒に。
</p>

<p>
<span class="speaker">デジカ担当者</span>
はい、やっていきましょう!
</p>

<p>
<span class="speaker">飯塚康弘</span>
まじですか!! ヤッタァ〜。みなさん、聞きました? 2016、やるかもしれません。でもこれから詳細を詰めまして、決まり次第、どういう形でやっていくかを、みなさんにお伝えしますので、楽しみに待っていただけたらなあと思います。
</p>

<h3>IP素材の提供</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_06.png" alt="caption_151217_tkoolmv-opening-event_06" class="alignnone size-full wp-image-2027" />
<p>
二つ目ですが当然スパチュンはコンソールゲームがメインですが、当然様々な<ruby>知的財産権<rt>IP</rt></ruby>を持っています。例えば<a href="https://ja.wikipedia.org/wiki/%E9%A2%A8%E6%9D%A5%E3%81%AE%E3%82%B7%E3%83%AC%E3%83%B3" target="_blank">風来のシレン</a>だったり、<a href="https://ja.wikipedia.org/wiki/%E3%81%8B%E3%81%BE%E3%81%84%E3%81%9F%E3%81%A1%E3%81%AE%E5%A4%9C" target="_blank">かまいたちの夜</a>だったり、<a href="https://ja.wikipedia.org/wiki/%E3%83%80%E3%83%B3%E3%82%AC%E3%83%B3%E3%83%AD%E3%83%B3%E3%83%91_%E5%B8%8C%E6%9C%9B%E3%81%AE%E5%AD%A6%E5%9C%92%E3%81%A8%E7%B5%B6%E6%9C%9B%E3%81%AE%E9%AB%98%E6%A0%A1%E7%94%9F" target="_blank">ダンガンロンパ</a>だったり、<a href="https://ja.wikipedia.org/wiki/%E3%83%95%E3%82%A1%E3%82%A4%E3%83%A4%E3%83%BC%E3%83%97%E3%83%AD%E3%83%AC%E3%82%B9%E3%83%AA%E3%83%B3%E3%82%B0" target="_blank">ファイヤープロレスリング</a>だったり、<a href="https://ja.wikipedia.org/wiki/%E5%96%A7%E5%98%A9%E7%95%AA%E9%95%B7" target="_blank">喧嘩番長</a>だったり。ここら辺のIPをどんどんみなさんに提供して面白いゲームを作ってくれたらなぁ、と思っています。
</p>
<p>
そうすることによって、今ツクラーを知らないユーザーが。例えば、誰かが「ダンガンロンパRPG」を作ってくれれば、『ヤッタァー面白いな。これ、どうやって作ったんだろう』というのを『ツクールで作ったんだろう』いうのになれば、1000人に1人くらいはゲームを作り始めてくれるんじゃないかな、と思っています。個人的にはファイヤープロレスリングが好きなので、ぜひIPを提供したら、誰かファイプロのRPGを作ってください。
</p>

<h3>アカデミー施策</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_07.png" alt="caption_151217_tkoolmv-opening-event_07" class="alignnone size-full wp-image-2028" />
<p>
最後。3つ目ですね。アカデミー試作その1。これは学校、教育向けの活動になります。多くの学校でツクールMVを活用して頂ける為に、アカデミックパックの提供を実施いたします。最大50%オフで、明日からエビテンさんの方で販売を進めますので、是非ともよろしくお願いいたします。これだけでは単純に販売するというだけですので、つまらないですよね。なので、ちょっと考えてみました。ここが僕のある意味本気でやっていきたいところです。
</p>
<p>
アカデミー試作その2。ツクールのさらにユーザの中で、特に新生のツクラー達を作ってプロデュースしていきたいと考えています。題して「RPGツクールMV 全国学校対抗 ゲームツクール大会(仮)」これはですね、マジでやっていこうと思います。応募方法ならびに大会の詳細は、まさに今詰めている段階です。ここら辺の情報がまとまり次第、みなさんと共有して新しいツクラーを作っていけたら面白くなるんじゃないかな、と思います。
</p>
<p>
ここで僕のパートが終わりですが、最後に一言だけみなさんに言いたいことは。ツクールって、そもそもツールじゃないですか。ツールをそのままにしたって、何も盛り上がらないのですよ。つまり何が言いたいかというと。今日来ていただいている皆様、並びにツクラーの皆様が、ゲームを作って初めて発信力があります。僕らはここが楽しくゲームを作れる環境というのをプロデュースしサポートするのが、責務であり義務だと思っています。僕らは最大限頑張りますので、皆さんもドンドンドンドン作っていただきたいなと、思っていますので、よろしくお願いいたします。僕のパートは以上です、よろしくお願いいたします。
</p>
</section>

<section>
<h2><span class="number">07</span>RPGツクールで変わること(13:40)</h2>
<p>
<span class="speaker">市橋美月</span>
飯塚さんありがとうございました。続きまして、株式会社カドカワエンターブレイン事業局 ソフトサービス開発部 パートナーアライアンス課 一之瀬裕之によるプレゼンテーション。「RPGツクールMVで変わる事」です。
</p>

<h3>挨拶 (14:10)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_08.png" alt="caption_151217_tkoolmv-opening-event_08" class="alignnone size-full wp-image-2029" />
<p>
<span class="speaker">一之瀬裕之</span>
<span class="strong_gray">(マイクを切ったままで聞き取れず)</span>こんばんは。こんばんは。こんばんは。KADOKAWAで開発プロデューサーを担当しました、一之瀬です。
</p>
<p>
改めてもう一度ご挨拶させて頂きます。KADOKAWA エンターブレイン事業局でRPGツクール開発プロデューサーを担当しました、一之瀬と申します。よろしくお願いいたします。明日、いよいよRPGツクールMVが国内発売するということで、前日にこのようなイベントを開催できて、非常に嬉しく思います。また新作に関する開発・販売を支えてくださった関係各位に改めてお礼を申し上げたいと思います。私からは「RPGツクールMVで変わる事」というお題で、プレゼンテーションをさせていただきます。基本的にツクールの現状。ツクールの今の動き等を皆様にご紹介できるかなと思っております。よろしくお願いいたします。
</p>

<h3>RPGツクールとは何か</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_09.png" alt="caption_151217_tkoolmv-opening-event_09" class="alignnone size-full wp-image-2030" />
<p>
まずですね、今日ご来場の皆様。かなりツクールに詳しい、濃い方々かと思うのですが。また改めてツクールの基本コンセプトについて、今日はメディアの方もいらっしゃるので、説明させてください。ツクールシリーズはプログラムを覚えなくても、ゲームを作りたい。というのが叶うソフトだと思っております。ソフトの中身は初めからサンプルのデータを同梱しておりまして、基本設定もされている。すぐにゲーム作りをスタートして頂けるというソフトです。よくツクールでよく言われることは、「ツクールはゲームを作ることを楽しむゲームである」と言われますが、その基本コンセプトはツクールMVでも変わることはないと思っております。
</p>

<h3>RPGツクールの歴史(17:06)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_10.png" alt="caption_151217_tkoolmv-opening-event_10" class="alignnone size-full wp-image-2031" />
<p>
ツクールの歴史を改めてご紹介させてください。RPGツクールの一番最初の作品は、実は1990年2月にMSX2でRPGコンストラクションDANTEが発売されています。実に25年前ということで、かなりRPGツクールは歴史があるんだな、ということですね。まあWindows版のRPGツクール95が発売されて、その間にPC98なども出ていますが、RPGツクール95でWindows版の歴史が始まったのかなと思います。1997年3月<span class="strong_gray">(正しくは2000年4月)</span>に<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB000093H7I" target="_blank">RPGツクール2000</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">という作品が発表になりました。これは今のMVまでつながるUIを確定させたヒット作です。当時8万本以上の販売実績があったと聞いております。続いて、<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB008S7JIJ6%2F" target="_blank">RPGツクールXP</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">です。これは2000の流れを汲みながらもスクリプトをいじれて拡張性が導入されたという、初めのツクールになりますね。そのあとに2011年11月、こちらが前作<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB005QW260E%2F" target="_blank">RPGツクールVX Ace</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">。これは海外でも非常に人気がありまして、インディーズの制作クリエイターにはリスペクトされている作品です。2000からの流れを汲む、完成系なのかなと思っております。いよいよ明日なのですが、<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB016U2RARM%2F" target="_blank">RPGツクールMV</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">が発売になります。これは実に11作目、初代から数えて11作目の新作になります。
</p>

<h3>販売実績の紹介(19:14)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_11.png" alt="caption_151217_tkoolmv-opening-event_11" class="alignnone size-full wp-image-2032" />
<p>
販売実績というのをご紹介させていただきたいと思います。非常に海外で売れていまして、認められていまして。ツクールXP、ツクールVX、ツクールVX Aceの3つのソフトで海外実績はトータル61万5000本。国内では8万本。合計69万5000本という。MVが発売されましたので70万本を超えるのは、もうすぐなのかなと。海外で販売するにあたって、海外パブリッシャーのデジカさんに、コミュニティをまとめていただいて、頑張っていただいているというところでございます。
</p>
<p>
ツクールの一つの大きな流れというか、力になっていると思うのですが。メディアの拡散というのが非常に広まっていると思います。一番有名なのは<a href="http://mygames888.info/" target="_blank">青鬼</a>なのですが、Youtubeで20万本以上。ニコニコ動画でも3万3000本以上。実況も含めて非常に多く投稿されています。<a href="https://www.youtube.com/user/HikakinTV" target="_blank">ヒカキンさんの実況</a>もすごいですね。総視聴数4億回ということで、非常に人気がある作品です。こういう流れが加速していくのかなと思っております。もう一つご紹介したいのですが、先日皆さんもプレイして頂いたと思いますが、ニコニコゲームマガジンでサンプルゲームを公開しました。公開24時間で3万人以上がプレイしたということで、非常に好調な形でプレイができている。一つはブラウザでTwitterからURLを拡散して頂き、そこから中に入って頂けたのが非常に大きいのかなと。それが実況とかそういう形に帰っていくのかなと思っております。
</p>

<h3>メディアミックスについて (21:33)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_12.png" alt="caption_151217_tkoolmv-opening-event_12" class="alignnone size-full wp-image-2033" />
<p>
メディアへの拡散という形で逆の形になると思いますが。メディアミックスというのも、ツクールの中で非常に動きがありまして、弊社KADOKAWA・エンターブレインでもツクール製のゲームをノベライズ、映画化が非常に盛んです。青鬼が映画化されたというのは、皆さんご存知だと思いますが、今回サンプルゲームにも参加していただいた<a href="http://rinnedou.moryou.com/" target="_blank">リンネ堂さん</a>がコミック化されたり、今日いらっしゃっている<a href="http://is-this-game.doorblog.jp/archives/cat_1208078.html" target="_blank">tachiさん</a>のノベライズが実現したり、<a href="http://imcyan.web.fc2.com/" target="_blank">アイムシアンさん</a>による<a href="http://kai-you.net/article/15231" target="_blank">死臭〜つぐのひ異端</a>が映画化されたり。素晴らしい。こういう流れがツクールの中で起こっているということですね。
</p>

<h3>RPGツクールMV概要(22:41)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_13.png" alt="caption_151217_tkoolmv-opening-event_13" class="alignnone size-full wp-image-2034" />
<p>
ツクールMVの説明をさせてください。4年ぶりのRPGツクール新作MVということですが、みなさんご存知の通りブラウザでプレイができる。基本ベースはHTML5とJavaScriptで動いています。もちろんTwitterからURLをクリックして気軽にプレイできます。今回のMVの特徴は、デバイスを選ばないでプレイできる。プレイされる数というものが、飛躍的に伸びるでしょう、というふうに思っております。
</p>
<p>
ちょっと専門的な話をしますと、今回のMVの大きな特徴というのは、JavaScriptを採用した。これが画期的なところだと思います。このJavaScriptですが当然通常JavaScriptフォルダにポンと入っていて中を見れたりします。エンジニアの方々はこれに熱く解析というか、中を見て、どんなことができるんだろいうということで、非常に大きな動きをなさっていますが。まあ国内のJavaScript界隈でも、これが大きな事件というか、これを機にJavaScriptの開発者が非常に増える。という動きが出てくると、非常に面白いのかなと思っております。
</p>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_14.png" alt="caption_151217_tkoolmv-opening-event_14" class="alignnone size-full wp-image-2035" />
<p>
MVの特徴をここで全部言うのは時間が足りません。たとえば解像度が非常に上がっています。1.5倍です。あとサイドビューを搭載したり。エディターの新機能も多数あります。今日は全てを紹介しませんが、HTMLとJavaScriptを採用したというのが一番大きな特徴になります。
</p>
<p>
プレイへのアクセスが容易になると、どういうことが起きるのか。ということですが、まあ先ほどから繰り返し申し上げていますように、TwitterにURLを貼るだけでプレイできるということは、コンテンツの拡散するという点で必然的に実況コンテンツも増えますし、当然プレイヤーも増えるということで、ファンが非常に増えるという良い流れが作れればいいかなと。まあMVでそれを実現したいなという事です。
</p>
<p>
先日、ファミ通の本誌やネットニュースに乗っていましたが、コラムですね。今回<a href="https://ja.wikipedia.org/wiki/%E3%83%90%E3%83%B3%E3%83%80%E3%82%A4%E3%83%8A%E3%83%A0%E3%82%B3%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97" target="_blank">バンダイナムコさん</a>、<a href="https://ja.wikipedia.org/wiki/%E3%82%B9%E3%83%91%E3%82%A4%E3%82%AF%E3%83%BB%E3%83%81%E3%83%A5%E3%83%B3%E3%82%BD%E3%83%95%E3%83%88" target="_blank">スパイク・チュンソフトさん</a>、<a href="https://ja.wikipedia.org/wiki/%E3%82%AB%E3%83%89%E3%82%AB%E3%83%AF" target="_blank">カドカワさん</a>からも4作品出ています。こういう流れがMVの中で加速していければなと思っています。一緒にコラボしたいという企業さんも現れていますので、こういう動きにも期待をして頂きたいなと思っています。
</p>

<h3>アップデート予定について (26:10)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_15.png" alt="caption_151217_tkoolmv-opening-event_15" class="alignnone size-full wp-image-2036" />
<p>
最後なのですが、ちょっと気になっているところがあると思います。直近の開発アップデートについても、この場をお借りしてご紹介したいと思います。アップデートは開発を今進めております。
</p>
<p>
まず、容量がでかいという問題。よく指摘されているのですが、公式で不要削除ツールを今開発中です。これはエディターに組み込んでやるつもりです。
</p>
<p>
次ですが、これもいわれていることですが暗号化できないじゃないという。これも公式のほうで、画像と音声の簡易暗号化ツール。こちらを準備しております。独自エンコードと独自キーを組み合わせた簡易暗号化ツールですね。画像や音楽が丸見え状態になるのは防げるんだろうなと思っています。
</p>
<p>
キャラクター生成ツールも。今ですね、若者中心の若い綺麗な感じのキャラクターが非常に多く作られているところがあるのですが、年齢層の幅を広げるみたいな形で、現状の40%から50%増しくらいになるように、素材を用意しようかなと思っております。
</p>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_16.png" alt="caption_151217_tkoolmv-opening-event_16" class="alignnone size-full wp-image-2037" />
<p>
アップデートの次なのですが、公式プラグインを幾つか開発しています。現状スマホでプレイするときPCのUIがそのまま乗っかってしまうという、非常に使いづらい。2タッチでメニューに行くのが、わかりにくい。公式タッチプラグインを開発しております。実はこの後、懇親会でiPhoneの試遊機が用意されており、そこに組み込んでいます。後で感想を頂けるとありがたいなと思っております。
</p>
<p>
あとは素材の容量を抑えた、サウンドとグラフィックのセットもご用意しようかなと思っております。これは音のビットレートが大きいという指摘もあったのですが、なかなか素材をデプロイメントしてしまうと、どうしても容量が大きくなってしまう。スマホ用というかブラウザで通信するためには、こちらの(軽量化された)素材を使っていただきたいなと思います。
</p>
<p>
プラグインを利用した参考になるようなプロジェクトデータも、ご用意しようかなと思っております。
</p>

<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_17.png" alt="caption_151217_tkoolmv-opening-event_17" class="alignnone size-full wp-image-2038" />
<p>
そのほか、海外のユーザーさんから上がってきた要望、改善点を今精査をしておりまして、合計28項目。おそらく28項目より増えるんだろうと思っておりますが、これについて今デバッグの方と状況の確認をしております。開発の方、頑張っています。アップデートスケジュールですが、2016年2月に第1弾、第2弾は4月初旬という形で予定をしております。
</p>
<p>
最後になるのですが、今回イベントに参加できなかったMVのシステムデザインとメインプログラムを担当しました、尾島陽児の方から。「皆様によろしくお伝えください」と伝言をいただいております。尾島さんはツクール2000から担当者というか、UIを確立した、ある意味天才ですね。天才プログラマーだと思います。「よろしくお伝えください」ということです。
</p>
<p>
最後にですね。ツクール事業では今回発表できなかった様々な試みを仕込んでいるのですが。まあちょっとツクールが一時的に停滞していた時期もあったのですが、それを相殺できるような大きな動きになるように、開発の方も頑張っていきたいです。私からのプレゼンテーションは以上になります。ありがとうございました。
</p>
</section>

<section>
<h2><span class="number">08</span>新しいゲームを皆さんと一緒に (31:02)</h2>
<p>
<span class="speaker">市橋美月</span>
ありがとうございました。続きまして、カドカワ株式会社 ゲーム情報ポータル事業本部 新規サービス部 サービス企画セクション、田村幸一。株式会社ドワンゴ 企画運営本部 フロンティアゲーム企画部 ゲーム制作セクション <a href="https://twitter.com/daichittaX" target="_blank">斉藤大地</a>によるプレゼンテーション。「新しいゲームをみなさんと一緒に」です。
</p>

<h3>挨拶(31:27)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_18.png" alt="caption_151217_tkoolmv-opening-event_18" class="alignnone size-full wp-image-2039" />
<p>
<span class="speaker">田村幸一</span>
はい。みなさんこんばんは。カドカワの田村と申します。このパートではドワンゴの斉藤さんと一緒に自作ゲームを支援する、ツクール作品を含めた、自作ゲーム支援を過去の実績を交えながら、お話しさせていただきたいと思います。
</p>
<p>
<span class="speaker">斉藤大地</span>
斉藤と申します。ドワンゴでは<a href="http://ch.nicovideo.jp/indies-game" target="_blank">自作ゲームフェス</a>というイベントの担当と、<a href="http://info.nicovideo.jp/gamemaga/" target="_blank">ニコニコゲームマガジン</a>という、ゲームを作る企画を担当しています。田村にマイクを戻します。
</p>

<h3>ツクール開発の歴史 (32:16)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_19.png" alt="caption_151217_tkoolmv-opening-event_19" class="alignnone size-full wp-image-2040" />
<p>
<span class="speaker">田村幸一</span>
まず私の方から話させていただきます。
最初はですね、自己紹介も含めたところで、説明を始めたいと思います。私、カドカワ株式会社というところですが、私の所属するカドカワというのは、先ほど登壇した一之瀬さんも実はKADOKAWAという会社の名前ですが、別の会社になります。一之瀬さんのKADOKAWAは、アルファベットKADOKAWA。私の方がカタカナのカドカワなのですが。カタカナのカドカワというのは、斉藤さんのドワンゴさんと、一之瀬さんKADOKAWAの親会社になります。持株会社となります。分かりやすく言うと、ファミ通の事業も、カタカナのカドカワのほうで行っています。当然、ツクールもファミ通も元々はエンターブレインという会社でやっていたのですが、そういう意味では当社の一部も、一之瀬さんの会社と同じです。実は私もツクールの担当を1年前までやっていました。
</p>
<p>
一方でドワンゴさんですが、ドワンゴは<a href="http://www.nicovideo.jp/" target="_blank">ニコニコ動画</a>などの<a href="http://e-words.jp/w/UGC.html" target="_blank">UGCサービス</a>という面でツクールを応援しています。という面もありますが、もっと遡ると自作ゲームの黎明期は自作ゲームの一部と言っても過言ではないのですね。これをご覧になって、懐かしいという方もいらっしゃるかもしれません。1990年代に<a href="https://ja.wikipedia.org/wiki/Bio_100%25" target="_blank">Bio100%</a>というフリーゲームの制作集団が活動されていたのがありました。その時活動していた時のメンバーがドワンゴの創立時の副社長であったり、いまこちらに載っている<a href="https://twitter.com/steelman" target="_blank">千野裕司さん</a>だったり<a href="https://twitter.com/koizuka" target="_blank">戀塚昭彦さん</a>は現在もドワンゴの方で働いています。つまりドワンゴという会社の中に自作ゲームを愛する文化が設立当初からあったと。
</p>

<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_20.png" alt="caption_151217_tkoolmv-opening-event_20" class="alignnone size-full wp-image-2041" />
<p>
さらにこんな話もあります。もともとドワンゴはオンラインゲームの技術開発基盤ですね、これを提供していた会社で。当時家庭用ゲーム機のサービスとかで使われていましたが、こんな技術を使って、こんな製品も作っていました。これもご存知の方がいるかと思います。ネットワークRPGメーカー2000という製品がアスキーから販売されていますが、実は開発したのはドワンゴなんですね。しかもその時の開発メンバーがドワンゴさんの中にいらっしゃるんですね。ニコニコ動画のUGCという面だけでなく、自作ゲームを盛り上げたBio100%のメンバーだったり。オンラインゲームを簡単に作れるソフトを開発していたメンバーなど。自作ゲームを作り、愛し、育てる人たちが会社の中にいる。というのが実はドワンゴなんだということをお伝えしたかった事です。純粋にツクールが好きで、ツクール作品を作っている社員もいます。
</p>

<h3>個人開発者としての、田村幸一</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_21.png" alt="caption_151217_tkoolmv-opening-event_21" class="alignnone size-full wp-image-2042" />
<p>
自作ゲームを愛している一人として、私もこんな一人です。私も個人開発者で、自分で作ったアプリとかを公開しています。興味ある方、ダウンロードして頂ければと思います。言いたいことは、私も個人開発者ですから、個人でゲームを作る楽しさ、喜び、そして辛さとか、悩むことも、一通り経験しています。今夜ここで登壇していますけれども、根の部分では同じ価値観を共有できる人であると自負をしています。ちょっと余談が入ってしまいましたが、そういう出自の私だったりします。
</p>
<ul>
  <li><a href="https://play.google.com/store/apps/details?id=jp.tokyo1minute.descartes">タワー崩しパズル・デカルトの塔 - Google Play Store</a></li>
  <li><a href="https://geo.itunes.apple.com/jp/app/tawa-bengshipazuru-dekarutono/id528922774?mt=8&at=1000l9yW">タワー崩しパズル・デカルトの塔 - iTunes Store</a></li>
</ul>

<h3>願いは、自作ゲームを多くの人に遊んで欲しい</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_22.png" alt="caption_151217_tkoolmv-opening-event_22" class="alignnone size-full wp-image-2043" />
<p>
そんなカドカワとドワンゴが今夜ここでいろいろ話させていただく前提となる思いを、紹介させていただきたいと思います。我々の思いとしては、自作ゲームを多くの人に遊んで欲しいという事です。個人の世界観がダイレクトに届く面白さが、自作ゲームだと思います。我々としては、皆さんがゲームを通じて伝えたいと思っている、世界や表現を。多くの人に遊んでもらえる世界を、もっともっと大きくしていきたいと考えています。もちろんツクールMVのような個人が簡単に作れるツールがあるからこそだと思います。
</p>

<h3>多くの人に遊んでもらうために</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_23.png" alt="caption_151217_tkoolmv-opening-event_23" class="alignnone size-full wp-image-2044" />
<p>
そういうものを胸にして、面白さを胸に、多くの人に遊んでもらうために、我々がみなさんと一緒にできることとして、この4つ。この順番で、過去3年に行ってきた施策を交えながらお話ししたいと思います。
</p>
<ul>
<li>制作環境をサポート</li>
<li>自作ゲームを広げる</li>
<li>一緒に作品を作る</li>
<li>収益化のお手伝い</li>
</ul>
<p>
最初の制作環境サポートするについては私から。残りの自作ゲームを広げる、一緒に作品を作る、お手伝いは斉藤さんの方から話してもらいます。まず制作環境の話からです。
</p>

<h3>勉強会の開催</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_24.png" alt="caption_151217_tkoolmv-opening-event_24" class="alignnone size-full wp-image-2045" />
<p>
まず勉強会の開催をあげさせていただきたいと思います。すでにいろいろなテーマの勉強会を開催させていただいております。今年は3月に自作ゲームのクリエイター勉強会ということで、スパイクチュンソフトの<a href="https://ja.wikipedia.org/wiki/%E4%B8%AD%E6%9D%91%E5%85%89%E4%B8%80" target="_blank">中村光一さん</a>にゲーム制作についてのお話をいただきました。初期の<a href="https://ja.wikipedia.org/wiki/%E3%83%89%E3%83%A9%E3%82%B4%E3%83%B3%E3%82%AF%E3%82%A8%E3%82%B9%E3%83%88%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA" target="_blank">ドラゴンクエストシリーズ</a>や<a href="https://ja.wikipedia.org/wiki/%E5%BC%9F%E5%88%87%E8%8D%89_(%E3%82%B2%E3%83%BC%E3%83%A0)" target="_blank">弟切草</a>や<a href="https://ja.wikipedia.org/wiki/%E3%81%8B%E3%81%BE%E3%81%84%E3%81%9F%E3%81%A1%E3%81%AE%E5%A4%9C" target="_blank">かまいたちの夜</a>といったサウンドノベルの話など、たくさんのゲーム制作の実体験を自作ゲームのクリエイターの皆さんに話していただいたりしました。あとこの勉強会ではゲーム実況者の<a href="https://twitter.com/sunazame" target="_blank">スナザメさん</a>や<a href="https://twitter.com/nudoing" target="_blank">ぬどんさん</a>にもご参加いただいて、ゲーム実況者目線で自作ゲームをどう見ているか。どうしたらもっと面白くできるかをお話しいただきました。こちらみなさんから見ると右手の方ですね。11月29日に<a href="http://tkoolmv-mokumoku.peatix.com/" target="_blank">第1回 RPGツクールMV もくもく会 and 交流会</a>を開催させていただいております。発売前にも関わらず多くの方に参加していただきました、ありがとうございます。さまざまなテーマについて話し合ったり、実際にデモを作って発表しました。こういう勉強会はですね、来年以降も地方も視野に入れながら開催を計画していきたいと考えています。あと今週日曜日には大阪のツクラーさんが自主的に勉強会(<a href="https://atnd.org/events/72775" target="_blank">「RPGツクールMV」交流＆もくもく勉強会in大阪（12/20）【初心者歓迎】</a>)を開かれるみたいです。皆さん主催の勉強会もどんどん行っていただければと思っています。
</p>


<h3>ツクールMV交流生放送</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_25.png" alt="caption_151217_tkoolmv-opening-event_25" class="alignnone size-full wp-image-2046" />
<p>
あとですね、制作環境のサポートという意味ではこれです。すでにニコニコ生放送で交流放送も開催しています。この放送の趣旨は、ツクールMVの情報を発信しながら、皆さんの声をコメントという形で集めながら交流したいということです。ニコニコ生放送は匿名でコメントが出来るので、コミュニティの掲示板やツイッターだと発言しにくいということがあるかもしれませんが、ニコニコ生放送では気軽に発言できるということですので、明日(2015年12月17日)も22時から放送を行いますので、ぜひアクセスしてご覧いただければと思います。制作環境の話はこんなところです。次は斉藤さんです。
</p>

<h3>自作ゲームとドワンゴの取り組み(39:56)</h3>
<p>
<span class="speaker">斉藤大地</span>
改めて自己紹介させていただきます。ドワンゴの斉藤です。みなさんそろそろ眠くなってくる頃合いかと思いますが、まず私の話をさせてください。私、今28ですが、中学生の頃はネットもPCも持っていなかったのですが、どうやらインターネット上にRPGがたくさん遊べるらしいということは知っておりまして、要するに<a href="http://www.vector.co.jp/" target="_blank">Vector</a>ですね。友達もよく見ておりまして、それをすごくやりたかった。RPGツクールで作られた<a href="http://www.vector.co.jp/soft/win95/game/se254005.html" target="_blank">偽りの神話</a>(作者: d-sakaさん)とか<a href="http://www5c.biglobe.ne.jp/~w-n/n0.html" target="_blank">盗人講座</a>(作者: w-nさん)とか、ものすごくやりたかったのですが、できなくて。ネットのつながる公民館の図書館のパソコンで、RPGツクールで作られたゲームをダウンロードして、しこしこプレイしては、帰ったらデータが消えてて次図書館に行ったら続きが出来ない。という悲しい思いをしつつ、RPGツクールのゲームをプレイをしていた思い出があります。なので、ものすごいRPGツクール、皆さんの中にも僕と同世代や僕より下の世代もいますが、RPGツクールを中高生の時からやっていた方もいると思います。僕自身もRPGツクールにとても思い入れがあったのですが、まさか仕事の席でこのような場所に登壇するとは思っておりませんでした。その中で自作ゲームフェスみたいなものに仕事で関わることになりまして、今回もRPGツクールMVの盛り上げということで、ドワンゴ側から参加させていただいております。ドワンゴで今までやってきた、これからもやっていくことになるのですが、クリエイターのみなさまと一緒にゲームを広げていく施策をご紹介させていただきたいと思います。
</p>

<h3>ニコニコ自作ゲームフェスの取り組み</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_26.png" alt="caption_151217_tkoolmv-opening-event_26" class="alignnone size-full wp-image-2047" />
<p>
まずニコニコ自作ゲームフェスですが、協賛企業の皆様と共に自作ゲームを応援するイベントです。前回は450作品。一応国内一番盛り上がっているコンテストの一つではないかと思います。基本的にゲームを広げるためのコンテストですので、ニコニコの中で拡散しやすい仕組みになっていたり、フェスをきっかけに投稿されたゲームが100万再生になったり。結果、ランキングに上がってくるということも珍しくないケースになっております。また、このように協賛企業の皆様と一緒に二次創作展開できたらと思い、お声がけをしています。自作ゲームフェスに出すことで、とにかく広まって、誰かの目に留まって、プレイされて、そのあとの展開があるということを目指して、こちらから自作ゲームフェスというものがあるのですが、ちょっと見てくれませんかとお声がけさせていただき、協賛企業になっています。
</p>

<h3>メディアミックスとイベントの取り組み</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_27.png" alt="caption_151217_tkoolmv-opening-event_27" class="alignnone size-full wp-image-2048" />
<p>
KADOKAWAの一之瀬さんのプレゼンにもありましたが、最近自作ゲームが書籍化することも多くなっています。こちらツクールの作品が多くなっていますが、ゲームを書籍化して作品を多くの人に知ってもらう助けになればと思って、自作ゲームフェスという場でも出版社の方とお話しして、どうですかという形で協賛賞を設けています。
</p>

<h3>受賞作品の展開</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_28.png" alt="caption_151217_tkoolmv-opening-event_28" class="alignnone size-full wp-image-2049" />
<p>
もちろん発売の際にニコニコの中で露出の協力もさせていただいております。これはドワンゴではありませんが、<a href="http://www.enterbrain.co.jp/entertainment/" target="_blank">えんため大賞</a>という<a href="http://www.enterbrain.co.jp/" target="_blank">エンターブレインさん</a>でやっているコンテストの中にツクールで応募する部門も設立されたということで、これも小説やマンガ化を支援するということです。これも応募は1月下旬ということです。
</p>

<h3>闘会議TVでのユーザ拡大の取り組み</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_29.png" alt="caption_151217_tkoolmv-opening-event_29" class="alignnone size-full wp-image-2050" />
<p>
ニコニコならではの広げ方という点では、生放送ということをやっています。<a href="http://ch.nicovideo.jp/tokaigitv" target="_blank">闘会議TV</a>という毎週ゲームにまつわる放送をやっている番組でですね、ゲーム実況放送などがあるのですが、これは主に自作ゲームを実況している番組で、最近かなり人気が出ていますが、1時間で3万5000人くらいの来場があったり、かなり人気が出てきています。こういう放送から自作ゲームを知ってもらう場になっています。もう一つ、まさにニコニコで人気になる形式に、ぶっ通しゲーム実況。すごい長い時間ゲームをプレイするという実況があります。これは48時間の中で70近い作品を代わる代わるやる。実況者のファンにかかわらず、とにかく色々なゲームをプレイするのを見るのを面白いというファン層が一定数できています。ここでゲームを知ってダウンロードに行くという人もかなり多く、今後もこのような生放送を通して皆様のゲームをユーザに届けられるようにと思ってやっております。
</p>

<h3>各種イベントでの取り組み (44:41)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_30.png" alt="caption_151217_tkoolmv-opening-event_30" class="alignnone size-full wp-image-2051" />
<p>
もちろんリアルでしかないイベント。最近すっかりネット企業であることを忘れられつつあります、ドワンゴは。日経新聞でも、先日角川さんと統合した時には「出版社とイベント企業の合併」という風に報道されたという話を耳にしたのですが。それくらいネット企業であることを忘れられているドワンゴなんですけれども。それだけイベントでは力を入れています。
</p>

<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_31.png" alt="caption_151217_tkoolmv-opening-event_31" class="alignnone size-full wp-image-2052" />
<p>
自作ゲームにまつわる企画もさせていただいています。超ホラーゲームおばけ屋敷。これも僕が担当でやったのですけれども。ニコニコ動画をリアルでだいたい再現するということで、ニコニコ上で話題になっていたホラーゲームを再現してお化け屋敷を製作。ネットで生放送をしたのですが、超会議で一番盛り上がったコンテンツですが、20万人以上の来場がありました。皆さんも製作している自作ゲームの勢いなのかなと思います。製作していただいたタイトルも半分以上ツクールで作られたゲームで、かなり勢いを感じるものでした。
</p>
<p>
闘会議では、自作ゲームエリアというものを作りまして、でかい年表と名作ゲームの展示と、クリエイターの人に来ていただいて、クリエイターの人に相談するというブースを作りました。ここでは、<a href="https://ja.wikipedia.org/wiki/%E4%B8%AD%E6%9D%91%E5%85%89%E4%B8%80" target="_blank">中村光一さん</a>や、<a href="https://ja.wikipedia.org/wiki/%E6%9D%B1%E6%96%B9Project" target="_blank">ZUNさん</a>、著名なクリエイターにゲーム制作についてアドバイスしてもらえる場を作りました。一之瀬さんにも来ていただいて、ツクール上の製作の悩み相談もしていただきました。これは大変好評で、中村光一さんも「個人のクリエイターだったことを思い出した。RPGツクールというツールにも興味がある」という事をお話しされていました。このようにリアルでゲームを広げる活動をドワンゴとしてやっていくつもりです。
</p>
<p>
今、自作ゲームクリエイターと一緒にやらせていただいているのが、私の担当している<a href="http://info.nicovideo.jp/gamemaga/" target="_blank">自作ゲームマガジン</a>です。これは自作ゲームフェスの受賞者さんなどを支援して、一緒にゲームを作っていく企画です。この会場でも一緒にゲームを作らせていただいている方が何人か来ていただいて、ありがとうございますという感じです。編集者としてゲーム企画段階から関わらせていただいております。いつも皆さんのクリエイティビティに驚かされていますし、ツクールの可能性というものを強く感じています。
</p>

<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_33.png" alt="caption_151217_tkoolmv-opening-event_33" class="alignnone size-full wp-image-2054" />
<p>
これは具体的なタイトルになりますが、<a href="http://nanos.jp/hskzkrnkrn/" target="_blank">殺戮の天使</a>というのは、若い女性ユーザーに最も人気のあるゲームの一つです。コミカライズされた第1話が掲載された雑誌は、公称部数8万部くらいあるのですが、それが売り切れまして、増刷した。雑誌が増刷するというのは、すごいニュースです。雑誌が売り切れたというニュースがネットで流れました。ドット絵のキャラクターの細やかな動き、手振り身振りが演劇のようで。それにメッセージを読み取るユーザーが多くて、RPGツクールでの物語表現というものにすごい可能性を感じました。おそらくそういうユーザーはPCを持っていませんので、実況動画で見ている人もいます。今回のMVで若いユーザーに特に広がったのではないかな。と思います。
</p>

<h3>自作ゲームマガジンと商業化(48:12)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_32.png" alt="caption_151217_tkoolmv-opening-event_32" class="alignnone size-full wp-image-2053" />
<p>
もう一つは、tachiさんの<a href="http://is-this-game.doorblog.jp/archives/cat_1208078.html" target="_blank">Hero and daughter</a>。ダウンロードサイトの累計で2位で、自作ゲームフェスでは<a href="https://ja.wikipedia.org/wiki/%E3%83%89%E3%83%A9%E3%82%B4%E3%83%B3%E3%82%AF%E3%82%A8%E3%82%B9%E3%83%88" target="_blank">ドラゴンクエスト</a>、スパイクチュンソフト会長の中村光一さんにゲームのセンスを絶賛されて。「これはもう大賞です。」ということで、大賞を取りました。ネット上で毎週のように、このキャラクターやダンジョンを追加し、ニコニコゲームマガジンでも大き目のアップデートがありました。カジノを入れるとか、家を作る機能を入れるとか。ネット上でゲームをアップロードする。個人製作者はこのようなスピードでアップデートをかけるのは、なかなか難しいんですね。これは多くの男性のプレイヤーだと思いますが、これは去年から今年にかけて最も遊ばれたフリーゲームではないかと思います。小説化もされております。これはどちらもRPGツクール製で、ツクールの可能性を大きく示したタイトルの2つだと思っています。僕も編集として関われて大変光栄に思っております。
</p>

<h3>ニコニコゲームマガジンの連載作品</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_34.png" alt="caption_151217_tkoolmv-opening-event_34" class="alignnone size-full wp-image-2055" />
<p>
自作ゲームフェスの出身作品の<a href="http://info.nicovideo.jp/gamemaga/kokurase/" target="_blank">コクラセ</a>(<a href="https://twitter.com/galanti3" target="_blank">galantiさん</a>作、<a href="https://twitter.com/doromizu89">どろみずさん</a>絵)もあります。コクラセという作品は、アドベンチャー系の作品で、ザッピングというスパイクチュンソフトが得意としてきたノベル上のテクニックですけれども。それがRPGツクールで使われた、意欲的な作品です。これは<a href="https://ja.wikipedia.org/wiki/%E5%BF%97%E5%80%89%E5%8D%83%E4%BB%A3%E4%B8%B8" target="_blank">志倉千代丸さん</a>という<a href="https://ja.wikipedia.org/wiki/STEINS;GATE" target="_blank">STEINS;GATE</a>などを手がけたアドベンチャーゲームの方が、「世界観とかキャラクターが魅力的だ。個人設計じゃないと作れない世界観だ。俺たちだと世界の危機にしてしまう。告白とか教室の中の小さい問題なんだけれども、中二病なんだったら、世界の危機にしちゃうところを、あえて学校の中だけの小さい世界でまとめるのは、個人でしかできない冒険なんじゃないか」と言っており、僕もそうだと思います。RPGツクールみたいなザッピングみたいなシステムを連載できた事は、RPGツクールというツール自体のシステムの可能性を示すものだと思います。しかもMVだとJavaScriptという複雑なものを飲み込めるようになり、もっとかなと思います。
</p>

<p>
<a href="http://info.nicovideo.jp/gamemaga/pharaoh/">ファラオリバース</a>(<a href="http://hp.vector.co.jp/authors/VA036419/">クロボンさん</a>作)について。次は非ツクールではありますが、アクションゲームという高いクォリティが話題になっております。
</p>

<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_35.png" alt="caption_151217_tkoolmv-opening-event_35" class="alignnone size-full wp-image-2056" />
<p>
<a href="http://info.nicovideo.jp/gamemaga/planethowl/" target="_blank">プラネットハウル</a>という作品は、元ツクラーで、今では<a href="http://www.silversecond.com/WolfRPGEditor/" target="_blank">WOLF RPGエディター</a>の作者で有名になった、<a href="http://www.silversecond.net/" target="_blank">Smoking WOLFさん</a>(そして<a href="http://sky.geocities.jp/se_str/" target="_blank">標準誤差StRさん</a>)の作品です。アクションゲームです。もう一つ、Jホラーゲーム。<a href="http://info.nicovideo.jp/gamemaga/uramikko/" tar target="_blank">怨みっ子</a>(<a href="http://imcyan.web.fc2.com/" target="_blank">アイムシアンさん</a>作)はツクール2000の作品ですが、おそらく僕が今までやったゲームの中で最も怖いゲームの一つです。編集者としてテストプレイや見せていただいている時に悲鳴を上げてしまうくらい怖くて。怖いという可能性もあるし、そもそも青鬼をはじめとするツクールをはじめとするホラーゲームは、海外でも広まっています。今回のMVでさらに拡張されるゲームジャンルの一つだと思います。ホラーゲームでRPGツクールで作られたゲームというのは、世界に通用する可能性を秘めていて、その中でもホラーという可能性は、初期のツクールの頃からずっとホラーの可能性を追求しているクリエイターさんなので、それをツクールMVでさらに活躍の場を広げていくことを期待しています。
</p>


<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_36.png" alt="caption_151217_tkoolmv-opening-event_36" class="alignnone size-full wp-image-2057" />
<p>
<p>
この辺りはカドカワさんと一緒にやっている作品ですが、小説連動だったり、作家さんが原作を担当している作品です。商業の作家さんを見ましてシナリオをいただいて作るのは小説、<a href="http://alice.bslogbunko.com/sp_ruica/">心霊写真使い涙歌</a>(ゲーム担当: <a href="http://kanawo.wix.com/teritoma">カヲルさん</a>、小説担当: <a href="http://ameblo.jp/kasaho/">保坂歩さん</a>)という作品です。これはなかなか難しいことです。共同制作って難しいことかなと思うのですが、そんな中で小説より先にゲームにする。コミュニケーションが難しい中で、柔軟にやっていく。ツクールというツールはこれが可能なくらい柔軟なツールです。作者さんが大変柔軟で素晴らしい対応力があったということだと思います。こういう小説連動ができたきた事は、ツクールというツールの可能性を感じていますし、こういう形で様々なところでRPGツクールというツールが使われていくのと思います。
</p>

<a href="http://info.nicovideo.jp/gamemaga/ganma/">銃魔のレザネーション</a>(原作担当: <a href="https://twitter.com/sonzaix" target="_blank">カルロ・ゼンさん</a>、ディレクター: <a href="http://st4d.com/" target="_blank">CB-SXF6さん</a>、システム担当: <a href="http://dyn-industry.xsrv.jp/" target="_blank">下間頼出蔭さん</a>)は昨日リリースされた戦略シミュレーションゲームで、ツクールではないコンストラクションツールで作られています。これはネット発の小説家さんが、今10万部くらい販売されて、そろそろアニメ化されるという若手の新人作家さんです。僕より年下なんですが、もともとフリーゲームが好きで、文化における自作ゲームの影響。そういう影響を強く受けている人が商業作家になっていることを示す一つの作品です。
</p>

<h3>メディアミックスと商業展開の今後について(53:35)</h3>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_37.png" alt="caption_151217_tkoolmv-opening-event_37" class="alignnone size-full wp-image-2058" />
<p>
先ほどまで紹介させていただいた、ニコニコゲームマガジンでクリエイターを支援して一緒にやっている、メディアミックスのお手伝いをしています。例えばデジカさん。このように英語版販売の支援をさせていただいております。Hero and Daughterが世界に羽ばたく。もちろんこれだけではなく、ニコニコゲームマガジンの作品は今後ローカライズをどう支援していく予定があります。他のゲームでも現在準備中です。
</p>
<p>
すいません、とても駆け足で説明しましたが、僕たちはこういうゲームを作ってくれるクリエイターさんを求めております。我々と一緒にゲームを作っていただけるツクラーさんがいらっしゃったら、ぜひ企画をやって、一緒に自作ゲームという世界を盛り上げて、歴史に残るゲームを作るお手伝いをさせていただければと思っています。
</p>
<p>
僕はRPGツクールがゲームの歴史をやり直せるツールだと思っています。というのも、中村光一さんというスパイクチュンソフトの会長である人も、もともと個人製作でゲームを作って、世界に羽ばたいたクリエイターです。中村さんと自作ゲームフェスで審査員をしていたのですが、その時からツクールや自作ゲームの可能性をお話しさせていただきました。ニコニコゲームマガジンの際も、かなり細かい所……例えば「コクラセ」の連載前と連載版には大きな違いがありますが、UIや演出のアドバイスをいただき、ツクールの可能性・ゲームの歴史をやり直せるんじゃないか、という可能性を中村さんと話しています。
</p>
<p>
ものすごい可能性のあるツールで、しかもそれがスマートフォンやブラウザでできる。これはユーザーが一桁ないし二桁違う。そういう環境で、みなさんと一緒にゲームを制作してユーザーに届けるお手伝いを出来る、そういうツールの立ち上げに関われることを、大変光栄に思います。皆様ぜひ、ご一緒にゲームを作らせていただければと思います。よろしくお願いします。
</p>
</section>

<section>
<h2><span class="number">09</span>ニコニコゲーム投稿サイトの準備(56:07)</h2>
<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_38.png" alt="caption_151217_tkoolmv-opening-event_38" class="alignnone size-full wp-image-2059" />
<p>
<span class="speaker">田村幸一</span>
田村です。もう一つ今日、One more thingということで、ご案内させていただきたいことがあります。こちらです。来年春ですがRPGツクールMV製ゲーム投稿サイトというものを、開設予定です。こちらをご紹介させていただきます。いよいよ明日、RPGツクールMV発売されます。
</p>
<p>
先ほども皆さんいろいろ話題がありましたけれども、ツクールMVですごい話題を呼んでいるところが、Windows/Mac/スマホ/ウェブブラウザまで取り込んだマルチプラットフォーム対応ですとか、HTML5とかJavaScriptをベースにゲームビルドできる点です。いうなれば、皆さんの作品はもっと世の中に出て行くチャンスが大きくなったというわけです。
</p>
<p>
これまでツクールではWindows上でしか動きませんでしたけれど、今度のツクールMVは違います。皆さん作りたいと思っているゲームにマッチするプラットフォームを、皆さん自身が選択できるということです。そしてツクールMVで作られた作品が様々なブラウザ環境で動きます。これはネットとツクール作品の新たな融合。新しい波。ゲームの世界にとって無視できない動きと言えるでしょう。
</p>
<p>
世界的な流れを見ると、HTMLゲームの注目度はどんどん上がっています。ここでわれわれはみなさまのつくったツクールゲームをニコニコユーザを始めとする皆さんに遊んでもらえる環境を準備してまいります。もちろん皆さんの収益化のお手伝いも、このプラットフォームで担えればと思っておりますので、ぜひご期待ください。
</p>

<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_39.png" alt="caption_151217_tkoolmv-opening-event_39" class="alignnone size-full wp-image-2060" />
<p>
今日のまとめです。
「制作環境をサポートする話」「自作ゲームを広げるという話」「収益化のお手伝いの話」これを踏まえた上で「来年の春には投稿サイト」の方を準備させていただきます。今後の交流放送も通じて情報発信もしていきます。あと角川さんの方もツクール公式アカウントでもアナウンスしていければと思います。
</p>
<p>
今夜いろいろ話しましたがこれまでのツクールの歴史と同様、JRPGという長く使い続けているゲームコマンドの中で、新しい発見やゲームがRPGツクールMVを通じて、個人の手で生まれてくるものだと私たちは信じています。その面白さや喜びを、多くの人に伝え、遊んでもらえるために、我々はみなさんと一緒に制作環境を整えたりしていきたいと思っております。そして最終的にはプラットフォーム、投稿サイトをつないでいって、ニコニコのユーザーさんとかにアピールしていきたいと思っております。
</p>

<img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_40.png" alt="caption_151217_tkoolmv-opening-event_40" class="alignnone size-full wp-image-2061" />
<p>
最初に話しましたが、我々がツクール、みなさんが作るゲーム、個人や小規模で作る、自作ゲームを作ったり遊んだりする事を愛しているからに他なりません。もちろん、自作ゲームの面白さを伝えていく実況動画を見ることも大好きです。HTMLやJavaScriptの技術を身にまとったマルチプラットフォーム対応のツクールMVはみなさんのゲームを一気に広げてくれるチャンスでもありますし、我々も先ほど話した思いを大切に、協力し、一緒にみなさんの作品を盛り上げていきたいと思っています。過去にも名作がツクールから生まれたのと同様に、RPGツクールMVで新たなヒット作が登場するということを、願って、我々の発表を終了させていただきます。ご静聴ありがとうございました。
</p>
</section>

<section>
<h2><span class="number">10</span>ツクラートークセッション (59:48)</h2>
<p>
<span class="speaker">市橋美月</span>
田村さん、斉藤さんありがとうございました。ここまでプレゼンテーションをお送りしてきましたが、最後にRPGツクールMVサンプルゲーム製作者の皆様をお呼びしてのトークセッションに移らせていただきます。それではセッションにご登場する方をご紹介いたします。<a href="http://is-this-game.doorblog.jp/archives/cat_1208078.html" target="_blank">tachiさん</a>、<a href="http://tetsu0910a.wix.com/hanapapastudio" target="_blank">花姫パパさん</a>、株式会社KADOKAWAの一之瀬裕之さんです。どうぞ皆様、前にお越しください。
</p>

<h3>ツクール使用歴について</h3>
<p>
<span class="speaker">市橋美月</span>
さあ、それでは早速始めていきたいと思います。まずはtachiさんと花姫パパさんへの質問からまいりたいと思います。お二人のツクール歴として、どのバージョンから、何年くらいご使用されているのか。またそのツクールを手にしたきっかけを教えていただきたく思います。では、tachiさんからお願いいたします。
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__tachi.png" alt="tachi" class="alignnone size-full wp-image-2120 speaker_face" />tachi</span>
僕が初めてRPGツクールをやったのは友達の家にいるとき小学校1年生くらいのときです。スーパーファミコンのRPGツクールがありまして。友達と一緒に作りあいっこして遊んでみて、じゃあ今度俺が遊ぶというやりあいっこをしたのが、始まりだったのかなと思います。
</p>
<p>
<span class="speaker">市橋美月</span>
ありがとうございます。次は花姫パパさんお願いします。
</p>
<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__hanabi-papa.png" alt="花姫パパ" class="alignnone size-full wp-image-2122 speaker_face" />花姫パパ</span>
僕もですね、小学校の頃に確かゲームの広告が家に入っていて。そこでたまたまRPGツクールのSuper DANTEだったかな。それを見て、タイトルが割と衝撃的で。RPGツクールって何だと思って。興味本位で最初に買って、そこからやらない期間も結構あったのですが、15年とか、それくらいはRPGツクールで触れていると思います。以上です。
</p>

<h3>サンプルゲーム作者の選定について(61:57)</h3>
<p>
すごい長い期間、ツクールに触れていることになりますが。続いて、一之瀬さんに質問したいと思います。今回RPGツクールMV向けのサンプルゲームやマップを様々なクリエイターさんに制作していただいたのですが、今回作っていただいた9名のクリエイターさんの選定はどのようにされたのでしょうか。
</p>

<p>
<span class="speaker">一之瀬裕之</span>
まずですね、実際にあった方々、お会いできた方々というところから、お声がけをしました。ここにいらっしゃる、tachiさんも<a href="http://ch.nicovideo.jp/indies-game" target="_blank">自作ゲームフェス</a> 第4回の授賞式に参加させていただきまして、実際にお会いしてお話をさせていただいたという経緯があります。他には、アイムシアンさんも闘会議でお話させていただき、しっかり作っていただけると確信を持てましたので、その他のメンバーの方々に関しても、古参のツクラーの方々も、サンプルゲームがどういうものかよく理解されている方々にもお声がけさせていただき、参加していただくという形をとらせていただきました。
</p>

<h3>苦労した部分</h3>
<p>
<span class="speaker">市橋美月</span>
そのように選定されたクリエイターさんとのやり取りは、なかなか大変だったんじゃないかなと思います。ここだけの話、どなたが一番大変でしたか。
</p>
<p>
<span class="strong_gray">会場笑</span>
</p>

<p>
<span class="speaker">一之瀬裕之</span>
そうですね、あのー、特定のお名前を出すのは問題があると思うんですが。大変なことは実はあまりなくてですね。逆にサンプルゲームを開発される方というのは、α版やβ版という段階で参加されます。しかもお仕事を持っていらっしゃる方は、おかえりになってから開発を始める。時間的に大変な部分もあり、また開発が同時進行しているということで、例えばグラフィックが揃っていないですとか、そういう状況の中で工夫してサンプルゲームを開発してくださった。というところがあります。僕個人は非常に感謝感謝の一言ですね。よくみなさんこの短期間の中で新しいバージョンを、ベータの頃から作り上げてくださり、非常に感謝をしております。
</p>

<h3>サンプルゲームの制作期間 (64:54)</h3>
<p>
<span class="speaker">市橋美月</span>
クリエイターさんたちを代表するtachiさんと花姫パパさんのお二人なのですが、今回サンプルゲーム制作にあたり、制作時間はどれくらいあったのでしょうか。では、tachiさんからお願いします。
</p>

<p>
<span class="speaker">一之瀬裕之</span>
<span class="strong_gray">(会場前列に座っていたアイムシアンさんに向かって)</span>壇上で喋りませんか?
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__imcyan.png" alt="speaker_face__imcyan" class="alignnone size-full wp-image-2121 speaker_face" />アイムシアン</span>
まいったなー
</p>

<p>
<span class="speaker">市橋美月</span>
ではよろしければ、ご一緒にどうぞ。<span class="strong_gray">(アイムシアンさんが、トークセッションに加わる)</span>
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__tachi.png" alt="tachi" class="alignnone size-full wp-image-2120 speaker_face" />tachi</span>
僕の場合はですね、始まったのがニコニコゲームマガジンの方で<a href="http://is-this-game.doorblog.jp/archives/cat_1208078.html" target="_blank">Hero and daughter</a>の方の制作に取りかかっていて。それで遅れ気味のスタートだった。なので、2か月くらいで作ったと思うのですが。最初、海の物語を作ろうと思って、「Sea Pirate」というゲームを作ろうと思ったのですけれど、せっかくMVのサンプルゲームを作らせていただけるとのことだったので、すごいものを作ろうとしちゃったんですね。それでエターなりそうになりながら。結構やばかったです。普通の、最初の大きな海をイメージして、海を広くして行ったのですが、どんどんどんどん海が小さくなって、最後池みたいになっちゃったのですが。まあしょうがないかなということで、なんとかエターならないで、完成しました。
</p>

<p>
<span class="speaker">市橋美月</span>
続いて、花姫パパさん
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__hanabi-papa.png" alt="花姫パパ" class="alignnone size-full wp-image-2122 speaker_face" />花姫パパ</span>
僕はサンプルゲームではなくて、ツクールMVに収録されるサンプルマップを担当させて貰ったのですけれど。今回、RPGツクールMVのサンプルに関して「100マップ作ってくれ」というお題が来まして。で、僕もこういう経験がほとんどなかったので、出来るか不安だったのですが、受けさせて頂いて。今回、皆さんご存知の通り、SFのマップチップが同時に収録されるということで。これも初めて扱うようなタイルだったので、VX Aceから少し変わっていて、大変だったのですけれど。
グラフィックのお話がありましたが、最初にファンタジー素材、今までのタイルチップが出来上がってきて、それを最初に50個作りました。どれくらいのペースで作れば良いのかが、ちょっとわからなかったのですが、とにかく急いで出そうと思って、1週間くらいで色々参考にしながら作らせてもらったのですけれど。その後に今回MVで実装された、Bタイル以上の重ねて配置できる仕様がありまして。最初はすごいなと思ってポンポン置いていったら、テストプレイしてみたらぐちゃぐちゃなマップが最初出来上がってしまって。最初その辺の方で開発の方にご迷惑をおかけしてしまい、修正がかなり入りまして。そのあとSFのマップタイルが出来上がって。今度は大丈夫だろうと思って、これも1週間くらいで、とにかく急いで作ろうと思って。こちらも前の50個がなんとか経験できていたので、今回はちゃんと無事に100マップ、ちょっとオマケで4つくらいつけて、やらせてもらいました。
</p>

<p>
<span class="speaker">市橋美月</span>
ありがとうございます。続いては、念のためお名前からよろしいでしょうか。
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__imcyan.png" alt="speaker_face__imcyan" class="alignnone size-full wp-image-2121 speaker_face" />アイムシアン</span>
<a href="http://imcyan.web.fc2.com/" target="_blank">アイムシアン</a>と申します。よろしくお願いいたします。ええと、何を話せば……。
</p>

<p>
<span class="speaker">市橋美月</span>
何でも良いですが、話を広げていただいて……。
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__imcyan.png" alt="speaker_face__imcyan" class="alignnone size-full wp-image-2121 speaker_face" />アイムシアン</span>
サンプルゲームを。私もtachiさんと同じで、とにかくすごいものを作ろうと思って、力んで作ってしまったのがはじめでした。ボイスを入れたり、音楽を入れたり、イラストレーターの方にいっぱい注文して頼んで作ったり。初めて、数ヶ月経ったところで、「ああ、これはエターなりそうだな」と。そのとき同時に次のニコニコゲームマガジンでも連載していたので、時間が取りづらかったのもありますので、今の形のサンプルゲームにたどり着いた形になります。苦労したところは、全部です。
</p>

<h3>ツクールMVの感想(70:05)</h3>
<p>
<span class="speaker">市橋美月</span>
皆さんそれぞれ色々な点で苦労されているのですが、今回RPGツクールMVを先行して使っていただいたのですが、感想をお伺いしたいのですが、tachiさんからお願いします。
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__tachi.png" alt="tachi" class="alignnone size-full wp-image-2120 speaker_face" />tachi</span>
僕の勘違いでなければ良いのですが、マップの読み込みがすごく早くなったなと思います。VX Aceと比較していたのですが、VX Aceはマップの読み込みが多分、0.5秒とかかかるのですが、MVは0.1秒で終わる。これがすごい。(ツクールって)なんだかんだ、画面の切り替えが発生するので、それがストレスフリーだなと感じました。あとは、これ、僕って本当に細かい人間なのですが、VX Aceでは、僕の環境のせいかも分かりませんが、アイテムをスクロールするときに、ニュッてなるんですけれど……。あ、どうですか。私だけですか。わからないですかね? MVは、マウスでスクロールすると、素直にカタカタカタッって行くのが僕の中では良かったなってところです。僕の中で大きいのはこの2点です。

<p>
<span class="speaker">市橋美月</span>
次は花姫パパさんお願いします。
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__hanabi-papa.png" alt="花姫パパ" class="alignnone size-full wp-image-2122 speaker_face" />花姫パパ</span>
僕はマップ制作をひたすらやっていたので、エディターの話はあまりできないのですが。せっかくなのでマップに関して言えば、レイヤー機能が改善されて、今までBタイルからEタイルの重ね置きができなかったのですが。最初はこんな機能なくても良いかなと実は思っていたのですが、今回大量にマップを作らせていただいて、やっぱりあると無いとでは、制作速度が明らかに違う。今までイベントとかで重ねて置いたり、実際に苦労して作ったり。意外と無意識のうちにポンポン作れて、表現の幅が増えて、すごく良い機能だったなと思います。以上です。
</p>
<p>
<span class="speaker">市橋美月</span>
続いて(アイムシアンさん)お願いします。
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__imcyan.png" alt="speaker_face__imcyan" class="alignnone size-full wp-image-2121 speaker_face" />アイムシアン</span>
僕もサンプルゲーム作成していた時に、Bタイルの機能に注目しまして。オブジェクトの上に影をつけられたりして、これは新しい機能として面白いなと思いました。今までRPGツクール2000しか使っていなかったので、解像度が高くなって。私も仕事でデザインをしておりますので、革命的に大きくなっていいなぁと思いました。だいぶ違いましたねー。しかもプラグインも使える。本当にこれは画期的で、もうこれしかないなと思った次第です。
</p>

<h3>一之瀬プロデューサーの感想(73:30)</h3>
<p>
<span class="speaker">市橋美月</span>
一之瀬さん、皆さんの感想を聞いていかがですか。
</p>

<p>
<span class="speaker">一之瀬裕之</span>
そうですね、とにかく感謝しかないので、ありがとうございます。サンプルゲームを作っている時って、ある意味クローズドベータで。一緒にMVをいい方向に持って行ってくださる、意見を吸い上げる場でもありまして。実はサンプルゲームを作っている時に、新機能がポコポコポコと決まった経緯もありまして。なかなかサンプルゲームに参加できる機会ってないと思うのですが、僕にとってはみなさんと一緒に作っているという実感があって、非常に嬉しく思いました。
</p>

<h3>今後の制作予定について(74:19)</h3>
<p>
<span class="speaker">市橋美月</span>
ありがとうございます。最後に今後の活動予定やツクールでの次回作プランがありましたら、教えてください。tachiさんからお願いできますか
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__tachi.png" alt="tachi" class="alignnone size-full wp-image-2120 speaker_face" />tachi</span>
多分話して良いと思うのですが……。ゾンビゲームが作りたいな、MVで。ちょっと野心を燃やしています。ゾンビゲームっていうのが、VX Aceで3回くらいエターなったんですよね。ちょっと怖いんですけれど、今度こそ作りたい。今度こそリベンジするつもりです。作ると思います。そういう予定で行きます。
</p>

<p>
<span class="speaker">市橋美月</span>
頑張って下さい、ありがとうございます。では花姫パパさんお願いします。
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__hanabi-papa.png" alt="花姫パパ" class="alignnone size-full wp-image-2122 speaker_face" />花姫パパ</span>
僕はまだVX Aceですごく作りたい作品が残っていますので、そちらをエターならないように、まずは完成させたいと思います。MVの方に関しては、そっちが落ち着いたあたりで、エディターをたくさん触ってみたいので、そちらを一本作りたいなと思っています。あと個人的ですが、ニコニコ生放送もやっていまして、そちらでRPGツクールの制作配信みたいなのを、ちょっと需要があるかないか分からない配信もやっていますので。そちらも色々なツクラーさんと作っていけたらいいなぁと思っています。以上です。
</p>

<p>
<span class="speaker">市橋美月</span>
ありがとうございます。
</p>

<p>
<span class="speaker"><img src="http://tomotaka.tk/wp-content/uploads/2015/12/speaker_face__imcyan.png" alt="speaker_face__imcyan" class="alignnone size-full wp-image-2121 speaker_face" />アイムシアン</span>
死ぬほど怖いホラーゲームを作りたいと思っています。世界に通用するような。死ぬほど怖いホラーゲームを作りたいと思っています。宜しくお願い致します。
</p>

<p>
<span class="speaker">市橋美月</span>
ありがとうございます。皆さんも楽しみにしていただければと思います。以上でトークセッションは終了とさせていただきます。ありがとうございました。
</p>
</section>

<section>
<h2><span class="number">11</span>後日談的な</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_151217_tkoolmv-opening-event_41.png" alt="懇親会でもらったお土産品" width="820" height="240" class="size-full wp-image-2139" /><p class="wp-caption-text">懇親会でもらったお土産品</p></div>
<p>
イベント修了後の懇親会では、実況者・サンプルゲーム作者・ツクラーなどがワイワイと座談し、和やかな雰囲気で終わりました。希望者20名ほどは二次会になだれ込み、HUBでツクール談義に華を咲かせました。
</p>
<p>
会場から出る際、お土産品を頂きました。「ツクラー魂」と書かれたトートバック<span class="strong_gray">(どこで使えば良いのやら……)</span>と、RPGツクールMVのロゴ入りUSBメモリでした。USBメモリの中には、何もデータは入っていませんでした。
</p>
</section>

<section>
<h2><span class="number">12</span>出典、引用、編集について</h2>
<p>
<h3>編集項目</h3>
<dl>
  <dt>各種画像</dt>
  <dd>解像度が低く見にくかった画像や、人の頭で隠れた画像は、権利に準拠する形で画像を独自に再生成しました。レイアウト・文面・画像内容は基本的に同一です。ただし、次の3点に抵触するスライドは、元の写真のまま表示・引用しています。
    「ブランドガイドラインで使用不可が宣言された企業ロゴ等」「プレゼンテーションに使われている画像だが、ライセンス不明のインターネット上の画像」「再現が難しい画像(開発中画面など)」</dd>
  <dt>RPGツクールの歴史(17:06)の画像</dt>
  <dd>一之瀬裕之さんの発表で、RPGツクール2000の発売日が1997年3月となっていますが、正しくは2000年4月です。</dd>
</dl>
<h3>「自作ゲームを広げる 受賞作品の展開」で紹介された作品一覧</h3>
<table>
  <thead>
    <tr>
      <th class="nowrap">ジャンル</th>
      <th>作品名</th>
      <th>作者名</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ゲーム</td><td><a href="http://www.torquel.net/" target="_blank">TorquL</a></td><td>FullPowerSideAttack.com</td></tr>
    <tr><td>ゲーム</td><td><a href="http://teamtandsplus.wix.com/teamtands" target="_blank">Hacker's Beat</a></td><td>TEAM TANDS+</td></tr>
    <tr><td>映画</td><td><a href="http://imcyan.web.fc2.com/" target="_blank">死臭 つぐのひ異憚</a></td><td>ImCyan(アイムシアン)</td></tr>
    <tr><td>書籍</td><td><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4047308986" target="_blank">幻想乙女のおかしな隠れ家</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></td><td>黒川 実 (著), 高崎 とおる (著), 烏羽 雨 (イラスト), (原作)ブリキの時計 (その他)</td></tr>
    <tr><td>書籍</td><td><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4041022762%2F" target="_blank">クロエのレクイエム</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></td><td>黒川 実  (著), 高崎 とおる (著), 市ノ瀬 雪乃 (イラスト), ブリキの時計 (その他)</td></tr>
    <tr><td>書籍</td><td><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4041028531%2F" target="_blank">ダンス・マカブル 追憶の迷宮</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></td><td>黒田 研二 (著), 鈴羅木 かりん (イラスト), 小麦畑 (その他)</td></tr>
    <tr><td>書籍</td><td><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F404730848X" target="_blank">りるれふ - 赤ずきんと鏡の中の人狼</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></td><td>むらさき (著), 春太郎 (イラスト), (原案)春紫 (その他)</td></tr>
    <tr><td>書籍</td><td><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4047307475" target="_blank">雨宿バス停留所</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></td><td>城崎 火也 (著), 時々 (イラスト), (原作)月の側面 (その他)</td></tr>
    <tr><td>書籍</td><td><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4569826210%2F" target="_blank">LiEat (ライート) </a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></td><td>△○□×(みわしいば) (著, イラスト)</td></tr>
    <tr><td>書籍</td><td><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4047306649" target="_blank">クリーチャーと恋しよっ♪</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></td><td>よしのよしゆき (著), モーセル (イラスト)</td></tr>
  </tbody>
</table>

<h3>「一緒に作品を作る ニコニコゲームマガジン連載作品」で紹介された作品一覧</h3>
<table>
  <thead>
    <tr>
      <th class="nowrap">ジャンル</th>
      <th>作品名</th>
      <th>作者名</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ゲーム</td><td><a href="http://info.nicovideo.jp/gamemaga/kokurase/" target="_blank">コクラセ</a></td><td>galanti</td></tr>
    <tr><td>ゲーム</td><td><a href="http://info.nicovideo.jp/gamemaga/pharaoh/" target="_blank">ファラオリバース</a></td><td>クロボン</td></tr>
    <tr><td>ゲーム</td><td><a href="http://info.nicovideo.jp/gamemaga/planethowl/" target="_blank">プラネットハウル</a></td><td>SmokingWOLF / 標準偏差StR</td></tr>
    <tr><td>ゲーム</td><td><a href="http://info.nicovideo.jp/gamemaga/uramikko/" target="_blank">怨みっ子</a></td><td>ImCyan(アイムシアン)</td></tr>
    <tr><td>ゲーム</td><td><a href="http://info.nicovideo.jp/gamemaga/ruica/" target="_blank">心霊写真使い涙歌</a></td><td>カナヲ</td></tr>
    <tr><td>ゲーム</td><td><a href="http://info.nicovideo.jp/gamemaga/ganma/" target="_blank">銃魔のレザネーション</a></td><td>カルロ・ゼン / C8-SXF6 / 下間頼出陰</td></tr>
    <tr><td>ゲーム</td><td><a href="http://info.nicovideo.jp/gamemaga/had/" target="_blank">Hero and Daughter</a></td><td>tachi</td></tr>
  </tbody>
</table>

<h3>謝辞</h3>
<p>
大急ぎで書き上げた記事ゆえに、多数の誤字脱字がございました。指摘して頂いた、<a href="https://twitter.com/gamecome111" target="_blank">111さん</a>、ありがとうございます🙇。
</p>
</section>
