<!--
RPGツクールMV概要
tkoolmv-overview
2015/12/01 22:43

アドベントカレンダー1日目という事で、ツクールMVの全体像を紹介します。「ツクールMVを採用するかどうか」「開発に必要な技術情報は何か」「ツクールMV開発の問題点は」を書いています。
 -->
<section>
<h2><span class="number">01</span>はじめに</h2>
<p>
<a href="https://tkool.jp/mv/" target="_blank">RPGツクールMV</a>、ついに<a href="http://dl.tkoolmv.com/tkool-mv-trial" target="_blank">体験版が公開</a>されましたね。予約特典も発表され、発売まであと約2週間。楽しみですねー!!😆。
</p>

<p>
ツクールMV発売にあわせて、<a href="http://qiita.com/advent-calendar/2015/rmmv" target="_blank">RPGツクールMV Advent Calendar 2015</a>が始まりました。アドベントカレンダーとは、12月1日～12月25日まで、順番にブログを書いていくリレー企画です。私(トモタカ)は1日目と25日目を担当します。よろしくお願いします。
</p>
<p>
Qiitaとは別に、完全初心者向けの<a href="http://www.adventar.org/calendars/1184" target="_blank">初心者の為の、ツクールMV Advent Calendar 2015</a>も作りました。まだ1日目の原稿すら書いていませんが、海外時差で12月1日って事でご容赦をば💦。コツコツ毎日書いていこうと思います。
ちなみに<a href="https://twitter.com/iyokan_nico" target="_blank">伊予柑</a>さんが企画した<a href="http://www.adventar.org/calendars/1119" target="_blank">RPGツクールMV(なんでもあり) Advent Calendar 2015</a>もありますので、ギークな方も、ゆるめな方も、好きな場所で楽しめればいいなぁと思います。
</p>

<p>
1日目はこの記事「<span class="strong_red">RPGツクールMV 概要</span>」と題しまして、RPGツクールMVの全体像と技術について、浅く広く取り扱います。また、それぞれの技術情報に関して、参考リンクや書籍も記しました。
</p>

<ul>
<li>ツクールMVを採用するかどうか</li>
<li>開発に必要な勉強方法は何か</li>
<li>ツクールMV開発のハマりポイントと問題点</li>
</ul>

<p>
を知りたい方向けです。序盤は初心者向け、後半はエンジニア・コアユーザー向けの内容です。また、購入時のポイント、参考リンクもまとめています。
</p>
</section>

<section>
<h2><span class="number">02</span>RPGツクールとは?</h2>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_001.png" width="820" height="240"  class="size-full" /><p class="wp-caption-text">RPGツクールMVのイメージイラスト</p></div>
<p>
RPGツクールとは、パソコンで簡単にゲームを作るソフトウェアです。<a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%B3%E3%82%B9%E3%83%88%E3%83%A9%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3%E3%83%84%E3%83%BC%E3%83%AB" target="_blank">コンストラクションツール</a>と呼ばれるジャンルに属します。<a href="https://ja.wikipedia.org/wiki/%E3%83%84%E3%82%AF%E3%83%BC%E3%83%AB%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA" target="_blank">ツクールシリーズ</a>は20年以上の歴史をもつ息の長いソフトで、開発・販売母体は<a href="https://ja.wikipedia.org/wiki/%E3%82%A2%E3%82%B9%E3%82%AD%E3%83%BC_(%E4%BC%81%E6%A5%AD)" target="_blank">アスキー</a>、<a href="https://ja.wikipedia.org/wiki/%E3%82%A8%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%96%E3%83%AC%E3%82%A4%E3%83%B3" target="_blank">エンターブレイン</a>、<a href="https://ja.wikipedia.org/wiki/KADOKAWA" target="_blank">KADOKAWA</a>と変わりつつも継続的にリリースされています。販売されたプラットフォームも<a href="https://ja.wikipedia.org/wiki/%E3%82%B9%E3%83%BC%E3%83%91%E3%83%BC%E3%83%95%E3%82%A1%E3%83%9F%E3%82%B3%E3%83%B3" target="_blank">スーパーファミコン</a>、<a href="https://ja.wikipedia.org/wiki/PlayStation_(%E3%82%B2%E3%83%BC%E3%83%A0%E6%A9%9F)" target="_blank">PlayStation</a>、<a href="https://ja.wikipedia.org/wiki/%E3%83%8B%E3%83%B3%E3%83%86%E3%83%B3%E3%83%89%E3%83%BCDS" target="_blank">ニンテンドーDS</a>、<a href="https://ja.wikipedia.org/wiki/Microsoft_Windows" target="_blank">Windows PC用ソフト</a>など多岐にわたります。
主な特徴として
</p>

<ul>
  <li>パソコン初心者でも簡単にゲームが作れる<span class="strong_gray">(Word/ExcelをたしなむレベルでOK)</span></li>
  <li>マップエディタにスイッチ(イベント)を配置する事で、プログラミングせずにゲームが作れる</li>
  <li>2Dゲームの制作が主流</li>
  <li>パッケージ販売なので家電量販店で買える</li>
</ul>

<p>
というポイントがあります。
最新版であるRPGツクールMVは、英語版は2015年10月25日、日本語版は2015年12月17日に発売されます。
</p>
</section>

<section>
<h2><span class="number">03</span>RPGツクールMVの特徴と新機能</h2>
<p>
前作の<a href="http://tkool.jp/products/rpgvxace/index" target="_blank">RPGツクールVX Ace</a>に比べ、大きな変化があります。
</p>

<h3>マルチプラットフォーム対応</h3>
<div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_002.png" width="820" height="240"  class="size-full" /><p class="wp-caption-text">HTML形式をベースに、さまざまなプラットフォームに対応しました。</p></div>
<p>
<a href="https://ja.wikipedia.org/wiki/Microsoft_Windows" target="_blank">Microsoft Windows</a>、<a href="https://ja.wikipedia.org/wiki/OS_X" target="_blank">Mac OSX</a>、<a href="https://ja.wikipedia.org/wiki/Android" target="_blank">Google Android</a>、<a href="https://ja.wikipedia.org/wiki/IOS_(%E3%82%A2%E3%83%83%E3%83%97%E3%83%AB)" target="_blank">Apple iOS</a>(<a href="https://ja.wikipedia.org/wiki/IPhone" target="_blank">iPhone</a>や<a href="https://ja.wikipedia.org/wiki/IPad" target="_blank">iPad</a>の事)、そして<a href="https://ja.wikipedia.org/wiki/%E3%82%A6%E3%82%A7%E3%83%96%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6" target="_blank">ウェブブラウザ</a>用に<a href="https://ja.wikipedia.org/wiki/HyperText_Markup_Language" target="_blank">HTMLゲーム</a>も出力可能です。それに伴い、数多くの変更があります。
</p>

<ul>
  <li>スマートフォンではタッチ操作、PCではマウス移動が可能になりました。
    <ul>
    <li>PC版では従来通りキーボード操作も可能です。</li>
    </ul>
  </li>
  <li>複数プラットフォームに対応させる為、oggファイル、m4aファイルを両方用意する必要があります。
    <ul>
    <li>PCとスマホで読み込むファイルが違うので、見落とし注意です。</li>
    </ul>
  </li>
</ul>

<h3>画像サイズの拡大</h3>
<p>
RPGツクールVX Aceに比べ、画像素材サイズは1.5倍になりました。一例として、顔グラフィック素材の倍率比を記します。
</p>

<table>
  <tr>
    <th></th>
    <th>MV基準</th>
  </tr>
  <tr>
    <th>2000, 2003</td>
    <td>3.0倍</td>
  </tr>
  <tr>
    <th>XP</th>
    <td>1.2倍</td>
  </tr>
  <tr>
    <th>VX, VX Ace</td>
    <td>1.5倍</td>
  </tr>
</table>

<p>
過去のツクールからの変換は、素材規格を合わせて読み、修正する必要があります。
</p>
<ul>
  <li><a href="http://wikiwiki.jp/piporpg/?RPG%A5%C4%A5%AF%A1%BC%A5%EB%A4%C8%A4%CE%C8%E6%B3%D3" target="_blank">RPGツクールとの比較 - はじめてのウディタ 挫折して再び Wiki</a></li>
  <li><a href="https://tkool.jp/products/rpgxp/material" target="_blank">ツクールXP 素材規格</a></li>
  <li><a href="https://tkool.jp/products/rpgvx/material" target="_blank">ツクールVX 素材規格</a></li>
  <li><a href="https://tkool.jp/mv/course/04.html" target="_blank">ツクールMV 素材規格</a></li>
</ul>

<h3>JavaScriptプラグイン</h3>
<p>
RPGツクールXP, VX, VX Aceで採用されてきた、<a href="https://ja.wikipedia.org/wiki/RGSS" target="_blank">RGSS</a>(<a href="https://ja.wikipedia.org/wiki/Ruby" target="_blank">Ruby</a>ベース)が、<a href="https://ja.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>に変更となりました。しかし基本的なAPI命令は前作のツクールVX Aceと変わりません。よってRGSSの知識はMVプラグイン開発でも役立ちます。
</p>

<h3>RTPの廃止</h3>
<p>
過去のRPGツクールは、RTP(ランタイムパッケージ)と呼ばれるソフトウェアのインストールが必要でした。それが廃止となります。
RTPのメリットは、素材データをあらかじめPCにインストールする事で、ゲームファイルの配布容量を小さくできる事でした。デメリットとしてRTPをインストールしないとゲームが起動しないので面倒でした。
ツクールMVでRTPがなくなった事は、プレイヤーの手間がなくなった代わりに、ゲームファイルの容量肥大化に繋がります。</p>

<h3>フロントビューバトル/サイドビューバトルを両方搭載</h3>
<p>チェックボックスひとつで切り替え可能です。</p>

<h3>Mac OSX対応</h3>
<p>
過去のツクールはWindowsのみに対応でしたが、Mac OSX版も販売されます。ただしMac版はSteamからのダウンロードになるので購入時に間違えないように注意してください。
</p>
</section>

<section>
<h2><span class="number">04</span>他のゲーム制作ツールとの比較</h2>
<p>
ゲーム制作環境として、類似のソフトウェアには、Unity、Unreal Engine、Adobe Flashなどが存在します。それぞれの特徴と違いを簡単にまとめます。
</p>

<table>
  <thead>
    <tr>
      <th>ソフトウェア名</th>
      <th>価格</th>
      <th>2Dゲーム制作</th>
      <th>3Dゲーム制作</th>
      <th>プログラミング言語</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="http://japan.unity3d.com/" target="_blank">Unity 5</a>
      </td>
      <td>無料 (高機能版は有料)</td>
      <td>⭐️⭐️</td>
      <td>⭐️⭐️⭐️</td>
      <td>
        <a href="https://ja.wikipedia.org/wiki/C_Sharp" target="_blank">C#</a>,
        <a href="https://ja.wikipedia.org/wiki/JavaScript" target="_blank">UnityScript(JavaScript)</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.adobe.com/jp/products/flash.html" target="_blank">Flash CC(Animate CC)</a>
      </td>
      <td>月額2180円から</td>
      <td>⭐️⭐️⭐️</td>
      <td>⭐️⭐️</td>
      <td>
        <a href="https://ja.wikipedia.org/wiki/ActionScript" target="_blank">ActionScript</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.unrealengine.com/ja/" target="_blank">Unreal Engine 4</a>
      </td>
      <td>無料 (売り上げの5%を支払う)</td>
      <td>⭐️</td>
      <td>⭐️⭐️⭐️</td>
      <td>
        <a href="https://ja.wikipedia.org/wiki/C%2B%2B" target="_blank">C++</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://tkool.jp/mv/" target="_blank">RPGツクールMV</a>
      </td>
      <td>13842円</td>
      <td>⭐️⭐️⭐️</td>
      <td>⭐️</td>
      <td>
        <a href="https://ja.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
      </td>
    </tr>
  </tbody>
</table>

<p>
<span class="strong_gray">情報は2015年12月1日時点のものです。上記表はわかりやすさを優先した簡易表記としています。正確な情報は各社公式ウェブサイトからお問い合わせ下さい。</span>
</p>

<p>
ツクールMVの立ち位置を1行で示すと。
<span class="strong_red">13842円ポッキリで、2Dゲームを、初心者でも手軽に作れる。色々やるならJavaScriptで拡張可能。</span>
という事になります。他の3種のソフトウェアは、ツクールに比べ圧倒的に多機能ですが、その分あつかう為のスキルも必要になります。
</p>

<p>ほかにもジャンルに合わせたゲーム制作支援ツールは多数あります。ツクールに似た多機能RPGエディタ<a href="http://www.silversecond.com/WolfRPGEditor/" target="_blank">WOLF RPGエディター</a>。ノベルゲーム制作では、<a href="http://www.nscripter.com/" target="_blank">NScripter2</a>、<a href="http://b.tyrano.jp/" target="_blank">ティラノビルダー</a>、<a href="http://novelchan.wgt.jp/" target="_blank">Script少女のべるちゃん</a>。アクションゲームに向く<a href="http://www.clickteam.jp/" target="_blank">インディーゲームクリエイター</a>。シューティングゲーム制作を可能にする<a href="http://blog.livedoor.jp/stgbuilder/" target="_blank">シューティングゲームビルダー</a>、ブラウザ上でゲーム制作できる<a href="http://plicy.net/" target="_blank">PLiCy Game Create</a>などがあります。
</p>

<h3>ゲーム制作ツール情報リンク</h3>
<ul>
  <li><a href="http://www.freem.ne.jp/contents/create/tool.html" target="_blank">ゲーム制作ツール集：無料ゲーム by ふりーむ！</a></li>
  <li><a href="http://www.vector.co.jp/vpack/filearea/win/game/tool/make/" target="_blank">Vector：ダウンロード Windows - ゲーム - ゲーム用ユーティリティ - ゲーム開発</a></li>
  <li><a href="http://piposozai.blog76.fc2.com/blog-entry-494.html" target="_blank">最近のゲーム制作ツールをちょいまとめ : ぴぽや</a></li>
</ul>
</section>

<section>
<h2><span class="number">05</span>ツクールMVを支える技術</h2>
<p>
RPGツクールMVは、複数のライブラリやソフトウェアの集合体です。従来のツクールではツクール本体だけで成り立っていた機能が、複数の外部アプリケーションに頼る構造になりました。様々なツールと連携可能になるので、制作の手間が増えたとも言えるし、カスタマイズの自由度が増えたとも言えます。ツクールMVで使用されている技術と、それらの参考情報や書籍を掲載します。
</p>

<h3><a href="http://www.qt.io/" target="_blank">Qt</a></h3>
<div class="wp-caption alignnone"><a href="http://www.qt.io/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_004.png" width="820" height="240"  class="size-full" /></a><p class="wp-caption-text">RPGツクールMVのエディター部分はQtで開発されています。</p></div>
<p>
ツクールMVのエディター部分は<ruby>Qt<rt>キュート</rt></ruby>で開発されています。QtはC++で書かれたフレームワークです。主にマルチプラットフォーム化の為に利用されます。<a href="https://ja.wikipedia.org/wiki/Skype" target="_blank">Skype</a>や<a href="https://ja.wikipedia.org/wiki/Maya" target="_blank">Autodesk Maya</a>などに使用されています。Qtの技術により、WindowsとMacの両OSでRPGツクールMVを動作させる事ができます。 ツクールMVでゲーム制作する上では、Qtを学ぶ必要性はありません。
</p>

<ul>
  <li><a href="http://www.qt.io/" target="_blank">Qt 公式サイト</a></li>
  <li><a href="http://qt-users.jp/" target="_blank">日本Qtユーザー会</a></li>
</ul>

<h3><a href="https://nodejs.org/en/" target="_blank">Node.js</a></h3>
[caption id="attachment_1852" align="alignnone" width="820"]<a href="https://nodejs.org/en/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_006.png" alt="JavaScript環境としてNode.jsを搭載しています。" width="820" height="240" class="size-full wp-image-1852" /></a> JavaScript環境としてNode.jsを搭載しています。[/caption]
<p>
<ruby>Node.js<rt>ノード ジェーエス</rt></ruby>はサーバサイドを想定したJavaScript実行環境です。というのがオフィシャルな書き方ですが、Node.jsは一口に語るのが実に難しいプロダクトです。あらゆる場面、あらゆる場所で使われており、2015年現在、最もホットなJavaScriptエンジンと言えます。代表的な採用事例を列挙すると、多彩な使われ方がしている事が分かります。
</p>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>プロダクト名</th>
      <th>利用シーン</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ウェブブラウザ</td>
      <td>
        <a href="https://www.google.co.jp/chrome/browser/desktop/" target="_blank">Google Chrome</a>
      </td>
      <td>JavaScriptを高速に動作させる為に使用</td>
    </tr>
    <tr>
      <td>画像制作</td>
      <td>
        <a href="https://www.adobe.com/jp/products/photoshop.html" target="_blank">Adobe Photoshop</a>
      </td>
      <td>画像書き出し機能を司る</td>
    </tr>
    <tr>
      <td>電子工作</td>
      <td>
        <a href="http://www.intel.co.jp/content/www/jp/ja/do-it-yourself/edison.html" target="_blank">Intel Edition</a>
      </td>
      <td>複数の開発言語のひとつとしてサポート</td>
    </tr>
    <tr>
      <td>CMS</td>
      <td>
        <a href="https://ja.wordpress.com/" target="_blank">WordPress.com</a>
      </td>
      <td>ブログの管理や投稿サービスに使用</td>
    </tr>
    <tr>
      <td>ウェブサーバ</td>
      <td>事例多数</td>
      <td>大量アクセスに強いサーバが構築可能</td>
    </tr>
  </tbody>
</table>

<p>
初心者の為に乱暴を承知で例えると、Node.jsとは万能レンジみたいなものです。JavaScriptで下ごしらえした食材を入れると、おいしく処理してくれます。このレンジの凄い所は、どんな場所でも動き、超コンパクトで、他製品に比べ高い性能を持ちます。まさに最強、魔法のレンジ。利用者はJavaScriptを扱い、あとはNode.jsに突っ込めば良い。そんな万能調理器具みたいなものです。よって上に記したように、あらゆる場所でNode.jsというパワフルなレンジが組み込まれ、製品の一機能として動いているのです。
</p>

<p>
Node.js自体を学ぶ事は、JavaScriptを学ぶ事と同義です。習熟にはJavaScriptの参考書を読むと良いでしょう。
ところでNode.jsの進化は早く、燃えるような勢いで、変化と成長がありました。たとえばバージョン4は2015年9月9日にリリース。バージョン5は2015年11月2日にリリースです。これは大きな課題を解決した為に起きた事象ですが、あまりに活発すぎる事が伝わります。JavaScript界隈は流れが早いので、<a href="https://github.com/nodejs/node/releases" target="_blank">Node.jsのGitHub Releases</a>を片目に追いつつ、書籍で情報俯瞰するのが良いでしょう。<a href="https://twitter.com/kujirahand" target="_blank">クジラ飛行机さん</a>の<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4883379930" target="_blank">JS+Node.jsによるWebクローラー/ネットエージェント開発テクニック</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">は特にオススメです。Node.jsとJavaScriptを幅広い視点から語っており、実践的でモダンな開発手法を平易にまとめた、素晴らしい書籍です。
</p>

<ul>
  <li><a href="https://nodejs.org/en/" target="_blank">Node.js 公式サイト</a></li>
  <li><a href="https://github.com/nodejs/node" target="_blank">nodejs GitHub</a></li>
  <li><a href="https://ja.wikipedia.org/wiki/Node.js" target="_blank">Node.js - Wikipedia</a></li>
  <li><a href="http://yosuke-furukawa.hatenablog.com/" target="_blank">from scratch</a></li>
  <li><a href="http://www.publickey1.jp/blog/15/nodejs_50.html" target="_blank">Node.js 5.0がリリース - Publickey</a></li>
  <li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4883379930" target="_blank">JS+Node.jsによるWebクローラー/ネットエージェント開発テクニック (Amazon)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
</ul>

<h3><a href="http://www.pixijs.com/" target="_blank">Pixi.js</a></h3>
<div class="wp-caption alignnone"><a href="http://www.pixijs.com/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_007.png" width="820" height="240"  class="size-full" /></a><p class="wp-caption-text">描画ライブラリのpixi.jsは高速な描画をサポートします。</p></div>
<p>
<ruby>Pixi.js<rt>ピクシー・ジェーエス</rt></ruby>は描画に特化したJavaScriptフレームワークです。ツクールMVの描画を司ります。
2D描画速度が高速で、APIが充実しています。pixi.jsを叩けば多彩なグラフィカルな表現が可能になります。ツクールMVの標準機能に不足を感じたり、ツクール臭さを消したいならお世話になるでしょう。ツクールMVに搭載されているのは、バージョン2.2.9ですが、最新版のバージョン3で、大幅に進化しています。
</p>

<p>
pixi.jsの日本語書籍は存在せず、情報は少ないです。英語書籍は<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F1484210956%2F" target="_blank">Learn Pixi.js</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">がありますが、内容は<a href="https://github.com/kittykatattack/learningPixi" target="_blank">作者のGithub情報</a>とほぼ同じです。まずは<a href="https://github.com/kittykatattack/learningPixi" target="_blank">kittykatattack/learningPixi &#183; GitHub</a>と<a href="http://www.pixijs.com/examples/" target="_blank">pixi.js Examples</a>を斜め読みして、できる事を掴むのが良いと思います。
</p>

<ul>
  <li><a href="http://www.pixijs.com/" target="_blank">Pixi.js 公式サイト</a></li>
  <li><a href="https://github.com/kittykatattack/learningPixi" target="_blank">kittykatattack/learningPixi &#183; GitHub</a></li>
  <li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F1484210956%2F" target="_blank">Amazon.co.jp： Learn Pixi.js: Rex van der Spuy: 洋書</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
  <li><a href="https://www.youtube.com/watch?v=TYmeAsfTCo0" target="_blank">An Introduction to Pixi.js - YouTube(英語/動画)</a>
    <ul><li>これは2013年投稿の古い動画です。Pixi.jsの全体像とコーディングを掴む程度の参考になります。</li></ul>
  </li>
  <li><a href="http://www.pixijs.com/examples/" target="_blank">pixi.js Examples</a></li>
</ul>

<h3><a href="http://nwjs.io/" target="_blank">NW.js</a></h3>
<div class="wp-caption alignnone"><a href="http://nwjs.io/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_005.png" width="820" height="240"  class="size-full" /></a><p class="wp-caption-text">WindowsとMac向けにはNW.jsを通してゲームが生成されます。</p></div>
<p>
<ruby>NW.js<rt>エヌ ダブリュー・ジェーエス</rt></ruby>は、クロスプラットフォームに対応させる為の実行環境です。ツクールMVからWindowsアプリとMac OSXアプリを書き出す為に使われます。HTML5とNode.jsを用いて、WindowsとMac OSXで動作するデスクトップアプリケーションを作る事ができます。NW.jsよりも最近はGithub社の<a href="http://electron.atom.io/" target="_blank">Electron</a>の方が有名です。
</p>
<p>
個人的には、ツクールMVを購入して一番の疑問は「なぜElectronではなく、NW.jsを採用したのか?」という点でした。有名で、アップデートが多く、活発なElectronを採用した方が良いように思いました。もしかしたら、開発当初はElectron(旧Atom-Shell)はそこまで有名ではなかったのかもしれません。また、NW.jsは<a href="https://ja.wikipedia.org/wiki/DirectInput" target="_blank">Xinput</a>に対応しているため、ゲームコントローラ対応が簡単なので、それが理由かもしれません。
</p>
<p>NW.jsに関する書籍は皆無ですが、SPA(シングルページアプリケーション)の考えが最も参考になります。またElectronの情報も理解の助けになるでしょう。</p>

<ul>
  <li><a href="http://nwjs.io/" target="_blank">NW.js 公式サイト</a></li>
  <li><a href="https://github.com/nwjs/nw.js" target="_blank">NW.js GitHub</a></li>
  <li><a href="https://egghead.io/lessons/javascript-your-first-nw-js-desktop-application-in-less-than-5-minutes" target="_blank">NW.jsでアプリ作成を行うチュートリアル動画(英語)</a></li>
  <li><a href="http://qiita.com/KENJU/items/b65d671dc8f79cb42bb6" target="_blank">SPAがネイティブアプリをぶっ壊す：HTML5/Javascriptが変えるWebの未来 - Qiita</a></li>
  <li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4873116732" target="_blank">シングルページWebアプリケーション ―Node.js、MongoDBを活用したJavaScript SPA</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
</ul>

<h3><a href="https://cordova.apache.org/" target="_blank">Apache Cordova</a></h3>
[caption id="attachment_1854" align="alignnone" width="820"]<a href="https://cordova.apache.org/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_008.png" alt="AndroidとiOSに出力する為に、Apache Cordovaを使います。" width="820" height="240" class="size-full wp-image-1854" /></a> AndroidとiOSに出力する為に、Apache Cordovaを使います。[/caption]
<p>
<ruby>Apache<rt>アパッチ</rt>Cordova<rt>コルドバ</rt></ruby>は、スマートフォン対応の為に使います。ツクールMVから書き出されたゲームファイルをAndroid/iOSに変換させる役割です。ツクールMV公式マニュアルでは、iOS変換の為に紹介されています。
</p>
<p>
Cordovaで出力されたツクールMVゲームは、いわゆる<a href="http://www.sophia-it.com/content/%E3%82%AC%E3%83%AF%E3%83%8D%E3%82%A4%E3%83%86%E3%82%A3%E3%83%96" target="_blank">ガワネイティブ</a>です。Cordovaの中で、ウェブブラウザが動いている仕組みです。
すなわちCordovaとは、万能の額縁。ツクールMVでは実現できない機能も、Cordovaを通せば可能になります。Cordovaから制御する事で、広告や位置情報(GPS)など、スマートフォンで使われるあらゆる機能を実現できます。
</p>
<p>
Cordovaはかつて<a href="https://ja.wikipedia.org/wiki/PhoneGap" target="_blank">PhoneGap</a>呼ばれていました。Adobe社の買収後、オープンソース化されました。多くのスマホアプリ開発の現場で使われており、競合製品に<a href="http://xamarin.com/" target="_blank">Xamarin</a>や<a href="http://cocos2d.org/" target="_blank">Cocos2d-x</a>などが挙げられます。
</p>
<p>
Cordovaは書籍よりもウェブの情報が充実しています。いくつか出版されている和書の中では、<a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4798140287" target="_blank">クラウドでできるHTML5ハイブリッドアプリ開発 Cordova/Onsen UIで作るiOS/Android両対応アプリ</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">が良いと思いました。Cordova開発環境を提供する<a href="https://ja.monaca.io/" target="_blank">Monaca社</a>のガイドブックでもあります。
</p>

<ul>
  <li><a href="http://tm.lucky-duet.com/viewtopic.php?f=5&amp;t=93" target="_blank">GPS万歩計プラグイン(＆位置情報取得プラグイン)スマホ向け - ツクマテ</a></li>
  <li><a href="http://www.nicovideo.jp/watch/sm27518320" target="_blank">RPGツクールMVでUnity Adsを動かしてみた - ニコニコ動画:GINZA</a></li>
</ul>

<ul>
  <li><a href="https://cordova.apache.org/" target="_blank">Apache Cordova 公式サイト</a></li>
  <li><a href="http://furoshiki.hatenadiary.jp/entry/2014/07/28/090547" target="_blank">HTML5ハイブリッドアプリ開発を支えるOSS「Cordova」はどのように課題を克服し、進化するのか？ - ふろしき.js</a></li>
  <li><a href="http://cordovaandroid.saetl.net/" target="_blank">HTML5でハイブリッドアプリを作成 | Cordovaを使ったAndroidアプリ開発</a></li>
  <li><a href="http://www.buildinsider.net/mobile/bookhtml5hybrid/0401" target="_blank">Cordovaを用いた開発環境を構築する - Build Insider</a></li>
  <li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4798140287" target="_blank">クラウドでできるHTML5ハイブリッドアプリ開発 Cordova/Onsen UIで作るiOS/Android両対応アプリ (Amazon)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
</ul>

<h3><a href="https://crosswalk-project.org/" target="_blank">Crosswalk</a></h3>
[caption id="attachment_1855" align="alignnone" width="820"]<a href="https://crosswalk-project.org/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_009.png" alt="AndroidとiOSに出力する為に、Crosswalkを使います。" width="820" height="240" class="size-full wp-image-1855" /></a>  AndroidとiOSに出力する為に、Crosswalkを使います。[/caption]
<p>
<ruby>Crosswalk<rt>クロスウォーク</rt></ruby>はスマートフォン対応の為に使います。ツクールMVから書き出されたゲームファイルをAndroid/iOSに変換させる役割です。ツクールMV公式マニュアルではAndroid変換の為に紹介されています。
</p>

<ul>
  <li><a href="https://crosswalk-project.org/" target="_blank">Crosswalk 公式サイト</a></li>
  <li><a href="https://github.com/crosswalk-project/crosswalk" target="_blank">crosswalk-project Github</a></li>
  <li><a href="http://blog.asial.co.jp/1338" target="_blank">Crosswalkを使うとどれくらいパフォーマンスがアップするかテストしてみました : アシアルブログ</a></li>
</ul>

<h3><a href="http://www.enigmaprotector.com/" target="_blank">The Enigma Protector</a></h3>
<div class="wp-caption alignnone"><a href="http://www.enigmaprotector.com/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_010.png" width="820" height="240"  class="size-full" /></a><p class="wp-caption-text">ゲームの安易に解析されない為に、The Enigma Protectorを使用します。</p></div>
<p>
<ruby>Enigma<rt>エニグマ</rt>Protector<rt>プロテクター</rt></ruby>は、暗号化・パッケージ化に使うソフトウェアです。標準機能としてツクールMVに暗号化機能は実装されていません。難読化や暗号化や電子透かしを搭載する事は可能ではありますが、それらは外部ツールや自作で対応する必要があります。RPGツクールMV公式が推奨している方法が、Enigma Protectorで、Virtual Box化して暗号化・パッケージ化します。
</p>

<ul>
  <li><a href="http://www.enigmaprotector.com/" target="_blank">The Enigma Protector 公式サイト</a></li>
  <li><a href="https://www.youtube.com/watch?v=V48gUkj9oM4" target="_blank">How to use The Enigma Protector - YouTube(動画)</a></li>
</ul>
</section>

<section>
<h2><span class="number">06</span>ハマりポイントと諸問題</h2>
<p>
初心者でも簡単にゲームが作れる、歴史あるソフトウェア。それがRPGツクールです。ツクールMVでJavaScriptをプラグイン機構を採用した事から、プログラマからも熱い注目を集めています。またマルチプラットフォームの開発環境という意味でも、多くの開発者から期待されています。 しかし、発売直後のソフトウェアゆえ、解決されていないトラブルもあります。よく挙げられるハマりポイントと、今後問題になりそうな部分を記します。
</p>
<p>
今回はツクールMV特有の課題についてのみ取りあげますが、以下の問題に加え、一般的なマルチプラットフォーム開発やゲーム開発のハマり所も、もちろん存在します。デバッグが大変とか、アプリストア申請問題が大変とか、<a href="http://alphanuts.jp/Caution.html" target="_blank">表現規制が大変</a>とか。
</p>

<h3>暗号化問題</h3>
<p>RPGツクールMVでは、暗号化機能は実装されていません。書き出されたゲームデータのフォルダを開けば、簡単に使用素材が見えてしまいます。例えば、<a href="https://ja.wikipedia.org/wiki/Picasa" target="_blank">Google Picasa</a>や<a href="https://ja.wikipedia.org/wiki/ITunes" target="_blank">Apple iTunes</a>を使うと、ファイル自動検索機能によって、画像や音楽が意図せず丸見えになってしまいます。画像転載や悪用はやっかいですし、商業ゲームなら権利問題をシビアに考えねばなりません。それらを防ぐには暗号化が必要です。しかしツクールMVではJavaScriptプラグインを読み込む構造上、安易にゲームファイルの暗号化が出来ません。弊害を考慮しつつ、いくつかの暗号化手法が提案されています。
</p>

<ul>
  <li><a href="http://qiita.com/liply/items/90ddfabdd35aafadc9a6" target="_blank">ツクールMVで書き出したゲーム、暗号化できる？ - Qiita</a></li>
  <li><a href="http://qiita.com/Amane_Reeta/items/0ef31fd09dce1ac32545" target="_blank">RPGツクールMVのデータ解析対策をしてみる - Qiita</a></li>
</ul>

<p>
とはいえ、ひとくちに暗号化と言っても、何を採用するか考えるには、まずは価値判断が必要です。
</p>

<ul>
  <li>普通のファイラーやプレビューソフトで見えない形式にするだけで良いのか</li>
  <li>実際は暗号化されていないが、簡単には開けない程度の手間が要求されれば良いのか</li>
  <li>本当の意味でセキュアに暗号化する必要があるのか</li>
  <li>悪用された場合に法的に訴える為の根拠として暗号化したいのか</li>
</ul>

<p>
おそらく制作者によってスタンスが異なります。実利と感情の両面から検討を進め、各自の方針にあわせた技術を選ぶべきでしょう。 暗号化や不正対策は、いたちごっこの世界です。あえて乱暴な言い方をすれば、どこかで諦める必要があるのです。闇雲に暗号化・難読化を実装して開発効率を下げたり、動作スペックを跳ね上げるのは、あまり賢い方法とは言えません。バランスを見て検討する必要があります。
</p>
<p>
さいわいRPGツクールMVは素直なファイル構造で出力されるので、外部ソフトウェアで改変しやすい形になっています。標準機能で暗号化が搭載されなかった事は残念ではありますが、ポリシーを定めて適切な暗号化手法を選ぶと良いでしょう。
</p>

<h3>容量問題</h3>
<p>
ツクールMVには、ゲーム制作環境と同時に、各種素材もついてきます。マップチップ素材や音楽素材を組み合わせる事で、初心者でもすぐさまゲーム制作が始められるメリットがあります。しかし、このファイルがかなりの高品質・高画質で、容量が重たい。何も考えずに書き出しボタンを押すと、300MB程のゲームができあがります。実際に使われている素材はごく一部でも、フォルダ内の素材ファイルを全てパッケージ化してしまうのです。
</p>
<p>
無駄ファイルにより、読み込みの遅さや容量肥大化に繋がります。HTMLゲームの場合、ストリーミング形式で素材を読み込みます。データ容量が多いと、読み込みに失敗して、ゲームが強制終了する可能性があります。ですので、一般配布の際は
</p>

<ul>
  <li>画像素材と音楽素材の圧縮</li>
  <li>不要なファイルの削除</li>
  <li>(可能ならば)プラットフォームに合わせた素材変換</li>
</ul>

<p>
を行う必要があり、有志の手により削除・圧縮自動化ツールも開発され始めています。ゲームフォルダ内のJSONファイルから、使用する素材データを検索する仕組みです。しかしJavaScriptプラグインで動的に画像を作成している場合、本来使うべき画像ファイルまで削除してしまう可能性もある為、注意が必要です。</p>

<p>
ところで私は<a href="http://3punge.jp" target="_blank">ゲームコンテスト</a>や<a href="http://tomotaka.tk/tkoolorg-rental-server/" target="_blank">レンタルサーバ</a>を運営しており、他のゲーム作者様からファイルをお預かりする立場でもあります。そこに300MB程のファイルがぼんぼん送られてきたら、たまったもんじゃありません。<a href="http://d.hatena.ne.jp/ssig33/20100518/1274148053" target="_blank">クラウド破産</a>待ったなしです。ひぇえ……どうしよう……😰。
</p>

<ul>
  <li><a href="http://liply.net/2015/11/08/packager/" target="_blank">Packager for MV - ツクールMVの素材解析・削除ツール</a></li>
</ul>

<h3>スマートフォン対応が大変問題</h3>
<p>
スマホ対応は、外部ソフトウェアをインストールする必要があり、初心者にとって難易度の高い作業です。公式マニュアルではiOS化はCordova、Android化はCrosswalkの利用が推奨されています。
</p>
<p>
RPG Maker MV(海外版)発売当初、その点を誤解していたユーザが数多くおり、<a href="http://steamcommunity.com/app/363890/reviews/?browsefilter=toprated&amp;snr=1_5_reviews_" target="_blank">Steamのレビュー欄</a>では「スマホ向けの書き出しが不便だ、誇大広告的だ」という指摘が散見されました。現在は情報も出回った為、レビュー評価は上向き傾向です。しかし、一口に「スマホ対応」といえど、ハードルが高い事には要注意です。
</p>

<h3>連携するソフトウェアのライセンス問題</h3>
<p>
ここまで記したように、ツクールMVには多種多様なソフトの連携で成り立っています。それぞれのソフトには利用規約があるのですが、一部のソフトでライセンス違反の恐れが指摘されています。ツクール公式側でオフィシャルに対処すべき問題と、ユーザ側が対処を検討すべき問題の、両方があります。どちらにしても、今後のアップデートに注視すべきでしょう。
全体として、ツクールMVの利用規約やライセンスは、2015年12月1日現在は完全なものと考えず、注意深く観察するのが賢明だと思います(まぁ、まだ日本語版発売前ですし……)。
</p>
<ul>
<li><a href="http://forums.rpgmakerweb.com/index.php?/topic/46782-rpgmaker-mv-appears-to-break-the-nwjs-license/" target="_blank">RPGMaker MV appears to break the NW.js license - RPG Maker MV - RPG Maker Forums</a></li>
<li><a href="http://db.tkoolmv.net/wiki/%E3%83%A9%E3%82%A4%E3%82%BB%E3%83%B3%E3%82%B9%E9%81%95%E5%8F%8D%E5%95%8F%E9%A1%8C" target="_blank">fpsmeter.js の MITライセンスの明示義務違反</a></li>
</ul>

<h3>プラグイン衝突問題</h3>
<p>
プラグイン開発にあたり、コーディング規約やガイドラインが整備されていません。名前空間が分けられておらず、プラグインが衝突しまくります。既に500以上のプラグインが公開されており、統制は皆無。パッケージマネージャーもありません。ゲーム作者は地道にプラグインを搭載、デバッグ、修正を繰り返す必要があります。初心者ツクラーにとっては、大きな壁になるでしょう。
</p>

<p>
実はプラグイン衝突問題は、過去のRPGツクールから存在した問題です。しかしツクールMVからはマルチプラットフォーム対応です。PC・スマホ・タブレットは、画面サイズが多様です。様々な環境に適したUI/UXを実現するには、プラグインの力に頼らざるを得ない。それゆえに、実装するプラグイン数も増える傾向にあり、衝突問題も無視できなくなりました。
</p>

<h3>いわゆるメモリリーク問題</h3>
<p>
大変やっかいな問題です。長時間プレイしたり、重たい描画を行うと、ゲームが強制終了します。ツクールMVではpixi.jsでテクスチャを生成し、GPUに送信しますが、GPUから削除されません。メモリリークを防ぐ為にはテクスチャを解放する必要がありますが、pixi.js側に関数があるものの、それがツクールMVからは使用されていません。
</p>
<p>
正確にはこの現象はメモリリークではなく、Memory bloatという方が近いです。
</p>
<ul>
<li><a href="http://qiita.com/liply/items/f98807edb62f2d178669" target="_blank">RPGツクールMVのメモリ事情 - Qiita (liplyさん著)</a></li>
<li><a href="http://kurete.blog.shinobi.jp/column/23" target="_blank">ツクールMVのメモリリーク問題 - RPG製作ソフト「Role Paint」を作っていくぜ！</a></li>
</ul>

<h3>HTML版でセーブデータが消える問題</h3>
<p>
HTML版のセーブデータはlocalStorageに保存されます。すなわち、ユーザが意図せず削除してしまう可能性があります。またlocalStorageの保存期間やポリシーはブラウザにより異なるので、突然セーブデータが消える問題は結構重大です。さらにTwitterクライアント上やChrome上からツクールMVゲームHTML版を別々に動作させた場合も、ユーザはセーブデータが消えたように感じる事でしょう。ブラウザ挙動の違いにも苦しめられます。対処方法としては
</p>

<ul>
  <li>サーバ上にセーブデータを保存する</li>
  <li>セーブ書き出し機能を無理矢理搭載する</li>
  <li>そもそもHTML版を用意しない、セーブさせない</li>
</ul>

<p>
程度しかなく、最善策が存在しません。この課題を根本的に解決するには、RPGツクールMV本体の利用規約に抵触する可能性があります。重大で厄介で、そして繊細な問題です。
今後しばらくはHTML版ゲームは、セーブ機能に依存しない短編モノに限られると思われます。
</p>
<ul>
<li><a href="https://gist.github.com/tkoolmv-net/76c674699a680d776937" target="_blank">キャッシュの削除でセーブデータが消えるか？</a></li>
</ul>

<h3>バージョンが乱立している問題</h3>
<p>
RPGツクールMVは、海外ではRPG MAKER MVという名前で販売されています。実はバージョンアップが混沌としており、公式から配布されているものだけで、2015年12月1日現在以下のバージョンがあります。
</p>

<ul>
  <li>RPG MAKER MV(Degica)</li>
  <li>RPG MAKER MV(Steam)</li>
  <li>RPG MAKER MV Trial</li>
  <li>RPGツクールMV 体験版</li>
  <li>RPGツクールMV 製品版(12月17日発売)</li>
</ul>

<p>
ソフトウェアアップデートのタイミングがそれぞれ違うので、注意が必要です。たとえば、RPG Maker MV(Degica)は、先行販売版と一般販売版がありますが、私の購入した先行販売版ではアップデートが来ません。バージョン1.0から変わらない状況で、Steam版より3バージョン遅れています。
</p>
<p>
公式配布バージョンが乱立しているだけで悩ましい状況ですが、ユーザーの手により破壊的改変を行うパッチ等も公開され始めており、カオス一歩前な状況です。 特に海外でのRPG MAKER MV販売パブリッシャーであるDegica社がSteamで「<a href="http://steamcommunity.com/games/363890/announcements/detail/94936139260627270" target="_blank">毎週水曜日にパッチを公開するよ</a>」と発表し、独自の進化とコミュニティを築いています。これは開発元のKADOKAWAとは別系統の流れであり、公式のパッチリリースではなく、Dropboxに修正パッチ直置きで配布されています。海外販売担当社が開発元と連携せず(?)修正パッチを公開している事象であり、良くも悪くも、ちょっと衝撃的です。今後の展開に注視する必要がありそうです。
</p>
<hr>

<p>
これらの諸問題。KADOKAWA公式のアップデートで、バグ修正がなされるのか。あるいは有志がルールを作って秩序を目指すのか。あるいは強力なプラグインの力業でなんとかするのか。あるいはrpg_core.js等を強制上書きという超力業でなんとかするのか<span class="strong_gray">(この方法は技術的にもライセンス的にも、相当な注意が必要です)</span>。そして日本のツクラーコミュニティ/海外コミュニティはどう動いてゆくのか……。2015年12月01日現在、あらゆる将来が未知数です。これ、ほんと、どうなるんでしょう……。
</p>
<p>
既に発売済みの海外フォーラムやSteamは、まさに熱狂という言葉が相応しい状態でした。バグ報告と誤解と質問と議論で、喧々諤々状態。新しく出来る事が増えたと同時に、新しい課題や疑問もドカンと出てきたわけですね。発売1ヶ月で500を越えるプラグインがリリースされ、ぽつぽつとゲームも公開され始めました。いまは発売直後の熱が少し収まってきて、「さぁ、簡単にゃ解決できない問題、どうしようか」というフェーズに差し掛かりつつあります。12月17日発売の日本でも、同様の事態が起こると思われます。
</p>

<h2><span class="number">07</span>RPGツクールMVは買いか? 使えるのか?</h2>
<p>
さて、正直なところ、RPGツクールMVはゲーム開発で本当に使えるんでしょうか?
スマホ対応を無視するなら、前作の<a href="http://tkool.jp/products/rpgvxace/index" target="_blank">RPGツクールVX Ace</a>で十分事足ります。Windowsゲームのみリリースするつもりなら、VX Aceで開発を続けるのは大いにアリです。VX AceはMVに比べて動作スペックも低くてすみます。
対してツクールMVはツクールVX Aceで出来る事は全て可能。VX Aceの上位互換と言える内容で、あらゆる機能が強化されました。しかし開発に必要なスペックはVX Aceに比べて高い。スマホ出力は可能と言いつつ実際は高度なスキルが要求される。動作安定性の検証が少ない。情報が少ない(発売前ですし……)という意味では、VX Ace水準の「ストレスを感じない開発」には一歩及びません。
</p>
<p>
しかし、MVには一周目の楽しさがあります。これは新しい世界を開拓していく楽しみであり、未来を感じます。いままでになかった表現方法やゲームが生まれる余地があり、そこは未踏で、大きなチャンスが眠っているかもしれません。
あらゆる諸問題や、情報不足を認識しつつ、ツクールMVで実現される(かもしれない)未来を買うか。という点が、ツクールMV採用の分かれ目になりそうです。
</p>
<p>
安定を採るならVX Ace。
未来と祭りに乗るならMVではないでしょうか。
</p>

<ul>
  <li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB016U2RARM%2F" target="_blank">RPGツクールMV (Amazon)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
  <li><a href="http://tkool.jp/products/rpgvxace/index" target="_blank">ツクールVX Ace 公式サイト</a></li>
  <li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB005QW260E%2F" target="_blank">RPGツクールVX Ace (Amazon)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
</ul>
</section>

<section>
<h2><span class="number">08</span>ツクールMVの不思議な未来感</h2>
<p>
ツクールは、UnityやUnreal EngineやFlashなどのライバルとは全く違います。古風にもパッケージ販売スタイル。2Dオンリーで、3Dなんて範疇外。ライセンスもツクールの歴史を引き継いだ、ゆるふわ雰囲気。しかし最先端のJavaScriptエンジン採用で、マルチデバイス対応。 まるで江戸時代から未来人がやってきたような、不思議な感覚を覚えます。
しかし長期的に見るなら、ツクールMVは大いに売り上げを伸ばし、一定の地位を築くソフトになるのは、まず間違いないでしょう。このツールのポテンシャルは、凄まじいものを感じます。
</p>
<p>
さて、技術面を中心にツクールMVの概要を語りましたが、本来のツクールの良さは「初心者でもゲーム制作を楽しめること」にあります。過去のツクールシリーズから大きな変化があったツクールMVですが、初心者へ対するやさしさ・楽しさは健在です。まさに<span class="strong_red">ツクールMV自体が、ゲームである事は、昔も今も変わりません。</span>子供もお年寄りも、初心者も熟練者も、あらゆる人がゲーム開発にのめり込むならば、それは実に愉快な未来だと思います。
</p>
<p>
ツクールMVの未来に期待しつつ、<a href="http://qiita.com/mizchi/items/ff3bc3f52b61d3e599c6" target="_blank">アドベントカレンダー2日目</a>へバトンをつなぎます。
2日目は<a href="https://twitter.com/mizchi" target="_blank">mizchiさん</a>です。
</p>
<ul>
<li><a href="http://qiita.com/mizchi/items/ff3bc3f52b61d3e599c6" target="_blank">今一番JSで熱いゲームエンジン、RPGツクールMVのランタイムコードを読んでみた - Qiita (アドベントカレンダー2日目 mizchi著)</a></li>
</ul>
</section>


<section>
<h2><span class="number">09</span>ツクールMV購入情報(おまけ1)</h2>
<p>RPGツクールMVの体験版と購入方法です。海外版、日本語版の両方があり、海外版では英語、フランス語、イタリア語、ドイツ語、スペイン語、ブラジルポルトガル語、ロシア語を切り替え可能です。</p>
<!--<p>Windows? Mac? 安さ重視? 日本語が良い? 特典が欲しい?</p>-->

<table>
  <thead>
    <tr>
      <th>販売会社</th>
      <th>価格</th>
      <th>言語</th>
      <th>特典</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2FB016U2RARM%2F" target="_blank">Amazon</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></td>
      <td>10092円</td>
      <td>日本語</td>
      <td>なし</td>
      <td>日本語版で、最も安い</td>
    </tr>
    <tr>
      <td><a href="http://ebten.jp/p/4940261512903/" target="_blank">エンターブレイン</a></td>
      <td nowrap>13842円</td>
      <td nowrap>日本語</td>
      <td nowrap>101曲のBGM素材集</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="http://jpstore.dwango.jp/game/tkool_mv.php" target="_blank">ドワンゴストア</a></td>
      <td>13842円</td>
      <td>日本語</td>
      <td>風来のシレン特典</td>
      <td>Mac版ライセンスも販売</td>
    </tr>
    <tr>
      <td><a href="http://store.steampowered.com/app/363890/?l=japanese" target="_blank">海外Steam</a></td>
      <td>7980円</td>
      <td>英語</td>
      <td>なし</td>
      <td>10月25日発売</td>
    </tr>
    <tr>
      <td><a href="http://www.rpgmakerweb.com/" target="_blank">海外Degica</a></td>
      <td nowrap>79.9ドル</td>
      <td>英語</td>
      <td>なし</td>
      <td>10月25日発売。<br>Windows版に加え、Mac版SteamKeyがついてくる</td>
    </tr>
  </tbody>
</table>
<span class="strong_gray">上記表は2015年12月1日時点のものです。正確な情報は各販売店にお問い合わせ下さい。特に価格面については変動の恐れがあります。</span>

</section>

<section>
<h2><span class="number">10</span>ツクールMVお役立ちリンク集(おまけ2)</h2>

<table>
  <thead>
    <tr>
      <th>サイト名</th>
      <th>運営者名</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="https://tkool.jp/mv/" target="_blank">RPGツクールMV 日本公式</a>
      </td>
      <td>日本公式</td>
      <td>安心と信頼の公式情報。</td>
    </tr>
    <tr>
      <td><a href="http://fanblogs.jp/tabirpglab/" target="_blank">RPGツクールMVでアプリリリースを目指す開発室</a></td>
      <td>kuroさん</td>
      <td>RPGツクールMVの情報をひたすら追い続けるブログです。</td>
    </tr>
    <tr>
      <td><a href="http://wiki.dfng.jp/tkoolmv/" target="_blank">RPGツクールMVまとめwiki</a></td>
      <td nowrap>伊予柑さん</td>
      <td>非公式(?)Wikiです。</td>
    </tr>
    <tr>
      <td><a href="http://db.tkoolmv.net/wiki/" target="_blank">RPGツクールMV なんでもwiki</a></td>
      <td>なのさん</td>
      <td>技術に強いなのさんの運営するWikiです。</td>
    </tr>
    <tr>
      <td><a href="http://forums.rpgmakerweb.com/" target="_blank">RPG MAKER WEB FORUM</a></td>
      <td>海外Degica社</td>
      <td>RPGツクールのコミュニティです。英語。</td>
    </tr>
    <tr>
      <td>
        <a href="http://tm.lucky-duet.com/" target="_blank">ツクマテ</a>
      </td>
      <td>弓猫さん</td>
      <td>RPGツクールのコミュニティです。</td>
    </tr>
  </tbody>
</table>

<h3>連載アドベントカレンダー企画</h3>
<p>
<div class="wp-caption alignnone"><a href="http://qiita.com/advent-calendar/2015/rmmv" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_012.png" width="820" height="240"  class="size-full" /></a><p class="wp-caption-text">RPGツクールMV Advent Calendar 2015では、ツクールMVの技術情報のリレーイベントです。</p></div>

<div class="wp-caption alignnone"><a href="http://www.adventar.org/calendars/1119" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_013.png" width="820" height="240"  class="size-full" /></a><p class="wp-caption-text">技術以外のツクールMV情報は、伊予柑さん主催のアドベントカレンダーへ</p></div>

<div class="wp-caption alignnone"><a href="http://www.adventar.org/calendars/1184" target="_blank"><img src="http://tomotaka.tk/data/caption/caption_151201_tkoolmv-overview_014.png" width="820" height="240"  class="size-full" /></a><p class="wp-caption-text">初心者向け記事準備中です。</p></div>

</p>
<!--
<h3>ちょっと宣伝</h3>
<p>
<a href="http://tkool.org" target="_blank">ツクール新聞(準備中)</a>
<a href="http://tomotaka.tk/tkoolorg-rental-server/" target="_blank">ツクール新聞レンタルサーバ</a>
<a href="http://3punge.jp" target="_blank">3分ゲーコンテスト</a>
</p>
-->
</section>
