<!--
初心者ツクラーの為のJavaScript入門
tkoolmv-javascript-studybooks
2016/01/04 02:08

# 抜粋
JavaScript、難しいと思いませんか? プログラミングなんて、やったことがない。難しくて分からない。そんな人の為に書きました。
# Facebook
プログラミングなんて、やったことがない。難しくて分からない。そんな人の為に書きました。ツクールMVで実装されたJavaScriptプラグインの完全初心者向けの記事です。
# Twitter
プログラミングなんて、やったことがない。難しくて分からない。そんな人の為に書きました。
 -->
 <section>
 <h2><span class="number">01</span>はじめに</h2>
 <p>
 この記事は、ツクールMVに適したJavaScript入門を紹介します。主に以下の人が対象です。
 </p>
 <ul>
 	<li>プログラミングって何だか分からない。if文? for文?? 何ですかそれは???</li>
 	<li>これからJavaScriptを学ぼうと思っている</li>
 	<li>ツクールMVでJavaScriptプラグインを作ってみたい</li>
 	<li>でも、何を揃えれば良いのか、踏み出し方がわからない</li>
 </ul>
 <p>
 ツクールMVでJavaScriptプラグインに触れるにあたり、いちばん簡単な説明書のつもりで書きました。JavaScriptプログラミング学習前の、必要な前提知識・ツール・書籍を紹介します。
 </p>
 </section>

 <section>
 <h2><span class="number">02</span>奥深きJavaScript界への第一歩</h2>
 <p>
 RPGツクールMVには、JavaScriptプラグイン機構が搭載されました。これにより、ツクールMVの標準機能を越えた、高度な機能を追加できます。
 <a href="https://ja.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>は古くからある<a href="https://ja.wikipedia.org/wiki/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E8%A8%80%E8%AA%9E" target="_blank">プログラミング言語</a>のひとつで、ウェブサイトをはじめとする多くの場所で使われています。とはいえ、修得の一歩目は大変です。初心者ツクラーやプログラミング未経験者にとって、魔術語に思えるでしょう。
 </p>
 <p>
 しかし、これを期にプログラミングを勉強するのも、面白いんじゃないでしょうか。JavaScriptはプロの現場でも使われる奥深い世界です。ウェブサイト制作・スマホアプリ開発・デスクトップソフトウェア開発もできます。JavaScriptプラグインを読み書きする事で、仕事や趣味が広がるかもしれません。
 </p>
 </section>

 <section>
 <h2><span class="number">03</span>JavaScriptで何ができるのか</h2>
 <p>
 プラグインを使う事で、たとえば次のような事が実現できます。
 </p>
 <ul>
 	<li>戦闘システムの変更</li>
 	<li>操作ボタンやキーの拡張</li>
 	<li>画面表示の変更</li>
 	<li>新しいステータスの追加</li>
 </ul>
 <p>
 一例となるプラグインを紹介します。
 </p>
 <h3>戦闘システム高速化プラグイン</h3>
 <iframe width="820" height="461" class="youtube" src="https://www.youtube.com/embed/zA1iwIbaSPQ" frameborder="0" allowfullscreen></iframe>
 <div class="wp-caption alignnone" style="width: 820px">
 <p class="wp-caption-text">戦闘高速化プラグイン。デバッグやテスト時に重宝します。</p>
 </div>
 <dl>
 	<dt>作者名</dt>
 	<dd><a href="https://twitter.com/Jun_A_sakamoto" target="_blank">坂本昌一郎</a></dd>
 	<dt>作者ウェブサイト</dt>
 	<dd><a href="http://sepher.jp/" target="_blank">sound sepher - 商業・同人音楽制作｜坂本昌一郎(Jun.A)</a></dd>
 	<dt>プラグイン名</dt>
 	<dd>戦闘速度高速化 ver2.00</dd>
 	<dt>配布先</dt>
 	<dd>作者サイト<a href="http://sepher.jp/" target="_blank">sound sepher</a>の[Game]→[RPGツクールMV用プラグイン]→[戦闘速度高速化 ver.2.00]からダウンロード</dd>
 	<dt>マニュアル・解説先</dt>
 	<dd>
 		<a href="http://forums.rpgmakerweb.com/index.php?/topic/46891-battle-high-speed-mode-plugin/" target="_blank">Battle High Speed Mode Plugin - RPG Maker Forums</a>
 		<a href="https://www.youtube.com/watch?v=zA1iwIbaSPQ" target="_blank">RPGmaker MV / RPGツクールMV / 戦闘高速化プラグインアップデート YEP ActiveTimeBattle対応 - YouTube</a>
 	</dd>
 	<dt>ライセンスと注意事項</dt>
 	<dd>
 		利用時は競合を避けるため、必ずYanflyEngineの後に読み込んでください。
 		サポートは行いませんので、自己責任でご利用ください。
 		できればtxtやクレジットに、前述の著作権表記を掲載して頂けたら嬉しいです。
 	</dd>
 </dl>

 <h3>スマホタッチ用プラグイン</h3>
 <iframe width="820" height="461" class="youtube" src="https://www.youtube.com/embed/Vo47sASYRac" frameborder="0" allowfullscreen></iframe>
 <div class="wp-caption alignnone" style="width: 820px">
 <p class="wp-caption-text">タブレット/スマートフォン用にタッチボタンを表示するプラグイン。操作性向上に繋がります。</p>
 </div>
 <dl>
 	<dt>作者名</dt>
 	<dd><a href="https://twitter.com/uchuzine" target="_blank">uchuzine@カニ</a></dd>
 	<dt>作者ウェブサイト</dt>
 	<dd><a href="http://uchuzine.x0.com/demo/" target="_blank">スマホ用ボタン追加プラグイン DEMO</a></dd>
 	<dt>プラグイン名</dt>
 	<dd>UCHU_MobileOperation.js ver1.1.4</dd>
 	<dt>配布先</dt>
 	<dd><a href="http://uchuzine.x0.com/demo/" target="_blank">スマホ用ボタン追加プラグイン DEMO</a></dd>
 	<dt>マニュアル・解説先</dt>
 	<dd>
 		<a href="https://www.youtube.com/watch?v=Vo47sASYRac" target="_blank">RPGツクールMVのスマホ操作にボタンを追加してみた - YouTube</a>
 		<a href="http://qiita.com/uchuzine/items/045f5bf87c331528daae" target="_blank">RPGツクールMVのスマホUIを考える - Qiita</a>
 	</dd>
 	<dt>ライセンス</dt>
 	<dd><a href="http://opensource.org/licenses/mit-license.php" target="_blank">MITライセンス</a></dd>
 </dl>

 <h3>フェイスチャット補助プラグイン</h3>
 <iframe width="820" height="461" class="youtube" src="https://www.youtube.com/embed/0VrhG_DRGgs" frameborder="0" allowfullscreen></iframe>
 <div class="wp-caption alignnone" style="width: 820px">
 <p class="wp-caption-text">画面上の会話表現を<span class="strike">テイルズオブファンタジア風</span>グラフィカルに表現するプラグイン。</p>
 </div>
 <dl>
 	<dt>作者名</dt>
 	<dd><a href="https://twitter.com/ibakip" target="_blank">Naoya</a></dd>
 	<dt>作者ウェブサイト</dt>
 	<dd><a href="http://respawnfromhere.blog.fc2.com/" target="_blank">ここからリスポーン</a></dd>
 	<dt>プラグイン名</dt>
 	<dd>フェイスチャット補助 Ver1.14(2016年1月4日時点)</dd>
 	<dt>配布先</dt>
 	<dd><a href="https://www.dropbox.com/s/ylknal5smz8snsq/%E3%83%95%E3%82%A7%E3%82%A4%E3%82%B9%E3%83%81%E3%83%A3%E3%83%83%E3%83%88%E8%A3%9C%E5%8A%A9_Ver1.14.zip?dl=0" target="_blank">Dropbox</a></dd>
 	<dt>マニュアル・解説先</dt>
 	<dd>
 		<a href="http://respawnfromhere.blog.fc2.com/blog-entry-8.html" target="_blank">フェイスチャット補助 概要 - ここからリスポーン</a>
 		<a href="http://respawnfromhere.blog.fc2.com/blog-entry-9.html" target="_blank">フェイスチャット補助 リファレンス - ここからリスポーン</a>
 		<a href="http://tm.lucky-duet.com/viewtopic.php?t=120" target="_blank">フェイスチャット補助プラグイン - ツクマテ</a>
 		<a href="https://www.youtube.com/watch?v=0VrhG_DRGgs" target="_blank">フェイスチャット補助プラグイン - YouTube</a>
 	</dd>
 	<dt>ライセンス(Readme.txtより抜粋)</dt>
 	<dd>
 		改変・再配布は自由です。
 		フリー・商用問わずご利用いただけます。ただし素材そのままのものを販売する行為はお控え下さい。
 		クレジット表記は不要ですが、ご厚意でしていただける場合は以下をご利用下さい。作者:Naoya, サイト:ここからリスポーン(http://respawnfromhere.blog.fc2.com/)
 	</dd>
 </dl>

 <hr>

 <p>
 このように、ゲームにあたらしい体験を追加したり、<a href="https://ja.wikipedia.org/wiki/%E3%83%87%E3%83%90%E3%83%83%E3%82%B0" target="_blank">デバッグ</a>や<a href="https://ja.wikipedia.org/wiki/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%86%E3%82%B9%E3%83%88" target="_blank">テスト</a>を効率化できます。プラグインの力は絶大です。反面、ツクールMVの標準機能に満足しているなら、プラグインに頼る必要はありません。プラグイン機能を使う前に、ツクールMVの標準機能で実現できないか調べると良いでしょう。
 </p>
 </section>


 <section>
 <h2><span class="number">04</span>プログラムとは何か</h2>
 <p>
 プラグインはJavaScriptで書かれています。JavaScriptとは、プログラミング言語の一種です。では、プログラミングやプラグインとはそもそも何者なのでしょうか。
 </p>

 <h3><a href="https://ja.wikipedia.org/wiki/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0_%28%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%29" target="_blank">プログラム</a>(Program)</h3>
 <p>
 プログラムとは言語的には、“プロ”と“グラム”に分けられます。
 プロとはギリシア語の前置詞で、「あらかじめ」「最初に」を意味します。現代語では「プロフェッショナル(あらかじめ誓いを立てる人)」や「プロテクター(あらかじめ覆うもの)」も同じ語源です。
 グラムはラテン語に由来し「書かれたもの」を意味します。現代語の「グラフ(図)」に通じます。
 </p>
 <p>
 すなわちプログラムとは「あらかじめ + 書かれたもの」という意味です。<span class="strong_yellow_line">プログラムの本質とは、コンピュータの動き方を最初に書いておいて、人間の操作に対応して様々な動作を行うもの。</span>という事がわかります。
 </p>


 <h3><a href="https://ja.wikipedia.org/wiki/%E3%83%97%E3%83%A9%E3%82%B0%E3%82%A4%E3%83%B3" target="_blank">プラグイン</a>(Plug-in)</h3>
 <p>
 プラグインとは、電源プラグやUSB機器のようなものです。たとえばパソコンにUSB機器を繋げると、プリンタやキーボードが使えるようになります。しかし、USBケーブルを抜けば、動きません(当たり前ですね)。パソコン自体が印刷能力や文字入力能力を獲得したわけではありません。ここでのポイントは、取り外し可能であるという事実です。
 </p>
 <p>
 プラグインの性質も同じです。様々なプラグインをインストールする事で、機能が増やす事ができます。しかしそれはいつでも取り外し可能で、削除すれば元に戻ります。<span class="strong_yellow_line">プラグインとは着脱可能の装備品です。自分のゲームにあったプラグインを装備することで、ゲームに新たなシステムを搭載できます。</span>
 </p>
 </section>


 <section>
 <h2><span class="number">05</span>JavaScriptプラグインの導入とミニ改造</h2>
 <iframe width="820" height="461" class="youtube" src="https://www.youtube.com/embed/_nxRpQLADwo" frameborder="0" allowfullscreen></iframe>
 <div class="wp-caption alignnone" style="width: 820px">
 <p class="wp-caption-text">
 4分で分かるプラグインのインストールと改造方法(初心者向け)
 </p>
 </div>
 <p>
 実際にプラグインのインストールと、ちょっとした改造を行ってみましょう。トリアコンタンさんが公開するタイトル変更プラグインTitleNewGameOnly.jsのインストールと、文字サイズ変更を行いました。
 </p>
 <h3>ニューゲームオンリープラグイン</h3>
 <dl>
 	<dt>作者名</dt>
 	<dd><a href="https://twitter.com/triacontane" target="_blank">トリアコンタン</a></dd>
 	<dt>作者ウェブサイト</dt>
 	<dd><a href="http://triacontane.blogspot.jp/" target="_blank">Delusional Field</a></dd>
 	<dt>プラグイン名</dt>
 	<dd>TitleNewGameOnly.js</dd>
 	<dt>配布先</dt>
 	<dd><a href="https://github.com/triacontane/RPGMakerMV" target="_blank">triacontane / RPGMakerMV - Github</a></dd>
 	<dt>マニュアル・解説先</dt>
 	<dd><a href="http://triacontane.blogspot.jp/2015/11/blog-post.html" target="_blank">ニューゲームオンリープラグイン - Delusional Field</a></dd>
 	<dt>ライセンス</dt>
 	<dd><a href="http://opensource.org/licenses/mit-license.php" target="_blank">MITライセンス</a><br>
 		当プラグインはMITライセンスのもとで公開されています。作者に無断で改変、再配布が可能で、利用形態（商用、18禁利用等）についても制限はありません。ただし、ヘッダのライセンス表示は残してください。</dd>
 </dl>
 </section>

 <section>
 <h2><span class="number">05</span>JavaScriptエディタで楽に書こう</h2>
 <p>
 プログラミングはWindowsの<a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%83%A2%E5%B8%B3" target="_blank">メモ帳</a>やMacの<a href="https://ja.wikipedia.org/wiki/%E3%83%86%E3%82%AD%E3%82%B9%E3%83%88%E3%82%A8%E3%83%87%E3%82%A3%E3%83%83%E3%83%88" target="_blank">テキストエディット</a>でも可能です。しかしそれは大変な根気を必要とします。JavaScriptエディタの補助機能を使う事で、楽ができます。プログラムをカラフルに装飾し、見やすくなります。さらに入力補完機能により、ミスタイプを減らせます。好みのエディタを見つける事も、プログラミング習熟のステップです。
 </p>

 <h3><a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a></h3>
 <div class="wp-caption alignnone"><a href="https://notepad-plus-plus.org/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--01.png" alt="" class="size-full" /></a><p class="wp-caption-text">Notepad++はDon Ho氏によって開発されたエディタです。</p></div>
 <p>
 <ruby>Notepad++<rt>ノートパッド プラス プラス</rt></ruby>Windows専用のエディタです。ウェブサイトは英語ですが、インストール後に自動で日本語化されます。
 </p>
 <p>
 タブ型のエディタで、画面インターフェースが分かりやすい印象を持ちました。2000年代に数多く登場したエディタのデザインと似た気風があります。
 </p>
 <ul>
 	<li><a href="https://notepad-plus-plus.org/" target="_blank">Notepad++ 公式サイト</a></li>
 	<li><a href="https://ja.wikipedia.org/wiki/Notepad%2B%2B" target="_blank">Notepad++ - Wikipedia</a></li>
 	<li><a href="http://techacademy.jp/magazine/4724" target="_blank">テキストエディタ「Notepad++」の使い⽅(初⼼者向け) - TechAcademyマガジン</a></li>
 </ul>

 <h3><a href="http://brackets.io/" target="_blank">Brackets</a></h3>
 <div class="wp-caption alignnone"><a href="http://brackets.io/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--02.png" alt="" class="size-full" /></a><p class="wp-caption-text">BracketsはAdobe社がサポートするエディタで、画像周りに強いです。</p></div>
 <p>
 <ruby>Brackets<rt>ブラケッツ</rt></ruby>は、Windows/Mac OSX/Linuxに対応しています。ウェブサイトは英語ですが、インストール後に自動で日本語化されます。
 </p>
 <p>
 <a href="https://ja.wikipedia.org/wiki/%E3%82%A2%E3%83%89%E3%83%93%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E3%82%BA" target="_blank">Adobe Systems</a>が開発している事もあり、画像周りの独自機能が充実しています。特にPhotoshopのPSDファイルを読み込み、連携させる機能は便利です。レイヤーごとに分けられたパーツを参照できます。Bracketsのプラグイン機能を使う事により、ユーザが開発した拡張機能が追加できます。画面のインターフェースは少し独特ですが、初期設定はシンプルです。迷う事は少ないでしょう。
 </p>
 <ul>
 	<li><a href="http://brackets.io/" target="_blank">Brackets 公式サイト</a></li>
 	<li><a href="http://qiita.com/assialiholic/items/c8137321c7599a168b16" target="_blank">Bracketsの機能紹介、使い方解説 - Qiita by </a><a href="https://twitter.com/assialiholic" target="_blank">assialiholic</a></li>
 	<li><a href="http://nelog.jp/brackets" target="_blank">無料エディター「Brackets」にも恋に落ちた - 寝ログ</a></li>
 </ul>


 <h3><a href="https://atom.io/" target="_blank">ATOM</a></h3>
 <div class="wp-caption alignnone"><a href="https://atom.io/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--03.png" alt="" class="size-full" /></a><p class="wp-caption-text">ATOMはGitHub社が開発する多機能エディタです。</p></div>
 <p>
 <ruby>ATOM<rt>アトム</rt></ruby>はWindows/Mac OSX/Linuxに対応しています。インストール直後は英語ですが、プラグインにより日本語化が可能です。
 </p>
 <p>
 ATOMは2015年に最も勢いづいたエディタのひとつです。プラグインが充実しており、多数の開発者により日々新しい機能が量産されています。<a href="https://atom.io/packages" target="_blank">プラグイン配布サイト</a>が整備されているのも、他エディタにはない特徴です。
 </p>
 <p>
 多数のプラグインを導入する傾向にある為、プラグイン同士の依存関係やキーバインドには留意する必要があります。エディタに合わせてプラグインもアップデートが激しい傾向にあります。
 </p>
 <ul>
 	<li><a href="https://atom.io/" target="_blank">Atom 公式サイト</a></li>
 	<li><a href="http://qiita.com/spiegel-im-spiegel/items/3d41d98dacc107d73431" target="_blank">ATOM Editor をそろそろ始めようか - Qiita by </a><a href="https://twitter.com/spiegel_2007" target="_blank">Spiegel</a></li>
 	<li><a href="http://dotinstall.com/lessons/basic_atom" target="_blank">Atom入門 (全13回) - ドットインストール</a></li>
 </ul>


 <h3><a href="https://www.visualstudio.com/ja-jp/downloads/download-visual-studio-vs" target="_blank">Visual Studio Community</a></h3>
 <div class="wp-caption alignnone"><a href="https://www.visualstudio.com/ja-jp/downloads/download-visual-studio-vs" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--04.png" alt="" class="size-full" /></a><p class="wp-caption-text">Visual Studio CommunityはMicrosoft社が開発する統合開発環境です。</p></div>
 <p>
 <ruby>Visual Studio Community<rt>ビジュアル スタジオ コミュニティ</rt></ruby>は、Microsoft社が開発する無料の<ruby>統合開発環境<rt>IDE</rt></ruby>です。JavaScriptだけでなく、あらゆるプログラミング言語を網羅しており、他の3エディタに比べ、できる事が圧倒的に多いです。しかし動作が重たく、Windows専用です。
 </p>
 <p>
 ツクールMVのプラグインを開発するだけなら、ちょっとオーバースペックです。多機能ゆえに使いこなすまで何年もかかります。しかし、プロになるレベルまで学習したいと考えるなら、Visual Studio Communityは良いチョイスです。
 </p>
 <p>
 特筆すべき機能は、デバッグとインテリセンスです。使いこなすのは大変ですが、覚えれば高い効率性を追求できます。
 </p>
 <ul>
 	<li><a href="https://www.visualstudio.com/downloads/download-visual-studio-vs" target="_blank">Visual Studio 公式サイト</a></li>
 	<li><a href="http://www.atmarkit.co.jp/ait/articles/1508/07/news031.html" target="_blank">簡単！Visual Studio 2015入門 第1回 Visual Studio 2015って何ができるの? - ＠IT</a></li>
 	<li><a href="https://www.visualstudio.com/ja-jp/features/node-js-vs.aspx" target="_blank">Visual Studio の Node.js ツール</a></li>
 </ul>
 </section>


 <section>
 <h2><span class="number">06</span>オススメJavaScript入門書</h2>
 <h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4877838171" target="_blank">(新)JavaScriptワークブック―ステップ30</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></h3>
 <div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4877838171" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--05.png" alt="" class="size-full" /><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></a><p class="wp-caption-text">(新)JavaScriptワークブック―ステップ30 (相澤裕介 著,カットシステム)</p></div>
 <p>
 大学の講義でも採用されている書籍です。この本の利点は、<span class="strong_red">短いプログラムを打って覚える実践形式</span>な点です。多くの書籍は座学や理論に偏りがちです。理屈は重要ですが、プログラムとは実際に書いて覚えるものです。本書は小難しい話は置いておいて、手を動かす事から始まります。しかし凄いのは、手さえ動かせば誰でも理解できるほどにミニマムなこと。情報がひとくちサイズに凝縮されていて、プログラミング写経だけで段階的に学べます。文章も平易で、まさに教科書。<span class="strong_red">安価な点も魅力</span>です。弱点は、やや情報が古い事です。(864円 2016年1月3日 Amazon調べ)
 </p>

 <h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4797383585" target="_blank">確かな力が身につくJavaScript「超」入門</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></h3>
 <div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4797383585" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--06.png" alt="" class="size-full" /><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></a><p class="wp-caption-text">確かな力が身につくJavaScript「超」入門 (狩野祐東 著, ソフトバンククリエイティブ)</p></div>

 <p>
 <span class="strong_red">フルカラーで可愛らしいイラストが特徴</span>の本書。解説は非常に丁寧で、スクリーンショットが多めです。第6章からjQueryも登場しますが、基本的にはHTML/CSS/JavaScriptの基礎的内容です。コード入力とデバッグを繰り返して学習する、実学志向タイプの書籍です。最終章ではInstagram APIを使ったギャラリーサイトの制作まで書かれており、終始実践的です。(2678円 2016年1月3日 Amazon調べ)
 </p>

 <h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4798043885" target="_blank">JavaScript Web開発パーフェクトマスター</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></h3>
 <div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4798043885" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--07.png" alt="" class="size-full" /><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></a><p class="wp-caption-text">JavaScript Web開発パーフェクトマスター(金城俊哉 著, 秀和システム)</p></div>

 <p>
 ガッチリと学びたい人向け。対話形式で進む内容です。2015年最新のJavaScript情勢も触れられており、網羅的です。鈍器レベルの分厚さで、フルカラーなのに、安価。じつにコストパフォーマンスが良いです。ほか2冊に比べると、やや理論的な内容です。<span class="strong_red">全体的なJavaScript仕様を抑えたいならばオススメ</span>です。<a href="https://developer.mozilla.org/ja/" target="_blank">Mozila Developer Network</a>とあわせ読みつつ、学習を進めると良いでしょう。(3672円 2016年1月3日 Amazon調べ)
 </p>

 <h3>オススメ書籍総括</h3>
 <p>
 <a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4877838171" target="_blank">(新)JavaScriptワークブック―ステップ30</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">は、ひとくちサイズの課題をたくさんクリアする形態。
 <a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4797383585" target="_blank">確かな力が身につくJavaScript「超」入門</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">は、問題サイズは大きくなるものの、じっくり丁寧にプログラミングとデバッグを繰り返すタイプ。
 <a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4798043885" target="_blank">JavaScript Web開発パーフェクトマスター</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;">は理論寄りで、JavaScriptの基本仕様を理解するスタイル。
 </p>
 <p>
 それぞれ性格の違う書籍ですから、3冊を同時に購入しても損はしないと思います。もちろん1冊から初めても大丈夫。上記以外にもたくさんのJavaScript本が発売されているので、書店で手に取って、あなたのお気に入り教科書を探してみてください。
 </p>
 </section>

 <section>
 <h2><span class="number">07</span>入門書選びの注意点</h2>
 <div class="wp-caption alignnone"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--08.png" alt="" class="size-full" /><p class="wp-caption-text">オライリー本とjQuery本には要注意</p></div>
 <p>
 紹介した以外にも、たくさんのJavaScript書籍が販売されています。プログラミング初学者が入門書を探す上での注意点を記します。
 </p>
 <h3>オライリー本を避けよう</h3>
 <p>
 動物マークの表紙が目印です。オライリー本は職業プログラマーが読む本で、高価で、分厚く、イラストも少なく、難しいです。技術的な正しさが光る、素晴らしい書物です。しかしアマチュアには敷居が高く、オススメできません。
 </p>
 <p>
 熱烈なファンをかかえた信頼のある出版社なので、「プログラミングを勉強したいんだけれど、何が良いかな?」と識者に聞くと、低くない確率で「サイ本」「オライリー本」という答えが返ってきます。しかしオライリー本を初心者に勧める人は、初心を忘れてしまっていると思います。小学1年生に中学数学の教科書を渡すようなものです。初心者がオライリー本を手に取った結果、楽しく順序立ててプログラミングを理解できない可能性があります。
 </p>
 <p>
 学習と理解には、段階があります。本当の入門書を終えてから、オライリー本に触れると良いでしょう。名著である事は確かです。
 </p>

 <h3>jQuery本は避けよう</h3>
 <p>
 <a href="https://ja.wikipedia.org/wiki/JQuery" target="_blank">jQuery</a>とは、JavaScriptを使いやすく拡張した命令セットです。主にウェブサイト制作でスライドショーやメニューボタンを実装する為に使われます。しかし、jQueryとJavaScriptはイコールではありません。そしてjQueryはツクールMVには搭載されていないため、jQuery本は全く役に立ちません。
 </p>
 <p>
 いくつかの書籍は、タイトルにはJavaScriptと書かれているのに、中身はjQueryばかりです。そのような本はAmazonレビューで指摘されているので、チェックして避けるようにしましょう。
 </p>

 <h3>古い本を避けよう</h3>
 <p>
 プログラミングの世界は日進月歩。特にJavaScriptは流れの早い言語です。書籍購入時は必ず出版年月をチェックしましょう。3年以上前に出版された本を購入する理由は少ないと思って下さい。書籍の内容通りに作っても、正しく動作しない可能性があります。
 </p>

 <h3>ゲーム系JavaScript本は少数派</h3>
 <p>
 JavaScriptは幅広い場所で使われる言語ですが、出版物の8割がウェブ制作向けです。ゲーム制作に関する本は片手で数える程しかありません。ツクールMVはJavaScript界において、少数派の方言なのです。いかなるJavaScript本を購入しても、内容の全てがツクールMVに繋がるわけではありません。標準語から田舎訛りに置き換えるように、書かれた内容をうまく読み替えて、ツクールMVゲーム開発に活かす必要があります。
 </p>

 </section>

 <section>
 <h2><span class="number">08</span>JavaScript学習に役立つウェブサイト紹介</h2>
 <h3><a href="http://dotinstall.com/" target="_blank">ドットインストール</a></h3>
 <div class="wp-caption alignnone"><a href="http://dotinstall.com/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--09.png" alt="" class="size-full" /></a><p class="wp-caption-text">ドットインストールでは、プログラミング学習の為の3分動画が公開されています。</p></div>
 <p>
 ドットインストールは、3分動画でプログラミングを学べるサイトです。
 </p>
 <p>
 1動画3分程度なので、ちょっとした合間に勉強できます。全5回程度の「JavaScriptで作る○○系動画」は特にオススメです。ライブコーディング風に開発を追体験できます。無料利用でも見切れない程の動画で勉強できます。有料サービスに加入すると、動画書き起こしや、動画内のJavaScriptコードの閲覧ができます。
 </p>
 <ul>
 	<li><a href="http://dotinstall.com/" target="_blank">ドットインストール - 3分でマスターするプログラミング学習サイト</a></li>
 	<li><a href="http://dotinstall.com/lessons/basic_html_v3" target="_blank">HTML入門(全24回)</a></li>
 	<li><a href="http://dotinstall.com/lessons/basic_css_v3" target="_blank">CSS入門(全22回)</a></li>
 	<li><a href="http://dotinstall.com/lessons/basic_javascript_v2" target="_blank">JavaScript入門(全24回)</a></li>
 </ul>
 <ul>
 	<li><a href="http://dotinstall.com/lessons/date_js" target="_blank">JavaScriptで作る誕生日診断(全5回)</a></li>
 	<li><a href="http://dotinstall.com/lessons/king_game_js" target="_blank">JavaScriptで作る王様ゲーム(全6回)</a></li>
 	<li><a href="http://dotinstall.com/lessons/stop_watch_js_v3" target="_blank">JavaScriptで作るストップウォッチ(全8回)</a></li>
 	<li><a href="http://dotinstall.com/lessons/omikuji_js_v2" target="_blank">JavaScriptでおみくじを作ろう(全6回)</a></li>
 	<li><a href="http://dotinstall.com/lessons/just_five_js_v2" target="_blank">JavaScriptで5秒当てゲームを作ろう(全6回)</a></li>
 </ul>
 <ul>
 	<li><a href="http://dotinstall.com/lessons/memory_js_v3" target="_blank">JavaScriptで神経衰弱を作ろう(全10回 有料)</a></li>
 	<li><a href="http://dotinstall.com/lessons/numbers_js_v3" target="_blank">JavaScriptで数字タッチゲームを作ろう(全10回 有料)</a></li>
 	<li><a href="http://dotinstall.com/lessons/maze_js" target="_blank">JavaScriptで迷路を作ってみよう(全13回 有料)</a></li>
 </ul>

 <h3><a href="https://schoo.jp/" target="_blank">Schoo</a></h3>
 <div class="wp-caption alignnone"><a href="https://schoo.jp/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--10.png" alt="" class="size-full" /></a><p class="wp-caption-text">様々な60分講座動画を公開するSchoo</p></div>
 <p>
 <ruby>Schoo<rt>スクー</rt></ruby>は動画でプログラミングを学べるサイトです。
 </p>
 <p>
 様々な講座が開講されており、プログラミング動画は特に人気です。1動画3分のドットインストールに比べ、Schooは1動画1時間です。ちょっとしたテクニックや小話が差し込まれるのもSchooの魅力です。じっくり取り組みたい人に向きです。
 </p>
 <ul>
 	<li><a href="https://schoo.jp/" target="_blank">schoo - 無料動画のオンライン学習サイト</a></li>
 	<li><a href="https://schoo.jp/class/1858" target="_blank">HTML入門(全3回)</a></li>
 	<li><a href="https://schoo.jp/class/1861" target="_blank">CSS入門(全3回)</a></li>
 	<li><a href="https://schoo.jp/class/1729" target="_blank">JavaScript入門(全4回)</a></li>
 </ul>

 <h3><a href="https://codecombat.com/" target="_blank">CodeCombat</a></h3>
 <iframe width="820" height="461" class="youtube" src="https://www.youtube.com/embed/1zjaA13k-dA" frameborder="0" allowfullscreen></iframe>
 <div class="wp-caption alignnone" style="width: 820px">
 <p class="wp-caption-text">
 JavaScriptでキャラクターを操作するダンジョン攻略RPG</p>
 <p>
 </div>
 <ruby>CodeCombat<rt>コード コンバット</rt></ruby>は、JavaScriptで敵と闘うRPGです。
 </p>
 <p>
 JavaScriptの命令でキャラクターを操作し、ダンジョンを攻略していきます。所々英語ですが、平易なので問題はありません。統計によると、利用者のほとんどは10代です。JavaScriptの他にPythonやCoffeeScriptも学べます。テイストはゲーム風ですが、ストーリーらしきものはありません。しかしキャラクターが細やかに動く事で、独特の魅力が生まれています。マルチプレイ対戦も可能です。海外のサービスゆえか、ときどき回線遅延を感じるものの、非常によく出来た遊びに仕上がっています。
 </p>
 <ul>
 	<li><a href="https://codecombat.com/" target="_blank">CodeCombat</a></li>
 	<li><a href="https://biz.moneyforward.com/blog/business-hack/javascript-game/" target="_blank">遊ぶだけで一流エンジニアになれる！？ゲーム形式のJavaScript学習ツール「Code Combat」の使い方</a></li>
 </ul>

 <h3><a href="https://developer.mozilla.org/ja/" target="_blank">Mozila Developer Network</a></h3>
 <div class="wp-caption alignnone"><a href="https://developer.mozilla.org/ja/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--11.png" alt="" class="size-full" /></a><p class="wp-caption-text">ウェブ技術の逆引き辞典、Mozila Developer Network(通称MDN)</p></div>
 <p>
 <ruby>Mozila Developer Network<rt>モジラ デベロッパー ネットワーク</ruby>は、ウェブ技術の情報ポータルサイトです。<a href="https://ja.wikipedia.org/wiki/Mozilla_Firefox" target="_blank">Firefox</a>や<a href="https://ja.wikipedia.org/wiki/Mozilla_Thunderbird" target="_blank">Thunderbird</a>を開発する<a href="https://ja.wikipedia.org/wiki/Mozilla_Foundation" target="_blank">Mozila財団</a>と、コミュニティの力で運営されています。
 </p>
 <p>
 <a href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Guide" target="_blank">JavaScriptガイド入門</a>は、とても丁寧に書かれた指南書です。技術的な正確さを重視した文章なので、本当の初心者は専門用語に驚くかもしれません。他のプログラミング言語を触れた人なら、MDNの難易度はちょうど良い思います。<a href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference" target="_blank">リファレンス</a>も充実しており、Mozilaコミュニティの強さを実感させられます。
 </p>
 <ul>
 	<li><a href="https://developer.mozilla.org/ja/" target="_blank">Mozila Developer Network</a></li>
 	<li><a href="https://developer.mozilla.org/ja/docs/Web/JavaScript" target="_blank">JavaScript - Mozila Developer Network</a></li>
 	<li><a href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Guide" target="_blank">JavaScriptガイド入門 - Mozila Developer Network</a></li>
 </ul>

 <h3><a href="http://jsdo.it/" target="_blank">jsdo.it</a></h3>
 <div class="wp-caption alignnone"><a href="http://jsdo.it/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--13.png" alt="" class="size-full" /></a><p class="wp-caption-text">HTML/CSS/JavaScriptのコードをすぐ試せる、jsdo.it</p></div>
 <p>
 jsdo.itは<a href="http://www.kayac.com/" target="_blank">面白法人カヤック</a>が運営するウェブエディター and コードコミュニティです。
 </p>
 <p>
 jsdo.itにHTML/CSS/JavaScriptをソースコードを登録すると、すぐに画面上で実行できます。手軽にプログラミングの実験や改造ができるサービスです。他人のソースコードもすぐ読めるので、研究が捗ります。
 通常のJavaScript学習では、画面表現を学ぶ機会が少なくなりがちです。jsdo.itでは、映像表現を追求した作品も多く投稿されている為、グラフィカルな表現を模索するのに役立ちます。
 </p>
 </section>


 <section>
 <h2><span class="number">09</span>さらなるステップへ</h2>
 <p>
 <span class="strong_red">入門段階をクリアしたなら、すぐさま作りたいものを作るべきです。</span>プログラミング言語は、何かを作るためにあります。いつまでも座学に溺れず、実現したいゲームやソフトの開発に時間をかけるべきです。ここまで記した内容を抑えれば、ツクールMVでJavaScriptプラグインを作るのに十分な地力がつきます。
 </p>
 <p>
 とはいえ、いろいろなニュースや情報を見ることは良いことです。新しい刺激が、新たな創作に繋がるかも。初学をクリアした後の情報収集方法について紹介します。
 </p>
 <h3><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4883379930" target="_blank">JS+Node.jsによるWebクローラー/ネットエージェント開発テクニック</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></h3>
 <div class="wp-caption alignnone"><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4883379930" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--14.png" alt="" class="size-full" /></a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"><p class="wp-caption-text">JS+Node.jsによるWebクローラー/ネットエージェント開発テクニック (クジラ飛行机 著, ソシム)</p></div>
 <p>
 ツクールMVのゲーム開発からは、やや離れてしまいますが、オススメの書籍です。JavaScriptと<a href="https://ja.wikipedia.org/wiki/Node.js" target="_blank">Node.js</a>を使い、ウェブサービスを構築する手法を紹介しています。<a href="http://electron.atom.io/" target="_blank">Electron</a>を用いた<ruby>Single Page Application<rt>シングル ページ アプリケーション</rt></ruby>、<a href="https://ja.wikipedia.org/wiki/Node.js" target="_blank">Node.js</a>を使った処理の構造は、ツクールMVゲームにも通じるものがあります。2015年出版当時のモダンな開発環境も記述されており、文章も明瞭です。JavaScriptを用いたWEBサービス開発について俯瞰的に学びたいなら適した書籍です。
 </p>
 <ul>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4883379930" target="_blank">JS+Node.jsによるWebクローラー/ネットエージェント開発テクニック (2015年8月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 	<li><a href="http://kujirahand.com/wiki/" target="_blank">くじらはんど (著者ウェブサイト)</a></li>
 	<li><a href="https://twitter.com/kujirahand" target="_blank">@kujirahand (著者Twitter)</a></li>
 </ul>

 <h3><a href="http://www.oreilly.co.jp/" target="_blank">オライリー出版</a>の書籍</h3>
 <div class="wp-caption alignnone"><a href="http://www.oreilly.co.jp/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--15.png" alt="" class="size-full" /></a><p class="wp-caption-text">プログラマー御用達の出版社、オライリー社</p></div>
 <p>
 <a href="http://www.oreilly.co.jp/" target="_blank">オライリー出版</a>の書籍はテーマを深掘りしており、クォリティは確かです。初心者には難しいですが、長期的に勉強したい人や、ちょっと背伸びしてみたいなら、触れてみると良いでしょう。
 </p>
 <p>
 日本語版より英語版の方が、早く出版される傾向にあります。<a href="https://www.oreilly.co.jp/ebook/" target="_blank">電子書籍版</a>も充実しており、PDF/ePubでダウンロードが可能です。英語版の電子書籍は割引キャンペーンも多いので、私も幾つかは紙書籍と電子書籍の両方を入手しています。
 </p>
 <p>
 オライリー出版によるJavaScript関連の書籍は、たとえば以下が公開されています。
 </p>
 <ul>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4873116813" target="_blank">オブジェクト指向JavaScriptの原則 (2014年6月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4873116732" target="_blank">シングルページWebアプリケーション ―Node.js、MongoDBを活用したJavaScript SPA (2014年5月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F487311621X" target="_blank">開眼! JavaScript - 言語仕様から学ぶJavaScriptの本質 (2013年6月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4873116104" target="_blank">メンテナブルJavaScript - 読みやすく保守しやすいJavaScriptコードのための作法 (2013年3月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4873115736" target="_blank">JavaScript 第6版 (2012年8月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F487311490X" target="_blank">ステートフルJavaScript - MVCアーキテクチャに基づくWebアプリケーションの状態管理 (2012年6月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F487311490X" target="_blank">ハイパフォーマンスJavaScript (2011年3月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 	<li><a href="http://c.af.moshimo.com/af/c/click?a_id=533130&p_id=170&pc_id=185&pl_id=4062&url=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4873114888" target="_blank">JavaScriptパターン - 優れたアプリケーションのための作法 (2011年2月出版)</a><img src="http://i.af.moshimo.com/af/i/impression?a_id=533130&p_id=170&pc_id=185&pl_id=4062" width="1" height="1" style="border:none;"></li>
 </ul>

 <h3><a href="https://qiita.com/tags/javascript" target="_blank">Qiita JavaScriptタグ</a></h3>
 <div class="wp-caption alignnone"><a href="https://qiita.com/tags/javascript" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--16.png" alt="" class="size-full" /></a><p class="wp-caption-text">幅広いプログラミング記事の宝庫、Qiita</p></div>
 <p>
 <a href="https://qiita.com/" target="_blank">Qiita</a>はプログラマの為の知見共有サービスです。
 </p>
 <p>
 2016年1月3日現在、JavaScriptのタグがつけられた投稿は8049件あります。Qiitaには「最新技術を使ってみた系」「無名のニッチな技術を使ってみた系」が流れる傾向があるので、アンテナを立てておくと新しい発見があります。
 </p>

 <h3><a href="http://eventdots.jp/" target="_blank">dots.</a></h3>
 <div class="wp-caption alignnone"><a href="http://eventdots.jp/" target="_blank"><img src="http://tomotaka.tk/data/caption/caption__160102_tkoolmv-javascript-first--17.png" alt="" class="size-full" /></a><p class="wp-caption-text">プログラマ向けのイベント情報サイトdots.</p></div>
 <p>
 <a href="http://eventdots.jp/" target="_blank">dots.</a>はエンジニアの為の、勉強会・イベント情報サイトです。
 </p>
 <p>
 IT界隈で働くエンジニアが多く利用しています。毎日のように様々なイベントが開催されており、その情報を集約しています。またdots.自体も渋谷でイベント会場を運営しており、勉強会場所として利用されています。
 </p>
 <p>
 IT系勉強会を告知するサイトは、dots.の他にも多数あります。イベント情報サービスは乱立しており、情報も分散している印象があります。リアルな交流による刺激を求める人には良いと思います。
 </p>
 <ul>
 	<li><a href="http://qiita.com/kobaboy/items/6c80511a10122aa87d02" target="_blank">IT勉強会を探すために捗るサイトまとめ【10選】 - Qiita by </a><a href="https://twitter.com/k_kei220" target="_blank">kobaboy</a></li>
 </ul>

 </section>

 <section>
 <h2><span class="number">10</span>おわりに</h2>
 <p>
 今のツクールMVは、JavaScriptプラグインが注目され過ぎている気がします。本来のツクールの良さは、プログラミングが出来なくてもゲームが作れる点です。今は発売直後ゆえのアツさがありますが、おそらく1年も経つ頃には、あらゆるプラグインが出揃い、だんだん熱も収まると思います。逆に言うなら、いまプラグイン作者になるなら、誰もが使うメジャープラグイン作家になれるかもしれません。プログラミング初心者でもアイデア次第で注目されるチャンスがあります。
 </p>
 <p>
 ツクールMVはプログラミング入門に適しています。小難しい事を覚えなくても、書いたら動く、シンプルさがあります。書く→テストプレイ→修正→テストプレイのループを繰り返せば、自然とプログラミングが身につきます。あるいは、他人のプラグイン素材を読んだり、簡単な修正をするだけでも、勉強になります。
 </p>
 <p>
 JavaScriptはプログラミング学習の良い選択肢であり、将来的にも食いっぱぐれのない言語だと思います。
 当記事をきっかけに、プログラミングの一歩目を、踏み出してはいかがでしょうか😉。
 </p>
 </section>
 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
